/* Все размеры и отступы взяты от растровой картинки
   и забиты руками (быдло верстка форевер) */

.fire-control-parent {
    position: absolute;
    bottom: 228px;
    left: 50%;
    pointer-events: none;
    margin-left: -175px;
}

#fireControlTop {
    position: absolute;
    left: -14px;
    height: 213px;
    width: 386px;
    background: transparent url('/static/img/fire_control/aim_glass.png') 100% 100% no-repeat;
    background-position: top left;
    bottom: -225px
}

#divForFireControlNotClick1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 150px;
}
#divForFireControlNotClick2 {
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 186px;
    height: 200px;
}
#divForFireControlNotClick3 {
    position: absolute;
    bottom: 0;
    right: 325px;
    width: 100px;
    height: 150px;
}

.fire-control-undroppable-area {
    position: absolute;
    width: 65px;
    height: 105px;
}
.fire-control-undroppable-area.left { top: 85px; left: 20px; }
.fire-control-undroppable-area.right { top: 85px; right: 20px; }

#fireControlQuickBtn1BG {
    width: 56px;
    height: 52px;
    background-image: url("/static/img/fire_widget_buttons/lup_noactive.png");
    position: absolute;
    top: 89px;
    left: 21px;
}
#fireControlQuickBtn1BG.active {background-image: url("/static/img/fire_widget_buttons/lup_active.png");}
#fireControlQuickBtn1BG:hover, #fireControlQuickBtn1BG.signal  {background-image: url("/static/img/fire_widget_buttons/lup_hover.png");}


#fireControlQuickBtn2BG {
    width: 49px;
    height: 44px;
    background-image: url("/static/img/fire_widget_buttons/ldown_noactive.png");
    position: absolute;
    top: 138px;
    left: 31px;
}
#fireControlQuickBtn2BG.active {background-image: url("/static/img/fire_widget_buttons/ldown_active.png");}
#fireControlQuickBtn2BG:hover, #fireControlQuickBtn2BG.signal {background-image: url("/static/img/fire_widget_buttons/ldown_hover.png");}

#fireControlQuickBtn3BG {
    width: 56px;
    height: 52px;
    background-image: url("/static/img/fire_widget_buttons/rup_noactive.png");
    position: absolute;
    top: 89px;
    left: 309px;
}
#fireControlQuickBtn3BG.active {background-image: url("/static/img/fire_widget_buttons/rup_active.png");}
#fireControlQuickBtn3BG:hover, #fireControlQuickBtn3BG.signal {background-image: url("/static/img/fire_widget_buttons/rup_hover.png");}

#fireControlQuickBtn4BG {
    width: 49px;
    height: 44px;
    background-image: url("/static/img/fire_widget_buttons/rdown_noactive.png");
    position: absolute;
    top: 138px;
    left: 306px;

}
#fireControlQuickBtn4BG.active {background-image: url("/static/img/fire_widget_buttons/rdown_active.png");}
#fireControlQuickBtn4BG:hover, #fireControlQuickBtn4BG.signal {background-image: url("/static/img/fire_widget_buttons/rdown_hover.png");}

.fire-controll-quick-btn-block {
    position: absolute;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    pointer-events: auto;
    width: 36px;
    height: 26px;
    box-sizing: border-box;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#fireControlQuickBtn1 { top: 15px; left: 13px; transform: rotate(-18deg); }
#fireControlQuickBtn2 { top: 9px; left: 10px; transform: rotate(-14deg); }
#fireControlQuickBtn3 { top: 15px; left: 9px; transform: rotate(18deg); }
#fireControlQuickBtn4 { top: 10px; left: 4px; transform: rotate(14deg); }

#divForSVG {
    position: absolute;
    margin-left: 118px;
    margin-top: 22px;
}

#divForCanvas {
    position: absolute;
    width: 190px;
    height: 190px;
    top: 2px;
    left: 98px;
}

.fire-controll-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#fireControlBottom {
    position: absolute;
    height: 43px;
    width: 362px;
    background: transparent url('/static/img/fire_control/aim_port.png') 100% 100% no-repeat;
    top: 185px;
    pointer-events: auto;
}

#fireControlSlideButton {
    position: absolute;
    width: 105px;
    height: 25px;
    top: 18px;
    left: 205px;
}

.fire-control-slide-button-show {
     background: transparent url('/static/img/fire_control/battle_btn_on.png') 100% 100% no-repeat;
 }

.fire-control-slide-button-show:active {
    background: transparent url('/static/img/fire_control/battle_btn_pressed.png') 100% 100% no-repeat;
}

.fire-control-slide-button-hide {
    background: transparent url('/static/img/fire_control/battle_btn_off.png') 100% 100% no-repeat;
}

.fire-control-slide-button-hide:active {
    background: transparent url('/static/img/fire_control/battle_btn_pressed.png') 100% 100% no-repeat;
}

.fire-control-svg {
    position: absolute;
    top: 22px;
    left: 44px;
}

.fire-control-background {
    fill: transparent;
    pointer-events: auto;
}

.fire-control-sector-shadow {
    fill: gray;
    opacity: 0.2;
    pointer-events: none;
}

.fire-control-sector-discharge {
    fill: rgba(0, 128, 0, 0.4);
    stroke: limegreen;
    stroke-width: 1;
    pointer-events: auto;
}

.fire-control-sector-discharge:hover {
    fill: rgba(0, 128, 0, 0.6);
}

.fire-control-sector-auto {
    fill: transparent;
    stroke: limegreen;
    stroke-width: 1;
    stroke-dasharray: 5%;
    pointer-events: auto;
}

.fire-control-sector-discharge-auto {
    fill: rgba(0, 128, 0, 0.4);
    stroke: limegreen;
    stroke-width: 1;
    stroke-dasharray: 5%;
    pointer-events: auto;
}

.fire-control-sector-discharge-auto:hover {
    fill: rgba(0, 128, 0, 0.6);
}

.fire-control-radar-point {
    fill: lime;
    stroke: lime;
    stroke-width: 2;
    opacity: 0.8;
}

.fire-control-radar-point-friend {
    fill: lime;
    stroke: lime;
    stroke-width: 2;
}

.fire-control-radar-point-party {
    fill: #ffd961;
    stroke: #ffd961;
    stroke-width: 2;
    opacity: 0.4;
}

.fire-control-radar-circle {
    stroke-width: 1px;
}

.fire-control-all {
    background-color: rgba(14, 75, 0, 0.6);
    background-image: url("/static/img/fire_control/fire_widget_indicator/indicator_off.png");
    background-position: 50% 40%;
    background-repeat: no-repeat;
    border: 1px solid lime;
    pointer-events: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 71px;
    left: 167px;
}

.fire-control-all:hover {
    background-image: url("/static/img/fire_control/fire_widget_indicator/indicator_hover.png");
}

.fire-control-all-active {
    background-image: url("/static/img/fire_control/fire_widget_indicator/indicator_active.png");
}


@media screen and (max-width: 1550px), screen and (max-height: 880px) {
    .fire-control-parent {
        transform: scale(0.75);
        bottom: 171px;
        margin-left: -132px;
    }
}

@media screen and (max-width: 1250px), screen and (max-height: 670px) {}