#radialMenuDiv{
    pointer-events: none;
}


.radial-menu-sector-default {
    fill: lime;
    stroke: green;
    stroke-width: 2px;
    opacity: 0.3;
}

.radial-menu-sector-active {
    fill: lime;
    stroke: green;
    stroke-width: 2px;
    opacity: 0.7;
}

.radial-menu-sector-undefined {
    fill: #555555;
    stroke: #555555;
    stroke-width: 0px;
    opacity: 0.7;
}