.car-info-block-picture-main {
    position: relative;
    width: 492px;
    height: 170px;
}

.car-info-block-picture {
    position: absolute;
    height: 100%;
    width: 100%;
}

.armorer-slot {
    position: absolute;
    height: 35px;
    width: 35px;
}

.armorer_top_F, .armorer_top_B {
   position: absolute;
   pointer-events: none;
   top: -32px;
   left: -82px;
}

.armorer_top_L, .armorer_top_R {
   position: absolute;
   pointer-events: none;
   top: -82px;
   left: -32px;
}

.armorer_side_F, .armorer_side_B {
   position: absolute;
   pointer-events: none;
   top: -65px;
   left: -82px;
}

.armorer_side_L, .armorer_side_R {
   position: absolute;
   pointer-events: none;
   top: -65px;
   left: -32px;
}

.journal-view-ammo_side_F, .journal-view-ammo_side_B {
    width: 200px;
    height: 100px;
}

.journal-view-ammo_side_L, .journal-view-ammo_side_R {
    width: 100px;
    height: 100px;
}

.person-info-chat-body-page {
    position: relative;
    height: 146px;
    width: 100%;
}

.person-info-chat-person-up {
    position: relative;
    width: 100%;
    height: 146px;
    overflow: hidden;
}

.person-info-chat-person-up-left {
    position: relative;
    float: left;
    height: 146px;
    width: 170px;
}

.person-info-chat-person-up-right {
    position: relative;
    float: left;
    height: 100%;
    width: calc(100% - 170px);
}

.person-info-chat-person-up-right-info {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.person-info-chat-person-string-item {
    position: relative;
    width: 100%;
    height: 16px;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 0.9;
}

.person-info-chat-person-string-item-part {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.person-info-chat-person-string-item-part.left {
    text-align: left;
    padding: 0 0 0 10px;
}

.person-info-chat-person-string-item-part.right {
    text-align: right;
    padding: 0 10px 0 0;
}

.car-info-block-picture-main-site .car-info-name-block {
    position: absolute;
    top: 165px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.car-info-block-picture::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    filter: blur(2px) brightness(200%);
    -webkit-filter: blur(2px) brightness(200%);
}
.car-info-block-picture::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    filter: blur(4px) brightness(200%);
    -webkit-filter: blur(4px) brightness(200%);
}

.site-avatar::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    filter: blur(2px) brightness(200%);
    -webkit-filter: blur(2px) brightness(200%);
    opacity: 0.7;
}
.site-avatar::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    filter: blur(4px) brightness(200%);
    -webkit-filter: blur(4px) brightness(200%);
    opacity: 0.7;
}

.armorer-car-slot-picture::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    filter: blur(3px) brightness(200%);
    -webkit-filter: blur(3px) brightness(200%);
}
.armorer-car-slot-picture::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    filter: blur(0px) brightness(200%);
    -webkit-filter: blur(0px) brightness(200%);
    opacity: 0.6;
}


@media screen and (max-width: 1366px), screen and (max-height: 800px) {
    .car-info-block-picture-main-site .car-info-name-block {
        top: 125px;
    }

    .site-avatar::before {
        filter: blur(1px) brightness(200%);
        -webkit-filter: blur(1px) brightness(200%);
    }

    .site-avatar::after {
        filter: blur(1px) brightness(200%);
        -webkit-filter: blur(1px) brightness(200%);
    }

    .armorer-car-slot-picture::before {
        filter: blur(1px) brightness(200%);
        -webkit-filter: blur(1px) brightness(200%);
    }

    .armorer-car-slot-picture::after {
        filter: blur(1px) brightness(200%);
        -webkit-filter: blur(1px) brightness(200%);
    }

    .car-info-block-picture::before {
        filter: blur(1px) brightness(200%);
        -webkit-filter: blur(1px) brightness(200%);
    }

    .car-info-block-picture::after {
        filter: blur(1px) brightness(200%);
        -webkit-filter: blur(1px) brightness(200%);
    }

}
