.window-news-content {
    position: relative;
    width: calc(100% - 4px);
    height: calc(100% - 4px - 27px);
    border: 2px solid #02ff54;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 12pt;
}

.window-news-content-block {
    position: relative;
    float: left;
    height: calc(100% - 26px);
    border: 2px solid #007700;
    box-sizing: border-box;
    margin: 24px 0px 0px 4px;
}
.window-news-content-block.first { width: calc(40% - 6px); }
.window-news-content-block.second {width: calc(60% - 5px); margin-left: 6px; }

.window-news-log-list-block {
    position: relative;
    width: 100%;
    height: calc(100% - 35px);
    margin: 0 auto;
    padding: 6px 5px 5px 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.window-news-log-news-date {
    position: absolute;
    left: 0px;
    padding-left: 2px;
}

.window-news-log-news-header {
    position: relative;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    width: 100%;
    margin: 0px 0px 4px 10px;
    padding-left: 110px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
}
.window-news-log-news-header:hover { border-color: #00ff00; }
.window-news-log-news-header.active {
    color: #030f00;
    background-color: #00ff00;
    text-shadow: none;
    border-radius: 1px;
}
.window-news-log-news-header:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -10px;
    top: 2px;
    border-top: 5px solid transparent;
    border-left: 5px solid #00ff00;
    border-bottom: 5px solid transparent;
}

.window-news-log-news-header * {
    pointer-events: none;
}

.window-news-news-content-block {
    position: absolute;
    width: 100%;
    height: calc(100% - 35px);
    overflow: hidden;
    display: none;
}

.window-news-news-content-block .scroll-block {
    padding-left: 10px;
    padding-right: 40px;
    /*text-align: justify;*/
}

.window-news-content .window-qg-content-header {
    width: calc(100% - 4px);
    text-overflow: ellipsis; /* Многоточие */
    overflow: hidden;
    white-space: nowrap;
    padding: 0 4px;
    box-sizing: border-box;
}


.window-news-log-list-block .scroll-btn.up { left: 115px; }
.window-news-log-list-block .scroll-btn.down { left: 187px; }

.window-news-news-content-block .scroll-btn.up { left: 193px; }
.window-news-news-content-block .scroll-btn.down { left: 265px; }

@media screen and (max-width: 1366px), screen and (max-height: 800px) {
    .window-news-content {
        font-size: 10pt;
    }

    .window-news-content-block {
        margin-top: 14px;
        height: calc(100% - 15px);
    }

    .window-news-log-news-header {
        padding-left: 95px;
    }

    .window-news-log-list-block .scroll-btn.up { left: 77px; }
    .window-news-log-list-block .scroll-btn.down { left: 149px; }

    .window-news-news-content-block .scroll-btn.up { left: 142px; }
    .window-news-news-content-block .scroll-btn.down { left: 215px; }
}