html, body {
    height: 100%;
}

html {
    height: 100%;
}

.text-blur {
    text-shadow: 0px 0px 0px #00ff00;
}

#content-canvas {
    position: absolute;
    pointer-events: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

body {
    min-height: 658px;
    min-width: 1150px;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: url('/static/img/cursors/main.png'), default;
    color: #00ff00;
    font-family: FreePixel;
    font-weight: bold;
    text-shadow: 0 0 1px #00ff00, 0 0 10px #00ff00;
    letter-spacing: 2px;
    background-color: #030f00; /*#191f2f; #030f00; */
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: top center;
}

body.visible-site {
    background-image: url('/static/static_site/img/1366_june/768_side_tile.jpg');
    background-color: #191f2f;
}

#siteBlock {
    position: absolute;
    min-height: 658px;
    min-width: 1150px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url(/static/static_site/img/1366_june/768_main_bg.jpg) no-repeat center top;
    display: none;
}

.site-main-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -5px;
}

.site-main-back-part {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.buttons-and-headers {
    font-family: Nouveau_IBM;
    letter-spacing: normal;
}

input[type="text"], input[type='email'], input[type='password'] {
    font-family: FreePixel;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    color: #00ff00;
    font-weight: bold;
    font-size: 12pt;
    text-shadow: 0 0 1px #00ff00, 0 0 10px #00ff00;
    letter-spacing: 2px;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type='email']:focus, input[type='password']:focus {
    outline: none;
}

#preloaderBlock {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #030f00;
    color: #00ff00;
    font-family: FreePixel, sans-serif;
    font-weight: bold;
    text-shadow: 0 0 1px #00ff00, 0 0 10px #00ff00;
    font-size: 14pt;
    letter-spacing: 2px;
    padding: 100px;
    box-sizing: border-box;
    z-index: 50;
    overflow-y: auto;
    overflow-x: hidden;
}

#consolePreloader {
    position: relative;
    white-space: pre-wrap;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.site-main-block {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    display: block;
}

.site-main-all-block {
    position: relative;
    width: 1366px;
    height: 768px;
    margin: 0px auto 0 auto;
}

.site-main-all-block .microwawe {
    position: relative;
    margin: auto;
    width: 1128px;
    height: 750px;
    top: 0;
    left: 0;
    background: transparent url(/static/static_site/img/1366_june/768_microwave_body_003.png) no-repeat 100% 100%;
    pointer-events: none;
}

.content-block {
    position: absolute;
    width: 716px;
    height: 438px;
    top: 150px;
    left: 90px;
    -webkit-perspective: 613px;
    -moz-perspective: 613px;
    perspective: 613px;
    -webkit-perspective-origin: 70% 51%;
    -moz-perspective-origin: 70% 51%;
    perspective-origin: 70% 51%;
    transform-style: preserve-3d;
    pointer-events: none;
}

.content-block .content {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: rgba(203, 59, 2, 0.55);*/
    background-color: transparent;
    -webkit-transform: rotateY(-18deg);
    -moz-transform: rotateY(-18deg);
    -ms-transform: rotateY(-18deg);
    transform: rotateY(-18deg);
    -webkit-transform-origin: 49%;
    -moz-transform-origin: 49%;
    -ms-transform-origin: 49%;
    transform-origin: 49%;
    box-sizing: border-box;
    padding: 2px;
    pointer-events: auto;
}

.content-block .content.black {
    background-color: #030f00;
}

.content-start-back {
    position: absolute;
    width: 1431px;
    height: 845px;
    top: -95px;
    left: -769px;
    background: white;
}

.content-start-back.car {
    width: 1631px;
    height: 791px;
    top: 418px;
    left: -1309px;
    background: transparent url(/static/static_site/img/1366_june/768_car.png) no-repeat 100% 100%;
}

.content-start-back.road {
    width: 1793px;
    height: 1010px;
    top: 148px;
    left: -1150px;
    background: transparent url(/static/static_site/img/1366_june/768_road.png) no-repeat 100% 100%;
}

.content-start-back.road-grid {
    width: 1221px;
    height: 938px;
    top: -128px;
    left: -386px;
    background: transparent url(/static/static_site/img/1366_june/768_road+grid.png) no-repeat 100% 100%;
}

.content-start-back.glitch {
    width: 1631px;
    height: 791px;
    top: 332px;
    left: -1044px;
    background-color: transparent;
}

.content-start-back.glitch canvas {
    position: relative;
}

.content-start-back.glitch.filtered {
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
}


#glitch_test_768 {display: block;}
#glitch_test_1080 {display: none;}

.content-start-console-wrap {
    position: relative;
    width: 600px;
    height: 300px;
    overflow: hidden;
}

/*Общие классы для всех окон*/
.page-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #02ff54;
    overflow: hidden;
    display: none;
}

.window-header {
    position: relative;
    width: 100%;
    height: 27px;
    color: #00ff00;
    border-bottom: 2px solid #02ff54;
    background-color: #01610a;
    box-sizing: border-box;
    margin-bottom: 3px;
    text-align: center;
    line-height: 24px;
    cursor: url('/static/img/cursors/main.png'), default;
}

.btn-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    pointer-events: auto;
}

.console-block {
    position: absolute;
    white-space: pre-wrap;
    padding: 5px 55px 5px 5px;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: -50px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Nouveau_IBM;
}

.scroll-block {
    position: absolute;
    padding: 5px 55px 5px 5px;
    box-sizing: border-box;
    top: 0;
    bottom: 45px;
    left: 0;
    right: -50px;
    overflow-y: scroll;
}

.scroll-btn {
    position: absolute;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    width: 24px;
    height: 17px;
    bottom: 10px;
}

.scroll-btn.up {
    background: transparent url(/static/static_site/img/btn_slide_up.png) no-repeat 100% 100%;
}

.scroll-btn.up:hover {
    background: transparent url(/static/static_site/img/btn_slide_up_over.png) no-repeat 100% 100%;
}

.scroll-btn.up:active {
    background: none;
}

.scroll-btn.down {
    background: transparent url(/static/static_site/img/btn_slide_down.png) no-repeat 100% 100%;
}

.scroll-btn.down:hover {
    background: transparent url(/static/static_site/img/btn_slide_down_over.png) no-repeat 100% 100%;
}

.scroll-btn.down:active {
    background: none;
}

.slide-arrow {
    position: absolute;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    width: 17px;
    height: 24px;
}

.slide-arrow.left {
    background: transparent url(/static/static_site/img/btn_slide_left.png) no-repeat 100% 100%;
    left: 10px;
}

.slide-arrow.left:hover {
    background: transparent url(/static/static_site/img/btn_slide_left_over.png) no-repeat 100% 100%;
}

.slide-arrow.left:active {
    background: none;
}

.slide-arrow.right {
    background: transparent url(/static/static_site/img/btn_slide_right.png) no-repeat 100% 100%;
    right: 10px;
}

.slide-arrow.right:hover {
    background: transparent url(/static/static_site/img/btn_slide_right_over.png) no-repeat 100% 100%;
}

.slide-arrow.right:active {
    background: none;
}

.site-logo {
    position: absolute;
    width: 269px;
    height: 250px;
    top: 26px;
    left: -200px;
    background: transparent url(/static/static_site/img/1366_june/768_logo.png) no-repeat 100% 100%;
    background-size: contain;
    pointer-events: auto;
}

.site-logo:hover {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
}


.fading-content-before {
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(3, 15, 0, 1.0), rgba(3, 15, 0, 0.05));
}

.fading-content-after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(3, 15, 0, 0.05), rgba(3, 15, 0, 1));
}

/* Вид машинки при наведении */

.car-skeleton-path {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    opacity: 0.0;
    z-index: 10;
}

.car-skeleton-path.drivetrain {
    top: 500px;
    left: 130px;
    width: 344px;
    height: 166px;
    background: transparent url('/static/static_site/img/1366_june/768_car_skeleton_drivetrain.png') 100% 100% no-repeat;
}

.car-skeleton-path.engine {
    /*top: 450px;*/
    /*left: 331px;*/
    /*width: 110px;*/
    /*height: 104px;*/
    /*background: transparent url('/static/static_site/img/1366_june/768_car_skeleton_engine.png') 100% 100% no-repeat;*/
    top: 450px;
    left: 260px;
    width: 215px;
    height: 104px;
    background: transparent url('/static/static_site/img/1366_june/768_car_skeleton_engine.png') 100% 100% no-repeat;
    background-position: 50% 50%;
}

.car-skeleton-path.gun {
    left: 10px;
    top: 342px;
    width: 334px;
    height: 203px;
    background: transparent url('/static/static_site/img/1366_june/768_car_skeleton_gun.png') 100% 100% no-repeat;
}


/* Кнопки  ---- класс .active ---- когда кнопка вжата ---- когда выбрана именно текущая страничка !!!!*/
.btn {
    position: absolute;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    right: 148px;
}

.btn-1 {
    width: 174px;
    height: 64px;
    top: 44px;
    background: transparent url(/static/static_site/img/1366_june/768_btn1_normal.png) no-repeat 100% 100%;
}

.btn-1:hover {
    background: transparent url(/static/static_site/img/1366_june/768_btn1_over.png) no-repeat 100% 100%;
}

.btn-1:active, .btn-1.active {
    background: transparent url(/static/static_site/img/1366_june/768_btn1_pressed.png) no-repeat 100% 100%;
}

.btn-1.active:before {
    content: ' ';
    position: absolute;
    width: 15px;
    height: 24px;
    left: -17px;
    top: 34px;
    background: transparent url(/static/static_site/img/1366_june/768_btn1_indicator.png) no-repeat 100% 100%;
    cursor: url('/static/img/cursors/main.png'), default;
}

.btn-2 {
    width: 175px;
    height: 62px;
    top: 101px;
    background: transparent url(/static/static_site/img/1366_june/768_btn2_normal.png) no-repeat 100% 100%;
}

.btn-2:hover {
    background: transparent url(/static/static_site/img/1366_june/768_btn2_over.png) no-repeat 100% 100%;
}

.btn-2:active, .btn-2.active {
    background: transparent url(/static/static_site/img/1366_june/768_btn2_pressed.png) no-repeat 100% 100%;
}

.btn-2.active:before {
    content: ' ';
    position: absolute;
    width: 15px;
    height: 23px;
    left: -17px;
    top: 32px;
    background: transparent url(/static/static_site/img/1366_june/768_btn2_indicator.png) no-repeat 100% 100%;
    cursor: url('/static/img/cursors/main.png'), default;
}

.btn-3 {
    width: 175px;
    height: 57px;
    top: 162px;
    background: transparent url(/static/static_site/img/1366_june/768_btn3_normal.png) no-repeat 100% 100%;
}

.btn-3:hover {
    background: transparent url(/static/static_site/img/1366_june/768_btn3_over.png) no-repeat 100% 100%;
}

.btn-3:active, .btn-3.active {
    background: transparent url(/static/static_site/img/1366_june/768_btn3_pressed.png) no-repeat 100% 100%;
}

.btn-3.active:before {
    content: ' ';
    position: absolute;
    width: 15px;
    height: 24px;
    left: -17px;
    top: 24px;
    background: transparent url(/static/static_site/img/1366_june/768_btn3_indicator.png) no-repeat 100% 100%;
    cursor: url('/static/img/cursors/main.png'), default;
}

.btn-4 {
    width: 175px;
    height: 52px;
    top: 219px;
    background: transparent url(/static/static_site/img/1366_june/768_btn4_normal.png) no-repeat 100% 100%;
}

.btn-4:hover {
    background: transparent url(/static/static_site/img/1366_june/768_btn4_over.png) no-repeat 100% 100%;
}

.btn-4:active, .btn-4.active {
    background: transparent url(/static/static_site/img/1366_june/768_btn4_pressed.png) no-repeat 100% 100%;
}

.btn-4.active:before {
    content: ' ';
    position: absolute;
    width: 15px;
    height: 23px;
    left: -17px;
    top: 22px;
    background: transparent url(/static/static_site/img/1366_june/768_btn4_indicator.png) no-repeat 100% 100%;
    cursor: url('/static/img/cursors/main.png'), default;
}

.btn-5 {
    width: 175px;
    height: 48px;
    top: 277px;
    background: transparent url(/static/static_site/img/1366_june/768_btn5_normal.png) no-repeat 100% 100%;
}

.btn-5:hover {
    background: transparent url(/static/static_site/img/1366_june/768_btn5_over.png) no-repeat 100% 100%;
}

.btn-5:active, .btn-5.active {
    background: transparent url(/static/static_site/img/1366_june/768_btn5_pressed.png) no-repeat 100% 100%;
}

.btn-5.active:before {
    content: ' ';
    position: absolute;
    width: 15px;
    height: 23px;
    left: -17px;
    top: 16px;
    background: transparent url(/static/static_site/img/1366_june/768_btn5_indicator.png) no-repeat 100% 100%;
    cursor: url('/static/img/cursors/main.png'), default;
}

.btn-6 {
    width: 175px;
    height: 45px;
    top: 334px;
    background: transparent url(/static/static_site/img/1366_june/768_btn6_normal.png) no-repeat 100% 100%;
}

.btn-6:hover {
    background: transparent url(/static/static_site/img/1366_june/768_btn6_over.png) no-repeat 100% 100%;
}

.btn-6:active, .btn-6.active {
    background: transparent url(/static/static_site/img/1366_june/768_btn6_pressed.png) no-repeat 100% 100%;
}

.btn-6.active:before {
    content: ' ';
    position: absolute;
    width: 15px;
    height: 23px;
    left: -17px;
    top: 12px;
    background: transparent url(/static/static_site/img/1366_june/768_btn6_indicator.png) no-repeat 100% 100%;
    cursor: url('/static/img/cursors/main.png'), default;
}

.box-shadow {
    box-shadow: none;
}

.box-shadow:hover {
    box-shadow: 1px 1px 5px rgba(0, 255, 0, 0.4),
    -1px -1px 5px rgba(0, 255, 0, 0.4),
    1px -1px 5px rgba(0, 255, 0, 0.4),
    -1px 1px 5px rgba(0, 255, 0, 0.4),
    inset 1px 1px 5px rgba(0, 255, 0, 0.4),
    inset -1px -1px 5px rgba(0, 255, 0, 0.4),
    inset 1px -1px 5px rgba(0, 255, 0, 0.4),
    inset -1px 1px 5px rgba(0, 255, 0, 0.4);
}

.box-shadow.active {
    box-shadow: 1px 1px 5px rgba(0, 255, 0, 0.4),
    -1px -1px 5px rgba(0, 255, 0, 0.4),
    1px -1px 5px rgba(0, 255, 0, 0.4),
    -1px 1px 5px rgba(0, 255, 0, 0.4),
    inset 1px 1px 5px rgba(0, 255, 0, 0.4),
    inset -1px -1px 5px rgba(0, 255, 0, 0.4),
    inset 1px -1px 5px rgba(0, 255, 0, 0.4),
    inset -1px 1px 5px rgba(0, 255, 0, 0.4);
}

.box-shadow.box-shadow-non-active:active {
    box-shadow: none;
}

.site-sound-switch {
    position: absolute;
    width: 59px;
    height: 52px;
    right: 20px;
    top: 20px;
    background: transparent url(/static/static_site/img/site_sound_btn/sound_on_normal.png) no-repeat 100% 100%;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    z-index: 1000;
}

.site-sound-switch:hover {
    background: transparent url(/static/static_site/img/site_sound_btn/sound_on_over.png) no-repeat 100% 100%;
}

.site-sound-switch:active {
    background: transparent url(/static/static_site/img/site_sound_btn/sound_on_pressed.png) no-repeat 100% 100%;
}

.site-sound-switch.off {
    background: transparent url(/static/static_site/img/site_sound_btn/sound_off_normal.png) no-repeat 100% 100%;
}

.site-sound-switch.off:hover {
    background: transparent url(/static/static_site/img/site_sound_btn/sound_off_over.png) no-repeat 100% 100%;
}

.site-sound-switch.off:active {
    background: transparent url(/static/static_site/img/site_sound_btn/sound_off_pressed.png) no-repeat 100% 100%;
}

.language-switch {
    position: absolute;
    width: 44px;
    height: 14px;
    right: 10px;
    top: 0px;
    overflow: hidden;
    border: 1px solid #31c811;
    border-radius: 0 0 4px 4px;
    font-size: 10pt;
    line-height: 14px;
    text-align: center;
}

.language-switch div {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    color: #2ffa00;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
}

.language-switch div.active {
    color: #030f00;
    background-color: #31c811;
}

.copyright-block {
position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
    color: #31c811;
    font-family: Arial;
    text-shadow: none;
    font-weight: normal;
    font-size: 7pt;
    opacity: 0.5;
}
.change-language { text-decoration: underline; cursor: url('/static/img/cursors/hyper.png'), pointer; }
.change-language:hover { color: #2ffa00; }

/* RADIO !!!  */
.radio-block {
    position: absolute;
    width: 228px;
    height: 320px;
    top: 416px;
    left: -105px;
}

.radio-screen {
    position: absolute;
    width: 100%;
    height: 85px;
}

.radio-screen-content {
    position: absolute;
    width: 211px;
    height: 62px;
    top: 14px;
    left: 12px;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
}

.radio-screen-content.scan {
    background: transparent url(/static/static_site/img/1366_june/768_radio_text_scan.png) no-repeat 100% 100%;
}

.radio-screen-content.junk {
    background: transparent url(/static/static_site/img/1366_june/768_radio_text_junk.png) no-repeat 100% 100%;
}

.radio-screen-content.maddog {
    background: transparent url(/static/static_site/img/1366_june/768_radio_text_maddog.png) no-repeat 100% 100%;
}

.radio-screen-content.rrn {
    background: transparent url(/static/static_site/img/1366_june/768_radio_text_rrn.png) no-repeat 100% 100%;
}

.radio-screen-content.town {
    background: transparent url(/static/static_site/img/1366_june/768_radio_text_town.png) no-repeat 100% 100%;
}

.radio-screen-content.vigilante {
    background: transparent url(/static/static_site/img/1366_june/768_radio_text_vigilante.png) no-repeat 100% 100%;
}

.radio-slider-block {
    position: absolute;
    width: 100%;
    height: 102px;
    top: 72px;
    /*background-color: rgba(251, 255, 79, 0.51);*/
}

.radio-control-block {
    position: absolute;
    width: 100%;
    height: 120px;
    top: 170px;
    /*background-color: rgba(87, 146, 255, 0.51);*/
}

.radio-power-btn {
    position: absolute;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    left: 37px;
    width: 49px;
    height: 25px;
    top: 68px;
    background: transparent url(/static/static_site/img/1366_june/768_power_btn_normal.png) no-repeat 100% 100%;
}

.radio-power-btn:hover {
    background: transparent url(/static/static_site/img/1366_june/768_power_btn_over.png) no-repeat 100% 100%;
}

.radio-power-btn:active, .radio-power-btn.active {
    background: transparent url(/static/static_site/img/1366_june/768_power_btn_pressed.png) no-repeat 100% 100%;
}

.radio-power-btn.active:before, .radio-power-btn:active:before {
    content: ' ';
    position: absolute;
    width: 15px;
    height: 23px;
    left: -18px;
    top: -3px;
    background: transparent url(/static/static_site/img/1366_june/768_quality_power_indicator.png) no-repeat 100% 100%;
    cursor: url('/static/img/cursors/main.png'), default;
}

.radio-quality-btn {
    position: absolute;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    left: 50px;
    width: 32px;
    height: 21px;
    top: 13px;
    background: transparent url(/static/static_site/img/1366_june/768_quality_btn_normal.png) no-repeat 100% 100%;
}

.radio-quality-btn:hover {
    background: transparent url(/static/static_site/img/1366_june/768_quality_btn_over.png) no-repeat 100% 100%;
}

.radio-quality-btn.high-quality {
    left: 36px;
    top: 8px;
}

.radio-quality-btn.super-quality {
    left: 46px;
    top: 9px;
}

.radio-quality-btn.high-quality.active:before {
    content: ' ';
    position: absolute;
    width: 15px;
    height: 23px;
    left: -14px;
    top: -3px;
    background: transparent url(/static/static_site/img/1366_june/768_quality_power_indicator.png) no-repeat 100% 100%;
    cursor: url('/static/img/cursors/main.png'), default;
}

.radio-quality-btn.super-quality.active:before {
    content: ' ';
    position: absolute;
    width: 15px;
    height: 23px;
    left: 32px;
    top: 1px;
    background: transparent url(/static/static_site/img/1366_june/768_quality_power_indicator.png) no-repeat 100% 100%;
    cursor: url('/static/img/cursors/main.png'), default;
}

.radio-slider-channel {
    position: absolute;
    width: 196px;
    top: 65px;
    left: 14px;
    /* background-color: rgba(255, 0, 0, 0.33); */
    height: 38px;
}

.radio-slider-channel-pointer-block {
    position: absolute;
    width: 200px;
    left: 27px;
    /* background-color: rgba(255, 0, 0, 0.33); */
    top: 11px;
    height: 63px;
    pointer-events: none;
}

.radio-slider-carette {
    position: absolute;
    width: 32px;
    height: 20px;
    top: 0;
    left: 0;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    background: transparent url(/static/static_site/img/1366_june/768_freq_slider_normal.png) no-repeat 100% 100%;
}

.radio-slider-carette:hover {
    background: transparent url(/static/static_site/img/1366_june/768_freq_slider_over.png) no-repeat 100% 100%;
}

.radio-slider-carette:active {
    background: transparent url(/static/static_site/img/1366_june/768_freq_slider_pressed.png) no-repeat 100% 100%;
}

.radio-slider-channel-pointer {
    position: absolute;
    width: 4px;
    height: 47px;
    background: transparent url(/static/static_site/img/1366_june/768_freq_slider_mark.png) no-repeat 100% 100%;
}

.radio-scale-channels-block {
    position: absolute;
    width: 100%;
    height: 63px;
    top: 1px;
    /*background-color: rgba(255, 0, 0, 0.49);*/
}

/* Volume */
.radio-volume-controller-block {
    position: absolute;
    width: 50px;
    height: 100px;
    top: 10px;
    left: 120px;
    /*background-color: rgba(255, 0, 0, 0.49);*/
}

.radio-volume-controller-images {
    position: absolute;
    width: 38px;
    height: 90px;
    top: 7px;
    left: 5px;
}

.radio-volume-controller-item {
    position: absolute;
    width: 31px;
    height: 85px;
    top: 0;
    left: 0;
}

.radio-volume-controller-item.item-0 {
    background: transparent url(/static/static_site/img/1366_june/768_volume_disc_001.png) no-repeat 100% 100%;
}

.radio-volume-controller-item.item-1 {
    background: transparent url(/static/static_site/img/1366_june/768_volume_disc_002.png) no-repeat 100% 100%;
}

.radio-volume-controller-item.item-0:hover {
    background: transparent url(/static/static_site/img/1366_june/768_volume_disc_over_001.png) no-repeat 100% 100%;
}

.radio-volume-controller-item.item-1:hover {
    background: transparent url(/static/static_site/img/1366_june/768_volume_disc_over_002.png) no-repeat 100% 100%;
}

.radio-volume-indicator-block {
    position: absolute;
    width: 38px;
    height: 90px;
    top: 20px;
    left: 165px;
    /*background-color: rgba(255, 0, 0, 0.31);*/
}

.radio-volume-indicator-item {
    position: absolute;
    width: 15px;
    height: 8px;
    top: 0;
    left: 12px;
    background: transparent url(/static/static_site/img/1366_june/768_volume_indicator_mark.png) no-repeat 100% 100%;
    display: none;
}

.radio-volume-indicator-item.active {
    display: block;
}

.radio-volume-indicator-item.volume-17 {
    top: 70px;
}

.radio-volume-indicator-item.volume-34 {
    top: 57px;
}

.radio-volume-indicator-item.volume-51 {
    top: 44px;
}

.radio-volume-indicator-item.volume-68 {
    top: 32px;
}

.radio-volume-indicator-item.volume-85 {
    top: 21px;
}

.radio-volume-indicator-item.volume-99 {
    top: 9px;
}


/* For SEO */

.content-block h1, .content-block h2 {
    position: absolute;
    pointer-events: none;
    opacity: 0.0;
}

.btn-block a, .btn-block a:visited, .btn-block a:hover, .btn-block a:link, .btn-block a:active {
    color: transparent;
    text-shadow: none;
}


.site-logo-img {
    position: absolute;
    opacity: 0.0;
    pointer-events: none;
}



/* Community page */
.community-label-box {
    position: relative;
    float: left;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    margin: 5px 10px;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    overflow: hidden;
    border: 2px solid transparent;
}

.community-label-box:hover {background-color: #0E4b00; border: 2px solid #31c811;}

.community-label-box .icon-site {
    position: relative;
    width: 100%;
    height: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none;
}

.community-label-box .icon-site.vk           {background-image: url('/static/static_site/img/community_links/vk64.png');}
.community-label-box .icon-site.discord      {background-image: url('/static/static_site/img/community_links/discord64.png');}
.community-label-box .icon-site.email        {background-image: url('/static/static_site/img/community_links/email64.png');}
.community-label-box .icon-site.indiedb      {background-image: url('/static/static_site/img/community_links/indiedb64.png');}
.community-label-box .icon-site.itchio       {background-image: url('/static/static_site/img/community_links/itchio64.png');}
.community-label-box .icon-site.pikabu       {background-image: url('/static/static_site/img/community_links/pikabu64.png');}
.community-label-box .icon-site.radiotower   {background-image: url('/static/static_site/img/community_links/radiotower64.png');}
.community-label-box .icon-site.reddit       {background-image: url('/static/static_site/img/community_links/reddit64.png');}
.community-label-box .icon-site.steam        {background-image: url('/static/static_site/img/community_links/steam64.png');}
.community-label-box .icon-site.twitter      {background-image: url('/static/static_site/img/community_links/twitter64.png');}
.community-label-box .icon-site.telegram     {background-image: url('/static/static_site/img/community_links/telegram64.png');}
.community-label-box .icon-site.youtube      {background-image: url('/static/static_site/img/community_links/youtube64.png');}


.community-label-box .label {
    position: relative;
    width: 100%;
    height: calc(100% - 80px);
    text-align: center;
    line-height: 40px;
    pointer-events: none;
}

/* Community page END */




@media screen and (min-width: 1367px) and (min-height: 801px) {
    body.visible-site {
        background-image: url('/static/static_site/img/09-06-16/1080_side_tile.jpg');
    }

    #siteBlock {
        background: transparent url(/static/static_site/img/09-06-16/1080_main_bg.jpg) no-repeat center top;
    }

    .site-main-back {
        top: 0;
        left: -8px;
    }

    .site-main-all-block {
        width: 1189px;
        height: 821px;
        /*top: -400px;*/
    }

    .site-main-all-block .microwawe {
        width: 1393px;
        height: 926px;
        background: transparent url(/static/static_site/img/09-06-16/1080_microwave_body_002.png) no-repeat 100% 100%;
    }

    .content-block {
        width: 854px;
        height: 541px;
        top: 185px;
        left: -20px;
        -webkit-perspective: 820px;
        -moz-perspective: 820px;
        perspective: 820px;
        -webkit-perspective-origin: 58% 50%;
        -moz-perspective-origin: 58% 50%;
        perspective-origin: 58% 50%;
    }

    .content-block .content {
        -webkit-transform: rotateY(-20deg);
        -ms-transform: rotateY(-20deg);
        transform: rotateY(-20deg);
    }

    .content-start-back {
        width: 2534px;
        height: 1377px;
        top: -290px;
        left: -1503px;
        background: white;
    }

    .content-start-back.car {
        width: 2013px;
        height: 997px;
        top: 418px;
        left: -1309px;
        background: transparent url(/static/static_site/img/09-06-16/1080_car.png) no-repeat 100% 100%;
    }

    .content-start-back.road {
        width: 2213px;
        height: 1247px;
        top: 171px;
        left: -1420px;
        background: transparent url(/static/static_site/img/09-06-16/1080_road.png) no-repeat 100% 100%;
    }

    .content-start-back.road-grid {
        width: 1512px;
        height: 1165px;
        top: -149px;
        left: -483px;
        background: transparent url(/static/static_site/img/09-06-16/1080_road+grid_002.png) no-repeat 100% 100%;
    }

    .content-start-back.glitch {
        width: 2013px;
        height: 997px;
        top: 418px;
        left: -1309px;
    }

    .content-start-back.glitch canvas {
        position: relative;
    }

    #glitch_test_768 {display: none;}
    #glitch_test_1080 {display: block;}

    .site-logo {
        border-radius: 50%;
        width: 269px;
        height: 250px;
        top: 61px;
        left: -130px;
        background: transparent url(/static/static_site/img/09-06-16/1080_logo.png) no-repeat 100% 100%;
        background-size: contain;
    }
    /* позиционирование логотипа на большом сайте для разной ширины */
    @media screen and (min-width: 1430px) { .site-logo {left: -150px;}}
    @media screen and (min-width: 1550px) { .site-logo {left: -210px;}}
    @media screen and (min-width: 1700px) { .site-logo {left: -270px;}}

    .car-skeleton-path.drivetrain {
        top: 620px;
        left: 120px;
        width: 440px;
        height: 211px;
        background: transparent url('/static/static_site/img/09-06-16/1080_car_skeleton_drivetrain.png') 100% 100% no-repeat;
    }

    .car-skeleton-path.engine {
        /*top: 555px;*/
        /*left: 369px;*/
        /*width: 140px;*/
        /*height: 133px;*/
        /*background: transparent url('/static/static_site/img/09-06-16/1080_car_skeleton_engine.png') 100% 100% no-repeat;*/
        top: 555px;
        left: 270px;
        width: 300px;
        height: 133px;
        background: transparent url('/static/static_site/img/09-06-16/1080_car_skeleton_engine.png') 100% 100% no-repeat;
        background-position: 50% 50%;
    }

    .car-skeleton-path.gun {
        left: -27px;
        top: 430px;
        width: 436px;
        height: 259px;
        background: transparent url('/static/static_site/img/09-06-16/1080_car_skeleton_gun.png') 100% 100% no-repeat;
    }



    .btn-block {
        width: 300px;
    }

    .btn {
        right: 181px;
    }

    /* Кнопки  ---- класс .active ---- когда кнопка вжата ---- когда выбрана именно текущая страничка !!!!*/
    .btn-1 {
        width: 215px;
        height: 79px;
        top: 57px;
        /*right: 181px;*/
        background: transparent url(/static/static_site/img/09-06-16/1080_btn1_normal.png) no-repeat 100% 100%;
    }

    .btn-1:hover {
        background: transparent url(/static/static_site/img/09-06-16/1080_btn1_over.png) no-repeat 100% 100%;
    }

    .btn-1:active, .btn-1.active {
        background: transparent url(/static/static_site/img/09-06-16/1080_btn1_pressed.png) no-repeat 100% 100%;
    }

    .btn-1.active:before {
        content: ' ';
        position: absolute;
        width: 19px;
        height: 30px;
        left: -23px;
        top: 39px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn1_indicator.png) no-repeat 100% 100%;
        cursor: url('/static/img/cursors/main.png'), default;
    }

    .btn-2 {
        width: 216px;
        height: 76px;
        top: 122px;
        /*right: 181px;*/
        background: transparent url(/static/static_site/img/09-06-16/1080_btn2_normal.png) no-repeat 100% 100%;
    }

    .btn-2:hover {
        background: transparent url(/static/static_site/img/09-06-16/1080_btn2_over.png) no-repeat 100% 100%;
    }

    .btn-2:active, .btn-2.active {
        background: transparent url(/static/static_site/img/09-06-16/1080_btn2_pressed.png) no-repeat 100% 100%;
    }

    .btn-2.active:before {
        content: ' ';
        position: absolute;
        width: 19px;
        height: 29px;
        left: -22px;
        top: 42px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn2_indicator.png) no-repeat 100% 100%;
        cursor: url('/static/img/cursors/main.png'), default;
    }

    .btn-3 {
        width: 216px;
        height: 70px;
        top: 198px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn3_normal.png) no-repeat 100% 100%;
    }

    .btn-3:hover {
        background: transparent url(/static/static_site/img/09-06-16/1080_btn3_over.png) no-repeat 100% 100%;
    }

    .btn-3:active, .btn-3.active {
        background: transparent url(/static/static_site/img/09-06-16/1080_btn3_pressed.png) no-repeat 100% 100%;
    }

    .btn-3.active:before {
        content: ' ';
        position: absolute;
        width: 19px;
        height: 30px;
        left: -22px;
        top: 32px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn3_indicator.png) no-repeat 100% 100%;
        cursor: url('/static/img/cursors/main.png'), default;
    }

    .btn-4 {
        width: 216px;
        height: 64px;
        top: 271px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn4_normal.png) no-repeat 100% 100%;
    }

    .btn-4:hover {
        background: transparent url(/static/static_site/img/09-06-16/1080_btn4_over.png) no-repeat 100% 100%;
    }

    .btn-4:active, .btn-4.active {
        background: transparent url(/static/static_site/img/09-06-16/1080_btn4_pressed.png) no-repeat 100% 100%;
    }

    .btn-4.active:before {
        content: ' ';
        position: absolute;
        width: 19px;
        height: 29px;
        left: -22px;
        top: 26px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn4_indicator.png) no-repeat 100% 100%;
        cursor: url('/static/img/cursors/main.png'), default;
    }

    .btn-5 {
        width: 216px;
        height: 59px;
        top: 342px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn5_normal.png) no-repeat 100% 100%;
    }

    .btn-5:hover {
        background: transparent url(/static/static_site/img/09-06-16/1080_btn5_over.png) no-repeat 100% 100%;
    }

    .btn-5:active, .btn-5.active {
        background: transparent url(/static/static_site/img/09-06-16/1080_btn5_pressed.png) no-repeat 100% 100%;
    }

    .btn-5.active:before {
        content: ' ';
        position: absolute;
        width: 19px;
        height: 29px;
        left: -23px;
        top: 20px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn5_indicator.png) no-repeat 100% 100%;
        cursor: url('/static/img/cursors/main.png'), default;
    }

    .btn-6 {
        width: 216px;
        height: 56px;
        top: 412px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn6_normal.png) no-repeat 100% 100%;
    }

    .btn-6:hover {
        background: transparent url(/static/static_site/img/09-06-16/1080_btn6_over.png) no-repeat 100% 100%;
    }

    .btn-6:active, .btn-6.active {
        background: transparent url(/static/static_site/img/09-06-16/1080_btn6_pressed.png) no-repeat 100% 100%;
    }

    .btn-6.active:before {
        content: ' ';
        position: absolute;
        width: 19px;
        height: 29px;
        left: -22px;
        top: 15px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn6_indicator.png) no-repeat 100% 100%;
        cursor: url('/static/img/cursors/main.png'), default;
    }

    /* RADIO !!!  */
    .radio-block {
        position: absolute;
        width: 269px;
        height: 354px;
        top: 527px;
        left: -134px;
    }

    .radio-screen {
        position: absolute;
        width: 100%;
        height: 100px;
    }

    .radio-screen-content {
        position: absolute;
        width: 261px;
        height: 76px;
        top: 5px;
        left: 10px;
    }

    .radio-screen-content.scan {
        background: transparent url(/static/static_site/img/09-06-16/1080_radio_text_scan.png) no-repeat 100% 100%;
    }

    .radio-screen-content.junk {
        background: transparent url(/static/static_site/img/09-06-16/1080_radio_text_junk.png) no-repeat 100% 100%;
    }

    .radio-screen-content.maddog {
        background: transparent url(/static/static_site/img/09-06-16/1080_radio_text_maddog.png) no-repeat 100% 100%;
    }

    .radio-screen-content.rrn {
        background: transparent url(/static/static_site/img/09-06-16/1080_radio_text_rrn.png) no-repeat 100% 100%;
    }

    .radio-screen-content.town {
        background: transparent url(/static/static_site/img/09-06-16/1080_radio_text_town.png) no-repeat 100% 100%;
    }

    .radio-screen-content.vigilante {
        background: transparent url(/static/static_site/img/09-06-16/1080_radio_text_vigilante.png) no-repeat 100% 100%;
    }

    .radio-slider-block {
        position: absolute;
        width: 100%;
        height: 120px;
        top: 90px;
        /*background-color: rgba(251, 255, 79, 0.51);*/
    }

    .radio-control-block {
        position: absolute;
        width: 100%;
        height: 160px;
        top: 195px;
        /*background-color: rgba(87, 146, 255, 0.51);*/
    }

    .radio-power-btn {
        position: absolute;
        cursor: url('/static/img/cursors/hyper.png'), pointer;
        left: 42px;
        width: 61px;
        height: 31px;
        top: 84px;
        background: transparent url(/static/static_site/img/09-06-16/1080_power_btn_normal.png) no-repeat 100% 100%;
    }

    .radio-power-btn:hover {
        background: transparent url(/static/static_site/img/09-06-16/1080_power_btn_over.png) no-repeat 100% 100%;
    }

    .radio-power-btn:active, .radio-power-btn.active {
        background: transparent url(/static/static_site/img/09-06-16/1080_power_btn_pressed.png) no-repeat 100% 100%;
    }

    .radio-power-btn.active:before, .radio-power-btn:active:before {
        content: ' ';
        position: absolute;
        width: 18px;
        height: 29px;
        left: -18px;
        top: -3px;
        background: transparent url(/static/static_site/img/09-06-16/1080_quality_power_indicator.png) no-repeat 100% 100%;
        cursor: url('/static/img/cursors/main.png'), default;
    }

    .radio-quality-btn {
        position: absolute;
        cursor: url('/static/img/cursors/hyper.png'), pointer;
        left: 50px;
        width: 40px;
        height: 26px;
        top: 13px;
        background: transparent url(/static/static_site/img/09-06-16/1080_quality_btn_normal.png) no-repeat 100% 100%;
    }

    .radio-quality-btn:hover {
        background: transparent url(/static/static_site/img/09-06-16/1080_quality_btn_over.png) no-repeat 100% 100%;
    }

    .radio-quality-btn.high-quality {
        left: 40px;
        top: 12px;
    }

    .radio-quality-btn.super-quality {
        left: 53px;
        top: 13px;
    }

    .radio-quality-btn.high-quality.active:before {
        content: ' ';
        position: absolute;
        width: 18px;
        height: 29px;
        left: -17px;
        top: -5px;
        background: transparent url(/static/static_site/img/09-06-16/1080_quality_power_indicator.png) no-repeat 100% 100%;
        cursor: url('/static/img/cursors/main.png'), default;
    }

    .radio-quality-btn.super-quality.active:before {
        content: ' ';
        position: absolute;
        width: 18px;
        height: 29px;
        left: 39px;
        top: 1px;
        background: transparent url(/static/static_site/img/09-06-16/1080_quality_power_indicator.png) no-repeat 100% 100%;
        cursor: url('/static/img/cursors/main.png'), default;
    }

    .radio-slider-channel {
        position: absolute;
        width: 240px;
        top: 65px;
        left: 14px;
        /*background-color: rgba(255, 0, 0, 0.33);*/
        height: 51px;
    }

    .radio-slider-channel-pointer-block {
        position: absolute;
        width: 240px;
        left: 30px;
        /*background-color: rgba(255, 0, 0, 0.33);*/
        top: -1px;
        height: 80px;
        pointer-events: none;
    }

    .radio-slider-carette {
        position: absolute;
        width: 40px;
        height: 25px;
        top: 0;
        left: 0;
        cursor: url('/static/img/cursors/hyper.png'), pointer;
        background: transparent url(/static/static_site/img/09-06-16/1080_freq_slider_normal.png) no-repeat 100% 100%;
    }

    .radio-slider-carette:hover {
        background: transparent url(/static/static_site/img/09-06-16/1080_freq_slider_over.png) no-repeat 100% 100%;
    }

    .radio-slider-carette:active {
        background: transparent url(/static/static_site/img/09-06-16/1080_freq_slider_pressed.png) no-repeat 100% 100%;
    }

    .radio-slider-channel-pointer {
        position: absolute;
        width: 5px;
        height: 58px;
        background: transparent url(/static/static_site/img/09-06-16/1080_freq_slider_mark.png) no-repeat 100% 100%;
    }

    .radio-scale-channels-block {
        position: absolute;
        width: 100%;
        height: 59px;
        top: 1px;
        /*background-color: rgba(255, 0, 0, 0.49);*/
    }

    /* Volume */
    .radio-volume-controller-block {
        position: absolute;
        width: 50px;
        height: 120px;
        top: 15px;
        left: 146px;
        /*background-color: rgba(255, 0, 0, 0.49);*/
    }

    .radio-volume-controller-images {
        position: absolute;
        width: 38px;
        height: 105px;
        top: 7px;
        left: 5px;
    }

    .radio-volume-controller-item {
        position: absolute;
        width: 38px;
        height: 105px;
        top: 0;
        left: 0;
    }

    .radio-volume-controller-item.item-0 {
        background: transparent url(/static/static_site/img/09-06-16/1080_volume_disc_001.png) no-repeat 100% 100%;
    }

    .radio-volume-controller-item.item-1 {
        background: transparent url(/static/static_site/img/09-06-16/1080_volume_disc_002.png) no-repeat 100% 100%;
    }

    .radio-volume-controller-item.item-0:hover {
        background: transparent url(/static/static_site/img/09-06-16/1080_volume_disc_over_001.png) no-repeat 100% 100%;
    }

    .radio-volume-controller-item.item-1:hover {
        background: transparent url(/static/static_site/img/09-06-16/1080_volume_disc_over_002.png) no-repeat 100% 100%;
    }

    .radio-volume-indicator-block {
        position: absolute;
        width: 44px;
        height: 110px;
        top: 26px;
        left: 203px;
        /*background-color: rgba(255, 0, 0, 0.31);*/
    }

    .radio-volume-indicator-item {
        position: absolute;
        width: 18px;
        height: 10px;
        top: 0;
        left: 12px;
        background: transparent url(/static/static_site/img/09-06-16/1080_volume_indicator_mark.png) no-repeat 100% 100%;
        display: none;
    }

    .radio-volume-indicator-item.active {
        display: block;
    }

    .radio-volume-indicator-item.volume-17 {
        top: 87px;
    }

    .radio-volume-indicator-item.volume-34 {
        top: 71px;
    }

    .radio-volume-indicator-item.volume-51 {
        top: 55px;
    }

    .radio-volume-indicator-item.volume-68 {
        top: 40px;
    }

    .radio-volume-indicator-item.volume-85 {
        top: 25px;
    }

    .radio-volume-indicator-item.volume-99 {
        top: 9px;
    }

    .community-label-box {margin: 20px 23px;}

}


/* Настройка высоты позиции маленького сайта */
@media screen and (max-height: 800px) and (max-width: 1366px) {
  .site-main-all-block {
      margin-top: 0;
  }
}

@media screen and (max-height: 767px) and (max-width: 1366px) {
  .site-main-all-block {
      margin-top: -30px;
  }
}

@media screen and (max-height: 658px) and (max-width: 1366px) {
  .site-main-all-block {
      margin-top: -60px;
  }
}


/* Настройка сдвига слева позиции маленького сайта */
@media screen and (max-height: 800px) and (max-width: 1366px) {
  .site-main-all-block {
      left: 70px;
  }
}

@media screen and (max-height: 800px) and (max-width: 1280px) {
  .site-main-all-block {
      left: 50px;
  }
}

@media screen and (max-height: 800px) and (min-width: 1366px) {
  .site-main-all-block {
      left: 100px;
  }
}

/* Настройка высоты позиции большого сайта */
@media screen and (min-height: 801px) and (min-width: 1367px) {
  .site-main-all-block {
      margin-top: -70px;
  }
}

@media screen and (min-height: 850px) and (min-width: 1367px) {
  .site-main-all-block {
      margin-top: -30px;
  }
}

@media screen and (min-height: 950px) and (min-width: 1367px) {
  .site-main-all-block {
      margin-top: 20px;
  }
}

@media screen and (min-height: 1080px) and (min-width: 1367px) {
  .site-main-all-block {
      margin-top: 50px;
  }
}


/* Настройка сдвига слева позиции большого сайта */
@media screen and (min-height: 801px) and (max-width: 1380px) {
  .site-main-all-block {
      left: 55px;
  }
}