html, body { height: 100%; }
html { height: 100%; }

.text-blur {
    text-shadow: 0px 0px 0px #00ff00;
}

#content-canvas {
    position: absolute;
    pointer-events: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    background: transparent url(/static/static_site/img/1366/768_all_bg.jpg) no-repeat center center;
    background-size: cover;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
    color: #00ff00;
    font-family: FreePixel;
	font-weight: bold;
    text-shadow: 0 0 1px #00ff00, 0 0 10px #00ff00;
    letter-spacing: 2px;
}

.buttons-and-headers {
    font-family: Nouveau_IBM;
    letter-spacing: normal;
}

input[type="text"], input[type='email'], input[type='password'] {
    font-family: FreePixel;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    color: #00ff00;
    font-weight: bold;
    font-size: 12pt;
    text-shadow: 0 0 1px #00ff00, 0 0 10px #00ff00;
    letter-spacing: 2px;
}

input[type="text"]:focus, input[type='email']:focus, input[type='password']:focus{
    outline: none;
}

.site-main-block {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background: transparent url();*/
}

.site-main-all-block {
    position: relative;
    width: 1366px;
    height: 768px;
    margin: 20px auto 0 auto;
}

.site-main-all-block .microwawe {
    position: relative;
    margin: auto;
    width: 930px;
    height: 647px;
    top: 0;
    left: 0;
    background: transparent url(/static/static_site/img/1366/768_microwave_body.png) no-repeat 100% 100%;
    pointer-events: none;
}

.content-block {
    position: absolute;
    width: 667px;
    height: 407px;
    top: 117px;
    left: 179px;
    perspective: 573px;
    -webkit-perspective: 573px;
    perspective-origin: 70% 50%;
}
.content-block .content {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: rgba(203, 59, 2, 0.55);*/
    background-color: transparent;
    transform: rotateY(-18deg);
    Transform-origin: 49%;
    box-sizing: border-box;
    padding: 2px;

}
.content.black {
    background-color: #030f00;
}

.content-start-back {
    position: absolute;
    width: 1431px;
    height: 845px;
    top: -95px;
    left: -769px;
    background: transparent url(/static/static_site/img/1366/768_1-st_screen.png) no-repeat 100% 100%;
}

.content-start-console-wrap {
    position: relative;
    width: 600px;
    height: 300px;
    overflow: hidden;
}

/*Общие классы для всех окон*/
.page-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #02ff54;
    overflow: hidden;
    display: none;
}

.window-header {
    position: relative;
    width: 100%;
    height: 27px;
    color: #00ff00;
    border-bottom: 2px solid #02ff54;
    background-color: #01610a;
    box-sizing: border-box;
    margin-bottom: 3px;
    text-align: center;
    line-height: 24px;
    cursor: default;
}

.btn-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    pointer-events: auto;
}

.console-block {
    position: absolute;
    white-space: pre-wrap;
    padding: 5px 55px 5px 5px;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: -50px;
    overflow-y: scroll;
}

.scroll-block {
    position: absolute;
    padding: 5px 55px 5px 5px;
    box-sizing: border-box;
    top: 0;
    bottom: 45px;
    left: 0;
    right: -50px;
    overflow-y: scroll;
}

.scroll-btn {
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 17px;
    bottom: 10px;
}

.scroll-btn.up { background: transparent url(/static/static_site/img/btn_slide_up.png) no-repeat 100% 100%; }
.scroll-btn.up:hover { background: transparent url(/static/static_site/img/btn_slide_up_over.png) no-repeat 100% 100%; }
.scroll-btn.up:active { background: none; }

.scroll-btn.down { background: transparent url(/static/static_site/img/btn_slide_down.png) no-repeat 100% 100%; }
.scroll-btn.down:hover { background: transparent url(/static/static_site/img/btn_slide_down_over.png) no-repeat 100% 100%; }
.scroll-btn.down:active { background: none; }

.slide-arrow {
    position: absolute;
    cursor: pointer;
    width: 17px;
    height: 24px;
}
.slide-arrow.left {
    background: transparent url(/static/static_site/img/btn_slide_left.png) no-repeat 100% 100%;
    left: 10px;
}
.slide-arrow.left:hover {
    background: transparent url(/static/static_site/img/btn_slide_left_over.png) no-repeat 100% 100%;
}
.slide-arrow.left:active {background: none;}

.slide-arrow.right {
    background: transparent url(/static/static_site/img/btn_slide_right.png) no-repeat 100% 100%;
    right: 10px;
}
.slide-arrow.right:hover {
    background: transparent url(/static/static_site/img/btn_slide_right_over.png) no-repeat 100% 100%;
}
.slide-arrow.right:active {background: none;}

/* Кнопки  ---- класс .active ---- когда кнопка вжата ---- когда выбрана именно текущая страничка !!!!*/
.btn {
    position: absolute;
    cursor: pointer;
    right: 103px;
}

.btn-1 {
    width: 151px;
    height: 60px;
    top: 50px;
    background: transparent url(/static/static_site/img/1366/768_btn1.png) no-repeat 100% 100%;
}
.btn-1:hover {background: transparent url(/static/static_site/img/1366/768_btn1_over.png) no-repeat 100% 100%;}
.btn-1:active {background: transparent url(/static/static_site/img/1366/768_btn1_press.png) no-repeat 100% 100%;}
.btn-1.active {background: transparent url(/static/static_site/img/1366/768_btn1_press.png) no-repeat 100% 100%;}

.btn-2 {
    width: 151px;
    height: 55px;
    top: 112px;
    background: transparent url(/static/static_site/img/1366/768_btn2.png) no-repeat 100% 100%;
}
.btn-2:hover {background: transparent url(/static/static_site/img/1366/768_btn2_over.png) no-repeat 100% 100%;}
.btn-2:active {background: transparent url(/static/static_site/img/1366/768_btn2_press.png) no-repeat 100% 100%;}
.btn-2.active {background: transparent url(/static/static_site/img/1366/768_btn2_press.png) no-repeat 100% 100%;}

.btn-3 {
    width: 151px;
    height: 52px;
    top: 172px;
    background: transparent url(/static/static_site/img/1366/768_btn3.png) no-repeat 100% 100%;
}
.btn-3:hover {background: transparent url(/static/static_site/img/1366/768_btn3_over.png) no-repeat 100% 100%;}
.btn-3:active {background: transparent url(/static/static_site/img/1366/768_btn3_press.png) no-repeat 100% 100%;}
.btn-3.active {background: transparent url(/static/static_site/img/1366/768_btn3_press.png) no-repeat 100% 100%;}

.btn-4 {
    width: 151px;
    height: 48px;
    top: 232px;
    background: transparent url(/static/static_site/img/1366/768_btn4.png) no-repeat 100% 100%;
}
.btn-4:hover {background: transparent url(/static/static_site/img/1366/768_btn4_over.png) no-repeat 100% 100%;}
.btn-4:active {background: transparent url(/static/static_site/img/1366/768_btn4_press.png) no-repeat 100% 100%;}
.btn-4.active {background: transparent url(/static/static_site/img/1366/768_btn4_press.png) no-repeat 100% 100%;}

.btn-5 {
    width: 151px;
    height: 45px;
    top: 292px;
    background: transparent url(/static/static_site/img/1366/768_btn5.png) no-repeat 100% 100%;
}
.btn-5:hover {background: transparent url(/static/static_site/img/1366/768_btn5_over.png) no-repeat 100% 100%;}
.btn-5:active {background: transparent url(/static/static_site/img/1366/768_btn5_press.png) no-repeat 100% 100%;}
.btn-5.active {background: transparent url(/static/static_site/img/1366/768_btn5_press.png) no-repeat 100% 100%;}

.btn-6 {
    width: 151px;
    height: 48px;
    top: 350px;
    background: transparent url(/static/static_site/img/1366/768_btn6.png) no-repeat 100% 100%;
}
.btn-6:hover {background: transparent url(/static/static_site/img/1366/768_btn6_over.png) no-repeat 100% 100%;}
.btn-6:active {background: transparent url(/static/static_site/img/1366/768_btn6_press.png) no-repeat 100% 100%;}
.btn-6.active {background: transparent url(/static/static_site/img/1366/768_btn6_press.png) no-repeat 100% 100%;}

.btn-fake-radio {
    position: absolute;
    cursor: default;
    width: 110px;
    height: 40px;
    top: 557px;
    right: 123px;
    background: transparent url(/static/static_site/img/1366/768_fake_radiobuttons.png) no-repeat 100% 100%;
}

.light-indicator {
    position: absolute;
    cursor: default;
    width: 29px;
    height: 28px;
    top: 478px;
    right: 193px;
    background: transparent url(/static/static_site/img/1366/768_light_indicator.png) no-repeat 100% 100%;
}

.box-shadow { box-shadow: none; }
.box-shadow:hover {
    box-shadow: 1px  1px 5px rgba(0, 255, 0, 0.4),
               -1px -1px 5px rgba(0, 255, 0, 0.4),
                1px -1px 5px rgba(0, 255, 0, 0.4),
               -1px  1px 5px rgba(0, 255, 0, 0.4),
               inset  1px  1px 5px rgba(0, 255, 0, 0.4),
               inset -1px -1px 5px rgba(0, 255, 0, 0.4),
               inset  1px -1px 5px rgba(0, 255, 0, 0.4),
               inset -1px  1px 5px rgba(0, 255, 0, 0.4);
}
.box-shadow.active {
    box-shadow: 1px  1px 5px rgba(0, 255, 0, 0.4),
               -1px -1px 5px rgba(0, 255, 0, 0.4),
                1px -1px 5px rgba(0, 255, 0, 0.4),
               -1px  1px 5px rgba(0, 255, 0, 0.4),
               inset  1px  1px 5px rgba(0, 255, 0, 0.4),
               inset -1px -1px 5px rgba(0, 255, 0, 0.4),
               inset  1px -1px 5px rgba(0, 255, 0, 0.4),
               inset -1px  1px 5px rgba(0, 255, 0, 0.4);
}
.box-shadow.box-shadow-non-active:active { box-shadow: none; }

@media screen and (min-width: 1367px) {
    body {
        background: transparent url(/static/static_site/img/09-06-16/1080_main_bg.jpg) no-repeat center center;
        background-size: cover;
    }

    .site-main-all-block {
        width: 1189px;
        height: 821px;
        /*top: -400px;*/
    }

    .site-main-all-block .microwawe {
        width: 1393px;
        height: 929px;
        background: transparent url(/static/static_site/img/09-06-16/1080_microwave_body_002.png) no-repeat 100% 100%;
    }

    .content-block {
        width: 854px;
        height: 541px;
        top: 188px;
        left: -20px;
        perspective: 820px;
        -webkit-perspective: 820px;
        perspective-origin: 58% 50%;
    }

    .content-block .content {
        transform: rotateY(-20deg);
    }

    .content-start-back {
        width: 2534px;
        height: 1377px;
        top: -290px;
        left: -1503px;
        /*background: transparent url(/static/static_site/img/1366/1080_1-st_screen_06-04-16.png) no-repeat 100% 100%;*/
        background: white;
    }

    .content-start-back.car {
        width: 2013px;
        height: 997px;
        top: 418px;
        left: -1309px;
        background: transparent url(/static/static_site/img/09-06-16/1080_car.png) no-repeat 100% 100%;
    }

    .content-start-back.road {
        width: 2213px;
        height: 1247px;
        top: 171px;
        left: -1420px;
        background: transparent url(/static/static_site/img/09-06-16/1080_road.png) no-repeat 100% 100%;
    }

    .content-start-back.road-grid {
        width: 1512px;
        height: 1165px;
        top: -149px;
        left: -483px;
        background: transparent url(/static/static_site/img/09-06-16/1080_road+grid_002.png) no-repeat 100% 100%;
    }



    .btn-block {
        width: 300px;
    }

    .btn { right: 181px; }
    /* Кнопки  ---- класс .active ---- когда кнопка вжата ---- когда выбрана именно текущая страничка !!!!*/
    .btn-1 {
        width: 215px;
        height: 79px;
        top: 60px;
        /*right: 181px;*/
        background: transparent url(/static/static_site/img/09-06-16/1080_btn1_normal.png) no-repeat 100% 100%;
    }
    .btn-1:hover {background: transparent url(/static/static_site/img/09-06-16/1080_btn1_over.png) no-repeat 100% 100%;}
    .btn-1:active, .btn-1.active {background: transparent url(/static/static_site/img/09-06-16/1080_btn1_pressed.png) no-repeat 100% 100%;}

    .btn-1.active:before {
        content: ' ';
        position: absolute;
        width: 19px;
        height: 30px;
        left: -23px;
        top: 39px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn1_indicator.png) no-repeat 100% 100%;
        cursor: default;
    }

    .btn-2 {
        width: 216px;
        height: 76px;
        top: 125px;
        /*right: 181px;*/
        background: transparent url(/static/static_site/img/09-06-16/1080_btn2_normal.png) no-repeat 100% 100%;
    }
    .btn-2:hover {background: transparent url(/static/static_site/img/09-06-16/1080_btn2_over.png) no-repeat 100% 100%;}
    .btn-2:active, .btn-2.active {background: transparent url(/static/static_site/img/09-06-16/1080_btn2_pressed.png) no-repeat 100% 100%;}

    .btn-2.active:before {
        content: ' ';
        position: absolute;
        width: 19px;
        height: 29px;
        left: -22px;
        top: 42px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn2_indicator.png) no-repeat 100% 100%;
        cursor: default;
    }

    .btn-3 {
        width: 216px;
        height: 70px;
        top: 201px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn3_normal.png) no-repeat 100% 100%;
    }
    .btn-3:hover {background: transparent url(/static/static_site/img/09-06-16/1080_btn3_over.png) no-repeat 100% 100%;}
    .btn-3:active, .btn-3.active {background: transparent url(/static/static_site/img/09-06-16/1080_btn3_pressed.png) no-repeat 100% 100%;}

    .btn-3.active:before {
        content: ' ';
        position: absolute;
        width: 19px;
        height: 30px;
        left: -22px;
        top: 32px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn3_indicator.png) no-repeat 100% 100%;
        cursor: default;
    }

    .btn-4 {
        width: 216px;
        height: 64px;
        top: 274px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn4_normal.png) no-repeat 100% 100%;
    }
    .btn-4:hover {background: transparent url(/static/static_site/img/09-06-16/1080_btn4_over.png) no-repeat 100% 100%;}
    .btn-4:active, .btn-4.active {background: transparent url(/static/static_site/img/09-06-16/1080_btn4_pressed.png) no-repeat 100% 100%;}

    .btn-4.active:before {
        content: ' ';
        position: absolute;
        width: 19px;
        height: 29px;
        left: -22px;
        top: 26px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn4_indicator.png) no-repeat 100% 100%;
        cursor: default;
    }

    .btn-5 {
        width: 216px;
        height: 59px;
        top: 345px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn5_normal.png) no-repeat 100% 100%;
    }
    .btn-5:hover {background: transparent url(/static/static_site/img/09-06-16/1080_btn5_over.png) no-repeat 100% 100%;}
    .btn-5:active, .btn-5.active {background: transparent url(/static/static_site/img/09-06-16/1080_btn5_pressed.png) no-repeat 100% 100%;}

    .btn-5.active:before {
        content: ' ';
        position: absolute;
        width: 19px;
        height: 29px;
        left: -23px;
        top: 20px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn5_indicator.png) no-repeat 100% 100%;
        cursor: default;
    }

    .btn-6 {
        width: 216px;
        height: 56px;
        top: 415px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn6_normal.png) no-repeat 100% 100%;
    }
    .btn-6:hover {background: transparent url(/static/static_site/img/09-06-16/1080_btn6_over.png) no-repeat 100% 100%;}
    .btn-6:active, .btn-6.active {background: transparent url(/static/static_site/img/09-06-16/1080_btn6_pressed.png) no-repeat 100% 100%;}

    .btn-6.active:before {
        content: ' ';
        position: absolute;
        width: 19px;
        height: 29px;
        left: -22px;
        top: 15px;
        background: transparent url(/static/static_site/img/09-06-16/1080_btn6_indicator.png) no-repeat 100% 100%;
        cursor: default;
    }


    /* RADIO !!!  */
    .radio-block {
        position: absolute;
        width: 269px;
        height: 354px;
        top: 530px;
        left: -134px;
    }

    .radio-screen {
        position: absolute;
        width: 100%;
        height: 100px;
        /*background-color: rgba(255, 0, 0, 0.51);*/
        perspective: 470px;
        -webkit-perspective: 470px;
        perspective-origin: 55% 0%;
    }

    .radio-screen-content {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotateY(-20deg);
    }

    .radio-screen-text {
        position: relative;
        width: 100%;
        height: 50%;
        font: 21pt perfo-bold;
        color: #082801;
    }

    .radio-screen-text.radio-screen-channel-name {
        line-height: 62px;
        overflow: hidden;
        width: 255px;
        white-space: nowrap;
    }

    .radio-screen-text.radio-screen-track-name {
        /*padding-left: 18px;*/
        text-align: center;
        height: 33%;
        cursor: pointer;
    }

    .radio-slider-block {
        position: absolute;
        width: 100%;
        height: 120px;
        top: 90px;
        /*background-color: rgba(251, 255, 79, 0.51);*/
    }

    .radio-control-block {
        position: absolute;
        width: 100%;
        height: 160px;
        top: 195px;
        /*background-color: rgba(87, 146, 255, 0.51);*/
    }

    .radio-power-btn {
        position: absolute;
        cursor: pointer;
        left: 42px;
        width: 61px;
        height: 31px;
        top: 84px;
        background: transparent url(/static/static_site/img/09-06-16/1080_power_btn_normal.png) no-repeat 100% 100%;
    }
    .radio-power-btn:hover {background: transparent url(/static/static_site/img/09-06-16/1080_power_btn_over.png) no-repeat 100% 100%;}
    .radio-power-btn:active, .radio-power-btn.active {background: transparent url(/static/static_site/img/09-06-16/1080_power_btn_pressed.png) no-repeat 100% 100%;}

    .radio-power-btn.active:before, .radio-power-btn:active:before {
        content: ' ';
        position: absolute;
        width: 18px;
        height: 29px;
        left: -18px;
        top: -3px;
        background: transparent url(/static/static_site/img/09-06-16/1080_quality_power_indicator.png) no-repeat 100% 100%;
        cursor: default;
    }


    .radio-quality-btn {
        position: absolute;
        cursor: pointer;
        left: 50px;
        width: 40px;
        height: 26px;
        top: 13px;
        background: transparent url(/static/static_site/img/09-06-16/1080_quality_btn_normal.png) no-repeat 100% 100%;
    }
    .radio-quality-btn:hover {background: transparent url(/static/static_site/img/09-06-16/1080_quality_btn_over.png) no-repeat 100% 100%;}

    .radio-quality-btn.high-quality {
        left: 40px;
        top: 12px;
    }

    .radio-quality-btn.super-quality {
        left: 53px;
        top: 13px;
    }

    .radio-quality-btn.high-quality.active:before {
        content: ' ';
        position: absolute;
        width: 18px;
        height: 29px;
        left: -17px;
        top: -5px;
        background: transparent url(/static/static_site/img/09-06-16/1080_quality_power_indicator.png) no-repeat 100% 100%;
        cursor: default;
    }


    .radio-quality-btn.super-quality.active:before {
        content: ' ';
        position: absolute;
        width: 18px;
        height: 29px;
        left: 39px;
        top: 1px;
        background: transparent url(/static/static_site/img/09-06-16/1080_quality_power_indicator.png) no-repeat 100% 100%;
        cursor: default;
    }


    .radio-slider-channel {
        position: absolute;
        width: 240px;
        top: 65px;
        left: 14px;
        /*background-color: rgba(255, 0, 0, 0.33);*/
        height: 51px;
    }

    .radio-slider-channel-pointer-block {
        position: absolute;
        width: 240px;
        left: 30px;
        /*background-color: rgba(255, 0, 0, 0.33);*/
        top: -1px;
        height: 80px;
        pointer-events: none;
    }

    .radio-slider-carette {
        position: absolute;
        width: 40px;
        height: 25px;
        top: 0;
        left: 0;
        cursor: pointer;
        background: transparent url(/static/static_site/img/09-06-16/1080_freq_slider_normal.png) no-repeat 100% 100%;
    }

    .radio-slider-carette:hover {
        background: transparent url(/static/static_site/img/09-06-16/1080_freq_slider_over.png) no-repeat 100% 100%;
    }

    .radio-slider-carette:active {
        background: transparent url(/static/static_site/img/09-06-16/1080_freq_slider_pressed.png) no-repeat 100% 100%;
    }

    .radio-slider-channel-pointer {
        position: absolute;
        width: 5px;
        height: 58px;
        background: transparent url(/static/static_site/img/09-06-16/1080_freq_slider_mark.png) no-repeat 100% 100%;
    }


    .radio-scale-channels-block {
        position: absolute;
        width: 100%;
        height: 59px;
        top: 1px;
        /*background-color: rgba(255, 0, 0, 0.49);*/
    }



    /* Volume */
    .radio-volume-controller-block {
        position: absolute;
        width: 50px;
        height: 120px;
        top: 15px;
        left: 146px;
        /*background-color: rgba(255, 0, 0, 0.49);*/
    }

    .radio-volume-controller-images {
        position: absolute;
        width: 38px;
        height: 105px;
        top: 7px;
        left: 5px;
    }

    .radio-volume-controller-item {
        position: absolute;
        width: 38px;
        height: 105px;
        top: 0;
        left: 0;
    }

    .radio-volume-controller-item.item-0 {background: transparent url(/static/static_site/img/09-06-16/1080_volume_disc_001.png) no-repeat 100% 100%;}
    .radio-volume-controller-item.item-1 {background: transparent url(/static/static_site/img/09-06-16/1080_volume_disc_002.png) no-repeat 100% 100%;}
    .radio-volume-controller-item.item-0:hover {background: transparent url(/static/static_site/img/09-06-16/1080_volume_disc_over_001.png) no-repeat 100% 100%;}
    .radio-volume-controller-item.item-1:hover {background: transparent url(/static/static_site/img/09-06-16/1080_volume_disc_over_002.png) no-repeat 100% 100%;}


    .radio-volume-indicator-block {
        position: absolute;
        width: 44px;
        height: 110px;
        top: 26px;
        left: 203px;
        /*background-color: rgba(255, 0, 0, 0.31);*/
    }

    .radio-volume-indicator-item {
        position: absolute;
        width: 18px;
        height: 10px;
        top: 0;
        left: 12px;
        background: transparent url(/static/static_site/img/09-06-16/1080_volume_indicator_mark.png) no-repeat 100% 100%;
        display: none;
    }

    .radio-volume-indicator-item.active {display: block;}

    .radio-volume-indicator-item.volume-17 {top: 87px;}
    .radio-volume-indicator-item.volume-34 {top: 71px;}
    .radio-volume-indicator-item.volume-51 {top: 55px;}
    .radio-volume-indicator-item.volume-68 {top: 40px;}
    .radio-volume-indicator-item.volume-85 {top: 25px;}
    .radio-volume-indicator-item.volume-99 {top: 9px;}

}





















