<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Road Dogs</title>


    <script src="{{ static_url('js/third_party/jquery.min.js') }}"></script>

    <script src="{{ static_url('js/audio_object.js') }}"></script>
    <script src="{{ static_url('js/audio_manager.js') }}"></script>
    <script src="{{ static_url('js/html_audio_player.js') }}"></script>
    <script src="{{ static_url('js/audio_test.js') }}"></script>

    <style>




    </style>

</head>
<body>
    <div id="loadDiv">Загружается</div>

    <div id="Play" style="border: 1px solid black;" onclick="radioPlayerPlay();">Play</div>
    <div id="Stop" style="border: 1px solid black;" onclick="radioPlayerPause();">Stop</div>

    <div style="width: 300px; height: 200px;">
        {% set radioPlayerName = 'p1' %}
        {% include 'html_radio_player.html' %}
    </div>

<script>


</script>
</body>
</html>