<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Road Dogs</title>


    <link rel="stylesheet" href="{{ static_url('css/main.css') }}"/>

    <script src="{{ static_url('third_party/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/main.js') }}"></script>

</head>
<body>
    <div>
    {% if user_name %}
        Вы вошли как {{ user_name }}
    {% else %}
        Вы не авторизованы. Авторизуйтесь пожалуйста.
    {% end %}
    </div>
<div class="stat-block">

    <div class="row">
        <span>Агентов: </span>
        <span id="srvStatAgents">0</span>
    </div>
    <div class="row">
        <span>Объектов: </span>
        <span id="srvStatUnits">0</span>
    </div>

    <div>
        <a href="/logout">Выход</a>
    </div>
    <div>
        <a href="/login">Вход</a>
    </div>
    <div>
        <a href="/forum/">Форум !!!</a>
    </div>


</div>



<script>

    $(document).ready(function () {
//        console.log('Load Complete !');
//        start_site();
    });


    $('.btn1').click(function() {
        $.ajax({
            url: window.location.protocol + "//192.168.1.202/forum/phpbb/auth/auth_simple.php",
            method: 'POST',
            data: {
                user: 'user_name',
                mail: 'user@mail',
                password: '1'
            },
            success: function (data) {
                console.log(data);
            },
            error: function () {
                console.error('error');
            }
        });
    });

    $('.btn2').click(function() {
        console.log('3');
        $.ajax({
            url: window.location.protocol + "//192.168.1.202/forum/phpbb/auth/auth_simple3.php",
            method: 'POST',
            data: {
                user: 'user_name',
                mail: 'user@mail',
                password: '1'
            },
            success: function (data) {
                console.log(data);
            },
            error: function () {
                console.error('error');
            }
        });
    })


</script>
</body>
</html>