<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ _('sm_title') }}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="{{ _('sm_description') }}">
    <meta name="keywords" content="RoadDogs, mmorpg, post-apocalyptic, nuclear, madmax, fallout, road war, retro, 80s, oldschool, cyberpunk, cars, new">
    <meta http-equiv="content-language" content="ru">
    <meta name="robots" content="all">
    <meta name="author" content="Teletower Studios">
    <meta name="copyright" content="Все права принадлежат ООО 'Телетауер Студиос'">

    <meta name="yandex-verification" content="6028072d13fc338a" />
    <meta name="google-site-verification" content="y9C6Km2TvQ_Lcml_O-EistXN1cI0v4Bo79wD72httj0" />

    <meta name="application-name" content="Road Dogs">

    <!-- Meta Twitter -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="RoadDogs"/>
    <meta name="twitter:title" content="{{ _('sm_title') }}">
    <meta name="twitter:description" content="{{ _('sm_description') }}"/>
    <meta name="twitter:creator" content="Teletower Studios"/>
    <meta name="twitter:image:src" content="http://roaddogs.ru/static/static_site/img/main_logo.jpg"/>
    <meta name="twitter:domain" content="http://roaddogs.ru"/>

    <!-- Meta Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://roaddogs.ru">
    <meta property="og:title" content="{{ _('sm_title') }}">
    <meta property="og:description" content="{{ _('sm_description') }}">
    <meta property="og:image" content="http://roaddogs.ru/static/static_site/img/main_logo.jpg">

    <link rel="icon" type="image/png" href="http://roaddogs.ru/favicon.png" sizes="16x16" />
    <link rel="icon" type="image/x-icon" href="http://roaddogs.ru/favicon.ico" sizes="16x16" />
    <link rel="shortcut icon" href="http://roaddogs.ru/favicon.png" type="image/png" sizes="16x16" />
    <link rel="shortcut icon" href="http://roaddogs.ru/favicon.ico" type="image/x-icon" sizes="16x16" />

    <style>
        @font-face {
            font-family: Nouveau_IBM;
            src: url( {{ static_url('fonts/Nouveau_IBM.ttf') }} );
        }

        @font-face {
            font-family: FreePixel;
            src: url( {{ static_url('fonts/FreePixel.ttf') }} );
        }

        @font-face {
            font-family: perfo-bold;
            src: url( {{ static_url('fonts/perfo-bold.ttf') }} );
        }
    </style>

    <link rel="stylesheet" href="{{ static_url('static_site/css/site_main.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('static_site/css/car_represent.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('static_site/css/site_window_reg.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('static_site/css/site_window_reg_1.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('static_site/css/site_window_reg_2.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('static_site/css/site_window_reg_3.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('static_site/css/site_window_personal_info.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('static_site/css/site_window_quick_game.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('static_site/css/site_window_news.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('static_site/css/site_window_ratings.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('locale/css/locale_{}.css'.format(user_lang)) }}"/>

    <script src="{{ static_url('static_site/js/third_party/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/third_party/jquery-ui.min.js') }}"></script>
    <script src="{{ static_url('static_site/js/third_party/jquery-cssHooks-master/color.js') }}"></script>
    <script src="{{ static_url('static_site/js/third_party/jquery-cssHooks-master/textshadow.js') }}"></script>
    <script src="{{ static_url('locale/locale.js') }}"></script>
    <script src="{{ static_url('static_site/js/main.js') }}"></script>
    <script src="{{ static_url('static_site/js/preloader_image.js') }}"></script>
    <script src="{{ static_url('static_site/js/preloader_image_list.js') }}"></script>
    <script src="{{ static_url('static_site/js/audio_object.js') }}"></script>
    <script src="{{ static_url('static_site/js/audio_manager.js') }}"></script>
    <script src="{{ static_url('static_site/js/audio_keyboard_emulate.js') }}"></script>
    <script src="{{ static_url('static_site/js/site_html_audio_player.js') }}"></script>
    <script src="{{ static_url('static_site/js/effects/text_console.js') }}"></script>
    <script src="{{ static_url('static_site/js/time_manager.js') }}"></script>
    <script src="{{ static_url('static_site/js/canvas/canvas_manager.js') }}"></script>
    <script src="{{ static_url('static_site/js/canvas/canvas_noise.js') }}"></script>
    <script src="{{ static_url('static_site/js/canvas/canvas_line.js') }}"></script>
    <script src="{{ static_url('static_site/js/canvas/canvas_rippling.js') }}"></script>
    <script src="{{ static_url('static_site/js/canvas/canvas_blackout.js') }}"></script>
    <script src="{{ static_url('static_site/js/canvas/canvas_png_animation.js') }}"></script>
    <script src="{{ static_url('static_site/js/effects/indicator_blink.js') }}"></script>
    <script src="{{ static_url('static_site/js/effects/text_blur_blink.js') }}"></script>
    <script src="{{ static_url('static_site/js/effects/glitch.js') }}"></script>
    <script src="{{ static_url('static_site/js/effects/change_back.js') }}"></script>

</head>
<body>
    <header style="display: none;">
        <!-- Здесь будут всякие метаданные-->
        <img src="/static/static_site/img/main_logo.jpg" alt="Road Dogs - бесплатная онлайн игра в жанре Грабитель/Торговец">

        <div itemscope itemtype="http://schema.org/VideoGame">
            <div itemprop="name">Road Dogs</div>
            <div itemprop="description"><h1>{{ _('sm_title') }}</h1></div>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                Статус программы: <span itemprop="price">0</span> Бесплатная
            </div>
            <link href="http://roaddogs.ru" itemprop="url">
            <div itemprop="sameAs">http://roaddogs.ru</div>
            <p>Play mode: <span itemprop="playMode">MultiPlayer</span></p>
            <div>operatingSystem:<div itemprop="operatingSystem">Windows | Linux | MacOS</div></div>
            <div>gamePlatform:<div itemprop="operatingSystem">PC</div></div>
            <div>applicationCategory:<div itemprop="applicationCategory">Game</div></div>

            <div>Genre:<span itemprop="genre">MMORPG</span></div>
            <div itemprop="gameLocation">Arizona (AZ)</div>

            <p>Language<span itemprop="inLanguage">Russian</span>/<span itemprop="inLanguage">English</span></p>

            <div itemprop="author" itemscope itemtype="http://schema.org/Organization">
                Author<span itemprop="name">Teletower Studios</span>/<span itemprop="alternateName">Телетауер Студиос</span>
            </div>

            <div itemprop="characterAttribute" itemscope itemtype="http://schema.org/Thing">
                <b itemprop="name">Driving</b>/<b itemprop="alternateName">Вождение</b>
                <p itemprop="description">Increases the maximum speed and maneuverability of vehicles.</p>
            </div>
            <div itemprop="characterAttribute" itemscope itemtype="http://schema.org/Thing">
                <b itemprop="name">Shooting</b>/<b itemprop="alternateName">Стрельба</b>
                <p itemprop="description">Increases the DPS by automatic guns and damage by the volley.</p>
            </div>
            <div itemprop="characterAttribute" itemscope itemtype="http://schema.org/Thing">
                <b itemprop="name">Hiding</b>/<b itemprop="alternateName">Скрытость</b>
                <p itemprop="description">Reduces the distance of detection of character by other players and defensive settlement systems.</p>
            </div>
            <div itemprop="characterAttribute" itemscope itemtype="http://schema.org/Thing">
                <b itemprop="name">Mechanic</b>/<b itemprop="alternateName">Механика</b>
                <p itemprop="description">Reduces the wear rate of transport and increases the efficiency of field repair.</p>
            </div>
            <div itemprop="characterAttribute" itemscope itemtype="http://schema.org/Thing">
                <b itemprop="name">Trading</b>/<b itemprop="alternateName">Торговля</b>
                <p itemprop="description">Reduces the price of goods and increases reward for the job.</p>
            </div>
            <div itemprop="characterAttribute" itemscope itemtype="http://schema.org/Thing">
                <b itemprop="name">Leadship</b>/<b itemprop="alternateName">Лидерство</b>
                <p itemprop="description">Specifies the maximum number of players that can join the party character.</p>
            </div>


            <div itemprop="quest" itemscope itemtype="http://schema.org/Thing">
                <b itemprop="name">Unique Quests</b>
                <p itemprop="description">Dozens of quest generators and the possibility to trade a quests between players.</p>
            </div>



            <script type="application/ld+json">
                {
                    "@context": "http://schema.org",
                    "@type": "VideoGame",
                    "name": "Road Dogs",
                    "url": "http://roaddogs.ru",
                    "image": "/static/static_site/img/main_logo.jpg",
                    "description": "{{ _('sm_title') }}",
                    "inLanguage":["Russian","English"],
                    "author":{
                          "@type":"Organization",
                          "name":"Teletower Studios",
                          "alternateName":"Телетауер Студиос"
                        },
                    "genre":["MMORPG"],
                    "gamePlatform":["PC"],
                    "gameLocation": "Arizona (AZ)",
                    "playMode": "MultiPlayer",
                    "operatingSystem": ["Windows","Linux","MacOS"],
                    "applicationCategory": "Game",
                    "sameAs": "http://roaddogs.ru",
                    "offers":{
                            "@type":"Offer",
                            "price":"0"
                        },
                    "characterAttribute": [
                        {
                            "@type": "Thing",
                            "name":"Driving",
                            "alternateName":"Вождение",
                            "description":"Increases the maximum speed and maneuverability of vehicles."
                        },
                        {
                            "@type": "Thing",
                            "name":"Shooting",
                            "alternateName":"Стрельба",
                            "description":"Increases the DPS by automatic guns and damage by the volley."
                        },
                        {
                            "@type": "Thing",
                            "name":"Hiding",
                            "alternateName":"Скрытость",
                            "description":"Reduces the distance of detection of character by other players and defensive settlement systems."
                        },
                        {
                            "@type": "Thing",
                            "name":"Mechanic",
                            "alternateName":"Механика",
                            "description":"Reduces the wear rate of transport and increases the efficiency of field repair."
                        },
                        {
                            "@type": "Thing",
                            "name":"Trading",
                            "alternateName":"Торговля",
                            "description":"Reduces the price of goods and increases reward for the job."
                        },
                        {
                            "@type": "Thing",
                            "name":"Leadship",
                            "alternateName":"Лидерство",
                            "description":"Specifies the maximum number of players that can join the party character."
                        }
                        ],
                    "quest": [{
                        "@type": "Thing",
                        "name":"Unique Quests",
                        "description":"Dozens of quest generators and the possibility to trade a quests between players."
                      }]
                }
            </script>


            <!-- Metrix -->
            <!-- Yandex.Metrika counter -->
            <script type="text/javascript">
                (function (d, w, c) {
                    (w[c] = w[c] || []).push(function() {
                        try {
                            w.yaCounter38576895 = new Ya.Metrika({
                                id:38576895,
                                clickmap:true,
                                trackLinks:true,
                                accurateTrackBounce:true,
                                webvisor:true,
                                trackHash:true
                            });
                        } catch(e) { }
                    });

                    var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = "https://mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else { f(); }
                })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript><div><img src="https://mc.yandex.ru/watch/38576895" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- /Yandex.Metrika counter -->
            <!-- Google analytics -->
            <script>
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                  ga('create', 'UA-81052008-1', 'auto');
                  ga('send', 'pageview');

            </script>
            <!-- /Google analytics -->
        </div>

        <div itemscope itemtype="http://schema.org/ImageObject">
            <h2 itemprop="name">Road Dogs</h2>
            <img itemprop="contentUrl" src="/static/static_site/img/main_logo.jpg" alt="{{ _('sm_title') }}">
            <span itemprop="description">{{ _('sm_title') }}</span>
        </div>

    </header>
    <div id="siteBlock">
        <div class="site-main-back"></div>
        <div class="site-main-block">
            <div class="site-main-all-block">
                <!--Сюда вверстать весь сайт!-->
                <!-- Контент - окна -->
                <div class="content-block">
                    <div class="content black">
                        <!--Окно регистрации-->
                        {% include 'site_window_reg.html' %}
                        {% include 'site_window_reg_1.html' %}
                        {% include 'site_window_reg_2.html' %}
                        {% include 'site_window_reg_3.html' %}
                        <!--Личный кабинет-->
                        {% include 'site_personal_info.html' %}
                        <!--Окно быстрой игры-->
                        {% include 'site_quick_game.html' %}
                        <!--Окно новостей-->
                        {% include 'site_news.html' %}
                        <!--Окно рейтинги-->
                        {% include 'site_ratings.html' %}
                        <!--Окно Об Игре-->
                        {% include 'site_about_game.html' %}
                        <canvas id="content-canvas"></canvas>
                    </div>
                </div>
                <!-- Микроволновка и кнопки на ней-->
                <div class="microwawe">
                    <!--Область кнопок на микроволновке-->
                    <div class="btn-block">
                        <a id="RDbtn_start" class="btn-page btn btn-1" href="/#start" alt="Начать игру" data-window_id="RDSiteWReg">Начать игру</a>
                        <a id="RDbtn_quick" class="btn-page btn btn-2" href="/#quick" alt="Быстрая игра" data-window_id="RDSiteQuickGame">Быстрая игра</a>
                        <a id="RDbtn_about" class="btn-page btn btn-3" href="/#about" alt="Об игре" data-window_id="RDSiteGameInfo">Об игре</a>
                        <a id="RDbtn_news" class="btn-page btn btn-4" href="/#news" alt="Новости" data-window_id="RDSiteNews">Новости</a>
                        <a id="RDbtn_ratings" class="btn-page btn btn-5" href="/#ratings"
                           data-window_id="RDSiteWRatings" alt="Рейтинги">Рейтинги</a>
                        {% if user_lang == 'ru' %}
                        <a class="btn btn-6" href="http://vk.com/road_dogs" target="_blank"></a>
                        {% else %}
                        <a class="btn btn-6" href="http://steamcommunity.com/sharedfiles/filedetails/?id=826071994" target="_blank"></a>
                        {% end %}

                        <div class="radio-block">
                            <div class="radio-screen">
                                <a class="radio-screen-content" target="_blank" href="http://radiotower.su"></a>
                            </div>
                            <div class="radio-control-block">
                                <div class="radio-quality-btn high-quality"></div>
                                <div class="radio-power-btn"></div>
                                <div class="radio-volume-controller-block">
                                    <div class="radio-volume-controller-images">
                                        <div class="radio-volume-controller-item item-0"></div>
                                    </div>
                                </div>
                                <div class="radio-volume-indicator-block">
                                    <div class="radio-volume-indicator-item volume-17"></div>
                                    <div class="radio-volume-indicator-item volume-34"></div>
                                    <div class="radio-volume-indicator-item volume-51"></div>
                                    <div class="radio-volume-indicator-item volume-68"></div>
                                    <div class="radio-volume-indicator-item volume-85"></div>
                                    <div class="radio-volume-indicator-item volume-99"></div>
                                </div>
                            </div>
                            <div class="radio-slider-block">
                                <div class="radio-slider-channel">
                                    <div class="radio-slider-carette"></div>
                                </div>
                                <div class="radio-slider-channel-pointer-block">
                                    <div class="radio-slider-channel-pointer"></div>
                                </div>
                                <div class="radio-scale-channels-block"></div>
                            </div>
                        </div>
                    </div>
                    <!--Машинка-фон при старте сайте-->
                    <div class="content-start-back content-start road-grid"></div>
                    <div class="content-start-back content-start road"></div>
                    {#                <div class="content-start-back content-start car"></div>#}
                    <div class="content-start-back content-start glitch">
                        <canvas id="glitch_test_768"></canvas>
                        <canvas id="glitch_test_1080"></canvas>
                    </div>
                    <a class="site-logo" href="/#"></a>

                    <div class="car-skeleton-path gun" data-name="gun"></div>
                    <div class="car-skeleton-path drivetrain" data-name="drivetrain"></div>
                    <div class="car-skeleton-path engine" data-name="engine"></div>
                </div>
                <!--Консоль на главной странице -->
                <div id="RDSiteStartPage" class="content-block content-start switch-page">
                    <div class="content">
                        <div class="content-start-console-wrap">
                            <div id="RDSiteStartPageConsole" class="console-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-sound-switch"></div>
        <div class="site-sound-switch"></div>
        {% if user_lang == 'ru' %}
        <div class="copyright-block">Все права защищены. Road Dogs © 2016-2017.</br><span class="change-language" onclick="changeLanguage('en');">English version</span>.</div>
        {% else %}
        <div class="copyright-block">All rights reserved. Road Dogs © 2016-2017.</br><span class="change-language" onclick="changeLanguage('ru');">Русская версия</span>.</div>
        {% end %}
    </div>
    <div id="preloaderBlock">
        <div id="consolePreloader"></div>
    </div>
</body>

<script>
    var version = '{{ version }}';
    var all_users_registered = '{{ all_users_registered }}';
    var GlobalGeneralSiteGain = 1.0;

    $(document).ready(function () {
        loadLocale(main);
    });
</script>
</html>