<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="{{ static_url('css/site_main.css') }}"/>

</head>
<body>
    <div class="site-main-block">
        <div class="site-main-all-block">
            <div class="site-main-screen-block">
                <div class="site-main-screen-bg-block"></div>
            </div>
            <div class="site-main-screen-car-block"></div>
            <div class="site-main-screen-grid-block"></div>
        </div>
    </div>
</body>
</html>