<div id="RDSiteWReg1" class="page-wrapper switch-page">
    <div class="window-header interlacing buttons-and-headers">Nuke Commander v{{ version }}</div>
    <div class="window-reg1-main">
        <div class="window-reg1-path">
            <div class="window-qg-content-header-block">
                <div class=" window-qg-content-back">
                    <div class="window-qg-content-header buttons-and-headers">Имя и фото</div>
                </div>
            </div>
            <div class="reg1-path-up-text-input-block">
                <div class="reg1-path-label">NICKNAME></div>
                <input type="text" id="reg1_username" autocomplete="off" onclick="Reg1NicknameClick()">
            </div>
            <div class="reg1-path-avatar-list">
                <div id="reg1_avatar_0" class="reg1-path-avatar-item" style="background: transparent url(/static_site/img/temp/avatar_1.png) no-repeat 100% 100%;"></div>
                <div id="reg1_avatar_1" class="reg1-path-avatar-item" style="background: transparent url(/static_site/img/temp/avatar_2.png) no-repeat 100% 100%;"></div>
                <div id="reg1_avatar_2" class="reg1-path-avatar-item" style="background: transparent url(/static_site/img/temp/avatar_3.png) no-repeat 100% 100%;"></div>
            </div>
            <div class="slide-arrow left" onclick="SlideLeftAvatarList()"></div>
            <div class="slide-arrow right" onclick="SlideRightAvatarList()"></div>
        </div>
        <div class="window-reg1-path right">
            <div class="window-qg-content-header-block">
                <div class="window-qg-content-back">
                    <div class="window-qg-content-header buttons-and-headers">Класс</div>
                </div>
            </div>
            <div id="reg1_class_name_text" class="window-reg1-class-name"></div>
            <div class="reg1-path-class-list">
                <div id="reg1_class_0" class="reg1-path-class-item" style="background: transparent url(/static_site/img/temp/class_1.png) no-repeat 100% 100%;"></div>
                <div id="reg1_class_1" class="reg1-path-class-item" style="background: transparent url(/static_site/img/temp/class_2.png) no-repeat 100% 100%;"></div>
                <div id="reg1_class_2" class="reg1-path-class-item" style="background: transparent url(/static_site/img/temp/class_3.png) no-repeat 100% 100%;"></div>
            </div>
            <div class="slide-arrow left" onclick="SlideLeftClassList()"></div>
            <div class="slide-arrow right" onclick="SlideRightClassList()"></div>
        </div>
        <div class="window-reg1-console-wrap">
            <div id="RDSiteWReg1Console" class="console-block"></div>
        </div>
        <div class="reg1-btn buttons-and-headers reg1-btn-back" onclick="Reg1BackBtnClick()">Назад</div>
        <div class="reg1-btn buttons-and-headers reg1-btn-next" onclick="Reg1NextBtnClick()">Далее</div>
    </div>
</div>
<script>
    // Настройка листалки аватаров
    var reg1_avatar_count = 3;
    var reg1_current_avatar = 0;
    SetCurrentAvatar();

    function SlideLeftAvatarList() {
        reg1_current_avatar--;
        if (reg1_current_avatar < 0) { reg1_current_avatar += reg1_avatar_count }
        SetCurrentAvatar();
    }

    function SlideRightAvatarList() {
        reg1_current_avatar++;
        if (reg1_current_avatar > reg1_avatar_count - 1) { reg1_current_avatar -= reg1_avatar_count }
        SetCurrentAvatar();
    }

    function SetCurrentAvatar() {
        $('.reg1-path-avatar-item').css('display', 'none');
        $('#reg1_avatar_' + reg1_current_avatar).css('display', 'block');
    }

    // Настройка листалки классов
    var reg1_class_count = 3;
    var reg1_current_class = 0;
    var role_class_list_info = [];
    SetCurrentClass();

    function SlideLeftClassList() {
        reg1_current_class--;
        if (reg1_current_class < 0) { reg1_current_class += reg1_class_count }
        SetCurrentClass();
    }

    function SlideRightClassList() {
        reg1_current_class++;
        if (reg1_current_class > reg1_class_count - 1) { reg1_current_class -= reg1_class_count }
        SetCurrentClass();
    }

    function SetCurrentClass() {
        $('.reg1-path-class-item').css('display', 'none');
        $('#reg1_class_' + reg1_current_class).css('display', 'block');

        var name = role_class_list_info.length ? role_class_list_info[reg1_current_class].title : '';
        $('#reg1_class_name_text').text(name);
    }

    // Подсказка на клик по никнейму
    var reg1_last_input_click;

    function Reg1NicknameClick() {
        if ((reg1_last_input_click != 'Reg1NicknameClick') && (consoleWReg1)) {
            consoleWReg1.add_message('user', 'Запрос на ввод данных в базу системы навигации.');
            consoleWReg1.add_message('system',
                'Успешно.\n\n' +
                '--------------------------------------------------------------\n' +
                'Введите имя. Разрешенные символы:\n' +
                'A B C D E F G H I J K L M N O P Q R S T U V W X Y Z\n' +
                '0 1 2 3 4 5 6 7 8 9\n' +
                '_ - = ! ? “ ” ‘ ; # % ^ & * \ | / [ ] ( ) < > . , +\n' +
                'Пробелы запрещены.\n' +
                '--------------------------------------------------------------');
            reg1_last_input_click = 'Reg1NicknameClick';
        }
    }

    // Кнопки Вперед/Назад
    function Reg1NextBtnClick() {
        var username = document.getElementById('reg1_username').value;
        $.ajax({
            url: location.protocol + '//' + location.host + '/login',
            method: 'POST',
            data: {
                action: 'next',
                username: username,
                avatar_index: reg1_current_avatar,
                class_index: reg1_current_class,
                class_node_hash: role_class_list_info[reg1_current_class].node_hash
            },
            success: function(data) {
                reg1_last_input_click = null;
                consoleWReg1.add_message('user', ' Активация процедуры регистрации.');
                if (data.status == 'success') {
                    consoleWReg1.add_message('system', 'Успешно.');
                    GetUserInfo();
                    return;
                }
                audioManager.play('error_' + Math.floor(Math.random() * 1.99));
                if (data.status == 'fail_wrong_input') {
                    consoleWReg1.add_message('system',
                            'Ошибка приема данных.\n\n' +
                            'Введен некорректный NICKNAME, класс или фото персонажа.\n\n' +
                            '--------------------------------------------------------------\n' +
                            'Введите корректный NICKNAME.\n' +
                            'Выберите фото персонажа.\n' +
                            'Выберите класс персонажа.\n' +
                            '--------------------------------------------------------------');
                }
                if (data.status == 'fail_exist_nickname') {
                    consoleWReg1.add_message('system',
                            'Ошибка приема данных.\n\n' +
                            'Пользователь с таким NICKNAME уже существует.');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                reg1_last_input_click = null;
                consoleWReg1.add_message('user', ' Активация процедуры регистрации.');
                consoleWReg1.add_message('system', 'Система не отвечает. Повторите попытку позже.');
                audioManager.play('error_' + Math.floor(Math.random() * 1.99));
            }
        });
    }

    function Reg1BackBtnClick() {
        $.ajax({
            url: location.protocol + '//' + location.host + '/login',
            method: 'POST',
            data: { action: 'back' },
            success: function(data) {
                reg1_last_input_click = null;
                GetUserInfo();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                reg1_last_input_click = null;
                consoleWReg1.add_message('user', ' Активация процедуры регистрации.');
                consoleWReg1.add_message('system', 'Система не отвечает. Повторите попытку позже.');
                audioManager.play('error_' + Math.floor(Math.random() * 1.99));
            }
        });
    }
</script>