<div id="RDSiteWReg1" class="page-wrapper switch-page">
    <div class="window-header interlacing buttons-and-headers">Nuke Commander v{{ version }}</div>
    <div class="window-reg1-main">
        <div class="window-reg1-path">
            <div class="window-qg-content-header-block">
                <div class=" window-qg-content-back">
                    <div class="window-qg-content-header buttons-and-headers">{{ _("swr1_nick and avatar") }}</div>
                </div>
            </div>
            <div class="reg1-path-up-text-input-block">
                <div class="reg1-path-label">{{ _("swr1_nick") }}></div>
                <input type="text" id="reg1_username" autocomplete="off" onclick="Reg1NicknameClick()">
            </div>
            <div class="reg1-path-avatar-list"></div>
            <div class="slide-arrow left" onclick="SlideLeftAvatarList()"></div>
            <div class="slide-arrow right" onclick="SlideRightAvatarList()"></div>
        </div>
        <div class="window-reg1-path right">
            <div class="window-qg-content-header-block">
                <div class="window-qg-content-back">
                    <div class="window-qg-content-header buttons-and-headers">{{ _("swr1_class") }}</div>
                </div>
            </div>
            <div id="reg1_class_name_text" class="window-reg1-class-name"></div>
            <div class="reg1-path-class-list"></div>
            <div class="slide-arrow left" onclick="SlideLeftClassList()"></div>
            <div class="slide-arrow right" onclick="SlideRightClassList()"></div>
        </div>
        <div class="window-reg1-console-wrap">
            <div id="RDSiteWReg1Console" class="console-block reg-main-console"></div>
        </div>
        <div class="reg1-btn buttons-and-headers reg1-btn-back" onclick="Reg1BackBtnClick()">{{ _("swr1_back") }}</div>
        <div class="reg1-btn buttons-and-headers reg1-btn-next" onclick="Reg1NextBtnClick()">{{ _("swr1_next") }}</div>
    </div>
</div>

<script>
    // Настройка листалки аватаров
    var reg1_avatar_count = 0;
    var reg1_current_avatar = 0;
    SetCurrentAvatar();

    function SlideLeftAvatarList() {
        reg1_current_avatar--;
        if (reg1_current_avatar < 0) { reg1_current_avatar += reg1_avatar_count }
        SetCurrentAvatar();
        audioManager.play('listing');
    }

    function SlideRightAvatarList() {
        reg1_current_avatar++;
        if (reg1_current_avatar > reg1_avatar_count - 1) { reg1_current_avatar -= reg1_avatar_count }
        SetCurrentAvatar();
        audioManager.play('listing');
    }

    function SetCurrentAvatar() {
        $('.reg1-path-avatar-item').css('display', 'none');
        $('#reg1_avatar_' + reg1_current_avatar).css('display', 'block');
    }

    // Настройка листалки классов
    var reg1_class_count = 0;
    var reg1_current_class = 0;
    var role_class_list_info = [];
    var reg1_first_interrupt = false;

    function SlideLeftClassList() {
        reg1_current_class--;
        if (reg1_current_class < 0) { reg1_current_class += reg1_class_count }
        SetCurrentClass();
        audioManager.play('listing');
    }

    function SlideRightClassList() {
        reg1_current_class++;
        if (reg1_current_class > reg1_class_count - 1) { reg1_current_class -= reg1_class_count }
        SetCurrentClass();
        audioManager.play('listing');
    }

    function SetCurrentClass() {
        $('.reg1-path-class-item').css('display', 'none');
        $('#reg1_class_' + reg1_current_class).css('display', 'block');

        if (!role_class_list_info.length) return;

        var name = role_class_list_info.length ? role_class_list_info[reg1_current_class].description : '';
        $('#reg1_class_name_text').text(name);

        var line_list = role_class_list_info[reg1_current_class].console_description.split('\\n');
        var multi_line = '';
        for (var i = 0; i < line_list.length; i++)
            multi_line = multi_line + line_list[i] + '\n';

        consoleWReg1.add_message('user', _('con_wreg_msg35'), reg1_first_interrupt);
        consoleWReg1.add_message('system', _('con_wreg_msg36') + multi_line +
                                 '--------------------------------------------------------------');

        reg1_first_interrupt = true;
    }

    // Подсказка на клик по никнейму
    var reg1_last_input_click;

    function Reg1NicknameClick() {
        if ((reg1_last_input_click != 'Reg1NicknameClick') && (consoleWReg1)) {
            consoleWReg1.add_message('user', _('con_wreg_msg37'), true);
            consoleWReg1.add_message('system', _('con_wreg_msg38'));
            reg1_last_input_click = 'Reg1NicknameClick';
        }
    }

    // Кнопки Вперед/Назад
    function Reg1NextBtnClick() {
        var username = document.getElementById('reg1_username').value;
        $.ajax({
            url: location.protocol + '//' + location.host + '/login',
            method: 'POST',
            data: {
                action: 'next',
                username: username,
                avatar_index: reg1_current_avatar,
                class_index: reg1_current_class,
                class_node_hash: role_class_list_info[reg1_current_class].node_hash
            },
            success: function(data) {
                reg1_last_input_click = null;
                consoleWReg1.add_message('user', _('con_wreg_msg39'), true);
                if (data.status == 'success') {
                    consoleWReg1.add_message('system', _('con_wreg_msg29'));
                    GetUserInfo();
                    audioManager.play('button_screen_press');
                    return;
                }
                audioManager.play('error_1');
                if (data.status == 'fail_wrong_input') {
                    consoleWReg1.add_message('system', _('con_wreg_msg40'));
                }
                if (data.status == 'fail_exist_nickname') {
                    consoleWReg1.add_message('system', _('con_wreg_msg41'));
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                reg1_last_input_click = null;
                consoleWReg1.add_message('user', _('con_wreg_msg42'), true);
                consoleWReg1.add_message('system', _('con_wreg_msg43'));
                audioManager.play('error_1');
            }
        });
    }

    function Reg1BackBtnClick() {
        $.ajax({
            url: location.protocol + '//' + location.host + '/login',
            method: 'POST',
            data: { action: 'back' },
            success: function(data) {
                reg1_last_input_click = null;
                GetUserInfo();
                audioManager.play('button_screen_press');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                reg1_last_input_click = null;
                consoleWReg1.add_message('user', _('con_wreg_msg44'), true);
                consoleWReg1.add_message('system', _('con_wreg_msg45'));
                audioManager.play('error_1');
            }
        });
    }
</script>