<div id="RDSiteWCommunity" class="page-wrapper switch-page">
    <h2>Community links</h2>
    <div class="window-header buttons-and-headers">Nuke Commander v{{ version }}</div>
    <div class="window-ratings-main">

        <div class="community-label-box" onclick="window.open('https://steamcommunity.com/app/622470/discussions/', '_blank');">
            <div class="icon-site steam"></div><div class="label">Steam</div></div>

        <div class="community-label-box" onclick="window.open('https://vk.com/road_dogs', '_blank');">
            <div class="icon-site vk"></div><div class="label">VK</div></div>

        <div class="community-label-box" onclick="window.open('https://t.me/joinchat/BEJxR0CLzG5KaqakpxaifA', '_blank');">
            <div class="icon-site telegram"></div><div class="label">Telegram</div></div>

        <div class="community-label-box" onclick="window.open('https://discord.gg/62z7f9Q', '_blank');">
            <div class="icon-site discord"></div><div class="label">Discord</div></div>

        <div class="community-label-box" onclick="window.open('http://radiotower.su', '_blank');">
            <div class="icon-site radiotower"></div><div class="label">Radiotower</div></div>

        <div class="community-label-box" onclick="window.open('https://www.youtube.com/channel/UCfT8_Dg6Oy4ZiikIyIdh41w', '_blank');">
            <div class="icon-site youtube"></div><div class="label">YouTube</div></div>

        <div class="community-label-box" onclick="window.open('http://www.indiedb.com/games/road-dogs', '_blank');">
            <div class="icon-site indiedb"></div><div class="label">IndieDB</div></div>

        <div class="community-label-box" onclick="window.open('https://pikabu.ru/profile/Was73r', '_blank');">
            <div class="icon-site pikabu"></div><div class="label">Pikabu</div></div>

        <div class="community-label-box" onclick="window.location.href = 'mailto:info@roaddogs.ru'">
            <div class="icon-site email"></div><div class="label">E-mail</div></div>

        <div class="community-label-box" onclick="window.open('https://twitter.com/TeletowerStudio', '_blank');">
            <div class="icon-site twitter"></div><div class="label">Twitter</div></div>


{#        <div class="community-label-box" onclick="window.open('', '_blank');">#}
{#            <div class="icon-site itchio"></div><div class="label">Itchio</div></div>#}

{#        <div class="community-label-box" onclick="window.open('', '_blank');">#}
{#            <div class="icon-site reddit"></div><div class="label">reddit</div></div>#}

    </div>
</div>


