<div id="RDSiteWRatings"  class="page-wrapper switch-page">
    <div class="window-header buttons-and-headers">Nuke Commander v{{ version }}</div>
    <div class="window-ratings-main">
        <div class="window-ratings-header">
            <div class="window-ratings-header-path middle" data-rating="Traders" data-rating_note="Рейтинг торговцев">
                <div class="window-ratings-header-path-content buttons-and-headers">Торговцы</div>
            </div>
            <div class="window-ratings-header-path middle" data-rating="Looters" data-rating_note="Рейтинг грабителей">
                <div class="window-ratings-header-path-content buttons-and-headers">Грабители</div>
            </div>
            <div class="window-ratings-header-path small" data-rating="Heroes" data-rating_note="Рейтинг героев">
                <div class="window-ratings-header-path-content buttons-and-headers">Герои</div>
            </div>
            <div class="window-ratings-header-path" data-rating="Villain" data-rating_note="Рейтинг злодеев">
                <div class="window-ratings-header-path-content buttons-and-headers">Злодеи</div>
            </div>
            <div class="window-ratings-header-path" data-rating="Leaders" data-rating_note="Рейтинг лидеров">
                <div class="window-ratings-header-path-content buttons-and-headers">Лидеры</div>
            </div>
            <div class="window-ratings-header-path small" data-rating="Warriors" data-rating_note="Рейтинг войнов">
                <div class="window-ratings-header-path-content buttons-and-headers">Войны</div>
            </div>
            <div class="window-ratings-header-path long" data-rating="Adventurers" data-rating_note="Рейтинг авантюристов">
                <div class="window-ratings-header-path-content buttons-and-headers">Авантюристы</div>
            </div>
        </div>

        <div class="window-ratings-left-path">

            <div class="window-ratings-line first-line">
                <div class="window-ratings-line-path rate-number">#</div>
                <div class="window-ratings-line-path nickname">Имя</div>
                <div class="window-ratings-line-path numbers">Очки</div>
            </div>

            <div id="RDSiteRating_Traders" class="window-ratings-board"></div>

            <div id="RDSiteRating_Looters" class="window-ratings-board"></div>

            <div id="RDSiteRating_Heroes" class="window-ratings-board"></div>

            <div id="RDSiteRating_Villain" class="window-ratings-board"></div>

            <div id="RDSiteRating_Leaders" class="window-ratings-board"></div>

            <div id="RDSiteRating_Warriors" class="window-ratings-board"></div>

            <div id="RDSiteRating_Adventurers" class="window-ratings-board"></div>
        </div>


        <div class="window-ratings-right-path">
            <div class="window-ratings-right-path-top">
                <div id="RDSiteRatingNotesName" class="window-ratings-right-path-top-header">Описание рейтинга</div>
                <div id="RDSiteRatingNotes_Traders" class="window-ratings-right-path-top-content">
                    Сумма нукойнов, заработанных с помощью навыка торговли, а так же количество купленного экспортного товара и проданного импортного.
                </div>
                <div id="RDSiteRatingNotes_Looters" class="window-ratings-right-path-top-content">
                    Соотношение стоимости лута, выбитого из других персонажей и потерянного данным персонажем.
                </div>
                <div id="RDSiteRatingNotes_Heroes" class="window-ratings-right-path-top-content">
                    Соотношение наивысшей кармы за всю историю персонажа и актуальной на данный момент.
                </div>
                <div id="RDSiteRatingNotes_Villain" class="window-ratings-right-path-top-content">
                    Соотношение наинизшей кармы за всю историю персонажа и актуальной на данный момент.
                </div>
                <div id="RDSiteRatingNotes_Leaders" class="window-ratings-right-path-top-content">
                    Количество опыта и лута, выбитого участниками пати, управляемых данным персонажем.
                </div>
                <div id="RDSiteRatingNotes_Warriors" class="window-ratings-right-path-top-content">
                    Количество боевого опыта и уничтоженного транспорта под управлением персонажей, близких к уровню данного персонажа.
                </div>
                <div id="RDSiteRatingNotes_Adventurers" class="window-ratings-right-path-top-content">
                    Соотношение выполненных и проваленных заданий, их уровня, а так же разнообразия квестодателей.
                </div>
            </div>
            <div class="window-ratings-right-path-bottom">
                <div class="window-ratings-right-path-header-block-header-block">
                    <div class="window-ratings-right-path-header-block-back">
                        <div id="RDSiteRatingUserName" class="window-ratings-right-path-header-block-header buttons-and-headers">Новость</div>
                    </div>
                </div>
                <div class="window-ratings-right-path-content-block">
                    <div id="RDSiteRatingUserInfo" class="window-pi-user-info-table"></div>
                    <div class="delimiter"></div>
                    <div id="RDSiteRatingUserCar" class="window-pi-user-car"></div>
                </div>
            </div>
        </div>


    </div>
</div>


<script>
    $(document).ready(function () {
        $('.window-ratings-header-path').click(function() {
            // Проверить если вкладка уже активна, то ничего не делать
            if ($(this).hasClass('active')) return;
            var rating_name = $(this).data('rating');

            $('.window-ratings-header-path').removeClass('active');
            $(this).addClass('active');

            $('.window-ratings-board').removeClass('active');
            $('#RDSiteRating_' + rating_name).addClass('active');

            $('.window-ratings-right-path-top-content').css({display: 'none'});
            $('#RDSiteRatingNotes_' + rating_name).css({display: 'block'});

            // Замена надписи в заголовке описания рейтингов
            $('#RDSiteRatingNotesName').text($(this).data('rating_note'));

            // Принудительно выделять первого пользователя, если другой не выделен
            var current_elem_in_rating = $('#RDSiteRating_' + rating_name).find('.window-ratings-line.active');
            if(current_elem_in_rating.length <= 0) {
                $('#RDSiteRating_' + rating_name).find('.window-ratings-line').first().click();
            } else {
                clickRatingsLine(current_elem_in_rating.first());
            }
        });

//        $('.window-ratings-header-path').first().click();
    });

    function clickRatingsLine(self) {
        $(self).parent().find('.window-ratings-line').removeClass('active');
        $(self).addClass('active');

        var user_id = $(self).data('user_id');
        getRatingsUserInfo(user_id);
    }

    function getRatingsUserInfo(user_id) {

        function updateRatingUserInfo(user_info) {
            $('#RDSiteRatingUserName').text(user_info.user_name);
            var procent_length = 20 + 2 * user_info.user_name.length;
            procent_length = procent_length > 80 ? 80 : procent_length;
            $('#RDSiteRatingUserName').parent().width(procent_length + '%');
            $("#RDSiteRatingUserInfo").empty();
            $("#RDSiteRatingUserCar").empty();
            $('#RDSiteRatingUserInfo').append(user_info.user_info_html);
            $('#RDSiteRatingUserCar').append(user_info.user_car_html);
        }

        if (rating_users_info_list.hasOwnProperty(user_id) &&
                (timeManager.getTime() - rating_users_info_list[user_id].time < 300000)) {
            updateRatingUserInfo(rating_users_info_list[user_id].user_info);
            return;
        }

        $.ajax({
            url: location.protocol + '//' + location.host + '/site_api/get_user_info_by_id',
            method: 'POST',
            data: {user_id: user_id},
            success: function (data) {
                updateRatingUserInfo(data);
                // Записать в кеш
                rating_users_info_list[user_id] = {
                    time: timeManager.getTime(),
                    user_info: data
                }

            },
            error: function () {
                console.log('Error!!!!!')
            }
        });
    }


</script>