<div id="RDSiteQuickGame" class="page-wrapper switch-page">
    <h2>Быстрая игра</h2>
    <div class="window-header buttons-and-headers">Nuke Commander v{{ version }}</div>
    <div class="window-qg-content">
        <div class="window-qg-content-block">
            <div class="window-qg-content-header-block">
                <div class=" window-qg-content-back">
                    <div class="window-qg-content-header buttons-and-headers">{{ _('sqg_header') }}</div>
                </div>
            </div>
            <div class="window-qg-content-nickname-block">
                <div class="window-qg-content-nickname-label">{{ _('sqg_nickname') }}></div>
                <input class="window-qg-content-nickname-input" type="text" id="quick_game_nickname" autocomplete="off"
                       {% if current_user %}
                           {% set quick_game_user = current_user if current_user.quick else None %}
                           {% if quick_game_user %}
                                value="{{ '_'.join(quick_game_user.name.split('_')[:-1]) }}"
                           {%end%}
                       {%end%}
                        >
            </div>
            <div class="window-qg-content-car-block">
                {% set car_index = 0 %}
                {% for car_html in quick_game_cars %}
                <div id="QuickGameCar{{ car_index }}" class="window-qg-content-car-wrap">
                    {% raw car_html %}
                </div>
                {% set car_index = car_index + 1 %}
                {% end %}
                <div class="slide-arrow left" onclick="SlideLeftQuickCars()"></div>
                <div class="slide-arrow right" onclick="SlideRightQuickCars()"></div>
            </div>
            <div class="window-qg-content-play-btn window-qg-btn buttons-and-headers box-shadow box-shadow-non-active disabled" onclick="StartQuickGame()">{{ _('sqg_game') }}</div>
        </div>
        <div class="window-qg-content-block not-first">

            <div class="window-qg-content-header-block">
                <div class=" window-qg-content-back">
                    <div class="window-qg-content-header buttons-and-headers">{{ _('sqg_records') }}</div>
                </div>
            </div>
            <div class="window-qg-content-rating-line-block header">
                <div class="window-qg-content-rating-column col-number buttons-and-headers">#</div>
                <div class="window-qg-content-rating-column col-points buttons-and-headers">{{ _('sqg_points') }}</div>
                <div class="window-qg-content-rating-column col-nick buttons-and-headers">{{ _('sqg_gamer_name') }}</div>
            </div>

            <div id="RDSiteQuickGameRatingsTable"></div>
        </div>
    </div>
</div>

<script>
    var qg_car_index = 0;
    var length_qg_car_list = {{ len(quick_game_cars) }};
    SetQuickGameCarIndex();

    function StartQuickGame() {
        // todo: удалить после завершения тестирования
        if ($('.window-qg-content-play-btn').first().hasClass('disabled')) {
            audioManager.play('error_1');
            return
        }

        var username = document.getElementById('quick_game_nickname').value;
{#        if (username.length < 4) {#}
{#            console.warn('Короткое имя пользователя. Имя будет назначено сервером.');#}
{#            username = 'QuickUser' + username;#}
{#        }#}
        $.ajax({
            url: location.protocol + '//' + location.host + '/login',
            method: 'POST',
            data: {
                username: username,
                qg_car_index: qg_car_index,
                action: 'quick_reg',
                _xsrf: getCookie('_xsrf')
            },
            success: function() {
                audioManager.play('button_screen_press');
                window.location = '/quick/play';
            },
            error: function() {
                audioManager.play('error_1');
            }
        });
    }

    function SlideLeftQuickCars() {
        qg_car_index--;
        if (qg_car_index < 0) {qg_car_index += length_qg_car_list;}
        SetQuickGameCarIndex();
        audioManager.play('listing');
    }

    function SlideRightQuickCars() {
        qg_car_index++;
        if (qg_car_index > length_qg_car_list - 1) {qg_car_index -= length_qg_car_list;}
        SetQuickGameCarIndex();
        audioManager.play('listing');
    }

    function SetQuickGameCarIndex() {
        $('.window-qg-content-car-wrap').css('display', 'none');
        $('#QuickGameCar' + qg_car_index).css('display', 'block');
    }

    function SetQuickGameBtnEnable(enable){
        var jq_btn = $('.window-qg-content-play-btn').first();
        if (enable) {
            jq_btn.removeClass('disabled');
        }
        else {
            jq_btn.addClass('disabled');
        }
    }
</script>