<div id="RDSiteQuickGame" class="page-wrapper switch-page">
    <div class="window-header buttons-and-headers">Nuke Commander v{{ version }}</div>
    <div class="window-qg-content">
        <div class="window-qg-content-block">
            <div class="window-qg-content-header-block">
                <div class=" window-qg-content-back">
                    <div class="window-qg-content-header buttons-and-headers">Быстрый бой</div>
                </div>
            </div>
            <div class="window-qg-content-nickname-block">
                <div class="window-qg-content-nickname-label">НИКНЕЙМ></div>
                <input class="window-qg-content-nickname-input" type="text" id="quick_game_nickname" autocomplete="off"
                       {% if current_user %}
                       {% set quick_game_user = current_user if current_user.quick else None %}
                       {% if quick_game_user %}
                            value="{{ quick_game_user.name }}"
                       {%end%}
                       {%end%}
                        >
            </div>
            <div class="window-qg-content-car-block">
                {% set car_index = 0 %}
                {% for car_html in quick_game_cars %}
                <div id="QuickGameCar{{ car_index }}" class="window-qg-content-car-wrap">
                    {% raw car_html %}
                </div>
                {% set car_index = car_index + 1 %}
                {% end %}
                <div class="slide-arrow left" onclick="SlideLeftQuickCars()"></div>
                <div class="slide-arrow right" onclick="SlideRightQuickCars()"></div>
            </div>
            <div class="window-qg-content-play-btn window-qg-btn buttons-and-headers box-shadow box-shadow-non-active" onclick="StartQuickGame()">Играть!</div>
        </div>
        <div class="window-qg-content-block not-first">

            <div class="window-qg-content-header-block">
                <div class=" window-qg-content-back">
                    <div class="window-qg-content-header buttons-and-headers">Рекорды</div>
                </div>
            </div>
            <div class="window-qg-content-rating-line-block header">
                <div class="window-qg-content-rating-column col-number buttons-and-headers">#</div>
                <div class="window-qg-content-rating-column col-points buttons-and-headers">Очки</div>
                <div class="window-qg-content-rating-column col-time buttons-and-headers">Время</div>
                <div class="window-qg-content-rating-column col-nick buttons-and-headers">Имя</div>
            </div>

            <div id="RDSiteQuickGameRatingsTable"></div>
        </div>
    </div>
</div>

<script>
    var qg_car_index = 0;
    var length_qg_car_list = {{ len(quick_game_cars) }};
    SetQuickGameCarIndex();

    function StartQuickGame() {
        var username = document.getElementById('quick_game_nickname').value;
        if (username.length < 4) {console.warn('Короткое имя пользователя'); return;}
        $.ajax({
            url: location.protocol + '//' + location.host + '/login',
            method: 'POST',
            data: {
                username: username,
                qg_car_index: qg_car_index,
                action: 'quick_reg'
            },
            success: function() {
                audioManager.play('button_screen_press');
                window.location = '/play';
            }
        });
    }

    function SlideLeftQuickCars() {
        qg_car_index--;
        if (qg_car_index < 0) {qg_car_index += length_qg_car_list;}
        SetQuickGameCarIndex();
    }

    function SlideRightQuickCars() {
        qg_car_index++;
        if (qg_car_index > length_qg_car_list - 1) {qg_car_index -= length_qg_car_list;}
        SetQuickGameCarIndex();
    }

    function SetQuickGameCarIndex() {
        $('.window-qg-content-car-wrap').css('display', 'none');
        $('#QuickGameCar' + qg_car_index).css('display', 'block');
    }
</script>