<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <style>
        @font-face {
            font-family: Nouveau_IBM;
            src: url( {{ static_url('fonts/Nouveau_IBM.ttf') }} );
        }

        @font-face {
            font-family: FreePixel;
            src: url( {{ static_url('fonts/FreePixel.ttf') }} );
        }
    </style>

    <link rel="stylesheet" href="{{ static_url('css/site_main.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/car_represent.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/site_window_reg.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/site_window_reg_1.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/site_window_reg_2.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/site_window_personal_info.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/site_window_quick_game.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/site_window_news.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/site_window_ratings.css') }}"/>

    <script src="{{ static_url('js/third_party/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/third_party/jquery-cssHooks-master/color.js') }}"></script>
    <script src="{{ static_url('js/third_party/jquery-cssHooks-master/textshadow.js') }}"></script>
    <script src="{{ static_url('js/main.js') }}"></script>
    <script src="{{ static_url('js/audio_object.js') }}"></script>
    <script src="{{ static_url('js/audio_manager.js') }}"></script>
    <script src="{{ static_url('js/audio_keyboard_emulate.js') }}"></script>
    <script src="{{ static_url('js/effects/text_console.js') }}"></script>
    <script src="{{ static_url('js/time_manager.js') }}"></script>
    <script src="{{ static_url('js/canvas/canvas_manager.js') }}"></script>
    <script src="{{ static_url('js/canvas/canvas_noise.js') }}"></script>
    <script src="{{ static_url('js/canvas/canvas_line.js') }}"></script>
    <script src="{{ static_url('js/canvas/canvas_rippling.js') }}"></script>
    <script src="{{ static_url('js/canvas/canvas_blackout.js') }}"></script>
    <script src="{{ static_url('js/canvas/canvas_png_animation.js') }}"></script>
    <script src="{{ static_url('js/effects/indicator_blink.js') }}"></script>
    <script src="{{ static_url('js/effects/text_blur_blink.js') }}"></script>

</head>
<body>
    <div class="site-main-block">
        <div class="site-main-all-block">
            <!--Сюда вверстать весь сайт!-->
            <!-- Контент - окна -->
            <div class="content-block">
                <div class="content black">
                    <!--Окно регистрации-->
                    {% include 'site_window_reg.html' %}
                    {% include 'site_window_reg_1.html' %}
                    {% include 'site_window_reg_2.html' %}
                    {% include 'site_window_reg_3.html' %}
                    <!--Личный кабинет-->
                    {% include 'site_personal_info.html' %}
                    <!--Окно быстрой игры-->
                    {% include 'site_quick_game.html' %}
                    <!--Окно новостей-->
                    {% include 'site_news.html' %}
                    <!--Окно рейтинги-->
                    {% include 'site_ratings.html' %}
                    <!--Окно Об Игре-->
                    {% include 'site_about_game.html' %}
                    <canvas id="content-canvas"></canvas>
                </div>
            </div>
            <!-- Микроволновка и кнопки на ней-->
            <div class="microwawe">
                <!--Область кнопок на микроволновке-->
                <div class="btn-block">
                    <a id="RDbtn_start" class="btn-page btn btn-1" href="/#start" data-window_id="RDSiteWReg"></a>
                    <a id="RDbtn_quick" class="btn-page btn btn-2" href="/#quick" data-window_id="RDSiteQuickGame"></a>
                    <a id="RDbtn_about" class="btn-page btn btn-3" href="/#about" data-window_id="RDSiteWReg3"></a>
                    <a id="RDbtn_news" class="btn-page btn btn-4" href="/#news" data-window_id="RDSiteNews"></a>
                    <a id="RDbtn_ratings" class="btn-page btn btn-5" href="/#ratings" data-window_id="RDSiteWRatings"></a>
                    <a class="btn btn-6" href="/forum" target="_blank"></a>
                    <div class="btn-fake-radio"></div>
                    <div class="light-indicator"></div>
                </div>
                <!--Машинка-фон при старте сайте-->
                <div class="content-start-back content-start"></div>
            </div>
            <!--Консоль на главной странице -->
            <div id="RDSiteStartPage" class="content-block content-start switch-page">
                <div class="content">
                    <div class="content-start-console-wrap">
                        <div id="RDSiteStartPageConsole" class="console-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    var is_authorize = {{ is_authorize }};
    var version = '{{ version }}';
    $(document).ready(function () {
        var content_start_back_visible = true;

        // Чтобы кнопки залипали!
        $('.btn-page').click(function(){
            $('.btn').removeClass('active');
            $(this).addClass('active');

            // скрыть сетку, машинку и тд
            if (content_start_back_visible) {
                content_start_back_visible = false;
                $('.content-start').animate({opacity: 0}, function () {
                    $('.content-start').first().css({display: 'none'});
                });
            }

            // Скрыть все окна
            $('.switch-page').css({display: 'none'});

            // Показать своё окно
            var data = $(this).data('window_id');
            if ((data == 'RDSiteWReg') && is_authorize)
                $('#RDSitePersonalInfo').css({display: 'block'});
            else
                $('#' + data).css({display: 'block'});

            // Отключить мерцание и линию на "Об игре"
            if (data == 'RDSiteGameInfo') {
                canvasDisplayLine.pause();
                canvasDisplayRippling.pause();
            }
            else {
                canvasDisplayLine.play();
                canvasDisplayRippling.play();
            }

            if (data == 'RDSiteWReg3') {
                // Включить рисование анимации платы завершения регистрации на канвасе
                var start_animation_func = function () {
                    if (eCanvasChipAnimation) eCanvasChipAnimation.start();
                    else setTimeout(start_animation_func, 300)
                };
                start_animation_func();
            }
            else {
                if (eCanvasChipAnimation) eCanvasChipAnimation.finish();
            }

            // Работа с консолями
            textConsoleManager.start(data);

            // Мерцание шума
            if (canvasNoise) canvasNoise.flashNoise();

            // Проигрывание звуков
            audioManager.play('click_' + Math.floor(Math.random() * 3.99));
            // audioManager.play('dev_gl_' + Math.floor(Math.random() * 1.99), 0.2 * Math.random(), 0.4 * Math.random());

            // Изменение хеша в адресной строке (хеш возьмётся из data-url_hash самой кнопки
            var url_hash = $(this).attr('id');
            if (url_hash && url_hash.length) {
                window.location.hash = url_hash.split('_')[1];
            }
        });

        main();

        if (is_authorize) GetUserInfo();

        // Активация скролов
        var scroll_interval = null;
        var d_scroll = 0;
        var scroll_block = null;
        function makeScroll() {
            var scroll_pos = scroll_block.scrollTop();
            scroll_block.scrollTop(scroll_pos + d_scroll);
        }
        $('.scroll-btn').mousedown(function(event) {
            var jq_this = $(this);
            scroll_block = $('#' + jq_this.data('block_id'));
            if (jq_this.hasClass('up')) d_scroll = -10;
            if (jq_this.hasClass('down')) d_scroll = 10;
            scroll_interval = setInterval(makeScroll, 50);
        });
        $('.scroll-btn').mouseup(function(event) {
            d_scroll = 0;
            clearInterval(scroll_interval);
        });
    });
</script>
</html>