<div id="RDSiteNews" class="page-wrapper switch-page">
    <h2>Новости</h2>
    <div class="window-header buttons-and-headers">Nuke Commander v{{ version }}</div>
    <div class="window-news-content">
        <div class="window-news-content-block first">
            <div class="window-qg-content-header-block">
                <div class=" window-qg-content-back">
                    <div class="window-qg-content-header buttons-and-headers">Новости</div>
                </div>
            </div>
            <div class="window-news-log-list-block">
                <div id="newsHeaderList" class="scroll-block">
                    {% set news_id = 0 %}
                        {% for news in news_list %}
                        <div class="window-news-log-news-header box-shadow {{ news.get('link', '') }}" data-news_id="news_content_{{ news_id }}_block"
                                data-news_link="{{ news.get('link', '') }}">
                            <div class="window-news-log-news-date">{% raw news['date'] %}</div>
                            <div class="window-news-log-news-header-content">{% raw news['header'] %}</div>
                        </div>
                        {% set news_id = news_id + 1 %}
                    {% end %}
                </div>
                <div class="scroll-btn up" data-block_id="newsHeaderList"></div>
                <div class="scroll-btn down" data-block_id="newsHeaderList"></div>
            </div>
        </div>
        <div class="window-news-content-block second">
            <div class="window-qg-content-header-block">
                <div class=" window-qg-content-back">
                    <div id="RDSiteNewsRightHeader" class="window-qg-content-header buttons-and-headers">Новости</div>
                </div>
            </div>
            {% set news_id = 0 %}
            {% for news in news_list %}
                <div id="news_content_{{ news_id }}_block" class="window-news-news-content-block" itemscope itemtype="http://schema.org/Article">
                    <div style="display: none;" itemprop="name">{% raw news['header'] %}</div>
                    <div style="display: none;" itemprop="dateModified">{% raw news['iso_date_str'] %}</div>
                    <div style="display: none;" itemprop="datePublished">{% raw news['iso_date_str'] %}</div>
                    <div style="display: none;" itemprop="author">Teletower Studios</div>
                    <div id="news_content_{{ news_id }}" class="scroll-block" itemprop="description"></div>

                    <div style="display: none;" itemprop="sameAs">/#news={{ news.get('link', '') }}</div>
                    <div id="news_content_{{ news_id }}" class="scroll-block" itemprop="articleBody">{% raw news['content'] %}</div>
                    <div class="scroll-btn up" data-block_id="news_content_{{ news_id }}"></div>
                    <div class="scroll-btn down" data-block_id="news_content_{{ news_id }}"></div>
                </div>
                {% set news_id = news_id + 1 %}
            {% end %}
        </div>
    </div>
</div>

<script>

    function viewNewsSilentClickReaction(element) {
        $('.window-news-news-content-block').css('display', 'none');
        $('#' + $(element).data('news_id')).css('display', 'block');
        var header_text = $(element).find('.window-news-log-news-header-content').first().text();

        var procent_length = 10 + 2 * header_text.length;
        procent_length = procent_length > 90 ? 90 : procent_length;
        $('#RDSiteNewsRightHeader').parent().width(procent_length + '%');

        $('#RDSiteNewsRightHeader').text(header_text);
        $('.window-news-log-news-header').removeClass('active');
        $(element).addClass('active');
    }

    function setHashUrlForNews(element) {
        // прописать в хеш ссылку на новость
        var url_hash = $(element).data('news_link');
        if (url_hash && url_hash.length) {
            window.location.hash = 'news=' + url_hash;
        }
    }

    $('.window-news-log-news-header').click(function(event) {
        viewNewsSilentClickReaction(this);
        setHashUrlForNews(this);
        audioManager.play('listing');
    });
{#    $('.window-news-log-news-header').first().click();#}
</script>