<div id="RDSitePersonalInfo" class="page-wrapper switch-page">
    <h2>Персонаж</h2>
    <div class="window-header buttons-and-headers">Nuke Commander v{{ version }}</div>
    <div class="window-pi-content">
        <div class="window-pi-content-block window-pi-console-block-wrap">
            <div id="RDSitePIConsole" class="console-block"></div>
        </div>
        <div class="window-pi-content-block btn-block">
            <div class="window-qg-btn window-pi-btn window-pi-start-btn box-shadow box-shadow-non-active buttons-and-headers" onclick="StartGame()">{{ _('spi_enter') }}</div>
            <div class="window-qg-btn window-pi-btn window-pi-logout-btn box-shadow box-shadow-non-active buttons-and-headers" onclick="Logout()">{{ _('spi_out') }}</div>
        </div>
        <div class="window-pi-content-block game-info">
            <div id="RDSitePersonalInfoUserInfo" class="window-pi-user-info-table"></div>
            <div class="delimiter"></div>
            <div id="RDSitePersonalInfoUserCar" class="window-pi-user-car"></div>
        </div>
        <div class="window-pi-content-block insurance"></div>
    </div>
</div>

<script>
    function StartGame() {
{#        audioManager.play('error_1');#}
{#        consoleWPI.add_message('system', _('con_wreg_msg7'));#}
{#        return;#}

        // Google Analytics
        try {ga('send', 'event', 'btn_site', 'redirect', 'play');}
        catch(e){console.warn('GA not defined');}

        window.location = '/play' + (window.__electron_mode ? "?mode=electron" : "");
    }

    function Logout() {
        $.ajax({
            url: location.protocol + '//' + location.host + '/logout',
            method: 'POST',
            data: {_xsrf: getCookie('_xsrf')},
            success: function() {
                registration_status = 'not_register';
                if(window.__electron_mode)
                    EmitClickBtnStart();
                else
                    $('#RDbtn_start').click();
                $('#RDSAuthFieldNote').text('');

                audioManager.play('button_screen_press');
            }
        });
    }
</script>
