<div id="RDSiteWReg3" class="page-wrapper switch-page">
    <div id="RDSiteWReg3Content" class="site-chip-content">
        <div class="site-chip-content-path left">
            <div id="RDSiteWReg3_AvatarBlock" class="site-chip-content-avatar-block"></div>
            <div class="site-chip-content-nickname-block">
                <div id="RDSiteWReg3_Nickname" class="site-chip-content-nickname">text-text text</div>
            </div>
        </div>
        <div class="site-chip-content-path right">
            <div id="RDSiteWReg3_OrdinalNumber" class="site-chip-content-line-text user-ordinal-number">0038552911</div>
            <div class="site-chip-content-line">
                <div class="site-chip-content-line-text left bold">{{ _("swr3_class") }}</div>
                <div id="RDSiteWReg3_RoleClass" class="site-chip-content-line-text right">Выживший</div>
            </div>
            <div class="site-chip-content-line">
                <div class="site-chip-content-line-text left bold">{{ _("swr3_date") }}</div>
                <div id="RDSiteWReg3_Created" class="site-chip-content-line-text right">29.04.2116</div>
            </div>
            <div class="site-chip-content-line">
                <div class="site-chip-content-line-text left bold">{{ _("swr3_balance") }}</div>
                <div id="RDSiteWReg3_UserBalance" class="site-chip-content-line-text right">1999</div>
            </div>

            <div class="site-chip-content-line">
                <div class="site-chip-content-line-text left bold">{{ _("swr3_skills") }}</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">{{ _("swr3_driving") }}</div>
                <div id="reg3_driving" class="site-chip-content-line-text right">5</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">{{ _("swr3_shooting") }}</div>
                <div id="reg3_shooting" class="site-chip-content-line-text right">0</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">{{ _("swr3_masking") }}</div>
                <div id="reg3_masking" class="site-chip-content-line-text right">9</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">{{ _("swr3_engineering") }}</div>
                <div id="reg3_engineering" class="site-chip-content-line-text right">5</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">{{ _("swr3_trading") }}</div>
                <div id="reg3_trading" class="site-chip-content-line-text right">1</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">{{ _("swr3_leading") }}</div>
                <div id="reg3_leading" class="site-chip-content-line-text right">3</div>
            </div>

            <div class="site-chip-content-line">
                <div class="site-chip-content-line-text left bold">{{ _("swr3_perks") }}</div>
            </div>
            <div id="RDSiteWReg3_PerkList"></div>
        </div>
    </div>

{#    <div class="reg3-btn buttons-and-headers reg3-school reg3-top reg3-left" onclick=""></div>#}
{#    <div class="reg3-btn buttons-and-headers reg3-novice reg3-top reg3-right" onclick=""></div>#}
    <div class="reg3-btn buttons-and-headers reg3-back reg3-bottom reg3-left" onclick="Reg3BackBtnClick()"></div>
    <div class="reg3-btn buttons-and-headers reg3-finish reg3-bottom reg3-right" onclick="Reg3NextBtnClick()"></div>
</div>

<script>
    // Кнопки Вперед/Назад

    function Reg3NextBtnClick() {
        $.ajax({
            url: location.protocol + '//' + location.host + '/login',
            method: 'POST',
            data: {
                action: 'next',
                _xsrf: getCookie('_xsrf')
            },
            success: function(data) {
                // Google Analytics
                try {ga('send', 'event', 'registration', 'view', 'finish');}
                catch(e){console.warn('GA not defined');}

                window.location = '/play';
                //if (data.status == 'success') {
                //    GetUserInfo();
                //    audioManager.play('button_screen_press');
                //}
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.warn('Reg3NextBtnClick ajax error');
                audioManager.play('error_1');
            }
        });
    }

    function Reg3BackBtnClick() {
        $.ajax({
            url: location.protocol + '//' + location.host + '/login',
            method: 'POST',
            data: { action: 'back', _xsrf: getCookie('_xsrf') },
            success: function(data) { GetUserInfo(); audioManager.play('button_screen_press');},
            error: function (jqXHR, textStatus, errorThrown) {
                console.warn('Reg3BackBtnClick ajax error');
                audioManager.play('error_1');
            }
        });
    }
</script>