<div id="RDSiteWReg2" class="page-wrapper switch-page">
    <div class="window-header interlacing buttons-and-headers">Nuke Commander v{{ version }}</div>
    <div class="window-reg2-main">
        <div class="window-reg2-path">
            <div class="window-qg-content-header-block">
                <div class=" window-qg-content-back">
                    <div class="window-qg-content-header buttons-and-headers">Навыки</div>
                </div>
            </div>
            <div class="reg2-skill-table">
                <div class="reg2-table-line odd">
                    <div class="reg2-skill-table-label">Вождение:</div>
                    <div class="reg2-skill-table-counter-block">
                        <div class="reg2-skill-table-counter-btn dec"></div>
                        <div class="reg2-skill-table-counter">0</div>
                        <div class="reg2-skill-table-counter-btn inc"></div>
                    </div>
                </div>
                <div class="reg2-table-line">
                    <div class="reg2-skill-table-label">Стрельба:</div>
                    <div class="reg2-skill-table-counter-block">
                        <div class="reg2-skill-table-counter-btn dec"></div>
                        <div class="reg2-skill-table-counter">0</div>
                        <div class="reg2-skill-table-counter-btn inc"></div>
                    </div>
                </div>
                <div class="reg2-table-line odd">
                    <div class="reg2-skill-table-label">Скрытность:</div>
                    <div class="reg2-skill-table-counter-block">
                        <div class="reg2-skill-table-counter-btn dec"></div>
                        <div class="reg2-skill-table-counter">0</div>
                        <div class="reg2-skill-table-counter-btn inc"></div>
                    </div>
                </div>
                <div class="reg2-table-line">
                    <div class="reg2-skill-table-label">Механик:</div>
                    <div class="reg2-skill-table-counter-block">
                        <div class="reg2-skill-table-counter-btn dec"></div>
                        <div class="reg2-skill-table-counter">0</div>
                        <div class="reg2-skill-table-counter-btn inc"></div>
                    </div>
                </div>
                <div class="reg2-table-line odd">
                    <div class="reg2-skill-table-label">Торговля:</div>
                    <div class="reg2-skill-table-counter-block">
                        <div class="reg2-skill-table-counter-btn dec"></div>
                        <div class="reg2-skill-table-counter">0</div>
                        <div class="reg2-skill-table-counter-btn inc"></div>
                    </div>
                </div>
                <div class="reg2-table-line">
                    <div class="reg2-skill-table-label">Лидерство:</div>
                    <div class="reg2-skill-table-counter-block">
                        <div class="reg2-skill-table-counter-btn dec"></div>
                        <div class="reg2-skill-table-counter">0</div>
                        <div class="reg2-skill-table-counter-btn inc"></div>
                    </div>
                </div>
            </div>
            <div class="reg2-path-footer">
                <div class="reg2-skill-table-label">Свободные очки:</div>
                <div id="reg2_free_skils" class="reg2-skill-table-counter-block">0</div>
            </div>
        </div>
        <div class="window-reg2-path right">
            <div class="window-qg-content-header-block">
                <div class="window-qg-content-back">
                    <div class="window-qg-content-header buttons-and-headers">Перки</div>
                </div>
            </div>
            <div class="reg2-perk-table">
                <div class="reg2-table-line odd">
                    <div class="reg2-perk-table-label">Название перка 1</div>
                    <div class="reg2-perk-table-checkbox-block">[ ]</div>
                </div>
                <div class="reg2-table-line">
                    <div class="reg2-perk-table-label">Название перка 2</div>
                    <div class="reg2-perk-table-checkbox-block">[●]</div>
                </div>
                <div class="reg2-table-line odd">
                    <div class="reg2-perk-table-label">Название перка 3</div>
                    <div class="reg2-perk-table-checkbox-block">[ ]</div>
                </div>
                <div class="reg2-table-line">
                    <div class="reg2-perk-table-label">Название перка 4</div>
                    <div class="reg2-perk-table-checkbox-block">[ ]</div>
                </div>
            </div>
            <div class="reg2-path-footer">
                <div class="reg2-perk-table-label">Свободные очки:</div>
                <div id="reg2_free_perks" class="reg2-perk-table-checkbox-block">0</div>
            </div>
        </div>
        <div class="window-reg2-console-wrap">
            <div id="RDSiteWReg2Console" class="console-block"></div>
        </div>

        <div class="reg2-btn buttons-and-headers reg2-btn-back" onclick="Reg2BackBtnClick()">Назад</div>
        <div class="reg2-btn buttons-and-headers reg2-btn-next" onclick="Reg2NextBtnClick()">Далее</div>
    </div>
</div>

<script>              
     // Кнопки Вперед/Назад

    function Reg2NextBtnClick() {
        $.ajax({
            url: location.protocol + '//' + location.host + '/login',
            method: 'POST',
            data: {
                action: 'next'
            },
            success: function(data) {
                consoleWReg2.add_message('user', ' Активация процедуры регистрации.');
                if (data.status == 'success') {
                    consoleWReg2.add_message('system', 'Успешно.');
                    GetUserInfo();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                consoleWReg2.add_message('user', ' Активация процедуры регистрации.');
                consoleWReg2.add_message('system', 'Система не отвечает. Повторите попытку позже.');
                audioManager.play('error_' + Math.floor(Math.random() * 1.99));
            }
        });
    }

    function Reg2BackBtnClick() {
        $.ajax({
            url: location.protocol + '//' + location.host + '/login',
            method: 'POST',
            data: { action: 'back' },
            success: function(data) { GetUserInfo(); },
            error: function (jqXHR, textStatus, errorThrown) {
                consoleWReg2.add_message('user', ' Активация процедуры регистрации.');
                consoleWReg2.add_message('system', 'Система не отвечает. Повторите попытку позже.');
                audioManager.play('error_' + Math.floor(Math.random() * 1.99));
            }
        });
    }
</script>