<div id="RDSiteWRatings"  class="page-wrapper switch-page">
    <h2>Рейтинги</h2>
    <div class="window-header buttons-and-headers">Nuke Commander v{{ version }}</div>
    <div class="window-ratings-main">
        <div class="window-ratings-header">
            <div class="window-ratings-header-path middle ratings-traders" data-rating="Traders" data-rating_note="{{ _('sr_traders_small_descr') }}">
                <div class="window-ratings-header-path-content buttons-and-headers">{{ _('sr_traders') }}</div>
            </div>
            <div class="window-ratings-header-path middle ratings-looters" data-rating="Looters" data-rating_note="{{ _('sr_looters_small_descr') }}">
                <div class="window-ratings-header-path-content buttons-and-headers">{{ _('sr_looters') }}</div>
            </div>
            <div class="window-ratings-header-path small ratings-heroes" data-rating="Heroes" data-rating_note="{{ _('sr_heroes_small_descr') }}">
                <div class="window-ratings-header-path-content buttons-and-headers">{{ _('sr_heroes') }}</div>
            </div>
            <div class="window-ratings-header-path ratings-villain" data-rating="Villain" data-rating_note="{{ _('sr_villain_small_descr') }}">
                <div class="window-ratings-header-path-content buttons-and-headers">{{ _('sr_villain') }}</div>
            </div>
            <div class="window-ratings-header-path ratings-leaders" data-rating="Leaders" data-rating_note="{{ _('sr_leaders_small_descr') }}">
                <div class="window-ratings-header-path-content buttons-and-headers">{{ _('sr_leaders') }}</div>
            </div>
            <div class="window-ratings-header-path small ratings-warriors" data-rating="Warriors" data-rating_note="{{ _('sr_warriors_small_descr') }}">
                <div class="window-ratings-header-path-content buttons-and-headers">{{ _('sr_warriors') }}</div>
            </div>
            <div class="window-ratings-header-path long ratings-adventurers" data-rating="Adventurers" data-rating_note="{{ _('sr_adventures_small_descr') }}">
                <div class="window-ratings-header-path-content buttons-and-headers">{{ _('sr_adventures') }}</div>
            </div>
        </div>

        <div class="window-ratings-left-path">

            <div class="window-ratings-line first-line">
                <div class="window-ratings-line-path rate-number">#</div>
                <div class="window-ratings-line-path nickname">{{ _('sr_name') }}</div>
                <div class="window-ratings-line-path numbers">{{ _('sr_score') }}</div>
            </div>

            <div id="RDSiteRating_Traders" class="window-ratings-board">
                <div id="RDSiteRating_traders_block" class="scroll-block"></div>
                <div class="scroll-btn up" data-block_id="RDSiteRating_traders_block"></div>
                <div class="scroll-btn down" data-block_id="RDSiteRating_traders_block"></div>
            </div>

            <div id="RDSiteRating_Looters" class="window-ratings-board">
                <div id="RDSiteRating_looters_block" class="scroll-block"></div>
                <div class="scroll-btn up" data-block_id="RDSiteRating_looters_block"></div>
                <div class="scroll-btn down" data-block_id="RDSiteRating_looters_block"></div>
            </div>

            <div id="RDSiteRating_Heroes" class="window-ratings-board">
                <div id="RDSiteRating_heroes_block" class="scroll-block"></div>
                <div class="scroll-btn up" data-block_id="RDSiteRating_heroes_block"></div>
                <div class="scroll-btn down" data-block_id="RDSiteRating_heroes_block"></div>
            </div>

            <div id="RDSiteRating_Villain" class="window-ratings-board">
                <div id="RDSiteRating_villain_block" class="scroll-block"></div>
                <div class="scroll-btn up" data-block_id="RDSiteRating_villain_block"></div>
                <div class="scroll-btn down" data-block_id="RDSiteRating_villain_block"></div>
            </div>

            <div id="RDSiteRating_Leaders" class="window-ratings-board">
                <div id="RDSiteRating_leaders_block" class="scroll-block"></div>
                <div class="scroll-btn up" data-block_id="RDSiteRating_leaders_block"></div>
                <div class="scroll-btn down" data-block_id="RDSiteRating_leaders_block"></div>
            </div>

            <div id="RDSiteRating_Warriors" class="window-ratings-board">
                <div id="RDSiteRating_warriors_block" class="scroll-block"></div>
                <div class="scroll-btn up" data-block_id="RDSiteRating_warriors_block"></div>
                <div class="scroll-btn down" data-block_id="RDSiteRating_warriors_block"></div>
            </div>

            <div id="RDSiteRating_Adventurers" class="window-ratings-board">
                <div id="RDSiteRating_adventurers_block" class="scroll-block"></div>
                <div class="scroll-btn up" data-block_id="RDSiteRating_adventurers_block"></div>
                <div class="scroll-btn down" data-block_id="RDSiteRating_adventurers_block"></div>
            </div>
        </div>

        <div class="window-ratings-right-path">
            <div class="window-ratings-right-path-top">
                <div id="RDSiteRatingNotesName" class="window-ratings-right-path-top-header">{{ _('sr_rating_descr') }}</div>
                <div id="RDSiteRatingNotes_Traders" class="window-ratings-right-path-top-content">
                    {{ _('sr_traders_descr') }}
                </div>
                <div id="RDSiteRatingNotes_Looters" class="window-ratings-right-path-top-content">
                    {{ _('sr_looters_descr') }}
                </div>
                <div id="RDSiteRatingNotes_Heroes" class="window-ratings-right-path-top-content">
                    {{ _('sr_heroes_descr') }}
                </div>
                <div id="RDSiteRatingNotes_Villain" class="window-ratings-right-path-top-content">
                    {{ _('sr_villain_descr') }}
                </div>
                <div id="RDSiteRatingNotes_Leaders" class="window-ratings-right-path-top-content">
                    {{ _('sr_leaders_descr') }}
                </div>
                <div id="RDSiteRatingNotes_Warriors" class="window-ratings-right-path-top-content">
                    {{ _('sr_warriors_descr') }}
                </div>
                <div id="RDSiteRatingNotes_Adventurers" class="window-ratings-right-path-top-content">
                    {{ _('sr_adventures_descr') }}
                </div>
            </div>
            <div class="window-ratings-right-path-bottom">
                <div class="window-ratings-right-path-header-block-header-block">
                    <div class="window-ratings-right-path-header-block-back">
                        <div id="RDSiteRatingUserName" class="window-ratings-right-path-header-block-header buttons-and-headers"></div>
                    </div>
                </div>
                <div class="window-ratings-right-path-content-block">
                    <div id="RDSiteRatingUserInfo" class="window-pi-user-info-table"></div>
                    <div class="delimiter"></div>
                    <div id="RDSiteRatingUserCar" class="window-pi-user-car"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.window-ratings-header-path').click(function() {
            // Проверить если вкладка уже активна, то ничего не делать
            if ($(this).hasClass('active')) return;
            var rating_name = $(this).data('rating');

            $('.window-ratings-header-path').removeClass('active');
            $(this).addClass('active');

            $('.window-ratings-board').removeClass('active');
            $('#RDSiteRating_' + rating_name).addClass('active');

            $('.window-ratings-right-path-top-content').css({display: 'none'});
            $('#RDSiteRatingNotes_' + rating_name).css({display: 'block'});

            // Замена надписи в заголовке описания рейтингов
            $('#RDSiteRatingNotesName').text($(this).data('rating_note'));

            // Принудительно выделять первого пользователя, если другой не выделен
            var current_elem_in_rating = $('#RDSiteRating_' + rating_name).find('.window-ratings-line.active');
            if(current_elem_in_rating.length <= 0) {
                $('#RDSiteRating_' + rating_name).find('.window-ratings-line').first().click();
            } else {
                clickRatingsLine(current_elem_in_rating.first());
            }
        });

//        $('.window-ratings-header-path').first().click();
    });

    function clickRatingsLine(self) {
        $(self).parent().find('.window-ratings-line').removeClass('active');
        $(self).addClass('active');

        var user_id = $(self).data('user_id');
        getRatingsUserInfo(user_id);
    }

    function getRatingsUserInfo(user_id) {

        function updateRatingUserInfo(user_info) {
            $('#RDSiteRatingUserName').text(user_info.user_name);
            var procent_length = 20 + 2 * user_info.user_name.length;
            procent_length = procent_length > 80 ? 80 : procent_length;
            $('#RDSiteRatingUserName').parent().width(procent_length + '%');
            $("#RDSiteRatingUserInfo").empty();
            $("#RDSiteRatingUserCar").empty();
            $('#RDSiteRatingUserInfo').append(user_info.user_info_html);
            $('#RDSiteRatingUserCar').append(user_info.user_car_html);

            audioManager.play('listing');
        }

        if (rating_users_info_list.hasOwnProperty(user_id) &&
                (timeManager.getTime() - rating_users_info_list[user_id].time < 300000)) {
            updateRatingUserInfo(rating_users_info_list[user_id].user_info);
            return;
        }

        $.ajax({
            url: location.protocol + '//' + location.host + '/site_api/get_user_info_by_id',
            method: 'POST',
            data: {user_id: user_id, _xsrf: getCookie('_xsrf')},
            success: function (data) {
                updateRatingUserInfo(data);
                // Записать в кеш
                rating_users_info_list[user_id] = {
                    time: timeManager.getTime(),
                    user_info: data,
                    _xsrf: getCookie('_xsrf')
                }

            },
            error: function () {
                console.log('Error!!!!!');
                audioManager.play('error_1');
            }
        });
    }
</script>