<div id="RDSiteWReg3" class="page-wrapper switch-page">
    <div id="RDSiteWReg3Content" class="site-chip-content">
        <div class="site-chip-content-path left">
            <div class="site-chip-content-avatar-block"></div>
            <div class="site-chip-content-nickname-block">
                <div class="site-chip-content-nickname">text-text text</div>
            </div>
        </div>
        <div class="site-chip-content-path right">
            <div class="site-chip-content-line">
                <div class="site-chip-content-line-text left bold">ID Игрока:</div>
                <div class="site-chip-content-line-text right">0038552911</div>
            </div>
            <div class="site-chip-content-line">
                <div class="site-chip-content-line-text left bold">Дата выдачи:</div>
                <div class="site-chip-content-line-text right">29.04.2116</div>
            </div>
            <div class="site-chip-content-line">
                <div class="site-chip-content-line-text left bold">Баланс:</div>
                <div class="site-chip-content-line-text right">1999</div>
            </div>

            <div class="site-chip-content-line">
                <div class="site-chip-content-line-text left bold">Навыки:</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">Вождение:</div>
                <div class="site-chip-content-line-text right">5</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">Стрельба:</div>
                <div class="site-chip-content-line-text right">0</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">Скрытность:</div>
                <div class="site-chip-content-line-text right">9</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">Механика:</div>
                <div class="site-chip-content-line-text right">5</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">Торговля:</div>
                <div class="site-chip-content-line-text right">1</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">Лидерство:</div>
                <div class="site-chip-content-line-text right">3</div>
            </div>

            <div class="site-chip-content-line">
                <div class="site-chip-content-line-text left bold">Перки:</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">Дальность</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">Ремонт</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">Стационарный ремонт</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">Дальность 2</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">Дальность 3</div>
            </div>
            <div class="site-chip-content-line shift">
                <div class="site-chip-content-line-text left">Дальность 4</div>
            </div>

        </div>
    </div>
</div>

<script>

</script>