<div id="RDSiteGameInfo" class="page-wrapper switch-page" style="border-width: 0;">
    <div style="width: 100%; height: 100%;">
        <iframe id="frameYouTubeVideo" width="100%" height="100%" src="https://www.youtube.com/embed/er416Ad3R1g?enablejsapi=1&loop=1" frameborder="0"
                allowfullscreen></iframe>

<!--<iframe width="854" height="480" src="https://www.youtube.com/embed/er416Ad3R1g" frameborder="0" allowfullscreen></iframe>-->
    </div>

</div>

<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  function onYouTubePlayerAPIReady() {
    console.log('YT Player Loaded! ');
      videoPlayer = new YT.Player('frameYouTubeVideo', {
          events: {
              'onReady': onPlayerReady,
              'onError': onPlayerError
          }
      });
  }
</script>