.modal-window-parent{

}

.modal-window-hide {
    display: none;
    height: 0%;
    width: 0%;
}

.modal-window-back-show{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.6;
    left: 0px;
    top: 0px;
    z-index: 20;
}

.modal-window-back-hide{

}

.modal-window-welcome-show {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 600px;
    margin-left: -300px;
    margin-top: -200px;
    overflow-y: auto;
    border: solid 4px darkgreen;
    z-index: 21;
    background-color: white;
}

.modal-window-options-show {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 600px;
    margin-left: -300px;
    margin-top: -200px;
    overflow-y: auto;
    border: solid 4px darkgreen;
    z-index: 21;
    background-color: white;
}


.modal-window-death-show {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 600px;
    margin-left: -300px;
    margin-top: -200px;
    overflow-y: auto;
    border: solid 4px darkgreen;
    z-index: 21;
    background-color: white;
}

