#chatAreaGlass {
    position: absolute;
    pointer-events: none;
    height: 457px;
    width: 555px;
    bottom: 0;
}

#VMGDivHardware {
    position: absolute;
    height: 457px;
    width: 28px;
    background: transparent url('/static/img/chat/chat_port.png') 50% 50% no-repeat;
}

#VMGPortHideBtn{
    pointer-events: auto;
    position: absolute;
    bottom: 397px;
    left: 2px;
}

#VMGMainDivGlass {
    position: absolute;
    height: 377px;
    width: 555px;
    bottom: 0;
    background: transparent url('/static/img/chat/chat_glass.png') 50% 50% no-repeat;
}

#VMGDivWrapChat {
    position: absolute;
    height: 310px;
    width: 465px;
    left: 5px;
    bottom: 0;
    margin: 10px;
}

#chatTownWrap {
    position: absolute;
    height: 600px;
    width: 500px;
    top: 190px;
    left: 705px;
}

#VMGMainDivChat {
    width: 100%;
    height: 100%;
}

#VMGPageControlArea {
    position: relative;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding-top: 6px;
}

#VMGDynamicAreaForBorder {
    position: relative;
    box-sizing: border-box;
    height: calc(100% - 45px);
    width: 100%;
    border: 1px #00ff55 solid;
    border-radius: 2px;
}

#VMGDynamicArea {
    position: relative;
    pointer-events: auto;
    height: calc(100% - 30px);
    width: 100%;
}

#VMGFooterArea {
    position: relative;
    pointer-events: auto;
    height: 30px;
    width: 100%;
    border-image-slice: 1 0 0 0;
    border-image-source: -webkit-linear-gradient(right, transparent, lime, transparent);
    border-image-source: -o-linear-gradient(right, transparent, lime, transparent);
    border-image-source: -moz-linear-gradient(right, transparent, lime, transparent);
    border-image-source: linear-gradient(to right, transparent, lime, transparent);
    border-width: 1px 0px 0px 0px;
}

#VMGEnterButtonDIV {
    position: absolute;
    height: 20px;
    width: 50px;
    right: 3px;
    top: 4px;
    border-radius: 2px;
    border: 1px #00ff55 solid;
    background-color: rgba(42, 253, 10, 0.20);
}

#VMGEnterButton {
    color: #2afd0a;
    font: 14pt MICRADI;
    text-align: center;
    margin-top: -4px;
}

#VMGInputArea {
    position: absolute;
    height: 25px;
    width: calc(100% - 70px);
    top: 2px;
}

#VMGMainInput {
    border: 0px solid #000000;
    height: 100%;
    width: 99%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: transparent;
    padding-left: 4px;
    color: #2afd0a;
    font: 10pt MICRADI;
}

.VMGChatOutArea {
    position: relative;
    height: 100%;
    width: 100%;
    display: none;
}

.VMGChatOutAreaActive {
    display: block;
}

.VMGtextOutArea {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

.VMGtextOutAreaActive {
    display: block;
}



.VMGMessageOutArea {
    position: absolute;
    width: 100%;
    height: 100%;
}

.VMGpageButton {
    position: relative;
    pointer-events: auto;
    float: left;
    opacity: 0.5;
    color: #2afd0a;
    border: solid lime 0px;
    border-radius: 3px;
    margin: 3px;
    padding: 3px 5px 3px 5px;
    font: 11pt MICRADI;
}

.VMGpageButtonActive {
    opacity: 1;
}

.VMGpageButtonActive:before {
    content: "< ";
}

.VMGpageButtonActive:after {
    content: " >";
}

.VMGtriangle-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid red;
    border-bottom: 5px solid transparent;
}

.VMGtriangle-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid red;
    border-bottom: 5px solid transparent;
}

.VMGPartytextOutArea {
    position: relative;
    height: calc(100% - 30px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

.VMGPartyPageControl {
    position: relative;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 2px;
    border-image-slice: 0 0 1 0;
    border-image-source: -webkit-linear-gradient(right, transparent, lime, transparent);
    border-image-source: -o-linear-gradient(right, transparent, lime, transparent);
    border-image-source: -moz-linear-gradient(right, transparent, lime, transparent);
    border-image-source: linear-gradient(to right, transparent, lime, transparent);
    border-width: 0px 0px 1px 0px;
}

.VMGPartypageButton {
    position: relative;
    opacity: 0.5;
    float: left;
    color: #2afd0a;
    border: solid lime 0px;
    border-radius: 3px;
    margin: 3px;
    padding: 3px 5px 3px 5px;
    font: 8pt MICRADI;
    pointer-events: auto;
}

.VMGPartypageButtonActive {
    opacity: 1;
}

.VMGPartypageButton:hover {
    opacity: 1;
}

.VMGStandarttextOutArea{
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

.VMG-message-message {
    padding-left: 3px;
    padding-right: 3px;
}

.VMG-message-text-time {
    color: #2afd0a;
    font: 6pt MICRADI;
    letter-spacing: 1px;
}

.VMG-message-text-user {
    color: #2afd0a;
    font: 10pt MICRADI;
    letter-spacing: 1px;
}

.VMG-message-text-my-user {
    color: #2afd0a;
    font: 11pt MICRADI;
    letter-spacing: 1px;
}

.VMG-message-text-text {
    color: #2afd0a;
    font: 8pt MICRADI;
    letter-spacing: 1px;
}

/* Компактная версия чата */

#VGMMainDivCompact {
    pointer-events: none;
    display: none;
    width: 480px;
    position: absolute;
    bottom: 0;
    margin: 10px;
    overflow-x: visible;
}

#VGMtextAreaCompact {
    height: 100%;
    width: 100%;
    max-height: 310px;
    overflow-y: auto;
    overflow-x: visible;
}

.VGM-message-compact {
    padding-left: 3px;
    padding-right: 3px;
    color: #2afd0a;
    font: 8pt MICRADI;
    letter-spacing: 1px;
    bottom: 0;
    position: relative;
}

