#divForHpAndFuelRadials {
    position: absolute;
    bottom: 0px;
    right: 138px;
    width: 150px;
    height: 150px;
    pointer-events: none;
}

#divForRadAndWindRadials {
    position: absolute;
    bottom: 0px;
    right: 268px;
    width: 150px;
    height: 150px;
    pointer-events: none;
}

#divForAltmetrRadial {
    position: absolute;
    bottom: -35px;
    right: 365px;
    width: 150px;
    height: 150px;
    pointer-events: none;
}

.w-hp-radial-parent {
    position: absolute;
    right: 0;
    pointer-events: none;
}

.w-fuel-radial-parent {
    position: absolute;
    top: 68px;
    right: 0;
    pointer-events: none;
}

.w-radiation-radial-parent {
    position: absolute;
    right: 0;
    pointer-events: none;
}

.w-wind-radial-parent {
    position: absolute;
    top: 68px;
    right: 0;
    pointer-events: none;
}

.w-alt-radial-parent {
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;
}