#radialMenuDiv{
    pointer-events: none;
}


.radial-menu-sector-default {
    fill: lime;
    stroke: green;
    stroke-width: 2px;
    opacity: 0.4;
}

.radial-menu-sector-active {
    fill: lime;
    stroke: green;
    stroke-width: 2px;
    opacity: 0.8;
}
