#map {
    border-color: lime;
    border-style: double;
    border-width: 5px 7px 5px 7px;
    background-color: black;
    overflow: hidden;
    position: absolute;
    top: 7px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#title {
    color: black;
    background-color: lime;
    position: absolute;
    left: 45%;
    top: 0px;
}

#footer {
    border-color: lime;
    border-style: double;
    border-width: 5px 7px 5px 7px;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 20%;
    color: lime;
}

#console {
    background-color: black;
    overflow: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 7px;
    right: 0px;
    width: 50%;
    height: 100%;
    opacity: 0.5;
}

#chatArea {
    border-color: lime;
    border-style: inset;
    border-width: 2px;
    background-color: black;
    overflow: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    opacity: 0.5;
}

#chatArea:hover {
    opacity: 0.8;
}

#chatTextArea {
    overflow-y: auto;
    max-height: 150px;
}

#chatInput {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 30px;
}

#chat-message-button-send {
    position: absolute;
    right: 5px;
    width: 20%;
}

#chat-message-input-text {
    color: black;
    position: absolute;
    left: 5px;
    width: 75%;
}

.easy-button-add-car {
    background-image: url(img/car_20.png);
    height: 100px;
    width: 100px;
}

.easy-footer {
    background-image: url(img/green-icon-footer.png);
    background-size: 20px;
}

.default-easy-button {
    background-color: blue;
}
