#map {
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#footer {
    border-color: white;
    border-style: inset;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 20%;
    color: white;
}

#console {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50%;
    max-height: 80%;
}

#chatArea {
    overflow: auto;
    position: absolute;
    width: 50%;
    bottom: 0px;
    right: 0px;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

#chatArea:hover {
    opacity: 0.8;
}

#chatTextArea {
    overflow-y: auto;
    max-height: 150px;
}

#chatInput {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 30px;
}

#chat-message-button-send {
    width: 20%;
    position: absolute;
    right: 0px;
}

#chat-message-input-text {
    color: black;
    width: 75%;
}

.easy-button-add-car {
    background-image: url(img/car_20.png);
    height: 100px;
    width: 100px;
}

.easy-footer {
    background-image: url(img/green-icon-footer.png);
    background-size: 20px;
}

.default-easy-button {
    background-color: blue;
}
