#viewMessengerArea {
    position: absolute;
    border-color: limegreen;
    border-style: solid;
    border-width: 2px;
    bottom: 6px; /*отступ для рамки*/
    left: 8px; /*отступ для рамки*/
    overflow: hidden;
}

.messenger-text {
    font: arial;
}

#viewMessengerHeaderArea {
    position: relative;
    overflow: auto;
    top: 0px;
    right: 0px;
    left: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: limegreen;
    background: rgb(31,112,45);
    background: -moz-linear-gradient(top,  rgba(31,112,45,1) 0%, rgba(0,63,7,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,112,45,1)), color-stop(100%,rgba(0,63,7,1)));
    background: -webkit-linear-gradient(top,  rgba(31,112,45,1) 0%,rgba(0,63,7,1) 100%);
    background: -o-linear-gradient(top,  rgba(31,112,45,1) 0%,rgba(0,63,7,1) 100%);
    background: -ms-linear-gradient(top,  rgba(31,112,45,1) 0%,rgba(0,63,7,1) 100%);
    background: linear-gradient(to bottom,  rgba(31,112,45,1) 0%,rgba(0,63,7,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f702d', endColorstr='#003f07',GradientType=0 );
}

#viewMessengerTitleArea {
    position: relative;
    color: #33f133;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.viewMessengerSlideButtonShowed {
    background: transparent url(./img/chat/button_down.png) 100% 100% no-repeat;
}

.viewMessengerSlideButtonHided {
    background: transparent url(./img/chat/button_up.png) 100% 100% no-repeat;
}

#viewMessengerSlideButton {
    margin: 3px;
    position: relative;
    height: 18px;
    width: 18px;
    overflow: auto;
    float: right;
}

#viewMessengerDynamicArea {
    position: relative;
}

#viewMessengerPageControl {
    overflow: auto;
    background-color: #000000;
    opacity: 0.6;
}

#viewMessengerPageControlLeftButton {
    background: transparent url(./img/chat/button_left.png) 100% 100% no-repeat;
    margin: 3px;
    position: relative;
    height: 18px;
    width: 18px;
    overflow: auto;
    float: left;
}

#viewMessengerPageControlCenterArea {
    float: left;
    min-height: 24px;
}

#viewMessengerPageControlCenterContent {
}

#viewMessengerPageControlRightButton {
    background: transparent url(./img/chat/button_right.png) 100% 100% no-repeat;
    margin: 3px;
    position: relative;
    height: 18px;
    width: 18px;
    overflow: auto;
    float: left;
}




#viewMessengerFooterArea {
    position: relative;
    overflow: auto;
    bottom: 0px;
}

#viewMessengerEnterButton {
    background: transparent url(./img/chat/button_enter.png) 100% 100% no-repeat;
    margin: 3px;
    position: relative;
    height: 18px;
    width: 28px;
    overflow: auto;
    float: right;
}

#viewMessengerInputArea {
    padding-right: 3px;
    padding-left: 3px;
}

#viewMessengerInput {
    border: 0px solid #000000;
    background: #000000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #00ff00;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    width: 99%;
}


.textOutArea {
    height: 0%;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: auto;
}

.textOutAreaActive {
    height: 100%;
}

.view-messenger-message{
    opacity: 1;
}

.view-messenger-text-time {
    font-style: italic;
    color: yellowgreen;
}
.view-messenger-text-user {
    color: #ff0000;
}

.view-messenger-text-my-user {
    color: #ffa517;
}

.view-messenger-text-text {
    color: limegreen;
}

.pageButton {
    opacity: 0.5;
    background-color: #000000;
    float: left;
    position: relative;
    color: #00ff00;
    border: solid #00ff00 1px;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.pageButtonActive {
    opacity: 1;
}






