.window-reg-main {
    position: relative;
    border: 2px solid #02ff45;
    width: calc(100% - 4px);
    height: calc(100% - 4px - 27px);
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 12pt;
    cursor: default;
}

.window-reg-path {
    position: relative;
    float: left;
    width: calc(50% - 6px);
    height: calc(53% - 24px - 24px);
    box-sizing: border-box;
    border: 2px solid #007700;
    margin: 24px 0 0 4px;
}
.window-reg-path.right {margin-left: 6px;}

.reg-path-up-header-block-header-block {
    position: relative;
    top: -12px;
    width: 100%;
    height: 32px;
    border-width: 0 0 2px 0;
    box-sizing: border-box;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #00ff00, transparent);
    border-image-slice: 1;
}

.reg-path-up-header-block-back {
    position: relative;
    width: 138px;
    height: 23px;
    margin: 0 auto 0 auto;
    background-color: #030f00;
}

.reg-path-up-header-block-header {
    position: relative;
    width: 134px;
    height: 23px;
    margin: 0 auto 0 auto;
    background-color: #01610a;
    text-align: center;
    line-height: 23px;
}

.reg-path-up-text-input-block {
    position: relative;
    width: 86%;
    height: 23px;
    margin: 15px auto 15px auto;
}

.reg-path-up-text-input-block .reg-path-label{
    position: relative;
    width: 90px;
    float: left;
    text-align: left;
    line-height: 24px;
    top: -2px;
}

.reg-path-up-text-input-block input[type='text'], input[type='email'], input[type='password']{
    width: calc(100% - 90px);
    border-width: 0;
    background-color: #082308;
    font-size: 12pt;
}

.window-reg-up-btn-block {
    position: absolute;
    width: 100%;
    height: 28px;
    bottom: 15px;
}

.window-reg-up-btn {
    cursor: pointer;
    border: 2px solid #209509;
    background-color: #0d3207;
    border-radius: 1px;
}

.window-reg-up-btn:hover {
    background-color: #16560c;
    color: #51ff00;
    border-color: #37ff10;
}

.window-reg-up-btn:active {
    background-color: #000000;
    color: #00ff00;
    border-color: #008000;
}

.reg-path-up-btn {
    position: relative;
    margin: auto;
    height: 100%;
    width: 180px;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.5;
}

.auth-path-up-btn {
    position: relative;
    float: left;
    width: 180px;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.5;
    margin: 0 10px;
}

.auth-path-up-btn:first-child {
    margin-left: 16px;
}

.auth-path-up-btn:first-child span:first-child:after{
    content: ' ';
}

.window-reg-console-wrap {
    position: relative;
    float: left;
    width: calc(100% - 6px);
    height: 45%;
    border: 2px solid #007700;
    box-sizing: border-box;
    margin: 3px 4px;
    overflow: hidden;
}

.window-reg-footer {
    position: relative;
    float: left;
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    margin-top: 3px;
}

.window-reg-footer .reg-btn {
    position: relative;
    float: left;
    cursor: pointer;
    width: 23%;
    height: 18px;
    background-color: #01380b;
    text-align: center;
    margin: 0 1%;
    border-radius: 2px;
    line-height: 1.25;
}

.window-reg-footer .reg-btn:hover {
    background-color: #01550b;
}

.window-reg-footer .reg-btn:active {
    background-color: #000000;
}

/* Медиа Запросы для разрешения 1366 */

@media screen and (max-width: 1366px) {

    .window-reg-main {
        font-size: 10pt;
    }

    .window-reg-path {
        margin-top: 14px;
        height: calc(55% - 24px - 14px);
    }

    .reg-path-up-text-input-block {
        width: 90%;
        height: 20px;
        margin: 0 auto 6px auto;
    }

    .reg-path-up-text-input-block .reg-path-label {
        width: 90px;
        line-height: 20px;
        top: 0;
    }

    .reg-path-up-text-input-block input[type='text'], input[type='email'], input[type='password'] {
        font-size: 12pt;
        width: calc(100% - 90px);
    }

    .window-reg-up-btn-block {
        height: 35px;
        bottom: 9px;
    }

    .window-reg-console-wrap { height: 43%; }

    .reg-path-up-btn {
        height: 100%;
        width: 180px;
        line-height: 32px;
        border-radius: 2px;
    }

    .auth-path-up-btn {
        width: 130px;
        height: 35px;
        line-height: 0.9;
        margin: 0 5px;
        padding: 4px;
    }

    .auth-path-up-btn:first-child {
        margin-left: 24px;
        white-space: pre;
    }

    .auth-path-up-btn:first-child span:first-child:after{
        content: '\A';
    }

    .window-reg-footer .reg-btn {
        line-height: 1.4;
    }
}