html, body { height: 100%; }
html { height: 100%; }
body {
    min-height: 100%;
    margin: 0px;
    background: url(/static_site/img/center_bg.jpg) no-repeat center center;
    background-size:cover;
}

.site-main-block {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.site-main-all-block {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: -200px;
}

.site-main-screen-block {
    position: absolute;
    width: 1388px;
    height: 932px;
    top: 85px;
    left: 670px;
    background-image: url(/static_site/img/screen_frame.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.site-main-screen-bg-block {
    position: absolute;
    width: 790px;
    height: 631px;
    top: 125px;
    left: 42px;
    background-image: url(/static_site/img/screen_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.site-main-screen-car-block {
    position: absolute;
    width: 1761px;
    height: 800px;
    top: 281px;
    left: -320px;
    background-image: url(/static_site/img/car_maintitle_art.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.site-main-screen-grid-block {
    position: absolute;
    width: 1511px;
    height: 1025px;
    top: 0px;
    left: 0px;
    background-image: url(/static_site/img/screen_grid_glow.png);
    background-position: center center;
    background-repeat: no-repeat;
}


