.site-chip-content {
    position: absolute;
    top: 125px;
    left: 226px;
    z-index: 1;
    width: 378px;
    height: 234px;
    font-size: 10pt;
    text-shadow: none;
}


.site-chip-content-path {
    position: relative;
    float: left;
    height: 100%;
    box-sizing: border-box;
}

.site-chip-content-path.left {
    width: 45%;
    padding-top: 80px;
}

.site-chip-content-path.right {
    width: 55%;
    padding-top: 6px;
}


/* Аватарка и никнейм */

.site-chip-content-avatar-block {
    position: relative;
    height: 146px;
    width: 170px;
    background-image: url('/static/content/default_images/default_avatar_170_146.png');
    margin: auto;
}

.site-chip-content-nickname-block {
    position: relative;
    padding: 0 2px;
    width: 85%;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    top: -30px;
    background-color: #01380b;
    border-radius: 3px;
}

.site-chip-content-nickname {
    position: relative;
    width: 100%;
    text-align: center;
}


/* Правая часть с характеристиками */

.site-chip-content-line {
    position: relative;
    line-height: 1.0;
    padding: 0 5px 0 0;
    margin: 0 auto;
    box-sizing: border-box;
    height: 13px;
}

.site-chip-content-line.shift {
    margin-left: 10px;
}

.site-chip-content-line-text {
    position: relative;
}

.site-chip-content-line-text.left {
    float: left;
}

.site-chip-content-line-text.right {
    float: right;
}


@media screen and (max-width: 1366px) {
    .site-chip-content {
        top: 85px;
        left: 120px;
    }
}
