#RDSiteWReg2 .odd { background-color: #082801; }
#RDSiteWReg2 .window-qg-content-header { cursor: pointer; }

.window-reg2-main {
    position: relative;
    border: 2px solid #02ff45;
    width: calc(100% - 4px);
    height: calc(100% - 4px - 27px);
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 12pt;
    cursor: default;
}

.window-reg2-path {
    position: relative;
    float: left;
    width: calc(50% - 6px);
    height: calc(58% - 25px - 24px);
    box-sizing: border-box;
    border: 2px solid #007700;
    margin: 24px 0 0 4px;
}
.window-reg2-path.right {margin-left: 6px;}

.window-reg2-console-wrap {
    position: relative;
    float: left;
    width: calc(100% - 6px);
    height: 40%;
    border: 2px solid #007700;
    box-sizing: border-box;
    margin: 3px 4px;
    overflow: hidden;
}

.reg2-skill-table {
    position: relative;
    height: 160px;
    width: 100%;
    padding: 0px 5px 0px 5px;
    box-sizing: border-box;
}

.reg2-table-line {
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 2px;
}

.reg2-skill-table-label {
    position: relative;
    cursor: pointer;
    padding-left: 10px;
    box-sizing: border-box;
    float: left;
    width: 70%;
    height: 100%;
}

.reg2-skill-table-counter-block {
    position: relative;
    text-align: center;
    float: left;
    width: calc(30% - 10px);
    height: 100%;
    margin-left: 10px;
}

.reg2-skill-table-counter {
    position: relative;
    float: left;
    height: 100%;
    width: calc(100% - 48px);
    margin: 0px 8px 0px 8px;
}

.reg2-perk-table {
    position: relative;
    height: 160px;
    width: 100%;
    padding: 0px 5px 0px 5px;
    box-sizing: border-box;
}

.reg2-perk-table .reg2-table-line { cursor: pointer; }

.reg2-perk-table-label {
    position: relative;
    padding-left: 10px;
    box-sizing: border-box;
    float: left;
    width: 85%;
    height: 100%;
}

.reg2-skill-table-label span.decorator {text-decoration: underline;}

.reg2-perk-table-checkbox-block {
    position: relative;
    text-align: center;
    float: left;
    width: calc(15% - 10px);
    height: 100%;
    margin-left: 10px;
}

.reg2-skill-table-counter-btn {
    position: relative;
    cursor: pointer;
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    box-sizing: border-box;
    border: 8px solid transparent;
}
.reg2-skill-table-counter-btn.dec { border-right-color: #209509; }
.reg2-skill-table-counter-btn.dec:hover { border-right-color: #37ff10; }
.reg2-skill-table-counter-btn.dec:active { border-right-color: #008000; }
.reg2-skill-table-counter-btn.inc { border-left-color: #209509; }
.reg2-skill-table-counter-btn.inc:hover { border-left-color: #37ff10; }
.reg2-skill-table-counter-btn.inc:active { border-left-color: #008000; }

.reg2-path-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25px;
    padding: 2px 5px 2px 5px;
    border-width: 2px 0 0 0;
    box-sizing: border-box;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
}

.reg2-btn {
    position: absolute;
    float: left;
    cursor: pointer;
    width: 23%;
    height: 18px;
    background-color: #01380b;
    text-align: center;
    bottom: 7px;
    border-radius: 2px;
    line-height: 1.35;
}
.reg2-btn:hover { background-color: #01550b; }
.reg2-btn:active { background-color: #000000; }

.reg2-btn-back { left: 8px; }
.reg2-btn-next { right: 9px; width: calc(23% - 1px); }

/* Медиа Запросы для разрешения 1366 */

@media screen and (max-width: 1366px) {
    .window-reg2-main {
        font-size: 10pt;
    }

    .window-reg2-path {
        margin-top: 14px;
        height: calc(58% - 24px - 9px);
    }

    .reg2-table-line { height: 18px; margin-bottom: 0px; }
    .reg2-skill-table-counter-btn { margin-top: 1px; }

    .window-reg2-console-wrap { height: calc(38% + 3px); }

    .reg2-btn { bottom: 4px; }
    .reg2-btn-back { left: 7px; width: calc(23% - 1px); }
    .reg2-btn-next { right: 7px; }
}