<style>
    .partyCreateWindow-main {
        position: relative;
        height: 100%;
        width: 500px;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .partyCreateWindow-header {
        position: relative;
        height: 50px;
        width: 100%;
    }

    .partyCreateWindow-comment {
        position: relative;
        float: left;
        height: 200px;
        width: 50%;
    }

    .partyCreateWindow-rules {
        position: relative;
        float: left;
        height: 200px;
        width: 50%;
        background-color: transparent;
    }

    .partyCreateWindow-footer {
        position: relative;
        float: left;
        height: 50px;
        width: 100%;
    }

    .partyCreateWindow-targetNote {
        position: absolute;
        pointer-events: none;
        right: 0;
        left: 0;
        top: 10px;
        margin: auto;
        color: #2afd0a;
        text-align: center;
        font: 13pt MICRADI;
        letter-spacing: 1px;
    }

    .partyCreateWindow-buttonCreate {
        position: absolute;
        pointer-events: auto;
        cursor: pointer;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        left: 0;
        height: 30px;
        width: 180px;
        border: 1px solid rgba(0, 255, 85, 0.81);
        border-radius: 2px;
        box-sizing: border-box;
        padding-top: 4px;
        background-color: rgba(0, 255, 85, 0.29);
        color: #2afd0a;
        text-align: center;
        font: 12pt MICRADI;
        letter-spacing: 1px;
    }

    .partyCreateWindow-buttonCreate:hover {
        background-color: rgba(0, 255, 85, 0.5);
    }

    .partyCreateWindow-buttonCreate:active {
        background-color: rgba(0, 255, 85, 0.1);
        border: 1px solid rgba(0, 255, 85, 0.3);
    }


</style>

<div class="partyCreateWindow-main">
    {% include ../drag_close_header.html %}
    <div class="partyCreateWindow-header">
        {% include input_name.html %}
    </div>
    <div class="partyCreateWindow-comment">
        <div class="partyCreateWindow-targetNote">Цели:</div>
        {% include text_comment.html %}
    </div>
    <div class="partyCreateWindow-rules"></div>
    <div class="partyCreateWindow-footer">
        <div id="btnSendCreatePartyInWindow_{{ current_user }}" class="partyCreateWindow-buttonCreate">Создать</div>
    </div>
</div>