{% set window_caption = 'Create party' %}
{% set can_edit_party_comment = True %}
{% set party_comment = '' %}
{% set can_edit_party_name = True %}
{% set party_name = '' %}

<style>

</style>

<div class="partyCreateWindow-main">
    {% include ../drag_close_header.html %}
    <div id="divNamePartyCreatePartyWindow_{{ current_user }}" class="partyCreateWindow-header">
        {% include input_name.html %}
    </div>
    <div id="divNotesPartyCreatePartyWindow_{{ current_user }}" class="partyCreateWindow-comment">
        {% include text_comment.html %}
    </div>
    <div class="partyCreateWindow-rules"></div>
    <div class="partyCreateWindow-footer">
        <div id="btnSendCreatePartyInWindow_{{ current_user }}" class="partyCreateWindow-buttonCreate">Создать</div>
    </div>
</div>

<script>
    $("#btnSendCreatePartyInWindow_{{ current_user }}").click(function (event) {
        var name = $("#divNamePartyCreatePartyWindow_{{ current_user }}").find('input').first().val();
        var descr = $("#divNotesPartyCreatePartyWindow_{{ current_user }}").find('textarea').first().val();
        clientManager.sendCreatePartyFromTemplate(name, descr);
        windowTemplateManager.closeUniqueWindow('create_party');
    });
</script>