<style>


</style>

<div id="myInviteRecord{{ invite.id }}" class="myInviteRecord-main sublayers-clickable">
    <span class="myInviteRecord-infoPlayer">Игрок: {{ invite.sender.login }}</span>
    <span class="myInviteRecord-infoParty">Группа: {{ invite.party.name }}</span>
    <div class="myInviteRecord-Btn sublayers-clickable">Отменить</div>
</div>

<script>
    $("#myInviteRecord{{ invite.id }}").click(function(){
        windowTemplateManager.openUniqueWindow('party_info', '/party', {page_type: 'party_info', party_name: '{{ invite.party.name }}' });
    });

    $("#myInviteRecord{{ invite.id }}").find(".myInviteRecord-Btn").first().click(function (event) {
        clientManager.sendPartyDeleteInvite({{ invite.id }});
        stopEvent(event);
    });

</script>

