<style>
    .partyInviteRecord-main {
        position: relative;
        width: 100%;
        height: 50px;
        border: 1px solid rgba(0, 255, 85, 0.81);
        box-sizing: border-box;
        margin-bottom: 5px;
        color: #2afd0a;
        font: 8pt MICRADI;
        letter-spacing: 1px;
        padding-left: 8px;
    }

    .partyInviteRecord-infoPlayer {
        position: absolute;
        top: 8px;
    }

    .partyInviteRecord-infoParty {
        position: absolute;
        top: 28px;
    }
</style>

<div id="myInviteRecord{{ invite.id }}" class="partyInviteRecord-main">
    <span class="partyInviteRecord-infoPlayer">Игрок: {{ invite.sender.login }}</span>
    <span class="partyInviteRecord-infoParty">Группа: {{ invite.party.name }}</span>
</div>

<script>
    $("#myInviteRecord{{ invite.id }}").click(function(){
        windowTemplateManager.openUniqueWindow('party_info', '/party', {page_type: 'party_info', party_name: '{{ invite.party.name }}' });
    })
</script>

