{% set window_caption = 'Party' %}
{% set can_edit_party_name = False %}
{% set party_name = data['party'].name %}
{% set can_edit_party_comment = (data['party'].owner == agent) %}
{% set party_comment = data['party'].description %}
{% set party = data['party'] %}
{% set my_member_in_party = None if party is None else party.get_member_by_agent(agent) %}

<style>

</style>

<div class="partyWindow-main">
    {% include ../drag_close_header.html %}
    <div class="partyWindow-header"> {% include input_name.html %} </div>
    <div class="partyWindow-comment"> {% include text_comment.html %} </div>
    <div class="partyWindow-rules"></div>
    <span class="partyWindowMainWindowText-span">Участники</span>
    <div class="partyWindow-membersArea">
       {% for member in party.members %}
            {% include party_member_record.html %}
       {% end %}
    </div>
</div>