{% set window_caption = 'Party info' %}
{% set can_edit_party_comment = False %}
{% set party_comment = data['party'].description %}
{% set can_edit_party_name = False %}
{% set party_name = data['party'].name %}

<style>
    .partyInfoWindow-main {
        position: relative;
        height: 100%;
        width: 500px;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .partyInfoWindow-header {
        position: relative;
        height: 30px;
        width: 100%;
    }

    .partyInfoWindow-comment {
        position: relative;
        float: left;
        height: 150px;
        width: 50%;
    }

    .partyInfoWindow-rules {
        position: relative;
        float: left;
        height: 150px;
        width: 50%;
        background-color: transparent;
    }

    .partyInfoWindow-footer {
        position: relative;
        float: left;
        height: 50px;
        width: 100%;
    }

    .partyInfoWindow-buttonJoin {
        position: absolute;
        pointer-events: auto;
        cursor: pointer;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        left: 0;
        height: 30px;
        width: 180px;
        border: 1px solid rgba(0, 255, 85, 0.81);
        border-radius: 2px;
        box-sizing: border-box;
        padding-top: 4px;
        background-color: rgba(0, 255, 85, 0.29);
        color: #2afd0a;
        text-align: center;
        font: 12pt MICRADI;
        letter-spacing: 1px;
    }

    .partyInfoWindow-buttonJoin:hover {
        background-color: rgba(0, 255, 85, 0.5);
    }

    .partyInfoWindow-buttonJoin:active {
        background-color: rgba(0, 255, 85, 0.1);
        border: 1px solid rgba(0, 255, 85, 0.3);
    }
</style>

<div class="partyInfoWindow-main">
    {% include ../drag_close_header.html %}
    <div class="partyInfoWindow-header">{% include input_name.html %}</div>
    <div class="partyInfoWindow-comment">{% include text_comment.html %}</div>
    <div class="partyInfoWindow-rules"></div>
    <div class="partyInfoWindow-footer">
        <div class="partyInfoWindow-buttonJoin"
             onclick="clientManager.sendJoinPartyFromTemplate('{{party_name}}');">
            Принять
        </div>
    </div>
</div>