{% set window_caption = 'Party info' %}
{% set can_edit_party_comment = False %}
{% set party_comment = data['party'].description %}
{% set can_edit_party_name = False %}
{% set party_name = data['party'].name %}

<style>

</style>

<div class="partyInfoWindow-main">
    {% include ../drag_close_header.html %}
    <div class="partyInfoWindow-header">{% include input_name.html %}</div>
    <div class="partyInfoWindow-comment">{% include text_comment.html %}</div>
    <div class="partyInfoWindow-rules"></div>
    <div class="partyInfoWindow-footer">
        <div class="partyInfoWindow-buttonJoin"
             onclick="clientManager.sendJoinPartyFromTemplate('{{party_name}}');">
            Принять
        </div>
    </div>
</div>