<style>
    .partyInviteRecord-main {
        position: relative;
        width: 100%;
        height: 50px;
        border: 1px solid rgba(0, 255, 85, 0.81);
        box-sizing: border-box;
        margin-bottom: 5px;
        color: #2afd0a;
        font: 8pt MICRADI;
        letter-spacing: 1px;
        padding-left: 8px;
    }

    .partyInviteRecord-infoSender {
        position: absolute;
        top: 8px;
    }

    .partyInviteRecord-infoRecipient {
        position: absolute;
        top: 28px;
    }

    .partyInviteRecord-Btn {
        position: absolute;
        height: 25px;
        right: 5px;
        border: 1px solid rgba(0, 255, 85, 0.51);
        background-color: rgba(0, 255, 85, 0.20);
        border-radius: 2px;
        box-sizing: border-box;
        pointer-events: auto;
        padding: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .partyInviteRecord-Btn:hover {
        border: 1px solid rgba(0, 255, 85, 0.81);
        background-color: rgba(0, 255, 85, 0.50);
    }

</style>

<div class="partyInviteRecord-main">
    <span class="partyInviteRecord-infoSender">Отправитель: {{ party_invite.sender.login }}</span>
    <span class="partyInviteRecord-infoRecipient">Получатель: {{ party_invite.recipient.login }}</span>
    {% if party_invite.can_delete_by_agent(agent) %}
        <div class="partyInviteRecord-Btn sublayers-clickable"
             onclick="clientManager.sendPartyDeleteInvite({{ party_invite.id }})">Отменить</div>
    {% end %}
</div>

