<style>


</style>

<div id="partyRecordDivForAgent{{ member.agent.uid }}" class="partyMemberRecord-main">
    <span class="partyMemberRecord-name">Игрок: {{ member.agent.login }}</span>
    <span class=".partyMemberRecord-desr">Звание: {{ member.description }}</span>
    <span class=".partyMemberRecord-desr">Полномочия: {{ member.category }}</span>

    {% if my_member_in_party.category == 0 %}
        <br>
        {% if member.category == 2 %}
            <div class="partyMemberRecord-doCategoryUPBtn partyMemberRecord-Btn sublayers-clickable">Повысить</div>
        {% end %}
        {% if member.category == 1 %}
            <div class="partyMemberRecord-doCategoryDownBtn partyMemberRecord-Btn sublayers-clickable">Понизить</div>
        {% end %}
    {% end %}
    {% if my_member_in_party.can_kick_member(member) %}
        <div class="partyMemberRecord-kickBtn partyMemberRecord-Btn sublayers-clickable">Исключить</div>
    {% end %}
</div>

<script>
    // todo: сделать jQuery click, с вызовами нужных функций, вставив правильные login
    var btn_up = $("#partyRecordDivForAgent{{ member.agent.uid }}").find(".partyMemberRecord-doCategoryUPBtn").first();
    var btn_down = $("#partyRecordDivForAgent{{ member.agent.uid }}").find(".partyMemberRecord-doCategoryDownBtn").first();
    var btn_kick = $("#partyRecordDivForAgent{{ member.agent.uid }}").find(".partyMemberRecord-kickBtn").first();

    if (btn_up)
        btn_up.click(function (event) {
            clientManager.sendSetPartyCategory('{{ member.agent.login }}', 1);
        });
    if (btn_down)
        btn_down.click(function (event) {
            clientManager.sendSetPartyCategory('{{ member.agent.login }}', 2);
        });
    if (btn_kick)
        btn_kick.click(function (event) {
            clientManager.sendKickPartyFromTemplate('{{ member.agent.login }}');
        });

</script>

