<style>


</style>

<div class="partySendInvite-mainDiv">
    <input class="partySendInviteInput" type="text"  maxlength="50" placeholder="Введите имя приглашаемого"/>
    <div class="partySendInviteBtn sublayers-clickable">Пригласить</div>
</div>

<script>
    $(".partySendInvite-mainDiv").find(".partySendInviteBtn").first().click(function (event) {
        var name_input = $(".partySendInvite-mainDiv").find('input').first();
        clientManager.sendInvitePartyFromTemplate(name_input.val());
        name_input.val('');
    });
</script>
