<style>
    .partyTextComment-mainDiv {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 200px;
        height: 141px;
    }

    .partyTextComment-titleDiv {
        position: relative;
        width: 100%;
        color: #2afd0a;
        text-align: center;
        font: 13pt MICRADI;
        letter-spacing: 1px;
        padding-bottom: 3px;
        pointer-events: none;
    }

    .partyTextComment-textarea {
        border: 1px solid #2afd0a;
        position: relative;
        background: transparent;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        color: #2afd0a;
        width: 200px;
        height: 120px;
        text-align: center;
        resize: none;
        font: 8pt MICRADI;
        letter-spacing: 1px;
        box-sizing: border-box;
    }

    .partyTextComment-textarea:focus {
        color: #ffffff;
    }
</style>

<div class="partyTextComment-mainDiv">
    <div class="partyTextComment-titleDiv">Цели:</div>
    <textarea {% if not can_edit_party_comment %} readonly {% end %} class="partyTextComment-textarea" maxlength="150">
        {{party_comment}}
    </textarea>
</div>
