<style>
    .partyCreateWindow-commentDiv {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 200px;
        height: 120px;
    }

    .partyCreateWindow-textComment {
        border: 1px solid #2afd0a;
        background: transparent;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        color: #2afd0a;
        width: 200px;
        height: 120px;
        text-align: center;
        resize: none;
        font: 8pt MICRADI;
        letter-spacing: 1px;
    }

    .partyCreateWindow-textComment:focus {
        color: #ffffff;
    }
</style>

<div class="partyCreateWindow-commentDiv">
    <textarea class="partyCreateWindow-textComment" maxlength="150"></textarea>
</div>
