.text-blur {
    text-shadow: 0px 0px 0px #00ff00;
}

#content-canvas {
    position: absolute;
    pointer-events: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

body {
    min-height: 550px;
    min-width: 950px;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: url(/static/img/cursors/main.png), default;
    color: #00ff00;
    font-family: FreePixel;
    font-weight: bold;
    text-shadow: 0 0 1px #00ff00, 0 0 10px #00ff00;
    letter-spacing: 2px;
    background-color: #030f00;
    box-sizing: border-box;
    padding: 50px 0 0 0;
}


.buttons-and-headers {
    font-family: Nouveau_IBM;
    letter-spacing: normal;
}

input[type="text"], input[type='email'], input[type='password'] {
    font-family: FreePixel;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    color: #00ff00;
    font-weight: bold;
    font-size: 12pt;
    text-shadow: 0 0 1px #00ff00, 0 0 10px #00ff00;
    letter-spacing: 2px;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type='email']:focus, input[type='password']:focus {
    outline: none;
}

.content-block {
    position: relative;
    width: 716px;
    height: 438px;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 2px;
}


/*Общие классы для всех окон*/
.page-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #02ff54;
    overflow: hidden;
    display: none;
}

.window-header {
    position: relative;
    width: 100%;
    height: 27px;
    color: #00ff00;
    border-bottom: 2px solid #02ff54;
    background-color: #01610a;
    box-sizing: border-box;
    margin-bottom: 3px;
    text-align: center;
    line-height: 24px;
    cursor: url('/static/img/cursors/main.png'), default;
}

.btn-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    pointer-events: auto;
}

.console-block {
    position: absolute;
    white-space: pre-wrap;
    padding: 5px 55px 5px 5px;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: -50px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Nouveau_IBM;
}

.scroll-block {
    position: absolute;
    padding: 5px 55px 5px 5px;
    box-sizing: border-box;
    top: 0;
    bottom: 45px;
    left: 0;
    right: -50px;
    overflow-y: scroll;
}

.scroll-btn {
    position: absolute;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    width: 24px;
    height: 17px;
    bottom: 10px;
}

.scroll-btn.up {
    background: transparent url(/static/static_site/img/btn_slide_up.png) no-repeat 100% 100%;
}

.scroll-btn.up:hover {
    background: transparent url(/static/static_site/img/btn_slide_up_over.png) no-repeat 100% 100%;
}

.scroll-btn.up:active {
    background: none;
}

.scroll-btn.down {
    background: transparent url(/static/static_site/img/btn_slide_down.png) no-repeat 100% 100%;
}

.scroll-btn.down:hover {
    background: transparent url(/static/static_site/img/btn_slide_down_over.png) no-repeat 100% 100%;
}

.scroll-btn.down:active {
    background: none;
}

.slide-arrow {
    position: absolute;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    width: 17px;
    height: 24px;
}

.slide-arrow.left {
    background: transparent url(/static/static_site/img/btn_slide_left.png) no-repeat 100% 100%;
    left: 10px;
}

.slide-arrow.left:hover {
    background: transparent url(/static/static_site/img/btn_slide_left_over.png) no-repeat 100% 100%;
}

.slide-arrow.left:active {
    background: none;
}

.slide-arrow.right {
    background: transparent url(/static/static_site/img/btn_slide_right.png) no-repeat 100% 100%;
    right: 10px;
}

.slide-arrow.right:hover {
    background: transparent url(/static/static_site/img/btn_slide_right_over.png) no-repeat 100% 100%;
}

.slide-arrow.right:active {
    background: none;
}

.site-logo {
    position: absolute;
    width: 269px;
    height: 250px;
    top: 26px;
    left: -200px;
    background: transparent url(/static/static_site/img/1366_june/768_logo.png) no-repeat 100% 100%;
    background-size: contain;
    pointer-events: auto;
}

.site-logo:hover {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
}


.fading-content-before {
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(3, 15, 0, 1.0), rgba(3, 15, 0, 0.05));
}

.fading-content-after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(3, 15, 0, 0.05), rgba(3, 15, 0, 1));
}

/* Вид машинки при наведении */

.car-skeleton-path {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    opacity: 0.0;
    z-index: 10;
}

.car-skeleton-path.drivetrain {
    top: 500px;
    left: 130px;
    width: 344px;
    height: 166px;
    background: transparent url('/static/static_site/img/1366_june/768_car_skeleton_drivetrain.png') 100% 100% no-repeat;
}

.car-skeleton-path.engine {
    /*top: 450px;*/
    /*left: 331px;*/
    /*width: 110px;*/
    /*height: 104px;*/
    /*background: transparent url('/static/static_site/img/1366_june/768_car_skeleton_engine.png') 100% 100% no-repeat;*/
    top: 450px;
    left: 260px;
    width: 215px;
    height: 104px;
    background: transparent url('/static/static_site/img/1366_june/768_car_skeleton_engine.png') 100% 100% no-repeat;
    background-position: 50% 50%;
}

.car-skeleton-path.gun {
    left: 10px;
    top: 342px;
    width: 334px;
    height: 203px;
    background: transparent url('/static/static_site/img/1366_june/768_car_skeleton_gun.png') 100% 100% no-repeat;
}


.box-shadow {
    box-shadow: none;
}

.box-shadow:hover {
    box-shadow: 1px 1px 5px rgba(0, 255, 0, 0.4),
    -1px -1px 5px rgba(0, 255, 0, 0.4),
    1px -1px 5px rgba(0, 255, 0, 0.4),
    -1px 1px 5px rgba(0, 255, 0, 0.4),
    inset 1px 1px 5px rgba(0, 255, 0, 0.4),
    inset -1px -1px 5px rgba(0, 255, 0, 0.4),
    inset 1px -1px 5px rgba(0, 255, 0, 0.4),
    inset -1px 1px 5px rgba(0, 255, 0, 0.4);
}

.box-shadow.active {
    box-shadow: 1px 1px 5px rgba(0, 255, 0, 0.4),
    -1px -1px 5px rgba(0, 255, 0, 0.4),
    1px -1px 5px rgba(0, 255, 0, 0.4),
    -1px 1px 5px rgba(0, 255, 0, 0.4),
    inset 1px 1px 5px rgba(0, 255, 0, 0.4),
    inset -1px -1px 5px rgba(0, 255, 0, 0.4),
    inset 1px -1px 5px rgba(0, 255, 0, 0.4),
    inset -1px 1px 5px rgba(0, 255, 0, 0.4);
}

.box-shadow.box-shadow-non-active:active {
    box-shadow: none;
}

.site-sound-switch {
    position: absolute;
    width: 59px;
    height: 52px;
    right: 20px;
    top: 20px;
    background: transparent url(/static/static_site/img/site_sound_btn/sound_on_normal.png) no-repeat 100% 100%;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    z-index: 1000;
}

.site-sound-switch:hover {
    background: transparent url(/static/static_site/img/site_sound_btn/sound_on_over.png) no-repeat 100% 100%;
}

.site-sound-switch:active {
    background: transparent url(/static/static_site/img/site_sound_btn/sound_on_pressed.png) no-repeat 100% 100%;
}

.site-sound-switch.off {
    background: transparent url(/static/static_site/img/site_sound_btn/sound_off_normal.png) no-repeat 100% 100%;
}

.site-sound-switch.off:hover {
    background: transparent url(/static/static_site/img/site_sound_btn/sound_off_over.png) no-repeat 100% 100%;
}

.site-sound-switch.off:active {
    background: transparent url(/static/static_site/img/site_sound_btn/sound_off_pressed.png) no-repeat 100% 100%;
}

.language-switch {
    position: absolute;
    width: 44px;
    height: 14px;
    right: 10px;
    top: 0px;
    overflow: hidden;
    border: 1px solid #31c811;
    border-radius: 0 0 4px 4px;
    font-size: 10pt;
    line-height: 14px;
    text-align: center;
}

.language-switch div {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    color: #2ffa00;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
}

.language-switch div.active {
    color: #030f00;
    background-color: #31c811;
}

.copyright-block {
position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
    color: #31c811;
    font-family: Arial;
    text-shadow: none;
    font-weight: normal;
    font-size: 7pt;
    opacity: 0.5;
}
.change-language { text-decoration: underline; cursor: url('/static/img/cursors/hyper.png'), pointer; }
.change-language:hover { color: #2ffa00; }

/* For SEO */

.content-block h1, .content-block h2 {
    position: absolute;
    pointer-events: none;
    opacity: 0.0;
}

.btn-block a, .btn-block a:visited, .btn-block a:hover, .btn-block a:link, .btn-block a:active {
    color: transparent;
    text-shadow: none;
}


.site-logo-img {
    position: absolute;
    opacity: 0.0;
    pointer-events: none;
}