<div class="armorerWindow-main">
    <div class="armorer-header">
        <div class="armorer-wrap-header">
            <div class="armorer-info">
                <img class="armorer-foto" src="{{ town.example.armorer.photo }}" alt="Оружейник" />
                <div class="armorer-name"> {{ town.example.armorer.title }} </div>
            </div>
            <div class="armorer-text">{{ town.example.armorer.text }}</div>
        </div>
    </div>
    <div class="armorer-center">
        <div class="armorer-car">
            {% raw open(car_svg_link).read() %}
        </div>
        <div class="armorerSectors">
            <div class="armorerSectors-slotName">Имя слота</div>
            <div class="armorerSectors-svg">
                {% raw open(sector_svg_link).read() %}
            </div>
        </div>
    </div>
    <div class="armorer-footer">
        <div class="npcInventory-label">Инвентарь:</div>
        <div class="npcInventory-wrap">
            <div class="npcInventory-inventory"></div>
        </div>
    </div>
</div>

<script>
    /*
    Функция подстраивает ширину инвентаря под его содержимое. Необходимо вызывать
    данную функцию всякий раз когда меняется количество слотов в инвентаре (иначе
    горизонтальный слайдер будер расти вниз)
    */
    function resizeArmorerInventory() {
        var inventory = $(".npcInventory-inventory:first");
        var width = 0;
        if (inventory) {
            $(inventory).find('.npcInventory-itemWrap').each(function (index, element) {
               width += $(element).outerWidth() + parseInt($(element).css('margin-right'));
            });
            $(inventory).width(width);
        }
    }
    resizeArmorerInventory();

    // Подсветка слотов при наведении указателя мыши
    function setSlotOpacity(slot_name, hover) {
        if (hover) {
            $("#top_" + slot_name).addClass("armorer-slot-hover");
            $("#side_" + slot_name).addClass("armorer-slot-hover");
        }
        else {
            $("#top_" + slot_name).removeClass("armorer-slot-hover");
            $("#side_" + slot_name).removeClass("armorer-slot-hover");
        }
    }

    // Подсветка активных слотов
    function dropSlotActive() {
        $('.armorer-slot').removeClass("armorer-slot-active");
    }

    function setSlotActive(slot_name) {
        $("#top_" + slot_name).addClass("armorer-slot-active");
        $("#side_" + slot_name).addClass("armorer-slot-active");
    }

    {% for slot in car_slots %}
    $("#top_{{slot}}").mouseenter(function() {
        setSlotOpacity("{{slot}}", true);
    });
    $("#side_{{slot}}").mouseenter(function() {
        setSlotOpacity("{{slot}}", true);
    });

    $("#top_{{slot}}").mouseleave(function() {
        setSlotOpacity("{{slot}}", false);
    });
    $("#side_{{slot}}").mouseleave(function() {
        setSlotOpacity("{{slot}}", false);
    });

    $("#top_{{slot}}").click(function() {
        locationManager.armorer.setActiveSlot("{{slot}}");
    });
    $("#side_{{slot}}").click(function() {
        locationManager.armorer.setActiveSlot("{{slot}}");
    });

    {% end %}
    // Подсветка секторов

    function addClassSVG(obj, cls) {
        var oldClass = obj.attr('class');
        if (!oldClass) oldClass = cls;
        oldClass= oldClass.toString();
        if (oldClass.indexOf(cls) == -1) oldClass += ' ' + cls;
        obj.attr('class', oldClass);
    }

    function removeClassSVG(obj, cls) {
        var oldClass = obj.attr('class');
        if (!oldClass) return;
        oldClass = oldClass.toString();
        oldClass = oldClass.replace(cls, '');
        obj.attr('class', oldClass);
    }

    function dropSectorActive() {
        removeClassSVG($("#sector_F"), 'car_sector_active');
        removeClassSVG($("#sector_B"), 'car_sector_active');
        removeClassSVG($("#sector_L"), 'car_sector_active');
        removeClassSVG($("#sector_R"), 'car_sector_active');
    }

    function setSectorActive(sectorName) {
        addClassSVG($("#sector_" + sectorName), 'car_sector_active');
    }

    {% for sector in ['F', 'B', 'L', 'R'] %}
    addClassSVG($("#sector_{{sector}}"), 'car_sector_disable');

    $("#sector_{{sector}}").mouseenter(function() {
        addClassSVG($("#sector_{{sector}}"), 'car_sector_hover');
    });
    $("#sector_{{sector}}").mouseleave(function() {
        removeClassSVG($("#sector_{{sector}}"), 'car_sector_hover');
    });
    $("#sector_{{sector}}").click(function() {
        locationManager.armorer.setActiveSector("{{sector}}");
    });
    {% end %}
</script>
