<div class="building-main">
    {% if cur_build.head is not None %}
        {% set npc_photo = cur_build.head.photo %}
        {% set npc_title = cur_build.head.title %}
        {% set npc_text = cur_build.head.text %}
        {% include npc_header.html %}
    {% end %}
    <div class="building-center-block">
        <div class="building-center-menu-block">
            <div class="building-center-menu-item" data-page_id="buildingPageAvailableTasks">Доступные задания</div>
            <div class="building-center-menu-item" data-page_id="buildingPageActiveTasks">Активные задания</div>
        </div>
        <div class="building-center-pages-block">
            <div id="buildingPageAvailableTasks" class="building-center-page">
                <div class="building-quest-list-block">
                    <div class="building-quest-list building-inventory-list">
                        <div class="building-quest-list-item">
                            <div class="building-quest-list-item-caption">Тестовый квест 1</div>
                            <div class="building-quest-list-item-lvl">Уровень: 1</div>
                            <div class="building-quest-list-item-description">Очень длинное писание тестового квеста</div>
                            <div class="building-quest-list-item-time">00:00:00</div>
                        </div>
                        <div class="building-quest-list-item">
                            <div class="building-quest-list-item-caption">Тестовый квест 2</div>
                            <div class="building-quest-list-item-lvl">Уровень: 1</div>
                            <div class="building-quest-list-item-description">Очень длинное писание тестового квеста</div>
                            <div class="building-quest-list-item-time">00:00:00</div>
                        </div>
                        <div class="building-quest-list-item">
                            <div class="building-quest-list-item-caption">Тестовый квест 3</div>
                            <div class="building-quest-list-item-lvl">Уровень: 1</div>
                            <div class="building-quest-list-item-description">Очень длинное писание тестового квеста</div>
                            <div class="building-quest-list-item-time">00:00:00</div>
                        </div>
                        <div class="building-quest-list-item">
                            <div class="building-quest-list-item-caption">Тестовый квест 4</div>
                            <div class="building-quest-list-item-lvl">Уровень: 1</div>
                            <div class="building-quest-list-item-description">Очень длинное писание тестового квеста</div>
                            <div class="building-quest-list-item-time">00:00:00</div>
                        </div>
                        <div class="building-quest-list-item">
                            <div class="building-quest-list-item-caption">Тестовый квест 5</div>
                            <div class="building-quest-list-item-lvl">Уровень: 1</div>
                            <div class="building-quest-list-item-description">Очень длинное писание тестового квеста</div>
                            <div class="building-quest-list-item-time">00:00:00</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="buildingPageActiveTasks" class="building-center-page">
                <div class="building-quest-list-block">
                    <div class="building-quest-list building-inventory-list">
                        <div class="building-quest-list-item">
                            <div class="building-quest-list-item-caption">Тестовый квест 1</div>
                            <div class="building-quest-list-item-lvl">Уровень: 1</div>
                            <div class="building-quest-list-item-description">Очень длинное писание тестового квеста</div>
                            <div class="building-quest-list-item-time">00:00:00</div>
                        </div>
                        <div class="building-quest-list-item">
                            <div class="building-quest-list-item-caption">Тестовый квест 2</div>
                            <div class="building-quest-list-item-lvl">Уровень: 1</div>
                            <div class="building-quest-list-item-description">Очень длинное писание тестового квеста</div>
                            <div class="building-quest-list-item-time">00:00:00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="building-bottom-block">
        <div class="building-npc-list-block">
            <div class="building-npc-list building-inventory-list">
                {% for npc in cur_build.instances %}
                <div class="building-npc-list-item" onclick="locationManager.openNPC('{{ npc.node_html() }}')">
                    <img class="building-npc-photo" src="{{ npc.photo }}"/>
                    <div class="building-npc-name-block"><span class="building-npc-name"> {{ npc.title }} </span></div>
                </div>
                {% end %}
            </div>
        </div>
    </div>
</div>

<script>
    $('.building-center-menu-item').click(function(){
        $('.building-center-menu-item').removeClass('active');
        $(this).addClass('active');
        $('.building-center-page').css('display', 'none');
        $('#' + $(this).data('page_id')).css('display', 'block');
    });
    $('.building-center-menu-item').first().click();
</script>

