{% set npc_photo = cur_build.head.photo %}
{% set npc_title = cur_build.head.title %}
{% set npc_text = cur_build.head.text %}

<div class="building-main">
    {% include npc_header.html %}
    <div class="building-center-block">
        <div class="building-center-menu-block">
            <div class="building-center-menu-item" data-page_id="buildingPageAvailableTasks">
                <div class="building-center-menu-item-icon"></div>
                <div class="building-center-menu-item-caption">Доступные задания</div>
            </div>
            <div class="building-center-menu-item" data-page_id="buildingPageActiveTasks">
                <div class="building-center-menu-item-icon"></div>
                <div class="building-center-menu-item-caption">Активные задания</div>
            </div>
        </div>
        <div class="building-center-pages-block">
            <!--<div id="buildingPageAvailableTasks" class="building-center-page">Доступные задания</div>-->
            <!--<div id="buildingPageActiveTasks" class="building-center-page">Активные задания</div>-->
        </div>
    </div>
    <div class="building-bottom-block">
        <div class="building-npc-list-block">
            <div class="building-npc-list">
                {% for npc in cur_build.instances %}
                <div class="building-npc-list-item" onclick="openNPC('{{ npc.type }}', '{{ building }}')">
                    <img class="building-npc-photo" src="{{ npc.photo }}"/>
                    <div class="building-npc-name">{{ npc.title }}<br>({{ npc.doc }})</div>
                </div>
                {% end %}
            </div>
        </div>
    </div>
</div>

<script>
    // Функция подстраивает ширину списка под его содержимое
    function resizeNPCList() {
        var inventory = $('#building_{{ building }}').find(".building-npc-list").first();
        var width = 0;
        if (inventory) {
            $(inventory).find('.building-npc-list-item').each(function (index, element) {
                if ($(element).css('display') == 'block')
                    width += $(element).outerWidth() + parseInt($(element).css('margin-right'));
            });
            $(inventory).width(width);
        }
    }
    resizeNPCList();

    /*
    $('.building-center-menu-item').click(function(){
        $('.building-center-menu-item').removeClass('active');
        $(this).addClass('active');
        $('.building-center-page').css('display', 'none');
        $('#' + $(this).data('page_id')).css('display', 'block');
    });
    $('.building-center-menu-item').first().click();
    */

</script>

