<div class="building-main">
    {% if cur_build.head is not None %}
        {% set npc_photo = cur_build.head.photo %}
        {% set npc_title = cur_build.head.title %}
        {% set npc_text = cur_build.head.text %}
        {% include npc_header.html %}
    {% end %}
    <div class="building-center-block">
        <div class="building-center-menu-block town-back-interlacing-nocontent">
            <div class="building-center-menu-block-wrap">
                <div class="building-center-menu-item" data-page_id="buildingPageAvailableTasks_{{ building }}">Доступные задания</div>
                <div class="building-center-menu-item" data-page_id="buildingPageActiveTasks_{{ building }}">Активные задания</div>
            </div>
            <div class="building-center-menu-block-scroll-wrap">
                <div class="building-center-menu-block-scroll-btn up"></div>
                <div class="building-center-menu-block-scroll-btn down"></div>
            </div>
        </div>
        <div class="building-center-pages-block town-back-interlacing-nocontent">
            <div id="buildingPageAvailableTasks_{{ building }}" class="building-center-page">
                <div class="building-quest-list-block">
                    <div class="building-quest-list building-inventory-list"></div>
                </div>
            </div>
            <div id="buildingPageActiveTasks_{{ building }}" class="building-center-page">
                <div class="building-quest-list-block">
                    <div class="building-quest-list building-inventory-list"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="building-bottom-block">
        <div class="building-npc-list-block">
            <div class="building-npc-list building-inventory-list">
                {% for npc in cur_build.instances %}
                <div class="building-npc-list-item" onclick="locationManager.openNPC('{{ npc.node_html() }}')">
                    <img class="building-npc-photo" src="{{ npc.photo }}"/>
                    <div class="building-npc-name-block"><span class="building-npc-name"> {{ npc.doc }} </span></div>
                </div>
                {% end %}
            </div>
        </div>
    </div>
</div>

