<!-- Этот шаблон нужен для того, чтобы, когда мы захотим, отображать внешний вид машинки на любом сайте оно вдруг заработало
 здесь прописан минимальный набор css, который необходим, чтобы вёрстка слотов не поплыла относительно друг друга

 Сейчас данный шаблон не используется !
 -->

<style>
    .car-info-block-picture-main {
        position: relative;
        width: 492px;
        height: 170px;
    }

    .car-info-block-picture {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .armorer-slot {
        position: absolute;
        height: 35px;
        width: 35px;
    }
        
    .armorer_top_F, .armorer_top_B {
        position: absolute;
        pointer-events: none;
        top: -32px;
        left: -82px;
    }

    .armorer_top_L, .armorer_top_R {
        position: absolute;
        pointer-events: none;
        top: -82px;
        left: -32px;
    }

    .armorer_side_F, .armorer_side_B {
        position: absolute;
        pointer-events: none;
        top: -65px;
        left: -82px;
    }

    .armorer_side_L, .armorer_side_R {
        position: absolute;
        pointer-events: none;
        top: -65px;
        left: -32px;
    }
</style>

<div class="car-info-block-picture-main">
    {% import tornado as tornado %}
    {% raw tornado.template.Loader('.').load(car.armorer_car).generate(car=car, need_css_only=True) %}
    <div class="car-info-block-picture" style="background: url({{ static_url(static_world_link_repr(car.hangar_car)) }}) no-repeat center; z-index: 1"></div>
    {% set scale = getattr(car, 'image_scale') %}
    {% for k, v in car.iter_slots(tags='tuner') %}
        {% if v is not None %}
            {% if v.images[car.node_hash()]['side']['link'] is not None %}
            <div class="car-info-block-picture" style="background: url({{ static_url(static_world_link_repr(v.images[car.node_hash()]['side']['link'])) }} ) no-repeat center;
                    z-index: {{ v.images[car.node_hash()]['side']['z_index'] }}"></div>
            {% end %}
        {% end %}
    {% end %}
    {% for k, v in car.iter_slots(tags='armorer') %}
        {% if v is not None %}
            {% set scale_images = getattr(v, 'armorer_images', None) %}
            {% if scale_images is not None %}
                {% set scale_images_links = scale_images[str(scale)] %}
                <div class="armorer-slot for-journal side_{{ k }}_{{ car.node_html() }} shift-for-journal_{{ car.node_html() }}" style="z-index: 2">
                    <div class="armorer-car-slot-picture"><img src="{{ static_url(static_world_link_repr(scale_images_links['armorer_side_' + v.direction])) }}" class="armorer_side_{{ v.direction }}"></div>
                </div>
            {% end %}
        {% end %}
    {% end %}
</div>



