{% try %}
  {% set car_info_table_agent = agent.example %}
{% except %}
  {% set car_info_table_agent = None %}
{% end %}
{% set speed_rate = 0.5 %}
{% set all_params = car.param_aggregate(example_agent=car_info_table_agent) %}
{% set v_value = round(all_params['v_forward'] * 3.6) %}
{% if car_info_table_agent %}
    {% set v_dvalue = v_value - round(car.get_modify_value(param_name='v_forward', example_agent=None) * 3.6) %}
    {% if v_dvalue < 0 %}
        {% set str_value = "{}({})".format(int(v_value * speed_rate), int(v_dvalue * speed_rate)) %}
    {% else %}
        {% set str_value = "{}".format(int(v_value * speed_rate)) %}
    {% end %}
{% else %}
    {% set str_value = "{}".format(int(v_value * speed_rate)) %}
{% end %}

{% set p_cc = all_params['v_forward'] / all_params['max_control_speed'] %}
{% set p_cc_dirt = max((p_cc - p_cc * all_params['m_cc_dirt'] * (1.0 - all_params['r_cc_dirt'])), 0.01) %}
{% set value_v_dirt =  round(all_params['max_control_speed'] * p_cc_dirt * 3.6) %}
{% set str_v_dirt = "{}".format(int(value_v_dirt * speed_rate)) %}

{% set p_cc_wood = max((p_cc_dirt - p_cc * all_params['m_cc_wood'] * (1.0 - all_params['r_cc_wood'])), 0.01) %}
{% set value_v_wood = round(all_params['max_control_speed'] * p_cc_wood * 3.6) %}
{% set str_v_wood = "{}".format(int(value_v_wood * speed_rate)) %}

{% set p_cc_slope = max((p_cc_dirt - p_cc * all_params['m_cc_slope'] * (1.0 - all_params['r_cc_slope'])), 0.01) %}
{% set value_v_slope = round(all_params['max_control_speed'] * p_cc_slope * 3.6) %}
{% set str_v_slope = "{}".format(int(max(value_v_slope * speed_rate, 0.05))) %}

{% set p_cc_water = max((p_cc_dirt - p_cc * all_params['m_cc_water'] * (1.0 - all_params['r_cc_water'])), 0.01) %}
{% set value_v_water = round(all_params['max_control_speed'] * p_cc_water * 3.6) %}
{% set str_v_water = "{}".format(int(value_v_water * speed_rate)) %}

<div class="car-info-block-info">
    <div class="car-info-block-body-right-menu">
        <div class="mainCarInfoWindow-body-right-menu-button active" onclick="CarTableInfoMenuClick(this)" data-page="model">{{ _("lcit_tth") }}</div>
        <div class="mainCarInfoWindow-body-right-menu-button" onclick="CarTableInfoMenuClick(this)" data-page="ammo">{{ _("lcit_weapon") }}</div>
        <div class="mainCarInfoWindow-body-right-menu-button" onclick="CarTableInfoMenuClick(this)" data-page="history">{{ _("lcit_history") }}</div>
    </div>
    <div class="car-info-block-body-right-list active model">
        <div class="car-info-block-body-right-list-text name even">&nbsp{{ _("lcit_price") }}</div>
        <div class="car-info-block-body-right-list-text value even">{{ int(car.price) }} Nc</div>
        <div class="car-info-block-body-right-list-text name uneven">&nbsp{{ _("lcit_class") }}</div>
        <div class="car-info-block-body-right-list-text value uneven">{{ _(car.class_car) }}</div>
        <div class="car-info-block-body-right-list-text name even">&nbsp{{ _("lcit_strength") }}</div>
        <div class="car-info-block-body-right-list-text value even">{{ car.max_hp }}</div>
        <div class="car-info-block-body-right-list-text name uneven">&nbsp{{ _("lcit_speed") }}</div>
        <div class="car-info-block-body-right-list-text value uneven">{{ str_value }}</div>
        <div class="car-info-block-body-right-list-text name even">&nbsp{{ _("lcit_acc") }}</div>
        <div class="car-info-block-body-right-list-text value even">{{ "{:.1f}".format(all_params["a_forward"]) }}</div>
        <div class="car-info-block-body-right-list-text name uneven">&nbsp{{ _("lcit_mobility") }}</div>
        <div class="car-info-block-body-right-list-text value uneven">{{ "{:.1f}".format(all_params["mobility"] * 10.0) }}</div>
        <div class="car-info-block-body-right-list-text name even">&nbsp{{ _("lcit_armor") }}</div>
        <div class="car-info-block-body-right-list-text value even">{{ "{:.1f}".format(all_params["p_armor"]) }}</div>
        <div class="car-info-block-body-right-list-text name uneven">&nbsp{{ _("lcit_slot_count") }}</div>
        <div class="car-info-block-body-right-list-text value uneven">{{ car.get_count_slots(tags='armorer') }}</div>
        <div class="car-info-block-body-right-list-text name even">&nbsp{{ _("lcit_inventory_size") }}</div>
        <div class="car-info-block-body-right-list-text value even">{{ car.inventory.size }}</div>
        <div class="car-info-block-body-right-list-text name uneven">&nbsp{{ _("lcit_fuel") }}</div>
        <div class="car-info-block-body-right-list-text value uneven">{{ car.max_fuel }}</div>
        <div class="car-info-block-body-right-list-text name even">&nbsp{{ _("lcit_fuel_consumption") }}</div>
        <div class="car-info-block-body-right-list-text value even">{{ car.p_fuel_rate }}</div>
        <div class="car-info-block-body-right-list-text name uneven">&nbsp{{ _("lcit_driving_req") }}</div>
        <div class="car-info-block-body-right-list-text value uneven">{{ car.needed_driving }}</div>
        <div class="car-info-block-body-right-list-bonuses">{{ _("lcit_zone_speed") }}</div>
        <div class="car-info-block-body-right-list-text name even">&nbsp{{ _("lcit_dirt_speed") }}</div>
        <div class="car-info-block-body-right-list-text value even">{{ str_v_dirt }}</div>
        <div class="car-info-block-body-right-list-text name uneven">&nbsp{{ _("lcit_wood_speed") }}</div>
        <div class="car-info-block-body-right-list-text value uneven">{{ str_v_wood }}</div>
        <div class="car-info-block-body-right-list-text name even">&nbsp{{ _("lcit_slope_speed") }}</div>
        <div class="car-info-block-body-right-list-text value even">{{ str_v_slope }}</div>
        <div class="car-info-block-body-right-list-text name uneven">&nbsp{{ _("lcit_water_speed") }}</div>
        <div class="car-info-block-body-right-list-text value uneven">{{ str_v_water }}</div>
    </div>
    <div class="car-info-block-body-right-list ammo">
        {% for k, v in car.iter_slots(tags='armorer') %}
            {% if v is not None %}
            <div class="car-info-block-item-wrap"
                 onmouseover="CarInfoBlockAmmoInfoView('{{ _(v.description) }}', '{{ _(v.title_with_condition) }}')" onmouseout="CarInfoBlockAmmoInfoHide()">
                <div class="npcInventory-pictureWrap town-interlacing">
                    <div class="car-info-block-itemy-picture"
                         style="background: url({{ static_mobile_link_repr(static_url(static_world_link_repr(v.inv_icon_big))) }} ) no-repeat center;"></div>
                </div>
                <div class="npcInventory-name">{% raw _(v.title_with_condition) %}</div>
            </div>
            {% end %}
        {% end %}
    </div>
    <div class="car-info-block-body-right-list history">
        <div class="car-info-block-body-right-list-text name uneven">&nbsp{{ _("lcit_mileage") }}</div>
        <div class="car-info-block-body-right-list-text value uneven dynamic_car_way">{{ '{:.1f}'.format(car.way/1000) }}</div>
        <div class="car-info-block-body-right-list-text name even">&nbsp{{ _("lcit_kill_count") }}</div>
        <div class="car-info-block-body-right-list-text value even dynamic_car_frag">{{ car.frag }}</div>
        <div class="car-info-block-body-right-list-bonuses">{{ _("lcit_exp") }}</div>
        <div class="car-info-block-body-right-exp-block">
            {% set lvl = car.get_real_lvl() %}
            {% for temp_lvl in range(1, 6) %}
                <div class="car-info-block-body-right-exp-icon {{ 'active' if lvl >= temp_lvl else '' }} {{ 'last' if temp_lvl == 5 else '' }}"></div>
            {% end %}
        </div>
    </div>
</div>