{% try %}
  {% set car_info_table_agent = agent.example %}
{% except %}
    {% set car_info_table_agent = None %}
{% end %}

{% if car_info_table_agent %}
    {% set v_value = round(car.get_modify_value(param_name='v_forward', example_agent=car_info_table_agent) * 3.6) %}
    {% set v_dvalue = v_value - round(car.get_modify_value(param_name='v_forward', example_agent=None) * 3.6) %}
    {% if v_dvalue < 0 %}
        {% set str_value = "{}({})".format(int(v_value), int(v_dvalue)) %}
    {% else %}
        {% set str_value = "{}".format(int(v_value)) %}
    {% end %}
{% else %}
    {% set v_value = round(car.get_modify_value(param_name='v_forward', example_agent=None) * 3.6) %}
    {% set str_value = "{}".format(int(v_value)) %}
{% end %}

<div class="car-info-block-info">
    <div class="car-info-block-body-right-menu">
        <div class="mainCarInfoWindow-body-right-menu-button active" onclick="CarTableInfoMenuClick(this)" data-page="model">TTX</div>
        <div class="mainCarInfoWindow-body-right-menu-button" onclick="CarTableInfoMenuClick(this)" data-page="ammo">Вооружение</div>
        <div class="mainCarInfoWindow-body-right-menu-button" onclick="CarTableInfoMenuClick(this)" data-page="history">История</div>
    </div>
    <div class="car-info-block-body-right-list active model">
        <div class="car-info-block-body-right-list-text name even">&nbspЦена:</div>
        <div class="car-info-block-body-right-list-text value even">{{ int(car.price) }} Nc</div>
        <div class="car-info-block-body-right-list-text name uneven">&nbspКласс:</div>
        <div class="car-info-block-body-right-list-text value uneven">{{ car.class_car }}</div>
        <div class="car-info-block-body-right-list-text name even">&nbspПрочность:</div>
        <div class="car-info-block-body-right-list-text value even">{{ car.max_hp }}</div>
        <div class="car-info-block-body-right-list-text name uneven">&nbspCкорость:</div>
        <div class="car-info-block-body-right-list-text value uneven">{{ str_value }}</div>
        <div class="car-info-block-body-right-list-text name even">&nbspСлотов кузова:</div>
        <div class="car-info-block-body-right-list-text value even">{{ car.get_count_slots(tags='armorer') }}</div>
        <div class="car-info-block-body-right-list-text name uneven">&nbspСлотов багажника:</div>
        <div class="car-info-block-body-right-list-text value uneven">{{ car.inventory.size }}</div>
        <div class="car-info-block-body-right-list-text name even">&nbspОбъём бака:</div>
        <div class="car-info-block-body-right-list-text value even">{{ car.max_fuel }}</div>
        <div class="car-info-block-body-right-list-text name uneven">&nbspРасход топлива:</div>
        <div class="car-info-block-body-right-list-text value uneven">{{ car.p_fuel_rate }}</div>
        <div class="car-info-block-body-right-list-text name even">&nbspНавык вождения:</div>
        <div class="car-info-block-body-right-list-text value even">{{ car.needed_driving }}</div>
        <div class="car-info-block-body-right-list-bonuses">Бонусы местности:</div>
        <!--<div class="mainCarInfoWindow-body-right-list-model-road">&nbspДорога:</div>-->
        <!--<div class="mainCarInfoWindow-body-right-list-model-road-value">Максимальная скорость</div>-->
        <div class="car-info-block-body-right-list-bonuses">Пенальти местности:</div>
        <!--<div class="mainCarInfoWindow-body-right-list-model-forest">&nbspЛес:</div>-->
        <!--<div class="mainCarInfoWindow-body-right-list-model-forest-value">Максимальная скорость</div>-->
        <!--<div class="mainCarInfoWindow-body-right-list-model-hill">&nbspХолмы:</div>-->
        <!--<div class="mainCarInfoWindow-body-right-list-model-hill-value">-</div>-->
        <!--<div class="mainCarInfoWindow-body-right-list-model-water">&nbspВода:</div>-->
        <!--<div class="mainCarInfoWindow-body-right-list-model-water-value">Невозможно</div>-->
        <!--<div class="mainCarInfoWindow-body-right-list-model-mountain">&nbspГоры:</div>-->
        <!--<div class="mainCarInfoWindow-body-right-list-model-mountain-value">Невозможно</div>-->
    </div>
    <div class="car-info-block-body-right-list ammo">
        {% for k, v in car.iter_slots(tags='armorer') %}
            {% if v is not None %}
            <div class="car-info-block-item-wrap"
                 onmouseover="CarInfoBlockAmmoInfoView('{{ v.description }}', {{ v.title }})" onmouseout="CarInfoBlockAmmoInfoHide()">
                <div class="npcInventory-pictureWrap town-interlacing">
                    <div class="car-info-block-itemy-picture"
                         style="background: url({{ static_mobile_link_repr(static_url(static_world_link_repr(v.inv_icon_big))) }} ) no-repeat center;"></div>
                </div>
                <div class="npcInventory-name">{{ v.title }}</div>
            </div>
            {% end %}
        {% end %}
    </div>
    <div class="car-info-block-body-right-list history">
        <div class="car-info-block-body-right-list-text name uneven">&nbspПробег:</div>
        <div class="car-info-block-body-right-list-text value uneven dynamic_car_way">{{ '{:.1f}'.format(car.way/1000) }}</div>
        <div class="car-info-block-body-right-list-text name even">&nbspУбийств:</div>
        <div class="car-info-block-body-right-list-text value even dynamic_car_frag">{{ car.frag }}</div>
        <div class="car-info-block-body-right-list-bonuses">Опыт:</div>
        <div class="car-info-block-body-right-exp-block">
            {% set lvl = car.exp_table.car_lvl_by_exp(car.exp) %}
            {% for temp_lvl in range(1, 6) %}
                <div class="car-info-block-body-right-exp-icon {{ 'active' if lvl >= temp_lvl else '' }} {{ 'last' if temp_lvl == 5 else '' }}"></div>
            {% end %}
        </div>
    </div>
</div>