<style>
    .car-info-block-main {
        position: relative;
        box-sizing: border-box;
        margin: auto;
        width: 734px;
        height: 100%;
    }

    .car-info-block-picture {
        position: relative;
        float: left;
        height: 100%;
        width: 430px;
        <!--line-height: 285px;-->

    }

    .car-info-block-info {
        position: relative;
        background-color: white;
        float: left;
        height: 100%;
        width: 304px;
    }
</style>

<div class="car-info-block-main">
    <div class="car-info-block-picture" style="background: url({{ car.hangar_car }}) no-repeat center"></div>
    <div class="car-info-block-info">
         <!--<div class="mainCarInfoWindow-body-right">-->
            <!--<div class="mainCarInfoWindow-body-right-menu">-->
                <!--<div class="mainCarInfoWindow-body-right-menu-button-model">Модель</div>-->
                <!--<div class="mainCarInfoWindow-body-right-menu-button-tth">ТТХ</div>-->
                <!--<div class="mainCarInfoWindow-body-right-menu-button-weapons">Вооружение</div>-->
                <!--<div class="mainCarInfoWindow-body-right-menu-button-history">История</div>-->
            <!--</div>-->
            <!--<div class="mainCarInfoWindow-body-right-list-model">-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-model">&nbspМодель:</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-model-value">Газель</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-class">&nbspКласс:</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-class-value">Средний</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-bodyvol">&nbspСлотов кузова:</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-bodyvol-value">4</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-trunkvol">&nbspСлотов багажника:</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-trunkvol-value">8</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-bonuses">Бонусы местности:</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-road">&nbspДорога:</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-road-value">Максимальная скорость</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-bonuses">Пенальти местности:</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-forest">&nbspЛес:</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-forest-value">Максимальная скорость</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-hill">&nbspХолмы:</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-hill-value">-</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-water">&nbspВода:</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-water-value">Невозможно</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-mountain">&nbspГоры:</div>-->
                <!--<div class="mainCarInfoWindow-body-right-list-model-mountain-value">Невозможно</div>-->
            <!--</div>-->
            <!--<div class="mainCarInfoWindow-body-right-list-tth">-->
                <!--ТТХ-->
            <!--</div>-->
            <!--<div class="mainCarInfoWindow-body-right-list-weapons">-->
                <!--Вооружение-->
            <!--</div>-->
            <!--<div class="mainCarInfoWindow-body-right-list-history">-->
                <!--История-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>