<div class="chat-interaction-main">
    {% if cur_build.head is not None %}
        {% set npc_photo = '' %}
        {% set npc_title = '' %}
        {% set npc_text = '' %}
        {% include npc_header.html %}
    {% end %}
    <div class="chat-interaction-center-block">
        <div class="chat-interaction-center-menu-block">
            <div class="chat-interaction-center-menu-item one-line" data-page_id="chatInteractionInfo">{{ _("lci_info") }}</div>
            <div class="chat-interaction-center-menu-item one-line" data-page_id="chatInteractionTrading">{{ _("lci_trading_info") }}</div>
        </div>
        <div class="chat-interaction-center-pages-block">
            <div id="chatInteractionInfo" class="chat-interaction-center-page">
                <div class="chat-interaction-car-photo-name town-back-interlacing-nocontent"></div>
                <div class="chat-interaction-car-photo-block town-interlacing"></div>
                <div class="chat-interaction-car-info-block">
                    <div class="chat-interaction-pers-info">
                        <div class="chat-interaction-pers-info-line interaction-dark-back">
                            <div class="chat-interaction-pers-info-label">{{ _("lci_lvl") }}</div>
                            <div class="chat-interaction-pers-info-value chat-interaction-lvl"></div>
                        </div>
                        <div class="chat-interaction-pers-info-line interaction-light-back">
                            <div class="chat-interaction-pers-info-label">{{ _("lci_class") }}</div>
                            <div class="chat-interaction-pers-info-value chat-interaction-role_class"></div>
                        </div>
                        <div class="chat-interaction-pers-info-line interaction-dark-back">
                            <div class="chat-interaction-pers-info-label">{{ _("lci_karma") }}</div>
                            <div class="chat-interaction-pers-info-value chat-interaction-karma"></div>
                        </div>
                        <div class="chat-interaction-pers-info-line interaction-light-back">
                            <div class="chat-interaction-pers-info-label">{{ _("lci_driving") }}</div>
                            <div class="chat-interaction-pers-info-value chat-interaction-driving"></div>
                        </div>
                        <div class="chat-interaction-pers-info-line interaction-dark-back">
                            <div class="chat-interaction-pers-info-label">{{ _("lci_shooting") }}</div>
                            <div class="chat-interaction-pers-info-value chat-interaction-shooting"></div>
                        </div>
                        <div class="chat-interaction-pers-info-line interaction-light-back">
                            <div class="chat-interaction-pers-info-label">{{ _("lci_masking") }}</div>
                            <div class="chat-interaction-pers-info-value chat-interaction-masking"></div>
                        </div>
                        <div class="chat-interaction-pers-info-line interaction-dark-back">
                            <div class="chat-interaction-pers-info-label">{{ _("lci_engineering") }}</div>
                            <div class="chat-interaction-pers-info-value chat-interaction-engineering"></div>
                        </div>
                        <div class="chat-interaction-pers-info-line interaction-light-back">
                            <div class="chat-interaction-pers-info-label">{{ _("lci_trading") }}</div>
                            <div class="chat-interaction-pers-info-value chat-interaction-trading"></div>
                        </div>
                        <div class="chat-interaction-pers-info-line interaction-dark-back">
                            <div class="chat-interaction-pers-info-label">{{ _("lci_leading") }}</div>
                            <div class="chat-interaction-pers-info-value chat-interaction-leading"></div>
                        </div>
                    </div>
                    <div class="chat-interaction-car-info"></div>
                </div>
            </div>
            <div id="chatInteractionTrading" class="chat-interaction-center-page"></div>
        </div>
    </div>
    <div class="chat-interaction-private-chat"></div>
    <div class="chat-interaction-private-chat-input-block">
        <div class="chat-interaction-private-chat-input-button">
            <div class="chat-interaction-private-chat-input-button-text sublayers-clickable"> &gt; </div>
        </div>
        <div class="chat-interaction-private-chat-input-area">
            <input class="chat-interaction-private-chat-input" type="text">
        </div>
    </div>
</div>

