<div class="journal-main">
    <div class="journal-header">
        <div class="journal-page-button-block" data-page_id="journal_page_task">Задания</div>
        <div class="journal-page-button-block" data-page_id="journal_page_parking">Стоянки</div>
    </div>
    <div class="journal-page-list">
        <div id="journal_page_task" class="journal-page-block">
            <div class="journal-page-left"></div>
            <div class="journal-page-right"></div>
        </div>
        <div id="journal_page_parking" class="journal-page-block">
            <div class="journal-page-left"></div>
            <div class="journal-page-right"></div>
        </div>
    </div>
</div>
