<div class="menu-main">
    <div class="menu-header">
        <div class="menu-header-item small" onclick="alert('на сайт')">Главная</div>
        <div class="menu-header-item click" data-page_id="Person">Персонаж</div>
        <div class="menu-header-item big click" data-page_id="Car">Автомобиль</div>
        <div class="menu-header-item click" data-page_id="Inventory">Инвентарь</div>
        <div class="menu-header-item click small" data-page_id="Journal">Журнал</div>
        <div class="menu-header-item click small" data-page_id="Nukeoil">NukeOil</div>
        <div class="menu-header-item"  onclick="alert('на форум или группу вк')">Сообщество</div>
    </div>
    <div class="menu-center">
        <div id="locationMenuItem_Person" class="menu-item">
            <div class="location-menu-person-up">
                <div class="location-menu-person-avatar-block">
                    <div class="location-menu-person-avatar"></div>
                    <div class="location-menu-person-name"></div>
                </div>
                <div class="location-menu-person-about-block">
                    <div class="location-menu-person-about-line lvl">Уровень: <span>X</span></div>
                    <div class="location-menu-person-about-line role-class">Класс: <span>X</span></div>
                    <div class="location-menu-person-about-line karma">Карма: <span>0</span></div>
                    <div class="location-menu-person-about-line">О себе:</div>
                    <div class="location-menu-person-about-area"></div>
                </div>
            </div>
            <div class="location-menu-person-down">
                <div class="location-menu-person-bottom-menu">
                    <div class="location-menu-person-bottom-menu-item" data-page="pers_info">Характеристики</div>
                    <div class="location-menu-person-bottom-menu-item" data-page="pers_inventory">Инвентарь</div>
                </div>
                <div class="location-menu-person-page-list">
                    <div class="location-menu-person-page pers_info">
                        <div class="location-menu-person-perks-block">
                            <div class="location-menu-person-ttx-header">Перки</div>
                            <div class="location-menu-person-ttx-center perks"></div>
                            <div class="location-menu-person-ttx-footer">
                                <div class="location-menu-person-ttx-footer-text">Свободные очки</div>
                                <div class="location-menu-person-ttx-footer-text right free-perks">0</div>
                            </div>
                        </div>
                        <div class="location-menu-person-skills-block">
                            <div class="location-menu-person-ttx-header">Навыки</div>
                            <div class="location-menu-person-ttx-center">
                                <div class="location-menu-person-ttx-item" data-skill="driving">
                                    <div class="location-menu-person-ttx-skill trainer-light-back">Вождение:</div>
                                    <div class="location-menu-person-ttx-value trainer-light-back driving"></div>
                                </div>
                                <div class="location-menu-person-ttx-item" data-skill="shooting">
                                    <div class="location-menu-person-ttx-skill trainer-dark-back">Стрельба:</div>
                                    <div class="location-menu-person-ttx-value trainer-dark-back shooting"></div>
                                </div>
                                <div class="location-menu-person-ttx-item" data-skill="masking">
                                    <div class="location-menu-person-ttx-skill trainer-light-back">Скрытность:</div>
                                    <div class="location-menu-person-ttx-value trainer-light-back masking"></div>
                                </div>
                                <div class="location-menu-person-ttx-item" data-skill="engineering">
                                    <div class="location-menu-person-ttx-skill trainer-dark-back">Механика:</div>
                                    <div class="location-menu-person-ttx-value trainer-dark-back engineering"></div>
                                </div>
                                <div class="location-menu-person-ttx-item" data-skill="trading">
                                    <div class="location-menu-person-ttx-skill trainer-light-back">Торговля:</div>
                                    <div class="location-menu-person-ttx-value trainer-light-back trading"></div>
                                </div>
                                <div class="location-menu-person-ttx-item" data-skill="leading">
                                    <div class="location-menu-person-ttx-skill trainer-dark-back">Лидерство:</div>
                                    <div class="location-menu-person-ttx-value trainer-dark-back leading"></div>
                                </div>
                            </div>
                            <div class="location-menu-person-ttx-footer">
                                <div class="location-menu-person-ttx-footer-text">Свободные очки</div>
                                <div class="location-menu-person-ttx-footer-text right free-skills">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="location-menu-person-page pers_inventory">Квестовый Инвентарь</div>
                </div>
            </div>
        </div>
        <div id="locationMenuItem_Car" class="menu-item">
            <div class="location-menu-car-picture"></div>
            <div class="location-menu-car-table"></div>
        </div>
        <div id="locationMenuItem_Inventory" class="menu-item">
            <div class="location-inventory-info">
                <div class="location-inventory-filters">
                    <div class="location-inventory-filters-item" data-filter="">Все</div>
                    <div class="location-inventory-filters-item" data-filter="ammo">Боеприпасы</div>
                    <div class="location-inventory-filters-item" data-filter="cargo">Грузы</div>
                </div>
                <div class="location-inventory-block"></div>
            </div>
        </div>
        <div id="locationMenuItem_Journal" class="menu-item">
            {% include journal_window.html %}
        </div>
        <div id="locationMenuItem_Nukeoil" class="menu-item">
            <div class="location-menu-nukeoil-header">
                <div class="location-menu-nukeoil-button-block active" data-page_id="journal_page_task">Страховка</div>
                <div class="location-menu-nukeoil-button-block" data-page_id="journal_page_parking">Обращения</div>
            </div>
            <div class="location-menu-nukeoil-page-list">
                <div class="location-menu-nukeoil-page">
                    <div class="location-menu-nukeoil-ins-block">
                        <div class="location-menu-nukeoil-ins-img standart"></div>
                        <div class="location-menu-nukeoil-ins-name">Стандарт</div>
                        <div class="location-menu-nukeoil-ins-delimeter"></div>
                        <div class="location-menu-nukeoil-ins-line">Выплата 30%</div>
                        <div class="location-menu-nukeoil-ins-line">Эвакуация</div>
                        <div class="location-menu-nukeoil-ins-line">Выбор точки эвакуации - нет</div>
                    </div>
                    <div class="location-menu-nukeoil-ins-block">
                        <div class="location-menu-nukeoil-ins-img premium"></div>
                        <div class="location-menu-nukeoil-ins-name">Премиум</div>
                        <div class="location-menu-nukeoil-ins-delimeter"></div>
                        <div class="location-menu-nukeoil-ins-line">Выплата 60%</div>
                        <div class="location-menu-nukeoil-ins-line">Эвакуация</div>
                        <div class="location-menu-nukeoil-ins-line">Выбор точки эвакуации - нет</div>
                    </div>
                    <div class="location-menu-nukeoil-ins-block">
                        <div class="location-menu-nukeoil-ins-img vip"></div>
                        <div class="location-menu-nukeoil-ins-name">V.I.P.</div>
                        <div class="location-menu-nukeoil-ins-delimeter"></div>
                        <div class="location-menu-nukeoil-ins-line">Выплата 90%</div>
                        <div class="location-menu-nukeoil-ins-line">Эвакуация</div>
                        <div class="location-menu-nukeoil-ins-line">Выбор точки эвакуации - да</div>
                    </div>
                </div>
                <div class="location-menu-nukeoil-page" style="display: none;"></div>
            </div>
        </div>
    </div>
</div>