<div class="menu-main">
    <div class="menu-header">
        <div class="menu-header-item click" data-page_id="Person">Персонаж</div>
        <div class="menu-header-item big click" data-page_id="Car">Автомобиль</div>
        <div class="menu-header-item click" data-page_id="Inventory">Инвентарь</div>
        <div class="menu-header-item click small" data-page_id="Journal">Журнал</div>
        <div class="menu-header-item click small" data-page_id="Nukeoil">NukeOil</div>
        <div class="menu-header-item click small" data-page_id="Party">Пати</div>
    </div>
    <div class="menu-center">
        <div id="locationMenuItem_Person" class="menu-item">
            {% include ../menu/character_window.html %}
        </div>
        <div id="locationMenuItem_Car" class="menu-item">
            {% include ../menu/car_window.html %}
        </div>
        <div id="locationMenuItem_Inventory" class="menu-item">
            <div class="location-inventory-info">
                <div class="location-inventory-filters">
                    <div class="location-inventory-filters-item" data-filter="">Все</div>
                    <div class="location-inventory-filters-item" data-filter="ammo">Боеприпасы</div>
                    <div class="location-inventory-filters-item" data-filter="cargo">Грузы</div>
                </div>
                <div class="location-inventory-block"></div>
            </div>
        </div>
        <div id="locationMenuItem_Journal" class="menu-item">
            {% include journal_window.html %}
        </div>
        <div id="locationMenuItem_Nukeoil" class="menu-item">
            <div class="location-menu-nukeoil-header">
                <div class="location-menu-nukeoil-button-block active" data-page_id="journal_page_task">Страховка</div>
                <div class="location-menu-nukeoil-button-block" data-page_id="journal_page_parking">Обращения</div>
            </div>
            <div class="location-menu-nukeoil-page-list">
                <div class="location-menu-nukeoil-page">
                    <div class="location-menu-nukeoil-ins-block">
                        <div class="location-menu-nukeoil-ins-img standart"></div>
                        <div class="location-menu-nukeoil-ins-name">Стандарт</div>
                        <div class="location-menu-nukeoil-ins-delimeter"></div>
                        <div class="location-menu-nukeoil-ins-line">Выплата 30%</div>
                        <div class="location-menu-nukeoil-ins-line">Эвакуация</div>
                        <div class="location-menu-nukeoil-ins-line">Выбор точки эвакуации - нет</div>
                    </div>
                    <div class="location-menu-nukeoil-ins-block">
                        <div class="location-menu-nukeoil-ins-img premium"></div>
                        <div class="location-menu-nukeoil-ins-name">Премиум</div>
                        <div class="location-menu-nukeoil-ins-delimeter"></div>
                        <div class="location-menu-nukeoil-ins-line">Выплата 60%</div>
                        <div class="location-menu-nukeoil-ins-line">Эвакуация</div>
                        <div class="location-menu-nukeoil-ins-line">Выбор точки эвакуации - нет</div>
                    </div>
                    <div class="location-menu-nukeoil-ins-block">
                        <div class="location-menu-nukeoil-ins-img vip"></div>
                        <div class="location-menu-nukeoil-ins-name">V.I.P.</div>
                        <div class="location-menu-nukeoil-ins-delimeter"></div>
                        <div class="location-menu-nukeoil-ins-line">Выплата 90%</div>
                        <div class="location-menu-nukeoil-ins-line">Эвакуация</div>
                        <div class="location-menu-nukeoil-ins-line">Выбор точки эвакуации - да</div>
                    </div>
                </div>
                <div class="location-menu-nukeoil-page" style="display: none;"></div>
            </div>
        </div>
        <div id="locationMenuItem_Party" class="menu-item">
            {% include ../menu/party_window.html %}
        </div>
    </div>
</div>