<style>
    #btn_screen_location_area, #btn_screen_chat_area, #btn_screen_menu_area,
    #btn_1_area, #btn_2_area, #btn_3_area, #btn_4_area {
        cursor: url('/static/img/cursors/hyper.png'), pointer;
    }

    .highlight-buildings { cursor: url('/static/img/cursors/hyper.png'), pointer; }

    .highlight-logo { cursor: url('/static/img/cursors/hyper.png'), pointer; }

    #location-content {
        position: absolute;
        width: 780px;
        height: 690px;
        top: 138px;
        left: 570px;
        pointer-events: none;
    }

    .npc-wrap {
        position: relative;
        pointer-events: auto;
        width: 100%;
        height: 100%;
    }

    .town-img-mask {
        position: absolute;
        top: 0;
        pointer-events: none;
    }

    #town-out-screen-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .town-btn-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .town-btn-block {
        position: absolute;
        width: 190px;
        height: 50px;
        color: #2ffa00;
        font-size: 24px;
        z-index: 2;
        font-family: Nouveau_IBM;
        letter-spacing: 2px;
        line-height: 20px;
    }
    .town-btn-block.hover { text-shadow: 0 0 1px #00ff00, 0 0 10px #00ff00; }
    .town-btn-block.pressed { color: #082801; text-shadow: none; }
    .town-btn-block.right { text-align: right; }
    .town-btn-block.noactive {color: #0e4b00;}

    #btn_1_text{ top: 585px; left: 262px; transform: rotateZ(-23deg) skew(-9deg); }
    #btn_2_text{ top: 780px; left: 313px; transform: rotateZ(-19deg) skew(-5deg); }
    #btn_3_text{ top: 581px; right: 272px; transform: rotateZ(23deg) skew(9deg); }
    #btn_4_text{ top: 776px; right: 323px; transform: rotateZ(19deg) skew(5deg); }
</style>

<div>
    {% raw svg_code %}
</div>

<div id="location-content">
    {% for building in location.example.buildings %}
        {% set cur_build = location.example.buildings[building] %}
        <div id="building_{{ building }}" class="townPageWrap building-wrap" style="display: none">
            {% include building_window.html %}
        </div>
        {% for npc in cur_build.instances %}
        {% set cur_npc = npc %}
        <div id="npc_{{ npc.node_html() }}" class="townPageWrap npc-wrap" style="display: none">
            {% include npc_window.html %}
        </div>
        {% end %}
    {% end %}
    <div id="townMenuLocation" class="townPageWrap menu-wrap" style="display: none">
        {% include location_menu.html %}
    </div>
    <div id="townChatLocation" class="townPageWrap" style="display: none">
        {% include location_chat.html %}
    </div>
    <div id="townChatInteraction" class="townPageWrap npc-wrap" style="display: none">
        {% include chat_interaction.html %}
    </div>
</div>

<div class="town-btn-area">
    <div id="btn_1_text" class="town-btn-block left">Завершить квест</div>
    <div id="btn_2_text" class="town-btn-block left">Отказаться от квеста</div>
    <div id="btn_3_text" class="town-btn-block right"></br>Назад</div>
    <div id="btn_4_text" class="town-btn-block right"></br>Выход</div>
</div>

<img class="town-img-mask" src="static/content/locations/map_locations/city_mask_1.png"/>

<div id="town-out-screen-area">
    <div id="townLeftPanel" class="town-panel left">
        {% include panel_info/npc_transaction_info.html %}
        {% include panel_info/pi_building_quest.html %}
    </div>
    <div id="townRightPanel" class="town-panel right">
        {% include panel_info/car_info.html %}
        {% include panel_info/panel_description.html %}
        {% include panel_info/pi_building.html %}
    </div>
</div>

<img class="town-img-mask" src="static/content/locations/map_locations/city_mask_2.png"/>

<div style="position: absolute; top:0; left:0; width: 100%; height: 100%; pointer-events: none;">
    <canvas id="ctest_2" width="1920" height="1080" style="position: absolute; pointer-events: none;">City Canvas !!!</canvas>
</div>

<script>
    var text_variants = [
        '</br>Назад',
        '</br>Выход',
        '</br>Взять квест',
        'Завершить</br>квест',
        'Отказаться</br>от квеста',
        '</br>Купить ТС',
        '</br>Продать ТС',
        '</br>Обменять ТС',
        '</br>Взять ТС',
        '</br>Сменить ТС',
        'Поставить</br>ТС',
        'Подтвердить</br>сделку',
        '</br>Отмена',
        '</br>Применить',
        '</br>Оформить',
        '</br>Продлить',
        '</br>Залить',
        'Залить</br>полный бак',
        '</br>Заправить',
        'Заправить</br>всё',
        '</br>Создать',
        '</br>Принять',
        '</br>Отказаться',
        '</br>Применить',
        'Покинуть</br>группу',
        '</br>Установить'
    ];

    function random_text(){
        var index = Math.floor(Math.random() * text_variants.length);
        return text_variants[index];
    }

    $(function () {
{#        console.log('Вызов установки кликов для города!');#}
        var jq_btn = $('#btn_screen_location_area, #btn_screen_chat_area, #btn_screen_menu_area, #btn_1_area, #btn_2_area, #btn_3_area, #btn_4_area');

        jq_btn
                .mouseenter(function (event) {
                    var id = $(this).attr('id');
                    if (id.indexOf('_area')) {
                        id = id.replace('_area', '');
                        // Проверка доступности кнопок
                        var noactive_status = $('#' + id + '_noactive').css('display');
                        if (noactive_status == undefined || noactive_status.toLowerCase() == 'none') {
                            $('#' + id + '_hover').css('display', 'block');
                            $('#' + id + '_active').css('display', 'none');
                            $('#' + id + '_text').addClass('hover');
                            $('#' + id).css('display', 'none');
                        }
                    }
                })
                .mouseleave(function (event) {
                    var id = $(this).attr('id');
                    if (id.indexOf('_area')) {
                        id = id.replace('_area', '');

                        // Это необходимо сделать вне зависимости от активности кнопки
                        $('#' + id + '_hover').css('display', 'none');
{#                        $('#' + id + '_pressed').css('display', 'none');#}
                        $('#' + id + '_text').removeClass('hover');
                        $('#' + id + '_text').removeClass('pressed');

                        // Проверка доступности кнопок
                        var noactive_status = $('#' + id + '_noactive').css('display');
                        if (noactive_status == undefined || noactive_status.toLowerCase() == 'none') {
                            $('#' + id + '_active').css('display', 'block');
                            $('#' + id).css('display', 'block');
                        }
                    }
                })
                .mousedown(function (event) {
                    var id = $(this).attr('id');
                    if (id.indexOf('_area')) {
                        id = id.replace('_area', '');
                        // Проверка доступности кнопок
                        var noactive_status = $('#' + id + '_noactive').css('display');
                        if (noactive_status == undefined || noactive_status.toLowerCase() == 'none') {
                            $('#' + id + '_hover').css('display', 'none');
                            $('#' + id + '_pressed').css('display', 'block');
                            $('#' + id + '_text').addClass('pressed');
                        }
                    }
                })
                .mouseup(function (event) {
                    var id = $(this).attr('id');
                    if (id.indexOf('_area')) {
                        id = id.replace('_area', '');
                        // Проверка доступности кнопок
                        var noactive_status = $('#' + id + '_noactive').css('display');
                        if (noactive_status == undefined || noactive_status.toLowerCase() == 'none') {
                            $('#' + id + '_hover').css('display', 'block');
                            $('#' + id + '_pressed').css('display', 'none');
                            $('#' + id + '_text').removeClass('pressed');
                        }

                        switch (id) {
                            case 'btn_1':
                            case 'btn_2':
                            case 'btn_3':
                            case 'btn_4':
                                locationManager.clickBtn(id.replace('btn_', ''));
                                break;
                            case 'btn_screen_location':
                                locationManager.activateScreen('location_screen', id + '_pressed');
                                break;
                            case 'btn_screen_chat':
                                locationManager.activateScreen('chat_screen', id + '_pressed');
                                break;
                            case 'btn_screen_menu':
                                locationManager.activateScreen('menu_screen', id + '_pressed');
                                break;
                        }
                    }
                });

        // События для зданий
        var jq_buildings = $('.highlight-buildings');
        jq_buildings.click(function(event){
            //console.log('Build click --- > ', this);
            var id = $(this).attr('id');
            var building = $(this).data('building');
            locationManager.openBuilding(building);
{#            console.log('Open ', building);#}
        });

        jq_buildings.mouseenter(function(event){
            //console.log('Build mouseenter --- > ', this);
            var id = $(this).attr('id');
            var index = id.split('_')[1];
            index = index.substr(index.length - 1, 1);
            $("#img_house"+ index +"_on").css("display", "block");
            $("#img_house" + index + "_off").css("display", "none");
            $("#path_h" + index).css("opacity", "0.6");
            $("#path_text_h" + index).css("opacity", "0.6");

            var building = $(this).data('building');
            if (locationManager.buildings.hasOwnProperty(building))
                locationManager.buildings[building].set_panels(true);
        });

        jq_buildings.mouseleave(function(event){
            //console.log('Build mouseleave --- > ', this);
            var id = $(this).attr('id');
            var index = id.split('_')[1];
            index = index.substr(index.length - 1, 1);
            $("#img_house" + index + "_off").css("display", "block");
            $("#img_house" + index + "_on").css("display", "none");
            $("#path_h" + index).css("opacity", "0.2");
            $("#path_text_h" + index).css("opacity", "0.2");

            var building = $(this).data('building');
            if (locationManager.buildings.hasOwnProperty(building) &&
                !locationManager.isActivePlace(locationManager.buildings[building])) {
                locationManager.panel_left.show({}, '');
                locationManager.panel_right.show({}, '');
            }
        });

        // События для логотипа
        var jq_logo = $('.highlight-logo');
        jq_logo.click(function(event){});
        
        jq_logo.mouseenter(function(event){
            $("#img_logo_on").css("display", "block");
            $("#img_logo_off").css("display", "none");
        });

        jq_logo.mouseleave(function(event){
            $("#img_logo_on").css("display", "none");
            $("#img_logo_off").css("display", "block");
        });
    });
</script>