{% set npc_photo = town.example.mechanic.photo %}
{% set npc_title = town.example.mechanic.title %}
{% set npc_text = town.example.mechanic.text %}

<div class="mechanicWindow-main">
    {% include npc_header.html %}
    <div class="mechanic-center">
        <div class="mechanic-center-main-block mechanic-center-block">
            <div class="mechanic-center-page-control">
                <div class="mechanic-center-page-control-page-button" data-page="#mechanic_page_motor" data-tag="engine">Двигатель</div>
                <div class="mechanic-center-page-control-page-button" data-page="#mechanic_page_transmission" data-tag="transmission">Трансмиссия</div>
                <div class="mechanic-center-page-control-page-button" data-page="#mechanic_page_suspension" data-tag="suspension">Подвеска</div>
                <div class="mechanic-center-page-control-page-button" data-page="#mechanic_page_brakes" data-tag="brake">Тормоза</div>
                <div class="mechanic-center-page-control-page-button" data-page="#mechanic_page_cooling" data-tag="cooling">Охлаждение</div>
            </div>
            <div id="mechanic_page_motor" class="mechanic-center-main-block-page">
                {% raw open(mechanic_engine).read() %}
            </div>
            <div id="mechanic_page_transmission" class="mechanic-center-main-block-page">
                {% raw open(mechanic_transmission).read() %}
            </div>
            <div id="mechanic_page_suspension" class="mechanic-center-main-block-page">
                {% raw open(mechanic_suspension).read() %}
            </div>
            <div id="mechanic_page_brakes" class="mechanic-center-main-block-page">
                {% raw open(mechanic_brakes).read() %}
            </div>
            <div id="mechanic_page_cooling" class="mechanic-center-main-block-page">
                {% raw open(mechanic_cooling).read() %}
            </div>
        </div>
        <div class="mechanic-center-info-block mechanic-center-block">
            <div id="mechanic-info-block-img"></div>
            <div id="mechanic-info-block-title"></div>
            <div id="mechanic-info-block-description"></div>
        </div>
    </div>
    {% include npc_inventory.html %}
</div>

<script>
    $('.mechanic-center-page-control-page-button').click(function(event) {
        $('.mechanic-center-main-block-page').css('display', 'none');
        $($(event.target).data('page')).css('display', 'block');
        $('.mechanic-center-page-control-page-button').removeClass('mechanic-center-page-control-page-button-active');
        $(event.target).addClass('mechanic-center-page-control-page-button-active');
        locationManager.mechanic.setInventoryTag($(event.target).data('tag'));
    });
    $('.mechanic-center-page-control-page-button').first().click();

    $('.mechanic-slot').mouseenter(function() {
        var subs = $(this).data('subsystem');
        $('#mechanic-img-' + subs).removeClass('mechanic-img-subsystem');
    });

    $('.mechanic-slot').mouseleave(function() {
        var subs = $(this).data('subsystem');
        $('#mechanic-img-' + subs).addClass('mechanic-img-subsystem');
    });
</script>