<style xmlns="http://www.w3.org/1999/html">
    #townNucoilPageWrap {
        position: absolute;
        top: 250px;
        left: 625px;
    }

    #townArmorerPageWrap {
        position: absolute;
        top: 140px;
        left: 592px;
    }

    #townTraderPageWrap {
        position: absolute;
        top: 155px;
        left: 625px;
    }

    .noCarMessage {
        position: relative;
        margin: 200px auto 0px auto;
        color: #30fc00;
        text-align: center;
        font: 18pt Nouveau_IBM;
    }
</style>

<div class="noCarMessage">У Вас нет автомобиля. Вы можете приобрести его в Ангаре</div>
