{% set npc_photo = cur_npc.photo %}
{% set npc_title = cur_npc.title %}
{% set npc_text = cur_npc.text %}

<div class="npc-gas-station-main">
    {% include npc_header.html %}
    <div class="npc-gas-station-center">
        <div class="npc-gas-station-scale-block-main"></div>
        <div class="npc-gas-station-empty-tanks-block town-back-interlacing-nocontent">
            <div class="npc-gas-station-empty-tanks-label-block">
                <div class="npc-gas-station-empty-tanks-label">{{ _("lngs_empty_tanks") }}</div>
                <div class="npc-gas-station-empty-tanks-text"></div>
            </div>
            <div class="npc-gas-station-empty-tanks-inventory"></div>
        </div>
    </div>
    {% include npc_inventory.html %}
</div>