{% set npc_photo = town.example.parking.photo %}
{% set npc_title = town.example.parking.title %}
{% set npc_text = town.example.parking.text %}

<div class="hangarWindow-main">
    {% include npc_header.html %}
    <div class="hangar-center">
        {% set car_index = 0 %}
        {% for car in agent.example.car_list %}
            {% if car.last_location is town.example %}
                <div id="parking-center-info-car-{{ car_index }}" class="hangar-center-info-car-wrap">
                    {% include car_info_block.html %}
                </div>
            {% end %}
        {% set car_index += 1 %}
        {% end %}
    </div>
    <div class="hangar-car-list">
        <div class="hangar-car-list-label">На стоянке:</div>
        <div class="hangar-car-list-button-left"></div>
        <div class="hangar-car-list-wrap">
            <div class="hangar-car-list-list">
                {% set car_index = 0 %}
                {% for car in agent.example.car_list %}
                    {% if car.last_location is town.example %}
                        <div class="hangar-car-list-itemWrap" data-car_number="{{ car_index }}">
                            <div class="hangar-car-list-item">
                                <div class="hangar-car-list-pictureWrap"
                                     style="background: url({{ car.inv_icon_mid }}) no-repeat center"></div>
                                <div class="hangar-car-list-name">{{ car.title }}</div>
                            </div>
                        </div>
                    {% end %}
                {% set car_index += 1 %}
                {% end %}
            </div>
        </div>
        <div class="hangar-car-list-button-right"></div>
    </div>
</div>

<script>
    // Функция подстраивает ширину списка под его содержимое
    function resizeParkingCarList() {
        var inventory = $('#townParkingPageWrap').find('.hangar-car-list-list').first();
        var width = 0;
        if (inventory) {
            $(inventory).find('.hangar-car-list-itemWrap').each(function (index, element) {
                if ($(element).css('display') == 'block')
                    width += $(element).outerWidth() + parseInt($(element).css('margin-right'));
            });
            $(inventory).width(width);
        }
    }
    resizeParkingCarList();

    $('#townParkingPageWrap').find('.hangar-car-list-itemWrap').click(function () {
        // Сбросить предыдущее выделение и выджелить выбранный итем
        $('#townParkingPageWrap').find('.hangar-car-list-itemWrap').removeClass('hangar-car-list-itemWrap-active');
        $(this).addClass('hangar-car-list-itemWrap-active');

        // Скрыть информационные окна всех машинок, показать выбранную
        $('#townParkingPageWrap').find('.hangar-center-info-car-wrap').css('display', 'none');
        $('#parking-center-info-car-' + $(this).data('car_number')).css('display', 'block');

        // Установить выбранную машинку в менеджер
        locationManager.parking.current_car = $(this).data('car_number');
    })
    $('#townParkingPageWrap').find('.hangar-car-list-itemWrap').first().click();
</script>
