<div>
    {% raw svg_code %}
    <div id="townChatPageWrap" class="townPageWrap" style="display: none">
        <div id="chatTownWrap"></div>
        <div id="visitorListWrap">
            <div id="visitorList">
            </div>
        </div>
    </div>

    <div id="townJournalPageWrap" class="townPageWrap" style="display: none">
        {% include journal_window.html %}
    </div>

    <div id="building_nucoil" class="townPageWrap townNucoilPageWrap" style="display: none">
        {% if agent.example.car is not None %}
            {% include nucoil_window.html %}
        {% else %}
            {% include npc_no_car.html %}
        {% end %}
    </div>

    {% for building in town.example.buildings %}
        {% set cur_build = town.example.buildings[building] %}
        <div id="building_{{ building }}" class="townPageWrap building-wrap" style="display: none">
            {% include building_window.html %}
        </div>
    {% end %}

    {% if town.example.armorer is not None %}
    <div id="townArmorerPageWrap" class="townPageWrap" style="display: none">
        {% if agent.example.car is not None %}
            {% include armorer_window.html %}
        {% else %}
            {% include npc_no_car.html %}
        {% end %}
    </div>
    {% end %}

    {% if town.example.mechanic is not None %}
    <div id="townMechanicPageWrap" class="townPageWrap" style="display: none">
        {% if agent.example.car is not None %}
            {% include mechanic_window.html %}
        {% else %}
            {% include npc_no_car.html %}
        {% end %}
    </div>
    {% end %}

    {% if town.example.tuner is not None %}
    <div id="townTunerPageWrap" class="townPageWrap" style="display: none">
        {% if agent.example.car is not None %}
            {% include tuner_window.html %}
        {% else %}
            {% include npc_no_car.html %}
        {% end %}
    </div>
    {% end %}

    {% if town.example.trader is not None %}
    <div id="townTraderPageWrap" class="townPageWrap" style="display: none">
        {% if agent.example.car is not None %}
            {% include trader_window.html %}
        {% else %}
            {% include npc_no_car.html %}
        {% end %}
    </div>
    {% end %}

    {% if town.example.hangar is not None %}
    <div id="townHangarPageWrap" class="townPageWrap" style="display: none">
        {% include hangar_window.html %}
    </div>
    {% end %}

    {% if town.example.parking is not None %}
    <div id="townParkingPageWrap" class="townPageWrap" style="display: none">
        {% include parking_window.html %}
    </div>
    {% end %}

    {% if town.example.trainer is not None %}
    <div id="townTrainerPageWrap" class="townPageWrap" style="display: none">
        {% include trainer_window.html %}
    </div>
    {% end %}
</div>

<script>
    function setBtnDisplay(btnIndex, state) {
        $("#btn_" + btnIndex).css("display", state);
        if (state == 'none') {
           $("#btn_" + btnIndex + "_over").css("display", state);
           $("#btn_" + btnIndex + "_select").css("display", state);
        }
    };

    function openTown() {
        $('.townPageWrap').css('display', 'none');
        $('#layer1').css('display', 'block');
        $('#layer2').css('display', 'block');
        $('#img_grid').css('opacity', '1');
        locationManager.currentNPC = null;
        for (var i = 6; i < 10; i++)
            setBtnDisplay(i, "none");
        setBtnDisplay(5, "block");
        $("#btn_5_select").mouseup(function(event) {});
    };

    function openBuilding(building_name) {
        $('.townPageWrap').css('display', 'none');
        $('#img_grid').css('opacity', '0.5');
        $('#building_' + building_name).css('display', 'block');
        for (var i = 6; i < 10; i ++)
            setBtnDisplay(i, "none");
        $("#btn_5_select").mouseup(function(event) { openTown(); });
    }

    function openNPC(npc_type, build_name) {
        var func_name = 'open_' + npc_type;
        if (window[func_name]) {
            for (var i = 6; i < 10; i ++)
                setBtnDisplay(i, "none");
            window[func_name]();
            $("#btn_5_select").mouseup(function(event) { openBuilding(build_name); });
        }
    }

    function open_armorer() {
        $('.townPageWrap').css('display', 'none');
        $('#townArmorerPageWrap').css('display', 'block');
        locationManager.currentNPC = locationManager.armorer;
        clientManager.sendEnterToNPC('armorer');
        setBtnDisplay(8, "block");
        setBtnDisplay(9, "block");
    }

    function open_mechanic() {
        $('.townPageWrap').css('display', 'none');
        $('#townMechanicPageWrap').css('display', 'block');
        locationManager.currentNPC = locationManager.mechanic;
        clientManager.sendEnterToNPC('mechanic');
        setBtnDisplay(8, "block");
        setBtnDisplay(9, "block");
    }

    function open_tuner() {
        $('.townPageWrap').css('display', 'none');
        $('#townTunerPageWrap').css('display', 'block');
        locationManager.currentNPC = locationManager.tuner;
        clientManager.sendEnterToNPC('tuner');
        setBtnDisplay(8, "block");
        setBtnDisplay(9, "block");
    }

    function open_trader() {
        $('.townPageWrap').css('display', 'none');
        $('#townTraderPageWrap').css('display', 'block');
        locationManager.currentNPC = locationManager.trader;
        clientManager.sendEnterToNPC('trader');
        setBtnDisplay(8, "block");
        setBtnDisplay(9, "block");
    }

    function open_hangar() {
        $('.townPageWrap').css('display', 'none');
        $('#townHangarPageWrap').css('display', 'block');
        locationManager.currentNPC = locationManager.hangar;
        setBtnDisplay(8, "block");
    }

    function open_parking() {
        $('.townPageWrap').css('display', 'none');
        $('#townParkingPageWrap').css('display', 'block');
        locationManager.currentNPC = locationManager.parking;
        clientManager.sendEnterToNPC('parking');
        setBtnDisplay(8, "block");
        setBtnDisplay(9, "block");
    }

    function open_trainer() {
        $('.townPageWrap').css('display', 'none');
        $('#townTrainerPageWrap').css('display', 'block');
        locationManager.currentNPC = locationManager.trainer;
        setBtnDisplay(8, "block");
        setBtnDisplay(9, "block");
    }

    function openChat() {
        $('.townPageWrap').css('display', 'none');
        $('#townChatPageWrap').css('display', 'block');
        locationManager.currentNPC = null;
        for (var i = 5; i < 10; i++)
            setBtnDisplay(i, "none");
    };

    function openJournal() {
    $('.townPageWrap').css('display', 'none');
        $('#townJournalPageWrap').css('display', 'block');
        locationManager.currentNPC = null;
        for (var i = 5; i < 10; i++)
            setBtnDisplay(i, "none");

        journalManager.parking.update();
    }

    // Обработчики кнопок-зданий
    {% for i in xrange(10) %}
    $("#img_house{{i}}_off").mouseenter(function() {
        $("#img_house{{i}}_on").css("display", "block");
        $("#img_house{{i}}_off").css("display", "none");
        $("#path_h{{i}}").css("opacity", "0.8");
        $("#path_text_h{{i}}").css("opacity", "0.8");
    });
    $("#img_house{{i}}_on").mouseleave(function() {
        $("#img_house{{i}}_off").css("display", "block");
        $("#img_house{{i}}_on").css("display", "none");
        $("#path_h{{i}}").css("opacity", "0.2");
        $("#path_text_h{{i}}").css("opacity", "0.2");
    });
    $("#path_h{{i}}").mouseenter(function(){
        $("#img_house{{i}}_on").css("display", "block");
        $("#img_house{{i}}_off").css("display", "none");
        $("#path_h{{i}}").css("opacity", "0.8");
        $("#path_text_h{{i}}").css("opacity", "0.8");
    });
    $("#path_h{{i}}").mouseleave(function(){
        $("#img_house{{i}}_off").css("display", "block");
        $("#img_house{{i}}_on").css("display", "none");
        $("#path_h{{i}}").css("opacity", "0.2");
        $("#path_text_h{{i}}").css("opacity", "0.2");
    });

    $("#img_house{{i}}_on").click(function(event) {
        // console.log($(this).data('building'));
        openBuilding($(this).data('building'));
    });
    $("#path_h{{i}}").click(function(event) {
        // console.log($(this).data('building'));
        openBuilding($(this).data('building'));
    });
    {% end %}

    // Кнопки меню
    {% for i in xrange(10) %}
    $("#btn_{{i}}").mouseenter(function() {
        $("#btn_{{i}}_over").css("display", "block");
        $("#btn_{{i}}").css("display", "none");
    });
    $("#btn_{{i}}_over").mouseleave(function() {
        $("#btn_{{i}}_over").css("display", "none");
        $("#btn_{{i}}").css("display", "block");
    });

     $("#btn_{{i}}_select").mouseleave(function() {
        $("#btn_{{i}}_over").css("display", "none");
        $("#btn_{{i}}_select").css("display", "none");
        $("#btn_{{i}}").css("display", "block");
    });

    $("#btn_{{i}}_over").mousedown(function() {
        $("#btn_{{i}}_select").css("display", "block");
        $("#btn_{{i}}_over").css("display", "none");
        $("#btn_{{i}}").css("display", "block");
    });
    $("#btn_{{i}}_select").mouseup(function(event) {
        $("#btn_{{i}}_select").css("display", "none");
        $("#btn_{{i}}_over").css("display", "block");
        $("#btn_{{i}}").css("display", "none");
    });
    {% end %}

    $("#btn_4_select").mouseup(function(event) {
        {% if agent.example.car %}
        clientManager.sendExitFromLocation({{ town.uid }});
        {% else %}
        alert('Вы не можете выйти из города без машинки');
        {% end %}
    });

    $("#btn_3_select").mouseup(function(event) {
        openChat();
    });

    $("#btn_2_select").mouseup(function(event) {
        openTown();
    });

    $("#btn_1_select").mouseup(function(event) {
        openJournal();
    });

    $("#btn_8_select").mouseup(function(event) {
        if (locationManager.currentNPC)
            locationManager.currentNPC.apply();
    });

    $("#btn_9_select").mouseup(function(event) {
        if (locationManager.currentNPC)
            locationManager.currentNPC.cancel();
    });
</script>