<style>
    #btn_screen_location_area, #btn_screen_chat_area, #btn_screen_menu_area,
    #btn_1_area, #btn_2_area, #btn_3_area, #btn_4_area {
        cursor: pointer;
    }

    .highlight-buildings {
        cursor: pointer;
    }

    #building-content {
        position: absolute;
        width: 780px;
        height: 690px;
        border: 2px solid forestgreen;
        top: 138px;
        left: 570px;
        pointer-events: none;
    }

    .town-img-mask {
        position: absolute;
        top: 0;
        pointer-events: none;
    }

    #town-out-screen-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .town-panel {
        position: absolute;
        top: 50px;
        width: 400px;
        height: 400px;
        background-color: rgba(0,150,0,0.25);
    }

    .town-panel.left {left: 100px;}
    .town-panel.right {right: 100px;}

    .town-btn-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*pointer-events: none;*/
    }

    .town-btn-block {
        position: absolute;
        width: 190px;
        height: 60px;
        /*background-color: rgba(255, 12, 11, 0.22);*/
        color: #2ffa00;
        font-size: 24px;
        z-index: 2;
        font-family: Nouveau_IBM;
        /*letter-spacing: normal;*/
        text-shadow: 0 0 1px #00ff00, 0 0 10px #00ff00;
        letter-spacing: 2px;
        line-height: 20px;
    }

    .town-btn-block.btn-pressed {
        color: #082801
    }

    .town-btn-block.right {text-align: right;}

    #btn_1_text{top: 602px; left: 260px; transform: rotateZ(-23deg) skew(-7deg);}
    #btn_2_text{top: 790px; left: 310px; transform: rotateZ(-18deg) skew(-7deg);}
    #btn_3_text{top: 596px; right: 269px; transform: rotateZ(22deg) skew(10deg);}
    #btn_4_text{top: 783px; right: 326px; transform: rotateZ(18deg) skew(3deg);}

</style>

<div>
    {% raw svg_code %}
</div>

<div id="building-content">
    {% for building in town.example.buildings %}
        {% set cur_build = town.example.buildings[building] %}
        <div id="building_{{ building }}" class="townPageWrap building-wrap" style="display: none">
            {% include building_window.html %}
        </div>
    {% end %}
</div>

<div class="town-btn-area">
    <div id="btn_1_text" class="town-btn-block left">Завершить квест</div>
    <div id="btn_2_text" class="town-btn-block left">Отказаться от квеста</div>
    <div id="btn_3_text" class="town-btn-block right"></br>Назад</div>
    <div id="btn_4_text" class="town-btn-block right"></br>Выход</div>
</div>

<img class="town-img-mask" src="static/content/locations/towns/city_mask_1.png"/>

<div id="town-out-screen-area">
    <div id="townLeftPanel" class="town-panel left"></div>
    <div id="townRightPanel" class="town-panel right"></div>
</div>

<img class="town-img-mask" src="static/content/locations/towns/city_mask_2.png"/>

<script>

    $(function () {
        console.log('Вызов установки кликов для города!');
        var jq_btn = $('#btn_screen_location_area, #btn_screen_chat_area, #btn_screen_menu_area, #btn_1_area, #btn_2_area, #btn_3_area, #btn_4_area');

        jq_btn
                .mouseenter(function (event) {
                    var id = $(this).attr('id');
                    if (id.indexOf('_area')) {
                        id = id.replace('_area', '');
                        // Проверка доступности кнопок
                        var noactive_status = $('#' + id + '_noactive').css('display');
                        if (noactive_status == undefined || noactive_status.toLowerCase() == 'none') {
                            $('#' + id + '_hover').css('display', 'block');
                            $('#' + id + '_active').css('display', 'none');
                            $('#' + id).css('display', 'none');
                        }
                    }
                })
                .mouseleave(function (event) {
                    var id = $(this).attr('id');
                    if (id.indexOf('_area')) {
                        id = id.replace('_area', '');
                        // Проверка доступности кнопок
                        var noactive_status = $('#' + id + '_noactive').css('display');
                        if (noactive_status == undefined || noactive_status.toLowerCase() == 'none') {
                            $('#' + id + '_hover').css('display', 'none');
                            $('#' + id + '_pressed').css('display', 'none');
                            $('#' + id + '_active').css('display', 'block');
                            $('#' + id).css('display', 'block');
                        }
                    }
                })
                .mousedown(function (event) {
                    var id = $(this).attr('id');
                    if (id.indexOf('_area')) {
                        id = id.replace('_area', '');
                        // Проверка доступности кнопок
                        var noactive_status = $('#' + id + '_noactive').css('display');
                        if (noactive_status == undefined || noactive_status.toLowerCase() == 'none') {
                            $('#' + id + '_hover').css('display', 'none');
                            $('#' + id + '_pressed').css('display', 'block');
                        }
                    }
                })
                .mouseup(function (event) {
                    var id = $(this).attr('id');
                    if (id.indexOf('_area')) {
                        id = id.replace('_area', '');
                        // Проверка доступности кнопок
                        var noactive_status = $('#' + id + '_noactive').css('display');
                        if (noactive_status == undefined || noactive_status.toLowerCase() == 'none') {
                            $('#' + id + '_hover').css('display', 'block');
                            $('#' + id + '_pressed').css('display', 'none');
                        }

                        switch (id) {
                            case 'btn_1':
                                console.log('click on btn1');
                                break;
                            case 'btn_2':
                                console.log('click on btn2');
                                break;
                            case 'btn_3':
                                console.log('click on btn3');
                                break;
                            case 'btn_4':
                                console.log('click on btn4');
                                break;
                            case 'btn_screen_location':
                                console.log('click on btn_screen_location');
                                break;
                            case 'btn_screen_chat':
                                console.log('click on btn_screen_chat');
                                break;
                            case 'btn_screen_menu':
                                console.log('click on btn_screen_menu');
                                break;
                        }
                    }
                });

        // События для зданий
        var jq_buildings = $('.highlight-buildings');
        jq_buildings.click(function(event){
            //console.log('Build click --- > ', this);
            var id = $(this).attr('id');
            var building = $(this).data('building');
            console.log('Open ', building);
        });

        jq_buildings.mouseenter(function(event){
            //console.log('Build mouseenter --- > ', this);
            var id = $(this).attr('id');
            var index = id.split('_')[1];
            index = index.substr(index.length - 1, 1);
            $("#img_house"+ index +"_on").css("display", "block");
            $("#img_house" + index + "_off").css("display", "none");
            $("#path_h" + index).css("opacity", "0.6");
            $("#path_text_h" + index).css("opacity", "0.6");

        });

        jq_buildings.mouseleave(function(event){
            //console.log('Build mouseleave --- > ', this);
            var id = $(this).attr('id');
            var index = id.split('_')[1];
            index = index.substr(index.length - 1, 1);
            $("#img_house" + index + "_off").css("display", "block");
            $("#img_house" + index + "_on").css("display", "none");
            $("#path_h" + index).css("opacity", "0.2");
            $("#path_text_h" + index).css("opacity", "0.2");
        });


        // Вставка вёрстки зданий

        // $('#img_back_1').before('<div id="building-content"></div>');



    });


</script>