<div class="traderWindow-main">
    {% set npc_photo = cur_npc.photo %}
    {% set npc_title = cur_npc.title %}
    {% set npc_text = cur_npc.text %}
    {% include npc_header.html %}

    <div class="trader-center">
        <div class="trader-center-header">
            <div class="trader-center-header-player-title trader-center-header-block trader-center-player-table-label town-back-interlacing-nocontent">
                <div class="trader-filter-change-arrow trader-filter-dec" data-d_val="-1" data-target_inv="player"></div>
                <div class="player-filter-label"></div>
                <div class="trader-filter-change-arrow trader-filter-inc" data-d_val="1" data-target_inv="player"></div>
            </div>
            <div class="trader-center-header-exchange-title trader-center-header-block town-back-interlacing-nocontent">{{ _("ltw_table") }}</div>
            <div class="trader-center-header-trader-title trader-center-header-block trader-center-trader-table-label town-back-interlacing-nocontent">
                <div class="trader-filter-change-arrow trader-filter-dec" data-d_val="-1" data-target_inv="trader"></div>
                <div class="trader-filter-label"></div>
                <div class="trader-filter-change-arrow trader-filter-inc" data-d_val="1" data-target_inv="trader"></div>
            </div>
        </div>
        <div class="trader-center-area">
            <div class="trader-center-area-player-body trader-center-area-block town-back-interlacing-nocontent"></div>
            <div class="trader-center-area-player-exchange-body trader-center-area-block town-back-interlacing-nocontent"></div>
            <div class="trader-center-area-trader-exchange-body trader-center-area-block town-back-interlacing-nocontent"></div>
            <div class="trader-center-area-trader-body trader-center-area-block town-back-interlacing-nocontent"></div>
        </div>
        <div class="trader-center-footer">
            <div class="trader-center-header-player-title trader-center-header-block town-back-interlacing-nocontent">
                <span class="trader-player-total self-balance-view">0NC</span>
            </div>
            <div class="trader-center-area-block trader-footer-exchange-body town-back-interlacing-nocontent">
                <span class="trader-trader-exchange-total">0NC</span>
            </div>
            <div class="trader-center-area-block trader-footer-exchange-body town-back-interlacing-nocontent">
                <span class="trader-player-exchange-total">0NC</span>
            </div>
            <div class="trader-center-header-trader-title trader-center-header-block town-back-interlacing-nocontent">
                <span class="trader-trader-total">0NC</span>
            </div>
        </div>
    </div>
</div>
