<div class="mainTraderWindow">
    <div class="mainTraderWindow-up">
        <div class="mainTraderWindow-wrap-up">
            <div class="mainTraderWindow-up-picture">
                <img class="trader-foto" src="{{ town.example.trader.photo }}" alt="Оружейник" />
                <div class="mainTraderWindow-up-name">{{ town.example.trader.title }}</div>
            </div>
            <div class="mainTraderWindow-up-text">{{ town.example.trader.text }}</div>
        </div>
    </div>
    <div class="mainTraderWindow-down">
        <div class="mainTraderWindow-down-header">
            <div class="mainTraderWindow-down-player-title">Ваш инвентарь:</div>
            <div class="mainTraderWindow-down-exchange-title">Столик обмена:</div>
            <div class="mainTraderWindow-down-trader-title">Инвентарь Бухмана:</div>
        </div>
        <div class="mainTraderWindow-down-exchange-area">
            <div class="mainTraderWindow-down-player-body mainTraderWindow-down-column"></div>
            <div class="mainTraderWindow-down-exchange-leftbody mainTraderWindow-down-column"></div>
            <div class="mainTraderWindow-down-exchange-rightbody mainTraderWindow-down-column"></div>
            <div class="mainTraderWindow-down-trader-body mainTraderWindow-down-column"></div>
        </div>
        <div class="mainTraderWindow-down-footer">
            <div class="mainTraderWindow-down-player-score">Ваш счет:<br/>
                <span id="mainTraderWindow-down-player-score-span">0</span> нк.</div>
            <div class="mainTraderWindow-down-exchange-lefttotal">Сумма:<br/>
                <span id="mainTraderWindow-down-exchange-lefttotal-span">0</span> нк.</div>
            <div class="mainTraderWindow-down-exchange-righttotal">Сумма:<br/>
                <span id="mainTraderWindow-down-exchange-righttotal-span">0</span> нк.</div>
            <div class="mainTraderWindow-down-trader-score">Счет Бухмана:<br/>999999 нк.</div>
        </div>
    </div>
</div>
