<div class="trainerWindow-main">
    {% set npc_photo = cur_npc.photo %}
    {% set npc_title = cur_npc.title %}
    {% set npc_text = cur_npc.text %}
    {% include npc_header.html %}
    <div class="trainer-center">
        <div class="trainer-center-header trainer-center-block town-back-interlacing-nocontent">{{ _("ltw_perk") }}</div>
        <div class="trainer-center-header trainer-center-block right-block town-back-interlacing-nocontent">{{ _("ltw_skill") }}</div>
        <div class="trainer-center-content trainer-center-block">
            <div class="trainer-table-list trainer-perks-list town-back-interlacing-nocontent"></div>
            <div class="trainer-table-footer town-back-interlacing-nocontent">
                <div class="trainer-table-footer-caption">{{ _("ltw_free_points") }}</div>
                <div class="trainer-table-footer-value trainer-perk-free-points">0</div>
            </div>
        </div>
        <div class="trainer-center-content right-block">
            <div class="trainer-center-skills trainer-center-block right-block">
                <div class="trainer-table-list trainer-skills-list town-back-interlacing-nocontent">
                    <div class="trainer-skill-item-main" data-skill_name="driving">
                        <div class="trainer-skill-item-caption trainer-light-back">{{ _("lci_driving") }}</div>
                        <div class="trainer-skill-item-change-arrow trainer-skill-item-dec"
                             data-skill_name="driving" data-d_val="-1"></div>
                        <div class="trainer-skill-item-value trainer-light-back trainer-skill-driving">0</div>
                        <div class="trainer-skill-item-change-arrow trainer-skill-item-inc"
                             data-skill_name="driving" data-d_val="1"></div>
                    </div>
                    <div class="trainer-skill-item-main" data-skill_name="shooting">
                        <div class="trainer-skill-item-caption trainer-dark-back">{{ _("lci_shooting") }}</div>
                        <div class="trainer-skill-item-change-arrow trainer-skill-item-dec"
                             data-skill_name="shooting" data-d_val="-1"></div>
                        <div class="trainer-skill-item-value trainer-dark-back trainer-skill-shooting">0</div>
                        <div class="trainer-skill-item-change-arrow trainer-skill-item-inc"
                             data-skill_name="shooting" data-d_val="1"></div>
                    </div>
                    <div class="trainer-skill-item-main" data-skill_name="masking">
                        <div class="trainer-skill-item-caption trainer-light-back">{{ _("lci_masking") }}</div>
                        <div class="trainer-skill-item-change-arrow trainer-skill-item-dec"
                             data-skill_name="masking" data-d_val="-1"></div>
                        <div class="trainer-skill-item-value trainer-light-back trainer-skill-masking">0</div>
                        <div class="trainer-skill-item-change-arrow trainer-skill-item-inc"
                             data-skill_name="masking" data-d_val="1"></div>
                    </div>
                    <div class="trainer-skill-item-main" data-skill_name="engineering">
                        <div class="trainer-skill-item-caption trainer-dark-back">{{ _("lci_engineering") }}</div>
                        <div class="trainer-skill-item-change-arrow trainer-skill-item-dec"
                             data-skill_name="engineering" data-d_val="-1"></div>
                        <div class="trainer-skill-item-value trainer-dark-back trainer-skill-engineering">0</div>
                        <div class="trainer-skill-item-change-arrow trainer-skill-item-inc"
                             data-skill_name="engineering" data-d_val="1"></div>
                    </div>
                    <div class="trainer-skill-item-main" data-skill_name="trading">
                        <div class="trainer-skill-item-caption trainer-light-back">{{ _("lci_trading") }}</div>
                        <div class="trainer-skill-item-change-arrow trainer-skill-item-dec"
                             data-skill_name="trading" data-d_val="-1"></div>
                        <div class="trainer-skill-item-value trainer-light-back trainer-skill-trading">0</div>
                        <div class="trainer-skill-item-change-arrow trainer-skill-item-inc"
                             data-skill_name="trading" data-d_val="1"></div>
                    </div>
                    <div class="trainer-skill-item-main" data-skill_name="leading">
                        <div class="trainer-skill-item-caption trainer-dark-back">{{ _("lci_leading") }}</div>
                        <div class="trainer-skill-item-change-arrow trainer-skill-item-dec"
                             data-skill_name="leading" data-d_val="-1"></div>
                        <div class="trainer-skill-item-value trainer-dark-back trainer-skill-leading">0</div>
                        <div class="trainer-skill-item-change-arrow trainer-skill-item-inc"
                             data-skill_name="leading" data-d_val="1"></div>
                    </div>
                </div>
                <div class="trainer-table-footer town-back-interlacing-nocontent">
                    <div class="trainer-table-footer-caption">{{ _("ltw_free_points") }}</div>
                    <div class="trainer-table-footer-value trainer-skill-free-points">0</div>
                </div>
            </div>
            <div class="trainer-center-updates trainer-center-block right-block town-back-interlacing-nocontent">
                <div class="trainer-center-updates-block trainer-buy_driving" data-update_name="buy_driving">
                    <div class="trainer-center-updates-picture trainer-buy-driving-picture"></div>
                    <div class="trainer-center-updates-label"></div>
                </div>
                <div class="trainer-center-updates-block trainer-buy_shooting" data-update_name="buy_shooting">
                    <div class="trainer-center-updates-picture trainer-buy-shooting-picture"></div>
                    <div class="trainer-center-updates-label"></div>
                </div>
                <div class="trainer-center-updates-block trainer-buy_masking" data-update_name="buy_masking">
                    <div class="trainer-center-updates-picture trainer-buy-masking-picture"></div>
                    <div class="trainer-center-updates-label"></div>
                </div>
                <div class="trainer-center-updates-block trainer-buy_engineering" data-update_name="buy_engineering">
                    <div class="trainer-center-updates-picture trainer-buy-engineering-picture"></div>
                    <div class="trainer-center-updates-label"></div>
                </div>
                <div class="trainer-center-updates-block trainer-buy_trading" data-update_name="buy_trading">
                    <div class="trainer-center-updates-picture trainer-buy-trading-picture"></div>
                    <div class="trainer-center-updates-label"></div>
                </div>
                <div class="trainer-center-updates-block trainer-buy_leading" data-update_name="buy_leading">
                    <div class="trainer-center-updates-picture trainer-buy-leading-picture"></div>
                    <div class="trainer-center-updates-label"></div>
                </div>
            </div>
        </div>
        <div class="trainer-center-button trainer-center-block trainer-reset-all">{{ _("ltw_drop_all") }} (<span class="trainer-drop-price">0</span>NC)</div>
        <div class="trainer-center-button trainer-center-block trainer-buy-updates right-block">{{ _("ltw_load_update") }} (<span class="trainer-update-price">0</span>NC)</div>
    </div>
</div>
