{% set npc_photo = cur_npc.photo %}
{% set npc_title = cur_npc.title %}
{% set npc_text = cur_npc.text %}

<div class="tunerWindow-main">
    {% include npc_header.html %}
    <div class="tuner-center">
        <div class="armorer-car"></div>
        <div class="tunerRightSide">
            <div id="tunerPontPoints">Kpyto<span>ctb</span>:</div>
            <div id="tunerPontPointsValue">
                <span id="tPPV1" class="tPPVAnimated tPPVDisable">0</span><span id="tPPV2" class="tPPVDisable">0</span><span id="tPPV3" class="tPPVDisable">0</span><span id="tPPV4" class="tPPVAnimated tPPVDisable">0</span>
            </div>
            <div id="tunerPontCards">
                <div id="tunerPontCardC" class="tunerPontCardOff"></div>
                <div id="tunerPontCard0" class="tunerPontCardOff"></div>
                <div id="tunerPontCard1" class="tunerPontCardOff"></div>
                <div id="tunerPontCard2" class="tunerPontCardOff"></div>
                <div id="tunerPontCard3" class="tunerPontCardOff"></div>
                <div id="tunerPontCard4" class="tunerPontCardOff"></div>
                <div id="tunerPontCard5" class="tunerPontCardOff"></div>
                <div id="tunerPontCard6" class="tunerPontCardOff"></div>
                <div id="tunerPontCard7" class="tunerPontCardOff"></div>
                <div id="tunerPontCard8" class="tunerPontCardOff"></div>
                <div id="tunerPontCard9" class="tunerPontCardOff"></div>
            </div>
        </div>
    </div>
    {% include npc_inventory.html %}
</div>

<script>
{#    {% for slot in tuner_slots %}#}
{#    $("#tuner_top_{{slot}}").mouseenter(function() {#}
{#        locationManager.tuner.hoverSlot("{{slot}}", true);#}
{#    });#}
{#    $("#tuner_side_{{slot}}").mouseenter(function() {#}
{#        locationManager.tuner.hoverSlot("{{slot}}", true);#}
{#    });#}
{##}
{#    $("#tuner_top_{{slot}}").mouseleave(function() {#}
{#        locationManager.tuner.hoverSlot("{{slot}}", false);#}
{#    });#}
{#    $("#tuner_side_{{slot}}").mouseleave(function() {#}
{#        locationManager.tuner.hoverSlot("{{slot}}", false);#}
{#    });#}
{#    {% end %}#}
</script>
