#townArmorerPageWrap {
    position: absolute;
    top: 140px;
    left: 592px;
}

.armorerWindow-main {
    position: relative;
    width: 734px;
    height: 661px;
    cursor: default;
}

.armorer-center {
    position: relative;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    width: 734px;
    height: 330px;
    padding-bottom: 5px;
}

.armorer-car {
    width: 492px;
    height: 100%;
    float: left;
}

.armorerSectors {
    width: 242px;
    height: 100%;
    float: left;
}

.armorerSectors-slotName {
    box-sizing: border-box;
    padding-top: 15px;
    height: 50px;
    text-align: center;
    color: #29F200;
    font: 11pt Nouveau_IBM;
}

.armorerSectors-svg {
    position: relative;
    width: 220px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
}

.car_sector {
    opacity: 0.3;
    cursor: pointer;
}

.car_sector_hover {
    opacity: 1;
}

.car_sector_active {
    opacity: 1;
}

.car_sector_disable {
    display: none;
}

.armorer-car-slot-picture {
    position: absolute;
    height: 35px;
    width: 35px;
}

.armorer_top_F, .armorer_top_B {
    position: absolute;
    pointer-events: none;
    top: -32px;
    left: -82px;
}

.armorer_top_L, .armorer_top_R {
    position: absolute;
    pointer-events: none;
    top: -82px;
    left: -32px;
}

.armorer_side_F, .armorer_side_B {
    position: absolute;
    pointer-events: none;
    top: -65px;
    left: -82px;
}

.armorer_side_L, .armorer_side_R {
    position: absolute;
    pointer-events: none;
    top: -65px;
    left: -32px;
}