#townMechanicPageWrap {
    position: absolute;
    top: 140px;
    left: 592px;
}

.mechanicWindow-main {
    position: relative;
    width: 734px;
    height: 661px;
    cursor: default;
}

.mechanic-center {
    position: relative;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    width: 734px;
    height: 330px;
    padding-bottom: 5px;
}

.mechanic-center-block {
    position: relative;
    height: 100%;
    float: left;
}

.mechanic-center-main-block {
    width: 492px;
}

.mechanic-center-info-block {

    background-color: red;
    opacity: 0.2;

    width: 242px;
}

.mechanic-center-page-control {
    position: relative;
    margin: 0px auto 0px auto;
}

.mechanic-center-page-control-page-button {
    position: relative;
    padding: 5px;
    float: left;
    font: 12pt Nouveau_IBM;
    color: #29F200;
    opacity: 0.6;
}

.mechanic-center-page-control-page-button:hover {
    opacity: 1;
}

.mechanic-center-page-control-page-button-active {
    opacity: 1;
}

.mechanic-center-main-block-page {
    position: absolute;
    top: 26px;
    height: calc(100% - 26px);
    width: 100%;
}


.mechanic-main {
    position: relative;
    width: 492px;
    height: 297px;
}

.mechanic-img {
    position: absolute;
    width: 320px;
    height: 160px;
}

.mechanic-img-subsystem {
    opacity: 0.0;
}


.mechanic-big-slot-main {
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
}

.mechanic-big-slot-main:hover {
    opacity: 1;
}

.mechanic-big-slot-img {
    position: relative;
    background: transparent url('../../../img/cars/slot_small.png') no-repeat 100% 100%;
    margin: auto;
    width: 62px;
    height: 33px;
}

.mechanic-big-slot-caption {
    position: relative;
    padding-top: 5px;
    margin: auto;
    text-align: center;
    font: 10pt Nouveau_IBM;
    color: #28F100;
}

.mechanic-small-slot-main {
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
}

.mechanic-small-slot-main:hover {
    opacity: 1;
}

.mechanic-small-slot-img {
    position: relative;
    background: transparent url('../../../img/cars/slot_supersmall.png') no-repeat 100% 100%;
    margin: auto;
    width: 55px;
    height: 32px;
}