.npcInventory-block {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 606px;
    height: 126px;
}

.npcInventory-label {
    box-sizing: border-box;
    padding-left: 70px;
    height: 21px;
    color: #29F200;
    font: 11pt Nouveau_IBM;
}

.npcInventory-wrap {
    width: 100%;
    height: 105px;
    overflow-x: scroll;
}

.npcInventory-itemWrap {
    box-sizing: border-box;
    margin-right: 10px;
    width: 119px;
    height: 85px;
    float: left;
    opacity: 0.6;
}

.npcInventory-itemWrap:hover {
    opacity: 1;
}

.npcInventory-item {
    position: relative;
    cursor: pointer;
    width: 119px;
    height: 85px;
    float: left;
}

.npcInventory-name {
    position: absolute;
    padding: 2px 2px 2px 2px;
    font: 10pt Nouveau_IBM;
    color: #135806;
}

.npcInventory-pictureWrap {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),
    linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}

.npcInventory-picture {
    position: relative;
    height: 33px;
    width: 62px;
    margin: 35px auto 0px auto;
}