#townTunerPageWrap {
    position: absolute;
    top: 140px;
    left: 592px;
}

.tunerWindow-main {
    position: relative;
    width: 734px;
    height: 661px;
    cursor: default;
}

.tuner-center {
    position: relative;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    width: 734px;
    height: 330px;
    padding-bottom: 5px;
    background-color: white
}


.tuner-car {
    width: 492px;
    height: 100%;
    float: left;
}