#townTunerPageWrap {
    position: absolute;
    top: 140px;
    left: 592px;
}

.tunerWindow-main {
    position: relative;
    width: 734px;
    height: 661px;
    cursor: default;
}

.tuner-center {
    position: relative;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    width: 734px;
    height: 330px;
    padding-bottom: 5px;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
}

.tuner-car {
    width: 492px;
    height: 100%;
    float: left;
}

.tunerRightSide {
    width: 242px;
    height: 100%;
    float: left;
    background-color: #f5f5f5;
}

.tuner-car-slot-picture {
    width: 35px;
    height: 35px;
}
