.town-interlacing {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}
.town-interlacing::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 49%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0) 100%);
    z-index: 5;
    background-size: 100% 2px;
    pointer-events: none;
}

.town-back-interlacing {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    background: linear-gradient(rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 49%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    background-size: 100% 2px;
}

.town-back-interlacing-nocontent {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    background: linear-gradient(rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 49%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0) 100%);
    background-size: 100% 2px;
}