.windowDragCloseHeader-close {
    position: absolute;
    right: 6px;
    top: 6px;
    height: 14px;
    width: 14px;
    background: transparent url(/static/img/windows/close_cross/cross.png) 50% 50% no-repeat;
    box-sizing: border-box;
}
.windowDragCloseHeader-close:hover {
background: transparent url('/static/img/windows/close_cross/cross_over.png') 50% 50% no-repeat;
}
.windowDragCloseHeader-close:active {
background: transparent url('/static/img/windows/close_cross/cross_pressed.png') 50% 50% no-repeat;
}

.modal-window-parent {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-window-hide {
    display: none;
    height: 0%;
    width: 0%;
}

.modal-window-back-show{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.6;
    left: 0px;
    top: 0px;
    z-index: 20;
    pointer-events: auto;
}

.modal-window-back-hide{

}

.modal-window-welcome-show {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 600px;
    margin-left: -300px;
    margin-top: -200px;
    overflow-y: auto;
    border: solid 4px darkgreen;
    z-index: 21;
    background-color: white;
}

.modal-window-options-show {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 600px;
    margin-left: -300px;
    margin-top: -200px;
    overflow-y: auto;
    border: solid 4px darkgreen;
    z-index: 21;
    background-color: #000000;
}


.modal-window-death-show {
    position: absolute;
    top: 80px;
    left: 50%;
    height: 80px;
    width: 300px;
    margin-left: -150px;
    border: solid 4px darkgreen;
    z-index: 21;
    background-color: #ffffff;
}

.modal-window-win-show {
    position: absolute;
    top: 80px;
    left: 50%;
    height: 75px;
    width: 300px;
    margin-left: -150px;
    border: solid 4px darkgreen;
    z-index: 21;
    background-color: #ffffff;
}

.modal-window-lose-show {
    position: absolute;
    top: 80px;
    left: 50%;
    height: 75px;
    width: 300px;
    margin-left: -150px;
    border: solid 4px darkgreen;
    z-index: 21;
    background-color: #ffffff;
}

.modal-window-restart-show {
    position: absolute;
    top: 80px;
    left: 50%;
    height: 75px;
    width: 300px;
    margin-left: -150px;
    border: solid 4px darkgreen;
    z-index: 21;
    background-color: #000000;
}

/* Все css стили всех модальных оконо в этой месте!*/

/* css стили для окна приветствия */
#welcomePageDiv {
    position: absolute;
    background-color: black;
    color: lime;
    font: bold 12px Arial;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
}

#welcomePageDiv p{
     font-size: 14px;
     margin-left: 15px;
 }
#welcomePageDiv span{
    font-size: 12px;
    margin-left: 15px;
}

#welcomePageDiv comment{
    font-size: 10px;
    margin-left: 15px;
}

#welcomePageDiv li{
    list-style: circle;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

#welcomePageCloseButton {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    opacity: 0.7;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -25px;
    color: lime;
    border: solid lime 1px;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
    font: bold 14px Arial;
}

#welcomePageCloseButton:hover {
    opacity: 0.95;
}

.dialogBtnOK {
    position: relative;
    float: left;
    margin-left: 7%;
    width: 40%;
    height: 26px;
    line-height: 26px;
}

.dialogBtnCancel {
    position: relative;
    float: right;
    margin-right: 7%;
    width: 40%;
    height: 26px;
    line-height: 26px;
}

.dialogBtnCancelSingle {
    position: relative;
    margin: 0 auto;
    width: 125px;
    height: 26px;
    line-height: 26px;
}

/* конец css стили для окна приветствия*/


/* css стили для окна настроек */
#optionsPageDiv {
    position: absolute;
    background-color: black;
    color: lime;
    font: bold 12px Arial;
    width: 100%;
    height: 100%;
}

#optionsPageDivContent {
    width: 100%;
    height: 370px;
    position: absolute;
    overflow: auto;
}

#optionsDivButtons {
    bottom: 0;
    right: 8px;
    position: absolute;
}

#optionsPageDiv p{
    font-size: 14px;
    margin-left: 15px;
}

#optionsPageDiv input {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
}

#optionsPageDiv li{
    list-style: none;
    margin-bottom: 0.4em;
}

#optionsPageDiv ul{
    margin-bottom: 2em;
}


.optionsPageButton {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    opacity: 0.7;
    position: relative;
    color: lime;
    border: solid lime 1px;
    border-radius: 3px;
    margin: 3px;
    float: right;
    padding: 3px 5px 3px 5px;
    font: bold 14px Arial;
}

.optionsPageButton:hover {
    opacity: 0.95;
}

/* конец стилей настроек */


/* css стили для окна смерти */
#deathPageDiv {
    position: absolute;
    background-color: black;
    color: lime;
    font: bold 12px Arial;
    min-height: 80px;
    min-width: 300px;
}

#deathPageImageDeath {
    position: absolute;
    left: 0;
    background: transparent url('/static/img/modal_window_image/mes_win_death_icon.png');
    height: 70px;
    width: 70px;
}

#deathPageRight {
    right: 0;
    margin-left: 75px;
    height: 100%;
    position: absolute;
}

#deathPageRightText {
    margin-top: 10px;

    }

#deathPageButtonResp {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    opacity: 0.7;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    border: solid lime 1px;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
    font: bold 14px Arial;
    bottom: 10px;
}

#deathPageButtonResp:hover {
    opacity: 0.95;
}
/* конец стилей для окна смерти*/


/* css стили для окна дисконнекта */
#restartPageDiv {
    position: absolute;
    background-color: black;
    color: lime;
    font: bold 12px Arial;
    min-height: 75px;
    min-width: 300px;
}

#restartPageRight {
    margin-left: 15px;
    height: 100%;
    position: absolute;
}

#restartPageRightText {
    margin-top: 10px;
    text-align: center;
}

#restartPageButton {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    opacity: 0.7;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    border: solid lime 1px;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
    font: bold 14px Arial;
    bottom: 10px;
}

#restartPageButton:hover {
    opacity: 0.95;
}
/* конец стилей для окна дисконнекта */


/* Новые стили окон Общие */

.mainDivModalWindow {
    position: absolute;
    border: 2px solid #2ffa00;
    height: 100%;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: #31c811;
    font: 12pt Nouveau_IBM;
}

.modal-window-show {
    display: block;
    position: absolute;
    top: 80px;
    left: 50%;
    z-index: 21;
    pointer-events: auto;
}

.modal-window-wrap {
    position: relative;
    margin: 2px auto;
    width: calc(100% - 6px);
    height: calc(100% - 26px - 40px - 6px);
    border: 1px solid #0e4b00;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.modal-window-wrap .modal-header {
    position: relative;
    text-align: center;
    margin: 5px auto 10px auto;
    font-size: 20px;
}

.modal-window-footer {
    position: relative;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding-top: 5px;
}

.modal-window-footer-btn {
    position: relative;
    text-align: center;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    border: 1px solid #0e4b00;
    background-color: #082801;
    box-sizing: border-box;
}

.modal-window-footer-btn:hover {
    background-color: #0c4b00;
    color: #2ffa00;
    border-color: #31c811;
}

/* Окно просто любой информации */

#modalInfoPage {
    width: 360px;
    height: 260px;
    margin-left: -180px;
}

#dialogInfoPageBtnOK {
    position: relative;
    margin: 0 auto;
    width: 40%;
    height: 26px;
    line-height: 26px;
}

/* Окно вопроса - да / нет */

#modalAnswerPage {
    width: 360px;
    height: 260px;
}

#dialogAnswerPageBtnOK {
    position: relative;
    float: left;
    margin-left: 7%;
    width: 40%;
    height: 26px;
    line-height: 26px;
}

#dialogAnswerPageBtnCancel {
    position: relative;
    float: right;
    margin-right: 7%;
    width: 40%;
    height: 26px;
    line-height: 26px;
}


/* Окно разделения итемов */
#modalItemDivisionPage {
    width: 340px;
    height: 196px;
}

#modalItemDivisionPage .modal-window-wrap {
    padding: 0;
    border: 0;
}

.division-item-info-wrap {
    /*Тут должен быть тот самый градиент*/
    position: relative;
    width: 100%;
    height: 80px;
    border: 1px solid #0E4b00;
    box-sizing: border-box;
    margin-bottom: 6px;
    background: linear-gradient( 90deg, transparent, #0e4b00 50%, transparent);
}

.division-item-info-caption {
    position: absolute;
    width: calc(50% - 65px);
    height: 100%;
    padding: 5px 0 0 5px;
    text-align: center;
    font-size: 12pt;
}

.division-item-info-image {
    position: relative;
    width: 130px;
    height: 70px;
    margin: 2px auto 0 auto;
}

.division-item-info-input-wrap {
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 80px;
    height: 25px;
    border: 1px solid #0e4b00;
}

.division-item-info-input-wrap > input {
    text-align: center;
    line-height: 1.4;
    border: 0px solid #000000;
    height: 100%;
    width: 100%;
    background-color: transparent;
    font: 11pt Nouveau_IBM;
    color: #2ffa00;
}

.division-item-progress-wrap {
    position: relative;
    width: 100%;
    height: 35px;
    background-color: transparent;
    background-image: linear-gradient(45deg, #0e4b00 25%, transparent 25%, transparent 74%, #0e4b00 75%, #0e4b00), linear-gradient(45deg, #0e4b00 25%, transparent 25%, transparent 74%, #0e4b00 75%, #0e4b00);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
        text-align: center;
    line-height: 35px;
    color: #2ffa00;
}

.division-item-progress {
    position: absolute;
    width: 45%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
    background-image: linear-gradient(45deg, #249909 25%, transparent 25%, transparent 74%, #249909 75%, #249909), linear-gradient(45deg, #249909 25%, transparent 25%, transparent 74%, #249909 75%, #249909);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}

.division-item-progress-btn {
    position: absolute;
    top: 0;
    width: 35px;
    height: 35px;
    cursor: url(/static/img/cursors/hyper.png), pointer;
    box-sizing: border-box;
    font: 24pt Arial;
    line-height: 36px;
    text-align: center;
    color: #030f00;
}

.division-item-progress-btn:hover {color: #2ffa00;}

#divisionItemBtnMinus {left: 0;}
#divisionItemBtnPlus {right: 0;}


/* Окно завершения быстрой игры */
#modalQuickGamePointsPage {
    width: 826px;
    height: 504px;
    /*background: transparent url('/static/img/modal_window_image/monitor.png') 100% 100% no-repeat;*/
}

.qg-pp-graphic-wrap {
    position: absolute;
    width: 826px;
    height: 504px;
}

.qg-pp-again-btn {
    position: absolute;
    width: 138px;
    height: 53px;
    left: 982px;
    top: 163px;
    background: transparent url('/static/img/modal_window_image/btn1_active.png') 100% 100% no-repeat;
    cursor: url(/static/img/cursors/hyper.png), pointer;
}
.qg-pp-again-btn:hover {
    background: transparent url('/static/img/modal_window_image/btn1_hover.png') 100% 100% no-repeat;
}
.qg-pp-again-btn:active, .qg-pp-again-btn.active {
    background: transparent url('/static/img/modal_window_image/btn1_press.png') 100% 100% no-repeat;
}

.qg-pp-change-car-btn {
    position: absolute;
    width: 138px;
    height: 53px;
    left: 982px;
    top: 110px;
    background: transparent url('/static/img/modal_window_image/btn3_active.png') 100% 100% no-repeat;
    cursor: url(/static/img/cursors/hyper.png), pointer;
}
.qg-pp-change-car-btn:hover {
    background: transparent url('/static/img/modal_window_image/btn3_hover.png') 100% 100% no-repeat;
}
.qg-pp-change-car-btn:active, .qg-pp-change-car-btn.active {
    background: transparent url('/static/img/modal_window_image/btn3_press.png') 100% 100% no-repeat;
}

.qg-pp-site-btn {
    position: absolute;
    width: 138px;
    height: 53px;
    left: 982px;
    top: 216px;
    background: transparent url('/static/img/modal_window_image/btn2_active.png') 100% 100% no-repeat;
    cursor: url(/static/img/cursors/hyper.png), pointer;
}
.qg-pp-site-btn:hover {
    background: transparent url('/static/img/modal_window_image/btn2_hover.png') 100% 100% no-repeat;
}
.qg-pp-site-btn:active, .qg-pp-site-btn.active {
    background: transparent url('/static/img/modal_window_image/btn2_press.png') 100% 100% no-repeat;
}

.qg-pp-left-info {
    position: relative;
    float: left;
    height: calc(100% - 25px);
    box-sizing: border-box;
    width: 240px;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, transparent, #0e4b00, #0e4b00, #0e4b00, #0e4b00, transparent);
    border-image-slice: 1;
}

.qg-pp-block {
    position: relative;
    float: left;
    height: calc(100% - 4px);
    box-sizing: border-box;
}
.qg-pp-block.left {
    width: 100%;
    padding: 4px 8px;
    overflow: hidden;

}
.qg-pp-block.right { width: 240px; }

.qg-pp-records-btn {
    position: absolute;
    width: 138px;
    height: 53px;
    left: 982px;
    top: 57px;
    background: transparent url('/static/img/modal_window_image/btn4_active.png') 100% 100% no-repeat;
    cursor: url(/static/img/cursors/hyper.png), pointer;
}
.qg-pp-records-btn:hover {
    background: transparent url('/static/img/modal_window_image/btn4_hover.png') 100% 100% no-repeat;
}
.qg-pp-records-btn:active, .qg-pp-records-btn.active {
    background: transparent url('/static/img/modal_window_image/btn4_press.png') 100% 100% no-repeat;
}


.qg-pp-block-left-header {
    position: relative;
    width: 100%;
    height: 26px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #0e4b00, #0e4b00, #0e4b00, #0e4b00, transparent);
    border-image-slice: 1;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 25px;
}

.qg-pp-table-col {
    position: relative;
    float: left;
    height: 100%;
    margin-right: 4px;
    text-align: center;
}
.qg-pp-table-col.place { width: 78px; }
.qg-pp-table-col.name { width: 298px; }
.qg-pp-table-col.score { width: 150px; }

.qg-pp-block-left-table {
    position: relative;
    width: 100%;
    height: calc(100% - 26px);
    padding-top: 4px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.qg-pp-block-left-table-line {
    position: relative;
    width: 100%;
    height: 24px;
    line-height: 24px;
    margin-bottom: 2px;
}

.qg-pp-block-left-table-line.my-record {
    font-weight: bold;
    animation: qg_my_record_animate 1s infinite linear;
}

@keyframes qg_my_record_animate {
    0% { color: #2ffa00; }
    49% {color: #2ffa00;}
    50% {color: rgba(47, 250, 0, 0);}
    100% {color: rgba(47, 250, 0, 0);}
}


.qg-pp-block-right {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
}
.qg-pp-block-right.top {
    height: 275px;
    padding-top: 12px;
}
.qg-pp-block-right.bottom {
    height: 70px;
    padding-top: 8px;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #0e4b00, #0e4b00, #0e4b00, #0e4b00, transparent);
    border-image-slice: 1;
    margin-bottom: 15px;
}

.qg-pp-block-right-top-scull {
    position: relative;
    width: 164px;
    height: 184px;
    margin: 0 auto;
    background: transparent url('/static/img/modal_window_image/skull.png') 100% 100% no-repeat;
    top: 12px;
}

.qg-pp-block-right-top-label {
    position: relative;
    margin-top: 40px;
    width: 100%;
}

.qg-pp-block-right-bottom-label {
    position: relative;
    width: 100%;
    margin: 0 auto;
    line-height: 25px;
}

.qg-pp-dark-back {
    background-color: #000000;
    background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),
                      linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}

.qg-pp-light-back {
    background-color: #000000;
    background-image: linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03),
                      linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}


.window-records-qg-wrap {
    position: relative;
    margin: 2px auto;
    border: 1px solid #0e4b00;
    box-sizing: border-box;
    width: calc(100% - 4px);
    height: calc(100% - 30px);
}

.window-records-qg-header-block {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #0e4b00, #0e4b00, #0e4b00, #0e4b00, transparent);
    border-image-slice: 1;
}

.window-records-qg-menu-item {
    position: relative;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    float: left;
    margin: 4px 0 0 10px;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
}
.window-records-qg-menu-item.active, .window-records-qg-menu-item:hover { color: #2ffa00; }
.window-records-qg-menu-item.active {
    background-color: #000000;
    background-image: linear-gradient(45deg, #0e4b00 25%, transparent 25%, transparent 74%, #0e4b00 75%, #0e4b00),
                      linear-gradient(45deg, #0e4b00 25%, transparent 25%, transparent 74%, #0e4b00 75%, #0e4b00);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}

.window-records-qg-menu-item.active:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 2px;
    top: 2px;
    border-top: 5px solid transparent;
    border-left: 5px solid #2ffa00;
    border-bottom: 5px solid transparent;
}
.window-records-qg-menu-item.active:after {
    content: ' ';
    position: absolute;
    right: 2px;
    top: 2px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 5px solid #2ffa00;
    border-bottom: 5px solid transparent;
}

.window-records-qg-context {
    position: relative;
    float: left;
    width: calc(100% - 246px);
    height: calc(100% - 25px);
}

#quickGamePagePointPointsChangeCar, #quickGamePagePointPointsRecords {
    position: absolute;
    width: 100%;
    height: 100%;
}

.window-records-qg-all-cars {
    position: relative;
    width: 492px;
    height: 170px;
    margin: auto;
    top: 40px;
}

.window-records-qg-slide-arrow {
    position: absolute;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    width: 17px;
    height: 24px;
    top: 170px;
    z-index: 10;
}

.window-records-qg-all-cars .window-records-qg-car-name {
    text-align: center;
}

.window-records-qg-slide-arrow.left {
    background: transparent url(/static/static_site/img/btn_slide_left.png) no-repeat 100% 100%;
    left: 60px;
}

.window-records-qg-slide-arrow.left:hover {
    background: transparent url(/static/static_site/img/btn_slide_left_over.png) no-repeat 100% 100%;
}

.window-records-qg-slide-arrow.left:active {
    background: none;
}

.window-records-qg-slide-arrow.right {
    background: transparent url(/static/static_site/img/btn_slide_right.png) no-repeat 100% 100%;
    right: 60px;
}

.window-records-qg-slide-arrow.right:hover {
    background: transparent url(/static/static_site/img/btn_slide_right_over.png) no-repeat 100% 100%;
}

.window-records-qg-slide-arrow.right:active {
    background: none;
}


#quickGamePagePointPointsChangeCar .car-info-block-info{
    height: 180px;
    margin-top: 29px;
    width: 559px;
    left: -36px;
}

#quickGamePagePointPointsChangeCar .car-info-block-picture-main {
    top: 15px;
}

#quickGamePagePointPointsChangeCar .car-info-block-item-wrap {
    float: left;
    margin: 10px 25px;
}


#quickGamePointsPageBtnCancel, #quickGamePointsPageBtnOK {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    border: 1px solid #0e4b00;
    background-color: #082801;
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    margin: 0 auto 12px auto;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}
#quickGamePointsPageBtnCancel:hover, #quickGamePointsPageBtnOK:hover { background-color: #0c4b00; color: #2ffa00; border-color: #31c811; }


#quickGamePagePointPointsChangeCar .car-info-block-body-right-menu {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #0e4b00, #0e4b00, #0e4b00, #0e4b00, transparent);
    border-image-slice: 1;
}

/* Окно запроса на прохождение обучения в быстрой игре */
#modalQuickGameMapTeachingPage {
    width: 760px;
    height: 546px;
    /*background: transparent url('/static/img/modal_window_image/monitor.png') 100% 100% no-repeat;*/
}

.qg-mt-graphic-wrap {
    position: absolute;
    width: 760px;
    height: 546px;
}

.qg-mt-fight-btn {
    position: absolute;
    width: 138px;
    height: 53px;
    left: 982px;
    top: 57px;
    background: transparent url('/static/img/modal_window_image/btn1_start_active.png') 100% 100% no-repeat;
    cursor: url(/static/img/cursors/hyper.png), pointer;
}
.qg-mt-fight-btn:hover {
    background: transparent url('/static/img/modal_window_image/btn1_start_hover.png') 100% 100% no-repeat;
}
.qg-mt-fight-btn:active, .qg-pp-site-btn.active {
    background: transparent url('/static/img/modal_window_image/btn1_start_press.png') 100% 100% no-repeat;
}

.qg-mt-teaching-btn {
    position: absolute;
    width: 138px;
    height: 53px;
    left: 982px;
    top: 110px;
    background: transparent url('/static/img/modal_window_image/btn2_start_active.png') 100% 100% no-repeat;
    cursor: url(/static/img/cursors/hyper.png), pointer;
}
.qg-mt-teaching-btn:hover {
    background: transparent url('/static/img/modal_window_image/btn2_start_hover.png') 100% 100% no-repeat;
}
.qg-mt-teaching-btn:active, .qg-pp-again-btn.active {
    background: transparent url('/static/img/modal_window_image/btn2_start_press.png') 100% 100% no-repeat;
}

.qg-mt-block {
    position: relative;
    float: left;
    margin: 2px 0 0 2px;
    height: calc(100% - 30px);
    width: calc(100% - 4px);
    border: 1px solid #0e4b00;
    box-sizing: border-box;
}

.start-qg-logo {
    position: relative;
    width: 704px;
    height: 343px;
    margin: 0 auto;
    background: transparent url('/static/img/modal_window_image/start_qg.png') 100% 100% no-repeat;
}

.start-qg-text {
    position: relative;
    width: 100%;
    margin: 10px auto;
    padding: 14px 30px;
    text-align: center;
    color: #2ffa00;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #0e4b00, #0e4b00, #0e4b00, #0e4b00, transparent);
    border-image-slice: 1;
    box-sizing: border-box;
}

.start-qg-text-quest {
    position: relative;
    width: 100%;
    color: #2ffa00;
    text-align: center;
}

#quickGameMapTeachingPageBtnOK, #quickGameMapTeachingPageBtnCancel {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    border: 1px solid #0e4b00;
    background-color: #082801;
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    position: relative;
    float: left;
    margin: 14px 87px 0 87px;
}
#quickGameMapTeachingPageBtnOK:hover, #quickGameMapTeachingPageBtnCancel:hover { background-color: #0c4b00; color: #2ffa00; border-color: #31c811; }

/* Окно активации итемов */

#modalItemActivationPage {
    width: 330px;
    height: 160px;
}
#modalItemActivationPage:focus { outline: 0px solid transparent; }

.mw_ia_top_block {
    position: relative;
    width: 100%;
    height: 80px;
    padding-top: 18px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #0e4b00, #0e4b00, #0e4b00, #0e4b00, transparent);
    border-image-slice: 1;
    box-sizing: border-box;
}

.mw_ia_progress_bar {
    position: relative;
    width: 260px;
    height: 24px;
    margin: 0 auto;
    background: transparent url('/static/img/modal_window_image/loadbar.png') 100% 100% no-repeat;
}

.mw_ia_progress_bar_load {
    position: relative;
    height: 100%;
    width: 0%;
    background-color: #2ffa00;
}

.mw_ia_progress_bar_text {
    position: relative;
    width: 260px;
    height: 37px;
    line-height: 37px;
    margin: 0 auto;
    text-align: right;
}

.mw_ia_bottom_block {
    position: relative;
    width: 100%;
    height: calc(100% - 80px);
    padding-top: 12px;
    box-sizing: border-box;
}

/* Окно начала классового квеста */

#modalClassQuestFirstOutPage {
    position: absolute;
    width: 294px;
    height: 314px;
}
#modalClassQuestFirstOutPage .modal-window-wrap { padding: 0; height: calc(100% - 26px - 6px); }

.mw_cqfo_up_block_wrap {
    position: relative;
    width: 282px;
    height: 177px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #0e4b00, #0e4b00, #0e4b00, #0e4b00, transparent);
    border-image-slice: 1;
    box-sizing: border-box;
}

.mw_cqfo_up_block {
    position: absolute;
    top: 2px;
    width: 100%;
    height: 170px;
}

.mw_cqfo_text_block {
    position: relative;
    width: 100%;
    height: 55px;
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 13px;
}
.mw_cqfo_text_block.two-line { line-height: 16px; }

.mw_cqfo_bottom_block {
    position: relative;
    width: 100%;
    height: 40px;
    padding-top: 6px;
    box-sizing: border-box;
}