.modal-window-parent {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-window-hide {
    display: none;
    height: 0%;
    width: 0%;
}

.modal-window-back-show{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.6;
    left: 0px;
    top: 0px;
    z-index: 20;
    pointer-events: auto;
}

.modal-window-back-hide{

}

.modal-window-welcome-show {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 600px;
    margin-left: -300px;
    margin-top: -200px;
    overflow-y: auto;
    border: solid 4px darkgreen;
    z-index: 21;
    background-color: white;
}

.modal-window-options-show {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 600px;
    margin-left: -300px;
    margin-top: -200px;
    overflow-y: auto;
    border: solid 4px darkgreen;
    z-index: 21;
    background-color: #000000;
}


.modal-window-death-show {
    position: absolute;
    top: 80px;
    left: 50%;
    height: 80px;
    width: 300px;
    margin-left: -150px;
    border: solid 4px darkgreen;
    z-index: 21;
    background-color: #ffffff;
}

.modal-window-win-show {
    position: absolute;
    top: 80px;
    left: 50%;
    height: 75px;
    width: 300px;
    margin-left: -150px;
    border: solid 4px darkgreen;
    z-index: 21;
    background-color: #ffffff;
}

.modal-window-lose-show {
    position: absolute;
    top: 80px;
    left: 50%;
    height: 75px;
    width: 300px;
    margin-left: -150px;
    border: solid 4px darkgreen;
    z-index: 21;
    background-color: #ffffff;
}

.modal-window-restart-show {
    position: absolute;
    top: 80px;
    left: 50%;
    height: 75px;
    width: 300px;
    margin-left: -150px;
    border: solid 4px darkgreen;
    z-index: 21;
    background-color: #000000;
}


/* Все css стили всех модальных оконо в этой месте!*/

/* css стили для окна приветствия */
#welcomePageDiv {
    position: absolute;
    background-color: black;
    color: lime;
    font: bold 12px Arial;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
}

#welcomePageDiv p{
     font-size: 14px;
     margin-left: 15px;
 }
#welcomePageDiv span{
    font-size: 12px;
    margin-left: 15px;
}

#welcomePageDiv comment{
    font-size: 10px;
    margin-left: 15px;
}

#welcomePageDiv li{
    list-style: circle;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

#welcomePageCloseButton {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    opacity: 0.7;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -25px;
    color: lime;
    border: solid lime 1px;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
    font: bold 14px Arial;
}

#welcomePageCloseButton:hover {
    opacity: 0.95;
}



.dialogBtnOK {
    position: relative;
    float: left;
    margin-left: 7%;
    width: 40%;
    height: 26px;
    line-height: 26px;
}

.dialogBtnCancel {
    position: relative;
    float: right;
    margin-right: 7%;
    width: 40%;
    height: 26px;
    line-height: 26px;
}

/* конец css стили для окна приветствия*/


/* css стили для окна настроек */
#optionsPageDiv {
    position: absolute;
    background-color: black;
    color: lime;
    font: bold 12px Arial;
    width: 100%;
    height: 100%;
}

#optionsPageDivContent {
    width: 100%;
    height: 370px;
    position: absolute;
    overflow: auto;
}

#optionsDivButtons {
    bottom: 0;
    right: 8px;
    position: absolute;
}

#optionsPageDiv p{
    font-size: 14px;
    margin-left: 15px;
}

#optionsPageDiv input {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
}

#optionsPageDiv li{
    list-style: none;
    margin-bottom: 0.4em;
}

#optionsPageDiv ul{
    margin-bottom: 2em;
}


.optionsPageButton {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    opacity: 0.7;
    position: relative;
    color: lime;
    border: solid lime 1px;
    border-radius: 3px;
    margin: 3px;
    float: right;
    padding: 3px 5px 3px 5px;
    font: bold 14px Arial;
}

.optionsPageButton:hover {
    opacity: 0.95;
}

/* конец стилей настроек */


/* css стили для окна смерти */
#deathPageDiv {
    position: absolute;
    background-color: black;
    color: lime;
    font: bold 12px Arial;
    min-height: 80px;
    min-width: 300px;
}

#deathPageImageDeath {
    position: absolute;
    left: 0;
    background: transparent url('/static/img/modal_window_image/mes_win_death_icon.png');
    height: 70px;
    width: 70px;
}

#deathPageRight {
    right: 0;
    margin-left: 75px;
    height: 100%;
    position: absolute;
}

#deathPageRightText {
    margin-top: 10px;

    }

#deathPageButtonResp {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    opacity: 0.7;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    border: solid lime 1px;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
    font: bold 14px Arial;
    bottom: 10px;
}

#deathPageButtonResp:hover {
    opacity: 0.95;
}
/* конец стилей для окна смерти*/


/* css стили для окна дисконнекта */
#restartPageDiv {
    position: absolute;
    background-color: black;
    color: lime;
    font: bold 12px Arial;
    min-height: 75px;
    min-width: 300px;
}

#restartPageRight {
    margin-left: 15px;
    height: 100%;
    position: absolute;
}

#restartPageRightText {
    margin-top: 10px;
    text-align: center;
}

#restartPageButton {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    opacity: 0.7;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    border: solid lime 1px;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
    font: bold 14px Arial;
    bottom: 10px;
}

#restartPageButton:hover {
    opacity: 0.95;
}
/* конец стилей для окна дисконнекта */


/* Новые стили окон Общие */

.mainDivModalWindow {
    position: absolute;
    border: 2px solid #2ffa00;
    height: 100%;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: #31c811;
    font: 12pt Nouveau_IBM;
}

.modal-window-show {
    display: block;
    position: absolute;
    top: 80px;
    left: 50%;
    z-index: 21;
    pointer-events: auto;
}

.modal-window-wrap {
    position: relative;
    width: calc(100% - 6px);
    height: calc(100% - 26px - 40px - 6px);
    border: 1px solid #0e4b00;
    box-sizing: border-box;
    padding: 10px;
    margin: 3px auto;
    text-align: center;
}

.modal-window-wrap .modal-header {
    position: relative;
    text-align: center;
    margin: 5px auto 10px auto;
    font-size: 20px;
}

.modal-window-footer {
    position: relative;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding-top: 5px;
}

.modal-window-footer-btn {
    position: relative;
    text-align: center;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    border: 1px solid #0e4b00;
    background-color: #082801;
    box-sizing: border-box;
}

.modal-window-footer-btn:hover {
    background-color: #0c4b00;
    color: #2ffa00;
    border-color: #31c811;
}

/* Окно просто любой информации */

#modalInfoPage {
    width: 360px;
    height: 260px;
    margin-left: -180px;
}

#dialogInfoPageBtnOK {
    position: relative;
    margin: 0 auto;
    width: 40%;
    height: 26px;
    line-height: 26px;
}

/* Окно вопроса - да / нет */

#modalAnswerPage {
    width: 360px;
    height: 260px;
    margin-left: -180px;
}

#dialogAnswerPageBtnOK {
    position: relative;
    float: left;
    margin-left: 7%;
    width: 40%;
    height: 26px;
    line-height: 26px;
}

#dialogAnswerPageBtnCancel {
    position: relative;
    float: right;
    margin-right: 7%;
    width: 40%;
    height: 26px;
    line-height: 26px;
}


/* Окно разделения итемов */
#modalItemDivisionPage {
    width: 340px;
    height: 196px;
    margin-left: -170px;
}

#modalItemDivisionPage .modal-window-wrap {
    padding: 0;
    border: 0;
}

.division-item-info-wrap {
    /*Тут должен быть тот самый градиент*/
    position: relative;
    width: 100%;
    height: 80px;
    border: 1px solid #0E4b00;
    box-sizing: border-box;
    margin-bottom: 6px;
    background: linear-gradient( 90deg, transparent, #0e4b00 50%, transparent);
}

.division-item-info-caption {
    position: absolute;
    width: calc(50% - 65px);
    height: 100%;
    padding: 5px 0 0 5px;
    text-align: center;
    font-size: 12pt;
}

.division-item-info-image {
    position: relative;
    width: 130px;
    height: 70px;
    margin: 2px auto 0 auto;
}

.division-item-info-input-wrap {
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 80px;
    height: 25px;
    border: 1px solid #0e4b00;
}

.division-item-info-input-wrap > input {
    text-align: center;
    line-height: 1.4;
    border: 0px solid #000000;
    height: 100%;
    width: 100%;
    background-color: transparent;
    font: 11pt Nouveau_IBM;
    color: #2ffa00;
}

.division-item-progress-wrap {
    position: relative;
    width: 100%;
    height: 35px;
    background-color: transparent;
    background-image: linear-gradient(45deg, #0e4b00 25%, transparent 25%, transparent 74%, #0e4b00 75%, #0e4b00), linear-gradient(45deg, #0e4b00 25%, transparent 25%, transparent 74%, #0e4b00 75%, #0e4b00);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
        text-align: center;
    line-height: 35px;
    color: #2ffa00;
}

.division-item-progress {
    position: absolute;
    width: 45%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
    background-image: linear-gradient(45deg, #249909 25%, transparent 25%, transparent 74%, #249909 75%, #249909), linear-gradient(45deg, #249909 25%, transparent 25%, transparent 74%, #249909 75%, #249909);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}

.division-item-progress-btn {
    position: absolute;
    top: 0;
    width: 35px;
    height: 35px;
    cursor: url(/static/img/cursors/hyper.png), pointer;
    box-sizing: border-box;
    font: 24pt Arial;
    line-height: 36px;
    text-align: center;
    color: #030f00;
}

.division-item-progress-btn:hover {color: #2ffa00;}

#divisionItemBtnMinus {left: 0;}
#divisionItemBtnPlus {right: 0;}

/* Окно завершения быстрой игры */
#modalQuickGamePointsPage {
    width: 340px;
    height: 174px;
    margin-left: -170px;
}

#quickGamePointsPageBtnOK {
    position: relative;
    float: left;
    margin-left: 7%;
    width: 40%;
    height: 26px;
    line-height: 26px;
}

#quickGamePointsPageBtnCancel {
    position: relative;
    float: right;
    margin-right: 7%;
    width: 40%;
    height: 26px;
    line-height: 26px;
}


/* Окно запроса на прохождение обучения в быстрой игре */
#modalQuickGameMapTeachingPage {
    width: 540px;
    height: 174px;
    margin-left: -170px;
}

#quickGameMapTeachingPageBtnOK {
    position: relative;
    float: left;
    margin-left: 7%;
    width: 40%;
    height: 26px;
    line-height: 26px;
}

#quickGameMapTeachingPageBtnCancel {
    position: relative;
    float: right;
    margin-right: 7%;
    width: 40%;
    height: 26px;
    line-height: 26px;
}
