/* Нота для квеста доставки */

.notes-npc-delivery-up {
    position: relative;
    width: 100%;
    height: 195px;
    box-sizing: border-box;
    border-width: 0px 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, #30fc00, #30fc00, transparent);
    border-image-slice: 1;
    background-image: url('../img/quests/notes/delivery_note.png');
    background-repeat: no-repeat no-repeat;
    background-position: center;
}
.notes-npc-delivery-up.courier { background-image: url('../img/quests/notes/courier.png'); }

.notes-npc-delivery-inventory-label {
    position: relative;
    width: 100%;
    height: 20px;
    text-align: center;
    line-height: 30px;
}

.notes-npc-delivery-inventory-wrap {
    position: relative;
    margin: 10px auto 0 auto;
    width: calc(100% - 40px);
    height: 85px;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: scroll;
}
.notes-npc-delivery-inventory-wrap.no-scroll { overflow-x: hidden; }

.notes-npc-delivery-inventory {
    position: relative;
    height: 100%;
}

.npcInventory-notes-delivery-count {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font: 10pt Nouveau_IBM;
    color: #2ffa00;
}

/* Нота для квеста убийства списка игроков */

.notes-npc-killer-up {
    position: relative;
    padding: 10px;
    width: 100%;
    height: 96px;
    box-sizing: border-box;
    border-width: 0px 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, #30fc00, #30fc00, transparent);
    border-image-slice: 1;
    text-align: center;
    background: url(../img/quests/notes/killer_note.png) no-repeat center;
}

.notes-npc-killer-inventory-label {
    position: relative;
    width: 100%;
    height: 20px;
    text-align: center;
    line-height: 30px;
}

.notes-npc-killer-inventory-wrap {
    position: relative;
    margin: 10px auto 0 auto;
    width: calc(100% - 40px);
    height: 180px;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: scroll;
}

.notes-npc-killer-inventory {
    position: relative;
    height: 100%;
}

.npcInventory-notes-killer-name {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font: 10pt Nouveau_IBM;
    color: #2ffa00;
}

/* Нота для убийства босса */

.notes-npc-kill-boss {
    position: relative;
    width: 558px;
    height: 306px;
    background: url(../img/quests/notes/kill_boss_note.png) no-repeat center;
}

.notes-npc-kill-label {
    position: absolute;
    top: 35px;
    left: 100px;
    font-family: wanted;
    font-size: 40px;
}

.notes-npc-kill-boss-avatar {
    position: absolute;
    top: 83px;
    left: 87px;
    width: 170px;
    height: 146px;
}

.notes-npc-kill-boss-name {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.notes-npc-kill-boss-name-span { background-color: #14320d; }

.notes-npc-kill-boss-reward {
    position: absolute;
    height: 46px;
    width: 200px;
    top: 222px;
    left: 74px;
    font-family: wanted;
    font-size: 35px;
    text-align: center;
}

/* Нота для доставки машины */

.notes-npc-delivery-car-up {
    position: relative;
    width: 100%;
    height: 210px;
    box-sizing: border-box;
    border-width: 0px 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, #30fc00, #30fc00, transparent);
    border-image-slice: 1;
    background-image: url('../img/quests/notes/delivery_car.png');
    background-repeat: no-repeat no-repeat;
    background-position: center;
}

/* Нота на посещение тренера */

.notes-visit-trainer-img {
    position: relative;
    width: 100%;
    height: 125px;
    box-sizing: border-box;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, #30fc00, #30fc00, transparent);
    border-image-slice: 1;
    background: url(../img/quests/notes/visit_trainer.png) no-repeat center;
}

.notes-visit-trainer-text {
    position: relative;
    width: 100%;
    height: calc(100% - 125px);
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Нота на посещение тренера */

.notes-select-teacher-img {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/quests/notes/select_teacher.png) no-repeat center;
}



/* Общее для классовых квестов */

.note-class-img {
    position: relative;
    width: 100%;
    height: 125px;
    box-sizing: border-box;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, #30fc00, #30fc00, transparent);
    border-image-slice: 1;
}

.note-class-text {
    position: relative;
    width: 100%;
    height: calc(100% - 125px);
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Нота на классовую машинку */
.note-class-img.class-car-note {
    height: 116px;
    background: url(../img/quests/notes/visit_trainer.png) no-repeat center;
}

.note-class-text.class-car-note {
    height: calc(100% - 116px);
}


/* Нота на максимальный уровень машинки */
.note-class-img.car-max-lvl-note {
    height: 116px;
    background: url(../img/quests/notes/visit_trainer.png) no-repeat center;
}

.note-class-text.car-max-lvl-note {
    height: calc(100% - 116px);
}



/* AccumulateNucoinsQuestNote */
.note-class-img.accum-nucoins {
    height: 116px;
    background: url(../img/quests/notes/class_notes/accum_nucoins.png) no-repeat center;
}
.note-class-text.accum-nucoins {
    height: calc(100% - 116px);
}

/* KillsClassQuestNote */
.note-class-img.killer-class-quest {
    height: 116px;
    background: url(../img/quests/notes/class_notes/killer.png) no-repeat center;
}
.note-class-text.killer-class-quest {
    height: calc(100% - 116px);
}

/* GetPartyExpQuestNote */
.note-class-img.get-party-exp {
    height: 116px;
    background: url(../img/quests/notes/class_notes/party_exp.png) no-repeat center;
}
.note-class-text.get-party-exp {
    height: calc(100% - 116px);
}

/* SetMechanicItemsQuestNote */
.note-class-img.set-mechanic-items {
    height: 116px;
    background: url(../img/quests/notes/class_notes/mechanic_items.png) no-repeat center;
}
.note-class-text.set-mechanic-items {
    height: calc(100% - 116px);
}

/* InvisibleAttackQuestNote */
.note-class-img.invisible-attack {
    height: 116px;
    background: url(../img/quests/notes/class_notes/invisible_attack.png) no-repeat center;
}
.note-class-text.invisible-attack {
    height: calc(100% - 116px);
}

/* VisitTownsQuestNote */
.note-class-img.visit-towns-class-quest {
    height: 116px;
    background: url(../img/quests/notes/class_notes/visit_towns.png) no-repeat center;
}
.note-class-text.visit-towns-class-quest {
    height: calc(100% - 116px);
}

