#viewMessengerArea {
    position: absolute;
    border-color: limegreen;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

#viewMessengerHeaderArea {
    position: relative;
    overflow: auto;
    top: 0px;
    right: 0px;
    left: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: limegreen;
    background: rgb(31, 112, 45);
    background: -moz-linear-gradient(top, rgba(31, 112, 45, 1) 0%, rgba(0, 63, 7, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(31, 112, 45, 1)), color-stop(100%, rgba(0, 63, 7, 1)));
    background: -webkit-linear-gradient(top, rgba(31, 112, 45, 1) 0%, rgba(0, 63, 7, 1) 100%);
    background: -o-linear-gradient(top, rgba(31, 112, 45, 1) 0%, rgba(0, 63, 7, 1) 100%);
    background: -ms-linear-gradient(top, rgba(31, 112, 45, 1) 0%, rgba(0, 63, 7, 1) 100%);
    background: linear-gradient(to bottom, rgba(31, 112, 45, 1) 0%, rgba(0, 63, 7, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f702d', endColorstr='#003f07', GradientType=0);
}

#viewMessengerTitleArea {
    position: relative;
    color: limegreen;
    text-align: center;
}

.messenger-text {
    font: bold 14px sans-serif;
}

.viewMessengerSlideButtonShowed {
    background: transparent url(../img/chat/button_down.png) 100% 100% no-repeat;
}

.viewMessengerSlideButtonHided {
    background: transparent url(../img/chat/button_up.png) 100% 100% no-repeat;
}

#viewMessengerSlideButton {
    margin: 3px;
    position: relative;
    height: 18px;
    width: 18px;
    overflow: auto;
    float: right;
}

#viewMessengerDynamicArea {
    position: relative;
}

#viewMessengerPageControl {
    overflow: auto;
}

#viewMessengerPageControlLeftButton {
    background: transparent url(../img/chat/button_left.png) 100% 100% no-repeat;
    margin: 3px;
    position: relative;
    height: 18px;
    width: 18px;
    overflow: auto;
    float: left;
}

#viewMessengerPageControlCenterArea {
    float: left;
    min-height: 24px;
}

#viewMessengerPageControlCenterContent {
}

#viewMessengerPageControlRightButton {
    background: transparent url(../img/chat/button_right.png) 100% 100% no-repeat;
    margin: 3px;
    position: relative;
    height: 18px;
    width: 18px;
    overflow: auto;
    float: left;
}

#viewMessengerTextArea {
    border-image-slice: 2 0 2 0;
    border-image-width: 2px 0px 2px 0px;
    border-image-source: -webkit-linear-gradient(right, transparent, lime, transparent);
    border-image-source: -o-linear-gradient(right, transparent, lime, transparent);
    border-image-source: -moz-linear-gradient(right, transparent, lime, transparent);
    border-image-source: linear-gradient(to right, transparent, lime, transparent);
    border-left: 0px;
    border-right: 0px;

    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}


#viewMessengerFooterArea {
    position: relative;
    overflow: auto;
    bottom: 0px;
}

#viewMessengerEnterButton {
    background: transparent url(../img/chat/button_enter.png) 100% 100% no-repeat;
    margin: 3px;
    position: relative;
    height: 18px;
    width: 28px;
    overflow: auto;
    float: right;
}

#viewMessengerInputArea {
    padding-right: 3px;
    padding-left: 3px;
    position: relative;
}

#viewMessengerInput {
    border: 0px solid #000000;
    background: #000000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #00ff00;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    width: 99%;
}

.textOutArea {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

.textOutAreaActive {
    display: block;
}

.view-messenger-message {
    padding-left: 3px;
    padding-right: 3px;
}

.view-messenger-text-time {
    color: limegreen;
    font: 12px sans-serif;
}

.view-messenger-text-user {
    color: lime;
    font: 12px sans-serif;
}

.view-messenger-text-my-user {
    color: lime;
    font: bold 12px sans-serif;
}

.view-messenger-text-text {
    color: lightgreen;
    font: 12px sans-serif;
}

.pageButton {
    opacity: 0.6;
    float: left;
    position: relative;
    color: lime;
    border: solid lime 1px;
    border-radius: 3px;
    margin: 3px;
    padding: 3px 5px 3px 5px;
    font: 14px sans-serif;
}

.pageButtonActive {
    opacity: 1;
}
