#chatAreaGlass {
    position: absolute;
    pointer-events: none;
    height: 457px;
    width: 555px;
    bottom: 0;
}

#chatTownWrap {
    position: absolute;
    height: 535px;
    width: 450px;
    top: 210px;
    left: 632px;
}

#visitorListWrap {
    position: absolute;
    height: 491px;
    width: 208px;
    top: 250px;
    left: 1083px;
}

#VMGDivHardware {
    position: absolute;
    height: 457px;
    width: 28px;
    background: transparent url('/static/img/chat/chat_port.png') 50% 50% no-repeat;
}

#VMGPortHideBtn{
    pointer-events: auto;
    position: absolute;
    bottom: 397px;
    left: 2px;
	cursor: url('/static/img/cursors/hyper.png'), pointer;
}

#VMGMainDivGlass {
    position: absolute;
    height: 377px;
    width: 555px;
    bottom: 0;
    background: transparent url('/static/img/chat/chat_glass.png') 50% 50% no-repeat;
}

#VMGDivWrapChat {
    position: absolute;
    height: 310px;
    width: 465px;
    left: 5px;
    bottom: 0;
    margin: 10px;
}

#VMGMainDivChat {
    width: 100%;
    height: 100%;
}

#VMGPageControlArea {
    position: relative;
    height: 40px;
    width: 100%;
    padding-top: 6px;
    box-sizing: border-box;
}
#townChatLocation #VMGPageControlArea {
    padding-left: 120px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
}

#VMGDynamicAreaForBorder {
    position: relative;
    box-sizing: border-box;
    height: calc(100% - 45px);
    width: 100%;
    border: 1px #00ff55 solid;
    border-radius: 2px;
}

#VMGDynamicArea {
    position: relative;
    pointer-events: auto;
    height: calc(100% - 30px);
    width: 100%;
}

#VMGFooterArea {
    position: relative;
    pointer-events: auto;
    height: 30px;
    width: 100%;
    border-image-slice: 1 0 0 0;
    border-image-source: -webkit-linear-gradient(right, transparent, lime, transparent);
    border-image-source: -o-linear-gradient(right, transparent, lime, transparent);
    border-image-source: -moz-linear-gradient(right, transparent, lime, transparent);
    border-image-source: linear-gradient(to right, transparent, lime, transparent);
    border-width: 1px 0px 0px 0px;
}
#townChatLocation #VMGFooterArea {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
}

#VMGEnterButtonDIV {
    position: absolute;
    height: 20px;
    width: 50px;
    right: 3px;
    top: 4px;
    border-radius: 2px;
    border: 1px #00ff55 solid;
    background-color: rgba(42, 253, 10, 0.20);
}

#VMGEnterButton {
    color: #2afd0a;
    font: 14pt MICRADI;
    text-align: center;
    margin-top: -4px;
}

#VMGInputArea {
    position: absolute;
    height: 25px;
    width: calc(100% - 70px);
    top: 2px;
}

#VMGMainInput {
    border: 0px solid #000000;
    height: 100%;
    width: 99%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: transparent;
    padding-left: 4px;
    color: #2ffa00;
    font: 12pt FreePixel;
	cursor: url('/static/img/cursors/text.png'), text;
}

.VMGChatOutArea {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}
#townChatLocation .VMGChatAreaScroll { overflow-y: scroll; }

.VMGChatOutAreaActive {
    display: block;
}

.VMGpageButton {
    position: relative;
    pointer-events: auto;
    float: left;
    opacity: 0.5;
    color: #2afd0a;
    border: solid lime 0px;
    border-radius: 3px;
    margin: 3px;
    padding: 3px 5px 3px 5px;
    font: 11pt MICRADI;
}

.VMGpageButtonActive {
    opacity: 1;
}

.VMGpageButtonActive:before {
    content: "< ";
}

.VMGpageButtonActive:after {
    content: " >";
}

.VMGPartytextOutArea {
    position: relative;
    height: calc(100% - 30px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
#townChatLocation .VMGPartytextOutArea {
    width: 470px;
}

.VMGPartyPageControl {
    position: relative;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 2px;
    border-image-slice: 0 0 1 0;
    border-image-source: -webkit-linear-gradient(right, transparent, lime, transparent);
    border-image-source: -o-linear-gradient(right, transparent, lime, transparent);
    border-image-source: -moz-linear-gradient(right, transparent, lime, transparent);
    border-image-source: linear-gradient(to right, transparent, lime, transparent);
    border-width: 0px 0px 1px 0px;
}

.VMGGlobalPageControl {
    position: relative;
    height: 30px;
    max-height: 30px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 2px;
    border-image-slice: 0 0 1 0;
    border-image-source: -webkit-linear-gradient(right, transparent, lime, transparent);
    border-image-source: -o-linear-gradient(right, transparent, lime, transparent);
    border-image-source: -moz-linear-gradient(right, transparent, lime, transparent);
    border-image-source: linear-gradient(to right, transparent, lime, transparent);
    border-width: 0px 0px 1px 0px;
}
#townChatLocation .VMGGlobalPageControl {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
}

.VMGPartypageButton {
    position: relative;
    float: left;
    color: #31c811;
    background-color: #082901;
    margin: 3px;
    padding: 3px 5px 3px 5px;
    font: 11pt Nouveau_IBM;
    pointer-events: auto;
}
.VMGPartypageButton.active { color: #000000; background-color: #2ffa00; }
.VMGPartypageButton:hover { color: #000000; background-color: #2ffa00; }

.VMGPartypageButtonClose {
    position: relative;
    height: 8px;
    width: 8px;
    float: right;
    background: transparent url('/static/img/chat/tab_close_btn.png') 50% 50% no-repeat;
    margin: 3px 3px 0px 10px;
}
.VMGPartypageButtonClose:hover {
    background: transparent url('/static/img/chat/tab_close_btn_over.png') 50% 50% no-repeat;
}
.VMGPartypageButtonClose:active {
    background: transparent url('/static/img/chat/tab_close_btn_pressed.png') 50% 50% no-repeat;
}

.VMGStandarttextOutArea{
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    /*для возможности копипаста. Если будет мешать где-то, то вынести в отдельный класс и присвоить в системном чате*/
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.VMG-message-message {
    padding-left: 3px;
    padding-right: 3px;
    color: #31c811;
}
.VMG-message-message.my-user { color: #2ffa00; }
.VMG-message-message.for-my-user { background-color: #082801; }
/*.VMG-message-message.for-my-user .VMG-message-text-text { font: 10pt Nouveau_IBM; }*/

.VMG-message-text-time {
    font: 10pt Nouveau_IBM;
    font-weight: bold;
}

.VMG-message-text-user {
    font: 10pt Nouveau_IBM;
    font-weight: bold;
}

.VMG-message-text-text {
    font: 12pt FreePixel;
}

/* Компактная версия чата */

#VGMMainDivCompact {
    pointer-events: none;
    display: none;
    width: 480px;
    position: absolute;
    bottom: 0;
    margin: 10px;
    overflow-x: visible;
}

#VGMtextAreaCompact {
    height: 100%;
    width: 100%;
    max-height: 310px;
    overflow-y: auto;
    overflow-x: visible;
}

.VGM-message-compact {
    padding-left: 3px;
    padding-right: 3px;
    color: #2afd0a;
    font: 8pt MICRADI;
    letter-spacing: 1px;
    bottom: 0;
    position: relative;
}

#VGM-PlayerInfoDivInCity {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1366px) {

    #chatAreaGlass {
        transform: scale(0.75);
        bottom: -57px;
        left: -70px;
    }
}
