#chatAreaGlass {
    position: absolute;
    pointer-events: none;
    height: 457px;
    width: 555px;
    bottom: 0;
}

#chatTownWrap {
    position: absolute;
    height: 535px;
    width: 450px;
    top: 210px;
    left: 632px;
}

#visitorListWrap {
    position: absolute;
    height: 491px;
    width: 208px;
    top: 250px;
    left: 1083px;
}

#VMGDivHardware {
    position: absolute;
    height: 457px;
    width: 28px;
    background: transparent url('/static/img/chat/chat_port.png') 50% 50% no-repeat;
}

#VMGPortHideBtn{
    pointer-events: auto;
    position: absolute;
    bottom: 397px;
    left: 2px;
	cursor: url('/static/img/cursors/hyper.png'), pointer;
}

#VMGMainDivGlass {
    position: absolute;
    height: 377px;
    width: 555px;
    bottom: 0;
    background: transparent url('/static/img/chat/chat_glass.png') 50% 50% no-repeat;
}

#divForChatNotClick {
    position: absolute;
    bottom: 0;
    width: 490px;
    height: 325px;
}

#VMGDivWrapChat {
    position: absolute;
    height: 310px;
    width: 465px;
    left: 5px;
    bottom: 0;
    margin: 10px;
}

#VMGMainDivChat {
    width: 100%;
    height: 100%;
}

#VMGPageControlArea {
    position: relative;
    height: 40px;
    width: 100%;
    padding-top: 6px;
    box-sizing: border-box;
}
#townChatLocation #VMGPageControlArea {
    padding-left: 120px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
}

#VMGDynamicAreaForBorder {
    position: relative;
    box-sizing: border-box;
    height: calc(100% - 45px);
    width: 100%;
    border: 1px #00ff55 solid;
    border-radius: 2px;
}

#VMGDynamicArea {
    position: relative;
    pointer-events: auto;
    height: calc(100% - 30px);
    width: 100%;
}

#VMGFooterArea {
    position: relative;
    pointer-events: auto;
    height: 30px;
    width: 100%;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
}

#VMGEnterButtonDIV {
    position: absolute;
    height: 20px;
    width: 50px;
    right: 3px;
    top: 4px;
    border-radius: 2px;
    border: 1px #00ff55 solid;
    background-color: rgba(42, 253, 10, 0.20);
}

#VMGEnterButton {
    color: #2afd0a;
    font: 14pt MICRADI;
    text-align: center;
    margin-top: -4px;
}

#VMGInputArea {
    position: absolute;
    height: 25px;
    width: calc(100% - 70px);
    top: 2px;
}

#VMGMainInput {
    border: 0px solid #000000;
    height: 100%;
    width: 99%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: transparent;
    padding-left: 4px;
    color: #2ffa00;
    font: 12pt FreePixel;
	cursor: url('/static/img/cursors/text.png'), text;
}

.VMGChatOutArea {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}
#townChatLocation .VMGChatAreaScroll { overflow-y: scroll; }

.VMGChatOutAreaActive {
    display: block;
}

.VMGpageButton {
    position: relative;
    pointer-events: auto;
    float: left;
    color: #31c811;
    margin: 3px;
    padding: 3px 5px 3px 5px;
    font: 11pt MICRADI;
    font-weight: normal;
}
.VMGpageButton.active { color: #2ffa00; }
.VMGpageButton.active:before { content: "< "; }
.VMGpageButton.active:after { content: " >"; }
.VMGpageButton:hover { color: #2ffa00; }
.VMGpageButton.wait {
    animation: blink-animation-page 1s steps(2, start) infinite;
    -webkit-animation: blink-animation-page 1s steps(2, start) infinite;
}
@keyframes blink-animation-page { to { color: #000000; background-color: #0e4b00; } }
@-webkit-keyframes blink-animation-page { to { color: #000000; background-color: #0e4b00; } }

.VMGTextOutArea {
    position: relative;
    height: calc(100% - 30px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
#townChatLocation .VMGTextOutArea { width: 470px; }

.VMGPartytextOutArea {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
#townChatLocation .VMGPartytextOutArea { width: 470px; }

.VMGPartyPageControl {
    position: relative;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 2px;
    border-image-slice: 0 0 1 0;
    border-image-source: -webkit-linear-gradient(right, transparent, lime, transparent);
    border-image-source: -o-linear-gradient(right, transparent, lime, transparent);
    border-image-source: -moz-linear-gradient(right, transparent, lime, transparent);
    border-image-source: linear-gradient(to right, transparent, lime, transparent);
    border-width: 0px 0px 1px 0px;
}

.VMGGlobalPgCtrlBlock {
    position: relative;
    height: 30px;
    width: 100%;
    overflow: hidden;
    padding: 3px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
    box-sizing: border-box;
}

.VMGGlobalPgCtrlScrlBtn {
    position: relative;
    float: left;
    width: 17px;
    height: 24px;
    display: none;
}
.VMGGlobalPgCtrlScrlBtn.Left { background: transparent url('/static/img/chat/btn_slide_left.png') 50% 50% no-repeat; }
.VMGGlobalPgCtrlScrlBtn.Left:hover { background: transparent url('/static/img/chat/btn_slide_left_over.png') 50% 50% no-repeat; }
.VMGGlobalPgCtrlScrlBtn.Right { background: transparent url('/static/img/chat/btn_slide_right.png') 50% 50% no-repeat; }
.VMGGlobalPgCtrlScrlBtn.Right:hover { background: transparent url('/static/img/chat/btn_slide_right_over.png') 50% 50% no-repeat; }

.VMGGlobalPgCtrlWrap {
    position: relative;
    float: left;
    height: 24px;
    width: calc(100% - 34px);
    overflow: hidden;
}
.VMGGlobalPgCtrlWrap.all-size { width: 100%; }

.VMGGlobalPageControl {
    position: relative;
    height: 100%;
    padding: 1px 5px 0 5px;
    box-sizing: border-box;
}

.VMGPartypageButton {
    position: relative;
    float: left;
    color: #31c811;
    background-color: #082901;
    margin-right: 4px;
    padding: 3px 5px 3px 5px;
    font: 11pt Nouveau_IBM;
    pointer-events: auto;
    border-radius: 1px;
    box-sizing: border-box;
}
.VMGPartypageButton.active { color: #000000; background-color: #2ffa00; }
/*.VMGPartypageButton.wait { color: #2ffa00; background-color: #0e4b00; }*/
.VMGPartypageButton:hover { color: #000000; background-color: #2ffa00; }

.VMGPartypageButton.wait {
    animation: blink-animation 1s steps(2, start) infinite;
    -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  to { color: #000000; background-color: #2ffa00; }
}
@-webkit-keyframes blink-animation {
  to { color: #000000; background-color: #2ffa00; }
}

/*@keyframes blink-animation {*/
  /*to { color: #2ffa00; background-color: #0e4b00; }*/
/*}*/
/*@-webkit-keyframes blink-animation {*/
  /*to { color: #2ffa00; background-color: #0e4b00; }*/
/*}*/

.VMGPartypageButtonClose {
    position: relative;
    height: 8px;
    width: 8px;
    float: right;
    background: transparent url('/static/img/chat/tab_close_btn.png') 50% 50% no-repeat;
    margin: 3px 3px 0px 10px;
}
.VMGPartypageButtonClose:hover {
    background: transparent url('/static/img/chat/tab_close_btn_over.png') 50% 50% no-repeat;
}
.VMGPartypageButtonClose:active {
    background: transparent url('/static/img/chat/tab_close_btn_pressed.png') 50% 50% no-repeat;
}

#townChatLocation .VMGStandarttextOutArea { width: 470px; }
.VMGStandarttextOutArea{
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    /*для возможности копипаста. Если будет мешать где-то, то вынести в отдельный класс и присвоить в системном чате*/
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.VMG-message-message {
    padding-left: 3px;
    padding-right: 3px;
    color: #31c811;
}
.VMG-message-message.my-user { color: #2ffa00; }
.VMG-message-message.for-my-user { background-color: rgba(14,75,0,0.4); }

.VMG-message-text-time {
    font: 10pt Nouveau_IBM;
    font-weight: bold;
}

.VMG-message-text-user {
    font: 10pt Nouveau_IBM;
    font-weight: bold;
}

.VMG-message-text-text {
    font: 12pt FreePixel;
}

/* Компактная версия чата */

#VMGMainDivCompact {
    pointer-events: auto;
    display: none;
    width: 300px;
    height: 145px;
    position: absolute;
    bottom: 0;
    left: 10px;
    overflow: hidden;
}

#VMGtextAreaCompact {
    position: relative;
    height: calc(100% - 40px);
    width: 100%;
    overflow: hidden;
}

.VMGinputAreaCompact {
    position: relative;
    height: 30px;
    width: 100%;
    overflow: hidden;
    padding-top: 2px;
    box-sizing: border-box;
}

#VMGMainInputCompact {
    position: relative;
    border-width: 0px;
    height: 25px;
    width: calc(100% - 50px);
    background-color: transparent;
    padding-left: 4px;
    color: #2ffa00;
    font: 12pt FreePixel;
	cursor: url('/static/img/cursors/text.png'), text;
}

.VMGMainBtnCompact {
    position: absolute;
    height: 25px;
    width: 50px;
    right: 3px;
    top: 2px;
    color: #2afd0a;
    font: 14pt MICRADI;
    text-align: center;
}

.VGM-message-compact {
    padding-left: 3px;
    padding-right: 3px;
    color: #2afd0a;
    font: 8pt MICRADI;
    letter-spacing: 1px;
    bottom: 0;
    position: relative;
}

#VGM-PlayerInfoDivInCity {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}


@media screen and (max-width: 1550px), screen and (max-height: 880px) {
    #chatAreaGlass { height: 342px; width: 421px; }

    #VMGDivHardware {
        height: 342px;
        width: 21px;
        background: transparent url('/static/img/chat/chat_768/chat_port.png') 50% 50% no-repeat;
    }

    #VMGPortHideBtn{ bottom: 300px; left: -3px; }

    #VMGMainDivGlass {
        height: 288px;
        width: 421px;
        background: transparent url('/static/img/chat/chat_768/chat_glass.png') 50% 50% no-repeat;
    }

    #divForChatNotClick { width: 380px; height: 250px; }

    #VMGDivWrapChat {
        height: 245px;
        width: 355px;
        left: 0px;
        bottom: 0;
        margin: 0 0px 6px 10px;
    }

    #VMGPageControlArea { height: 33px; }

    #VMGDynamicAreaForBorder { height: calc(100% - 33px); }

    .VMGpageButton { padding: 5px 5px 3px 5px; font: 9pt MICRADI; }

    #VMGDynamicArea { height: calc(100% - 25px); }

    #VMGFooterArea { height: 25px; }

    #VMGEnterButtonDIV { height: 18px; width: 35px; top: 2px; right: 2px; }

    #VMGInputArea { height: 22px; width: calc(100% - 45px); top: 1px; left: 1px; }

    #VMGMainInput { font: 8pt FreePixel; }

    .VMGGlobalPgCtrlBlock { height: 24px; padding: 0; }

    .VMG-message-text-time { font: 8pt Nouveau_IBM; }
    .VMG-message-text-user { font: 9pt Nouveau_IBM; }
    .VMG-message-text-text { font: 9pt FreePixel; }

    .VMGPartypageButton { margin: 2px 4px 0 0; padding: 3px 5px 3px 5px; }
}


@media screen and (max-width: 1250px), screen and (max-height: 670px) {
    #chatAreaGlass {
        transform: scale(0.75);
        bottom: -45px;
        left: -54px;
    }
}