.armorerWindow-main {
    position: relative;
    cursor: default;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.armorer-center {
    position: relative;
    margin: auto;
    width: 734px;
    height: 392px;
    background-color: rgba(0, 0, 0, 0.45);
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
    box-sizing: border-box;
}

.armorer-car {
    position: relative;
    float: left;
    width: 491px;
    height: 100%;
    padding-top: 25px;
    border-right: 1px solid #30fc00;
    box-sizing: border-box;
}

.armorerSectors {
    position: relative;
    float: left;
    width: 242px;
    height: 100%;
    padding-top: 30px;
    box-sizing: border-box;
}

.armorerSectors-slotName {
    box-sizing: border-box;
    padding-top: 15px;
    height: 50px;
    text-align: center;
    color: #29F200;
    font: 11pt Nouveau_IBM;
}

.armorerSectors-svg {
    position: relative;
    width: 220px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
}

.car_sector {
    opacity: 0.3;
    cursor: pointer;
}

.car_sector_hover {
    opacity: 1;
}

.car_sector_active {
    opacity: 1;
}

.car_sector_disable {
    display: none;
}

.armorer-car-slot-picture {
    position: absolute;
    height: 35px;
    width: 35px;
}

.armorer_top_F, .armorer_top_B {
    position: absolute;
    pointer-events: none;
    top: -32px;
    left: -82px;
}

.armorer_top_L, .armorer_top_R {
    position: absolute;
    pointer-events: none;
    top: -82px;
    left: -32px;
}

.armorer_side_F, .armorer_side_B {
    position: absolute;
    pointer-events: none;
    top: -65px;
    left: -82px;
}

.armorer_side_L, .armorer_side_R {
    position: absolute;
    pointer-events: none;
    top: -65px;
    left: -32px;
}

/* Общие классы для всех шаблонов оружейника */

.armorer-car-main {
    position: relative;
    width: 492px;
    height: 325px;
}

.armorer-slot {
    position: absolute;
    height: 35px;
    width: 35px;
    background: transparent url(/static/img/cars/slot_passive.png) no-repeat 100% 100%;
}
.armorer-slot.for-journal { background: none; }
.armorer-slot-hover { background: transparent url(/static/img/cars/slot_active.png) no-repeat 100% 100%; }
.armorer-slot-active { background: transparent url(/static/img/cars/slot_active.png) no-repeat 100% 100%; }
