.building-wrap {
    position: absolute;
    pointer-events: auto;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: Nouveau_IBM;
    color: #29F200;
}

.building-main {
    position: relative;
    width: 100%;
    height: 100%;
}

.building-center-block {
    position: relative;
    width: 734px;
    height: 318px;
    margin: 0 auto;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.45);
}

.building-quest-list-block {
    position: relative;
    margin: auto;
    width: 500px;
    height: 190px;
    overflow-x: auto;
}

.building-quest-list {
    position: relative;
}

.building-quest-list-item {
    position: relative;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    height: 170px;
    width: 170px;
    margin-right: 10px;
    box-sizing: border-box;
    float: left;
    border: 1px solid #1A8901;
    font-family: FreePixel;
    opacity: 0.6;
}
.building-quest-list-item:hover { border-color: #29FB00; opacity: 1; }

.building-quest-list-item-caption {
    position: relative;
    width: 100%;
    padding: 5px 5px 0px 25px;
    font-weight: bold;
    box-sizing: border-box;
}

.building-quest-list-item-lvl {
    position: relative;
    width: 100%;
    padding: 0px 5px 0px 25px;
    font-weight: bold;
    box-sizing: border-box;
}

.building-quest-list-item-description {
    position: relative;
    width: 100%;
    padding: 5px 5px 0px 5px;
    font-size: 11pt;
    box-sizing: border-box;
}

.building-quest-list-item-time {
    position: absolute;
    bottom: 0px;
    right: 0px;
    box-sizing: border-box;
    font-size: 10pt;
    margin: 0px 5px 2px 0px;
}

.building-center-menu-block {
    position: relative;
    float: left;
    height: 100%;
    width: 162px;
    border-right: 1px solid green;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
}

.building-center-menu-item {
    position: relative;
    width: 150px;
    padding: 6px 10px;
    margin-bottom: 4px;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    font-size: 16px;
    background-color: #082801;
    color: #33c811;
    box-sizing: border-box;
    height: 40px;
    line-height: 14px;
}
.building-center-menu-item:hover { background-color: #0e4b00; color: #2ffa00; }
.building-center-menu-item.active { background-color: #0e4b00; color: #2ffa00; }
.building-center-menu-item.one-line {
    line-height: 28px;
}


.building-center-pages-block {
    position: relative;
    float: left;
    height: 100%;
    width: 572px;
    /*padding: 10px 10px 10px 10px;*/
    box-sizing: border-box;
}

.building-center-page {
    position: absolute;
    box-sizing: border-box;
    /*padding: 10px;*/
    height: 100%;
    width: 100%;
    color: #28F100;
    display: none;
}

.building-bottom-block {
    position: relative;
    padding-top: 30px;
    width: 620px;
    height: 209px;
    margin: 0 auto;
    box-sizing: border-box;
}

.building-npc-list-block {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.building-npc-list {
    position: relative;
    margin: auto;
}

.building-npc-list-item {
    position: relative;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    height: 160px;
    width: 180px;
    margin-right: 23px;
    padding: 4px 6px;
    background-color: #082801;
    border-width: 1px;
    border-image: radial-gradient(rgba(0, 0, 0, 0) 80%, #1A8901 100%, #fff) 1%;
    box-sizing: border-box;
    float: left;
}
.building-npc-list-item:hover {
    background-color: #0e4b00;
    border-image: radial-gradient(rgba(0, 0, 0, 0) 80%, #29FB00 100%, #fff) 1%;
}
.building-npc-list-item:hover .building-npc-name { background-color: #0e4b00; color: #2ffa00; }

.building-npc-photo {
    position: relative;
    margin: auto;
}

.building-npc-name-block {
    position: absolute;
    left: 0px;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font: 11pt Nouveau_IBM;
}

.building-npc-name {
    padding: 1px 5px;
    background-color: #082801;
    color: #33c811;
}



/* Классы для вкладки Ремонт в автосервисе */
.autoservice-repair-block {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 10px;
    box-sizing: border-box;
}

.autoservice-repair-car {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.building-gas-repair-scale-block {
    position: relative;
    width: 500px;
    height: 120px;
    left: 30px;
    top: -20px;
}

.building-gas-repair-fill {
    position: absolute;
    left: 5px;
    top: 17px;
    width: 401px;
    height: 20px;
    background-color: transparent;
    background-image: linear-gradient(45deg, #082801 25%, transparent 25%, transparent 74%, #082801 75%, #082801), linear-gradient(45deg, #082801 25%, transparent 25%, transparent 74%, #082801 75%, #082801);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}

.building-gas-repair-fill.need-for-feel {
    background-color: transparent;
    background-image: linear-gradient(45deg, #0e4b00 25%, transparent 25%, transparent 74%, #0e4b00 75%, #0e4b00), linear-gradient(45deg, #0e4b00 25%, transparent 25%, transparent 74%, #0e4b00 75%, #0e4b00);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}

.building-gas-repair-fill.in-gas-tank {
    background-color: transparent;
    background-image: linear-gradient(45deg, #2ffa00 25%, transparent 25%, transparent 74%, #2ffa00 75%, #2ffa00), linear-gradient(45deg, #2ffa00 25%, transparent 25%, transparent 74%, #2ffa00 75%, #2ffa00);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}

.building-gas-repair-scale {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent url("/static/content/locations/institutions/autoservice/repair_scale.png") 100% 100% no-repeat;
}

.building-gas-repair-rail {
    position: absolute;
    left: -19px;
    top: 96px;
    width: 448px;
    height: 20px;
    /*background-color: red;*/
}

.building-gas-repair-carette {
    position: absolute;
    width: 48px;
    height: 105px;
    top: -80px;
    background: transparent url("/static/content/locations/institutions/scale_arrow_ico.png") 100% 100% no-repeat;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
}

.building-gas-repair-text {
    color: #2ffa00;
    font-size: 18px;
    line-height: 29px;
}

.building-gas-repair-hp-value {
    position: absolute;
    left: 432px;
    top: 92px;
    width: 60px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #135806;
    font: 16pt Nouveau_IBM;
    line-height: 28px;
}

.building-gas-repair-hp-text {
    position: absolute;
    left: 485px;
    top: 95px;
    width: 50px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    font: 16pt Nouveau_IBM;
    line-height: 28px;
}