.hangarWindow-main {
    position: relative;
    cursor: url('/static/img/cursors/main.png'), default;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hangar-center {
    position: relative;
    margin: 0 auto 0 auto;
    width: 734px;
    height: 392px;
    background-color: rgba(0, 0, 0, 0.45);
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
    box-sizing: border-box;
}

.hangar-center-info-car-wrap {
    position: relative;
    height: 100%;
    display: none;
}

.hangar-car-list {
    position: relative;
    margin: auto;
    width: 572px;
    height: 125px;
}

.hangar-car-list-label {
    position: relative;
    padding-top: 12px;
    height: 35px;
    color: #29F200;
    font: 11pt Nouveau_IBM;
    margin-left: 20px;
    box-sizing: border-box;
}

.hangar-car-list-wrap {
    width: 100%;
    height: 90px;
    overflow-x: scroll;
    float: left;
}

.hangar-center-info-car-bag {
    position: absolute;
    top: 10px;
    right: 250px;
    color: #31c811;
    font: 11pt Nouveau_IBM;
    width: 200px;
    text-align: center;
    line-height: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid #0e4b00;
    border-radius: 2px;
    cursor: url(/static/img/cursors/hyper.png), pointer;
}

.hangar-center-info-car-bag:hover {
    background-color: #0c4b00;
    color: #2ffa00;
}


/* Окно багажника */

.town-parking-bag-body-header {
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 135px;
}

.town-parking-bag-body-header-text {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    line-height: 30px;
    color: #31c811;
    font: 11pt Nouveau_IBM;
    text-align: center;
    padding-top: 8px;
}


.town-parking-bag-body {
    position: relative;
    width: 100%;
    height: 430px;
    background-color: rgba(0, 0, 0, 0.45);
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
    box-sizing: border-box;
    padding: 6px;
}



.town-parking-bag-universal-wrap {
    position: relative;
    float: left;
    width: 346px;
    height: 100%;
    overflow: hidden;
}

.town-parking-bag-universal-wrap.left {
    margin: 0 20px 0 30px;
}

#townParkingBagExchangeInventory, #townParkingBagExchangeBag {
    padding: 0 3px;
    box-sizing: border-box;
}

#townParkingBagExchangeInventory {
    border-right: 1px solid #30fc00;
}

.hangar-nag-inventory-block {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}