.menu-wrap {
    position: absolute;
    pointer-events: auto;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: Nouveau_IBM, sans-serif;
}


.menu-main {
    position: relative;
    top: 110px;
    width: 100%;
}

.menu-header {
    position: relative;
    width: 90%;
    height: 30px;
    padding-top: 5px;
    box-sizing: border-box;
    margin: auto;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
}

.menu-header-item {
    position: relative;
    float: left;
    margin: 0 4px;
    color: #31c811;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    text-align: center;
    width: 14%;
    overflow: hidden;
}

.menu-header-item.small {width: 11%; }
.menu-header-item.big {width: 16%; }

.menu-header-item.active, .menu-header-item:hover{color:#29F200;}

.menu-header-item.active {
    background-color: #061108;
    background-image: linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806),
        linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}

.menu-header-item.active:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 2px;
    border-top: 5px solid transparent;
    border-left: 5px solid #00ff00;
    border-bottom: 5px solid transparent;
}

.menu-header-item.active:after {
    content: ' ';
    position: absolute;
    right: 3px;
    top: 2px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 5px solid #00ff00;
    border-bottom: 5px solid transparent;
}

.menu-center {
    position: relative;
    width: 734px;
    margin: 10px auto 0 auto;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.45);
}

.menu-item {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}


.location-inventory-info {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.location-inventory-filters {
    position: relative;
    width: 574px;
    height: calc(100% - 365px);
    line-height: 30px;
}

.location-inventory-filters-item {
    position: relative;
    float: left;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    margin: 0 30px;
    color: #31c811;
}

.location-inventory-filters-item:hover, .location-inventory-filters-item.active {color: #29F200;}


.location-inventory-filters-item.active:after {
    content: '[●]';
    position: absolute;
    right: -28px;
    top: 1px;
}


.location-inventory-block {
    position: relative;
    width: 709px;
    margin: auto;
    height: 365px;
    overflow-y: auto;
}

.location-inventory-block .npcInventory-itemWrap {
    margin: 0 5px 10px 5px;
}

.location-inventory-block .npcInventory-itemWrap.selected {
    background-color: #0E4b00;
}


/*Работа со вкладкой Авто*/

.location-menu-car-picture {
    position: relative;
    float: left;
    width: 492px;
    height: 390px;
    overflow: hidden;
    border-right: 1px solid #30fc00;
    box-sizing: border-box;
}

.location-menu-car-picture .car-info-block-picture-main {
    top: 80px;
}

.location-menu-car-table {
    position: relative;
    float: left;
    height: 100%;
    width: 240px;
    overflow: hidden;
}

.location-menu-car-name {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    font: 11pt Nouveau_IBM;
    color: #29F200;
}


/* Вкладка Меню */
.menu-item .journal-main { height: 396px; }
.menu-item .journal-header { border-width: 0 0 1px 0; }
.menu-item .journal-page-left { border-width: 0 1px 0 0; }
.menu-item .journal-page-right { border-width: 0; }

/*  NukeOil  */

.location-menu-nukeoil-header {
position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 12px 0px 0px 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid #29F200;
}

.location-menu-nukeoil-button-block {
    position: relative;
    cursor: pointer;
    float: left;
    margin-right: 30px;
    color: #29F200;
    font: 12pt Nouveau_IBM;
    opacity: 0.6;
}
.location-menu-nukeoil-button-block:hover { opacity: 1; }
.location-menu-nukeoil-button-block.active { opacity: 1; }


.location-menu-nukeoil-page-list {
    position: relative;
    width: 100%;
    height: calc(100% - 45px);
}

.location-menu-nukeoil-page {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 0 0 98px;
}

.location-menu-nukeoil-ins-block {
    position: relative;
    float: left;
    width: 150px;
    height: 250px;
    box-sizing: border-box;
    border: 1px solid #0E4b00;
    margin-right: 50px;
    color: #29F200;
    font-family: Nouveau_IBM, sans-serif;
}

.location-menu-nukeoil-ins-block.active {
    background-color: darkred;
}


.location-menu-nukeoil-ins-img {
    position: relative;
    width: 120px;
    height: 130px;
    margin: 10px auto 0 auto;
}

.location-menu-nukeoil-ins-img.standart {background: transparent url("/static/content/locations/institutions/nucoil/st_small_mapmenu.png") 100% 100% no-repeat;}
.location-menu-nukeoil-ins-img.premium {background: transparent url("/static/content/locations/institutions/nucoil/pr_small_mapmenu.png") 100% 100% no-repeat;}
.location-menu-nukeoil-ins-img.vip {background: transparent url("/static/content/locations/institutions/nucoil/vip_small_mapmenu.png") 100% 100% no-repeat;}

.location-menu-nukeoil-ins-name {
    position: relative;
    height: 20px;
    text-align: center;
    width: 100%;
    line-height: 22px;
}

.location-menu-nukeoil-ins-delimeter {
    position: relative;
    height: 1px;
    border-bottom: 2px solid #31c811;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3px;
}

.location-menu-nukeoil-ins-line {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 3px;
}
























