.npc-gas-station-main {
    position: relative;
    cursor: url('/static/img/cursors/main.png'), default;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.npc-gas-station-center {
    position: relative;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.45);
    width: 734px;
    height: 392px;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
}

.npc-gas-station-scale-block-main {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 150px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
}



/* Классы для Скейла в заправке */
.npc-gas-station-fillcar-block {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.npc-gas-station-scale-block-main .building-gas-repair-scale-block {
    margin: auto;
    top: 10px;
}

.npc-gas-station-scale-block-main .building-gas-repair-scale {
    background: transparent url("/static/content/locations/institutions/nucoil/fuel_scale.png") 100% 100% no-repeat;
}


/* Блок инвентаря и пустых канистр */

.npc-gas-station-empty-tanks-block {
    position: relative;
    width: 100%;
    height: calc(100% - 150px);
    color: #29F200;
    font: 11pt Nouveau_IBM;
}

.npc-gas-station-empty-tanks-label-block {
    position: relative;
    width: 100%;
    height: 25px;
    padding: 5px 0 0 20px;
    box-sizing: border-box;
}

.npc-gas-station-empty-tanks-label {
    position: relative;
    float: left;
}

.npc-gas-station-empty-tanks-text {
    position: relative;
    float: left;
    margin-left: 10px;
}

.npc-gas-station-empty-tanks-inventory {
    position: relative;
    margin: auto;
    width: 710px;
    height: calc(100% - 25px);
    overflow-y: auto;
}

.npc-gas-station-empty-tanks-inventory .npcInventory-itemWrap {
    margin: 5px 5px 5px 5px;
}

.npc-gas-station-empty-tanks-inventory .npcInventory-itemWrap .gs-checkbox {
    position: absolute;
    width: 100%;
    height: 20px;
    text-align: right;
    padding: 2px 4px 2px 0;
    box-sizing: border-box;
    font: 10pt Nouveau_IBM;
    line-height: 16px;
}