<link rel="stylesheet" href="/static/css/play.css"/>
<link rel="stylesheet" href="/static/css/third_party/leaflet.css"/>
<link rel="stylesheet" href="/static/css/window.css"/>
<link rel="stylesheet" href="/static/css/templates/menu/car_window.css"/>
<link rel="stylesheet" href="/static/css/templates/car_info_block.css"/>
<link rel="stylesheet" href="/static/css/templates/locations/armorer.css"/>
<link rel="stylesheet" href="/static/css/templates/locations/npc_inventory.css"/>
<link rel="stylesheet" href="/static/css/templates/map-menu/inventory.css"/>

{% if not is_mobile %}
    <!-- Desktop JS includes -->
    <script src="/static/js/game.js"></script>
    <script src="/static/js/map.js"></script>
    <script src="/static/js/ui.js"></script>
{% endif %}
