{% set window_caption = 'Locations ...' %}


<style>

    .context_panel_locatios_content {
        width: 100%;
        height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .context_panel_location_info {
        position: relative;
        width: 450px;
        height: 50px;
        margin: 3px auto 7px auto;
        border: 1px solid #27cc02;
        color: #2afd0a;
        text-align: center;
        font: 10pt MICRADI;
        
    }

</style>

<div class="partyCreateWindow-main">
    {% include ../drag_close_header.html %}
    <div class="context_panel_locatios_content">

    </div>
</div>

<script>
</script>