{% set window_caption = 'Nuke:\Journal>' %}
<div class="journalWindow-main town-back-interlacing-nocontent">
    {% include ../drag_close_header.html %}
    <div class="journal-window-wrap">
        <div class="journal-header">
            <div class="journal-page-button-block" data-page_class="journal_page_task">{{ _("mjw_tasks") }}</div>
            <div class="journal-page-button-block" data-page_class="journal_page_parking">{{ _("mjw_parkings") }}</div>
        </div>
        <div class="journal-page-list">
            <div class="journal-page-block journal_page_task">
                <div class="journal-page-left"></div>
                <div class="journal-page-right"></div>
            </div>
            <div class="journal-page-block journal_page_parking">
                <div class="journal-page-left"></div>
                <div class="journal-page-right"></div>
            </div>
        </div>
    </div>
</div>










