{% set window_caption = 'Nuke:\PersonInfo>' + agent.print_login() %}

<div class="personWindow-main">
    {% include ../drag_close_header.html %}
    <div class="person-window-wrap">
        <div class="person-window-top">
            <div class="person-window-top-car">
                {% if car %}
                    {% include ../location/car_info_img_ext.html %}
                    <div class="town-back-interlacing"></div>
                    <div class="person-window-car-name">{{ car.title }}</div>
                {% else %}
                    <div class="car-info-block-picture-main default-car">
                        <div class="car-info-block-picture default-car" style="background: url({{ static_url('content/mobiles/cars/car_default.png') }}) no-repeat center; z-index: 1"></div>
                    </div>
                {% end %}
            </div>
            <div class="person-window-top-about-self">
                <div class="person-window-about-self-label">О себе:</div>
                <div class="person-window-about-self-text">{{ agent.example.profile.about_self }}</div>
            </div>
            <div class="person-window-top-person">
                <div class="person-window-person-photo" style="background: url('{{ agent.user.avatar_link }}') 100% 100% no-repeat transparent; ">
                    <div class="npc-name-div">
                        <span class="npc-name">
                            {{ agent.print_login() }}
                        </span>
                    </div>
                </div>
                <div class="person-window-pers-info">
                    <div class="person-window-pers-info-line person-window-dark-back">
                        <div class="person-window-pers-info-label">Уровень:</div>
                        <div class="person-window-pers-info-value person-window-lvl">{{ int(round(lvl / 10.0)) }}</div>
                    </div>
                    <div class="person-window-pers-info-line person-window-light-back">
                        <div class="person-window-pers-info-label">Класс:</div>
                        <div class="person-window-pers-info-value person-window-role_class">{{ agent.example.profile.role_class.description }}</div>
                    </div>
                    <div class="person-window-pers-info-line person-window-dark-back">
                        <div class="person-window-pers-info-label">Карма:</div>
                        <div class="person-window-pers-info-value person-window-karma">{{ agent.example.profile.karma_name() }}</div>
                    </div>
                    <div class="person-window-pers-info-line person-window-light-back">
                        <div class="person-window-pers-info-label">Вождение:</div>
                        <div class="person-window-pers-info-value person-window-driving">{{ agent.example.profile.driving.calc_value() }}</div>
                    </div>
                    <div class="person-window-pers-info-line person-window-dark-back">
                        <div class="person-window-pers-info-label">Стрельба:</div>
                        <div class="person-window-pers-info-value person-window-shooting">{{ agent.example.profile.shooting.calc_value() }}</div>
                    </div>
                    <div class="person-window-pers-info-line person-window-light-back">
                        <div class="person-window-pers-info-label">Скрытность:</div>
                        <div class="person-window-pers-info-value person-window-masking">{{ agent.example.profile.masking.calc_value() }}</div>
                    </div>
                    <div class="person-window-pers-info-line person-window-dark-back">
                        <div class="person-window-pers-info-label">Механика:</div>
                        <div class="person-window-pers-info-value person-window-engineering">{{ agent.example.profile.engineering.calc_value() }}</div>
                    </div>
                    <div class="person-window-pers-info-line person-window-light-back">
                        <div class="person-window-pers-info-label">Торговля:</div>
                        <div class="person-window-pers-info-value person-window-trading">{{ agent.example.profile.trading.calc_value() }}</div>
                    </div>
                    <div class="person-window-pers-info-line person-window-dark-back">
                        <div class="person-window-pers-info-label">Лидерство:</div>
                        <div class="person-window-pers-info-value person-window-leading">{{ agent.example.profile.leading.calc_value() }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="person-window-bottom">
            Пати: {% if agent.party %}{{ agent.party.name }}{% end %}
            <div class="person-window-btn" data-name="{{  agent._login }}">Пригласить</div>
        </div>
    </div>
</div>



