<div class="radio-window-wrap">
    <div class="radio-window-header">
        <div class="radio-window-header-logo"></div>
        <div class="radio-window-header-channel">...</div>
        <div class="radio-window-header-news">
            <div class="radio-window-header-ticker">...</div>
        </div>
    </div>
    <div class="radio-window-header-bottom"></div>
    <div class="radio-window-body"></div>
    <div class="radio-window-header-bottom"></div>
    <div class="radio-window-page-block">
        <div class="radio-btn-div">
            <div class="radio-label">{{ _("radio_power") }}</div>
            <div class="radio-btn-power">{{ _("radio_power_off") }}</div>
        </div>
        <div class="radio-volume">
            <div class="radio-label">{{ _("radio_volume") }}</div>
            <div class="radio-volume-scale">
                <div class="radio-volume-scale-hover"></div>
            </div>
        </div>
        <div class="radio-channel">
            <div class="radio-label">{{ _("radio_channel") }}</div>
            <div class="radio-channel-change-arrow radio-channel-dec"></div>
            <div class="radio-channel-name">...</div>
            <div class="radio-channel-change-arrow radio-channel-inc"></div>
        </div>
        <div class="radio-btn-div">
            <div class="radio-label">{{ _("radio_bitrate") }}</div>
            <div class="radio-btn-quality">320</div>
        </div>
    </div>
</div>
