<div class="container border">
    <span class="h4">{{ user.name }}</span>
    <button class="btn btn-info" type="button" onclick="location = '/adm/api/html/user_info?username={{ user.name }}'">
        User Info
    </button>
    <button class="btn btn-info" type="button" onclick="location = '/adm/api/html/agent_info?username={{ user.name }}'">
        Agent Info
    </button>
    <button class="btn btn-info" type="button" onclick="location = '/adm/api/html/agent_info_quests?username={{ user.name }}'"> Quests </button>
    <button class="btn btn-info" type="button" onclick=""> Quest Inventory </button>
    <button class="btn btn-info" type="button" onclick=""> NPCs Relation </button>
</div>