<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>History: {{ user.name }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="{{ static_url('js/third_party/jquery.min.js') }}"></script>

</head>
<body>

{% include "main_menu_template.html" %}
{% include "agent_menu_template.html" %}


<div class="container">
    <h3>History: {{ user.name }}</h3>
    <div class="row input-group">
        <input type="datetime-local" id="date_start" class="form-control" value="" placeholder=""
               aria-label="">
        <input type="datetime-local" id="date_finish" class="form-control" value="" placeholder=""
               aria-label="">
    </div>
    <div class="row input-group">
        <input type="text" id="types" class="form-control" value="" placeholder=""
               aria-label="">
        <span class="input-group-btn">
        <button class="btn btn-secondary" type="button"
                onclick="GoFind()">Find</button>
      </span>
    </div>
    <div class="row">
        {% for type in ['inventory', 'connect', 'barter', 'party'] %}
        <button type="button" class="btn btn-primary" onclick="ToggleTypeClick(event)" data-type="{{ type }}">{{ type }}</button>
        {% end %}
    </div>
    <div class="row">
        {% if adm_logs %}
        <table class="table table-sm table-striped table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Time</th>
                <th scope="col">Text</th>
            </tr>
            </thead>
            <tbody>
            {% import datetime %}
            {% for record in adm_logs %}
            <tr>
                <td>{{ record.type }}</td>
                <td>{{ record.created.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                <td>{{ record.text }}</td>
            </tr>
            {% end %}
            </tbody>
        </table>
        {% else %}
        <h3>No Results </h3>
        {% end %}
    </div>
</div>

<div style="display: None">
     <div id="data-username">{{ user.name }}</div>
</div>


<script>

    function ToggleTypeClick(event) {
        var type = $(event.target).data("type");
        var jq_types = $("#types").first();
        var types = jq_types.val().split('.');
        var index = types.indexOf(type);
        if (index >= 0){
            types.splice(index, 1);
            $(event.target).removeClass('btn-success');
        }
        else {
            types.push(type);
            $(event.target).addClass('btn-success');
        }
        types = types.filter(function (x) {return x != ""});
        jq_types.val(types.join('.'));
    }

    function GoFind() {
        var user_name = $("#data-username").text();
        var types = $("#types").val();
        var ds = 0;
        var df = 0;
        try{ds = Math.floor(new Date($('#date_start').val()).getTime() / 1000.);}catch(e){}
        try{df = Math.floor(new Date($('#date_finish').val()).getTime() / 1000.);}catch(e){}
        var search = "?username=" + user_name + '&types=' + types;
        if (ds) search = search + '&ds=' + ds;
        if (df) search = search + '&df=' + df;
        location = location.origin + location.pathname + search;
    }

    // todo: При загрузке документа проанализировать location.search и выставить проэмулировать нажатие кнопок текущих выбранных типов

    document.onload = function () {
        {% if ds %}
        var ds = new Date({{ ds * 1000 }}).toISOString();
        $('#date_start').val(ds);
        {% end %}
        {% if df %}$('#date_finish').val(new Date({{ df * 1000 }})); {% end %}
    }

</script>

</body>
</html>