.mainRadioWindow-main {
    position: relative;
    box-sizing: border-box;
    width: 424px;
    height: 111px;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: url('/static/img/cursors/main.png'), default;
}

.radio-window-wrap {
    position: relative;
    margin: 2px auto;
    box-sizing: border-box;
    width: calc(100% - 4px);
    height: calc(100% - 30px);
    overflow: hidden;
}

#locationMenuItem_Radio .radio-window-wrap {
    padding-top: 25px;
}

.radio-window-header {
    position: relative;
    box-sizing: border-box;
    width: 90%;
    height: 100px;
    color: #000000;
    font: 16pt Nouveau_IBM;
    text-align: center;
    line-height: 100px;
    cursor: url('/static/img/cursors/text.png'), text;
    background-color: #000000;
    background-image: linear-gradient(45deg, #2ffa00 25%, transparent 25%, transparent 74%, #2ffa00 75%, #2ffa00),
    linear-gradient(45deg, #2ffa00 25%, transparent 25%, transparent 74%, #2ffa00 75%, #2ffa00);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
    margin: auto;
}

.radio-window-header-logo {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 20px 20px 20px 40px;
    background-image: url("/static/img/radio/no_logo.png");
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    float: left;
}

.radio-window-header-channel {
    position: relative;
    height: 50px;
    line-height: 50px;
}

.radio-window-header-block {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #0e4b00, #0e4b00, #0e4b00, #0e4b00, transparent);
    border-image-slice: 1;
    color: #2ffa00;
    font: 12pt Nouveau_IBM;
    text-align: center;
    line-height: 25px;
    cursor: url('/static/img/cursors/text.png'), text;
}

.radio-window-header-news {
    position: relative;
    height: 50px;
    line-height: 50px;
    margin-left: 120px;
    margin-right: 20px;
}

.radio-window-header-bottom {
    position: relative;
    width: 100%;
    height: 20px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #2ffa00, #2ffa00, #2ffa00, #2ffa00, transparent);
    border-image-slice: 1;
}

.radio-window-body {
    position: relative;
    width: 100%;
    height: 150px;
}

.radio-window-page-block {
    position: relative;
    width: 420px;
    height: calc(100% - 25px);
    margin: auto;
}

.radio-btn-div {
    width: 50px;
    height: 56px;
    margin-left: 8px;
    float: left;
}

.radio-label {
    height: 22px;
    color: #31c811;
    font: 10pt FreePixel;
    text-align: center;
    line-height: 26px;
}

.radio-btn {
    position: absolute;
    width: 50px;
    height: 26px;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    border: 1px solid #0e4b00;
    background-color: #082801;
    box-sizing: border-box;
    font: 12pt Nouveau_IBM;
    text-align: center;
    line-height: 26px;
}

.radio-btn-power {
    position: absolute;
    width: 50px;
    height: 26px;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    border: 1px solid #0e4b00;
    background-color: #082801;
    box-sizing: border-box;
    font: 12pt Nouveau_IBM;
    text-align: center;
    line-height: 26px;
}

.radio-btn-power:hover {
    border-color: #31c811;
}

.radio-btn-power:active, .radio-btn-power.active {
    background-color: #0c4b00;
    color: #2ffa00;
}

.radio-btn-quality {
    position: absolute;
    width: 50px;
    height: 26px;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    border: 1px solid #0e4b00;
    background-color: #082801;
    box-sizing: border-box;
    font: 12pt Nouveau_IBM;
    text-align: center;
    line-height: 26px;
}

.radio-btn-quality:hover {
    border-color: #31c811;
}

.radio-btn-quality.active {
    background-color: #0c4b00;
    color: #2ffa00;
}

.radio-btn:hover {
    background-color: #0c4b00;
    color: #2ffa00;
    border-color: #31c811;
}

.radio-volume {
    width: 80px;
    height: 56px;
    margin-left: 8px;
    float: left;
}

.radio-volume-scale {
    position: relative;
    width: 79px;
    height: 26px;
    margin-top: 8px;
    bottom: 8px;
    background-image: url("/static/img/radio/radio_volume_softly.png");
    cursor: url('/static/img/cursors/hyper.png'), pointer;
}

.radio-volume-scale-hover {
    position: relative;
    height: 26px;
    width: 40px;
    background-image: url("/static/img/radio/radio_volume_bright.png");
}

.radio-channel {
    width: 200px;
    height: 56px;
    margin-left: 8px;
    float: left;
}

.radio-channel-change-arrow {
    position: relative;
    float: left;
    box-sizing: border-box;
    margin-top: 8px;
    border: 6px solid transparent;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
}

.radio-channel-dec {
    border-right: 6px solid #31c811;
    margin-right: 4px;
}

.radio-channel-dec:hover {
    border-right-color: #2ffa00;
}

.radio-channel-inc {
    border-left: 6px solid #31c811;
    margin-left: 4px;
}

.radio-channel-inc:hover {
    border-left-color: #2ffa00;
}

.radio-channel-name {
    position: relative;
    float: left;
    width: 168px;
    height: 26px;
    margin-top: 8px;
    bottom: 8px;
    font: 12pt Nouveau_IBM;
    line-height: 26px;
    text-align: center;
    box-sizing: border-box;
    color: #2ffa00;
    background-color: #000000;
    background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),
    linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}
