.cruise-control-main {
    position: absolute;
    bottom: 0px;
    right: 0px;
    pointer-events: none;
}

.cruise-control-glass {
    position: absolute;
    width: 563px;
    height: 503px;
    bottom: 0px;
    right: 0px;
    background: transparent url('/static/img/cruise/cruise_glass.png') 100% 100% no-repeat;
    background-position: center;
}

.cruise-control-hardware {
    position: absolute;
    width: 28px;
    height: 596px;
    bottom: 0px;
    right: 0px;
    background: transparent url('/static/img/cruise/cruise_port.png') 100% 100% no-repeat;
    background-position: center;
}

#cruiseControlSpeedMainDiv {
    position: absolute;
    bottom: 450px;
    right: 150px;
    pointer-events: auto;
    color: lime;
    font-family: Gruppo-Regular;
}

#cruiseControlTopDiv {
    position: absolute;
    width: 56px;
    height: 63px;
    left: 43px;
    background: transparent url('/static/img/cruise/dgigits_back_glow.png') 100% 100% no-repeat;
    background-position: center;
}



#cruiseControlTopTextPositionDiv1 {
    position: relative;
    float: left;
    width: 60%;
    height: 100%;
}

#cruiseControlTopTextPositionDiv2 {
    position: relative;
    float: left;
    width: 40%;
    height: 100%;
}

#cruiseControlTopTextDiv1 {
    position: relative;
    font-size: 14pt;
    font-weight: bold;
    text-align: right;
    right: 0px;
    top: 23px;
}

#cruiseControlTopTextDiv2 {
    position: relative;
    font-weight: bold;
    font-size: 10pt;
    text-align: left;
    left: 2px;
    top: 27px;
}

#cruiseControlMediumDiv {
    position: absolute;
    top: 30px;
    width: 100%;
    height: 352px;
}

.cruise-control-speedHandleArea {
    position: relative;
    float:left;
    width: 64px;
    height: 100%;
}

.cruise-control-speedHandle {
    position: absolute;
    width: 100%;
    height: 27px;
    background: transparent url('/static/img/cruise/speed_mark.png') 100% 100% no-repeat;
    text-align: center;
}

#cruiseControlSpeedHandleDiv1 {
    font-size: 14pt;
    font-weight: bold;
    text-align: right;
    right: 50%;
    position: absolute;
    top: 3px;
}

#cruiseControlSpeedHandleDiv2 {
    width: 8px;
    font-weight: bold;
    font-size: 10pt;
    text-align: left;
    position: absolute;
    right: 20px;
    top: 7px;
}

.cruise-control-scaleArea {
    position: absolute;
    left: 54px;
    width: 44px;
    height: 100%;
}

.cruise-control-zoneArea {
    position: relative;
    float:left;
    width: 56px;
    height: 100%;
}

#cruiseControlBottomDiv {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #243b80;
    pointer-events: none;
}

.cruise-control-reverse {
    position: relative;
    float:left;
    width: 50%;
    height: 100%;
    background-color: #ff1a1a;
    pointer-events: none;
}

.cruise-control-stop {
    position: relative;
    float:left;
    width: 50%;
    height: 100%;
    background-color: #ff51e8;
    pointer-events: none;
}