.fire-control-parent {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -75px;
    pointer-events: none;
}

.fire-control-sector {
    fill: green;
    stroke: limegreen;
    stroke-width: 2;
    opacity: 0.4;
    pointer-events: auto;
}

.fire-control-sector-recharge {
    fill: gray;
    stroke: limegreen;
    stroke-width: 2;
    opacity: 0.2;
    pointer-events: auto;
}

.fire-control-sector:hover {
    fill: green;
    stroke: limegreen;
    stroke-width: 2;
    opacity: 0.6;
}

.fire-control-all {
    fill: limegreen;
    stroke: lime;
    stroke-width: 2;
    opacity: 0.4;
    pointer-events: auto;
}

.fire-control-all:hover {
    fill: limegreen;
    stroke: lime;
    stroke-width: 2;
    opacity: 0.6;
}
