/* Все размеры и отступы взяты от растровой картинки
   и забиты руками (быдло верстка форевер) */

.fire-control-parent {
    position: absolute;
    bottom: 233px;
    left: 50%;
    pointer-events: none;
    margin-left: -175px;
}

#fireControlTop {
    position: absolute;
    left: -14px;
    height: 213px;
    width: 386px;
    background: transparent url('/static/img/fire_control/aim_glass.png') 100% 100% no-repeat;
    background-position: top left;
    bottom: -225px
}

#divForSVG {
    margin-left: 118px;
    margin-top: 22px;
}

#fireControlBottom {
    position: absolute;
    height: 43px;
    width: 362px;
    background: transparent url('/static/img/fire_control/aim_port.png') 100% 100% no-repeat;
    top: 185px;
    pointer-events: auto;
}

#fireControlSlideButton {
    position: absolute;
    width: 105px;
    height: 25px;
    top: 18px;
    left: 205px;
}

.fire-control-slide-button-show {
     background: transparent url('/static/img/fire_control/battle_btn_on.png') 100% 100% no-repeat;
 }

.fire-control-slide-button-show:active {
    background: transparent url('/static/img/fire_control/battle_btn_pressed.png') 100% 100% no-repeat;
}

.fire-control-slide-button-hide {
    background: transparent url('/static/img/fire_control/battle_btn_off.png') 100% 100% no-repeat;
}

.fire-control-slide-button-hide:active {
    background: transparent url('/static/img/fire_control/battle_btn_pressed.png') 100% 100% no-repeat;
}

.fire-control-svg {
    position: absolute;
    top: 22px;
    left: 44px;
}

.fire-control-background {
    fill: transparent;
    pointer-events: auto;
}

.fire-control-sector-shadow {
    fill: gray;
    opacity: 0.2;
    pointer-events: none;
}

.fire-control-sector-discharge {
    fill: rgba(0, 128, 0, 0.4);
    stroke: limegreen;
    stroke-width: 1;
    pointer-events: auto;
}

.fire-control-sector-discharge:hover {
    fill: rgba(0, 128, 0, 0.6);
}

.fire-control-sector-auto {
    fill: transparent;
    stroke: limegreen;
    stroke-width: 1;
    stroke-dasharray: 5%;
    pointer-events: auto;
}

.fire-control-sector-discharge-auto {
    fill: rgba(0, 128, 0, 0.4);
    stroke: limegreen;
    stroke-width: 1;
    stroke-dasharray: 5%;
    pointer-events: auto;
}

.fire-control-sector-discharge-auto:hover {
    fill: rgba(0, 128, 0, 0.6);
}

.fire-control-all {
    fill: rgba(0, 128, 0, 0.4);
    stroke: lime;
    stroke-width: 1;
    pointer-events: auto;
}

.fire-control-all:hover {
    fill: rgba(0, 128, 0, 0.6);
}

.fire-control-all-active {
    fill: rgba(0, 255, 0, 0.53);
}

.fire-control-all-active:hover {
    fill: rgba(0, 255, 0, 0.6);
}

.fire-control-radar-point {
    fill: lime;
    stroke: lime;
    stroke-width: 2;
    opacity: 0.8;
}

.fire-control-radar-point-friend {
    fill: lime;
    stroke: lime;
    stroke-width: 2;
}

.fire-control-radar-point-party {
    fill: #ffd961;
    stroke: #ffd961;
    stroke-width: 2;
    opacity: 0.4;
}

.fire-control-radar-circle {
    stroke-width: 1px;
}