
/* Настройка слайдера зума */
.slider-zoom-parent {
    left: 0;
    top: 25px;
    position: absolute;
    z-index: 0;
}

#zoomSliderMainDivHardware {
    position: absolute;
    width: 28px;
    height: 425px;
    overflow: hidden;
    background: transparent url('/static/img/control_zoom/zoom_port.png') 50% 50% no-repeat;
    pointer-events: none;
}

#zoomSliderMainDivGlass {
    position: absolute;
    width: 119px;
    height: 363px;
    overflow: hidden;
    background: transparent url('/static/img/control_zoom/zoom_glass.png') 50% 50% no-repeat;
    pointer-events: none;
}

#zoomSliderMainDivWrapper {
    position: relative;
    top: 20px;
    padding-left: 25px;
}

#ZoomTextDiv {
    position: relative;
    height: 20px;
    width: 40px;
    background: transparent;
    margin-bottom: 8px;
}

#ZoomTextZoomValue {
    position: absolute;
    white-space: nowrap;
    pointer-events: none;
    font: 16pt MICRADI;
    color: #2afd0a;
    left: -8px;
}

#Zoom_btnPlus {
    pointer-events: auto;
    height: 15px;
    width: 35px;
    color: lime;
    border: 1px #00ff55 solid;
    border-radius: 1px;
    position: relative;
    background-color: rgba(0, 255, 85, 0.10);
}

#ZoomBtnPlusSpan {
    text-align: center;
    font-family: Arial;
    font-size: 16pt;
    margin-top: -4px;
}

#Zoom_sliderBar {
    height: 175px; /* на каждый масштаб +25px, но начинать считать с ЕДИНИЦЫ!*/
    width: 35px;
    background-color: transparent;
    position: relative;
    top: 6px;
    left: 0;
}


#Zoom_btnMinus {
    pointer-events: auto;
    height: 15px;
    width: 35px;
    color: lime;
    border: 1px #00ff55 solid;
    border-radius: 1px;
    text-align: center;
    position: relative;
    font-family: MICRADI;
    font-size: 50pt;
    background-color: rgba(0, 255, 85, 0.10);
    top: 8px;
}

#ZoomBtnMinusSpan {
    text-align: center;
    font-family: Arial;
    font-size: 14pt;
    margin-top: -13px;
}

#Zoom_slider {
    pointer-events: auto;
    border-radius: 0;
    height: 170px;
    width: 25px;
    border: 0;
    position: absolute;
    background-color: transparent;

}

.slider-zoom-carriage {
    pointer-events: auto;
    background: transparent url('/static/img/control_zoom/zoom_mark.png') 50% 50% no-repeat;
    margin-left: 0px;
}

.slider-zoom-carriage:hover {

}

.slider-zoom-carriage:active {

}

#ZoomDivInsideSpanCarriage {
    position: relative;
    height: 10px;
    width: 10px;
    top: 9px;
    left: 21px;
    background-color: #2afd0a;
    border-radius: 30%;
}


#Zoom_btnPlus:hover {
    color: white;
}

#Zoom_btnPlus:active {

}



#Zoom_btnMinus:hover {
    color: white;
}

#Zoom_btnMinus:active {

}

/* Текст Zoom В контроллере зума */
#spanZoomZoomText {
    position: absolute;
    top: 185px;
    left: -5px;
    white-space: nowrap;
    pointer-events: none;
    font: 10pt MICRADI;
    letter-spacing: 2px;
    color: rgba(42, 253, 10, 0.50);
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

/* Настройка слайдера зума завершена */
#DivForBtnSVALLInsideZoom {
    pointer-events: auto;
    height: 32px;
    width: 70px;
    color: #2afd0a;
    border: 1px #00ff55 solid;
    box-sizing: border-box;
    border-radius: 1px;
    position: relative;
    background: rgba(0, 255, 85, 0.10) url('/static/img/control_zoom/hide_gadgets.png') 50% 50% no-repeat;
    left: 17px;
    top: 8px;
}

#DivForBtnSVALLInsideZoom:hover {
    background-color: rgba(0, 255, 85, 0.20);
}


#DivForBtnFSCRInsideZoom {
    pointer-events: auto;
    height: 32px;
    width: 70px;
    color: #2afd0a;
    border: 1px #00ff55 solid;
    font: 11pt MICRADI;
    border-radius: 1px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
    position: relative;
    background-color: rgba(0, 255, 85, 0.10);
    left: 17px;
    top: 15px;
}

#DivForBtnFSCRInsideZoom:hover {
    background-color: rgba(0, 255, 85, 0.20);
}

#DivForBtnSVALLRazvrInsideZoom {
    pointer-events: auto;
    height: 28px;
    width: 70px;
    color: #2afd0a;
    border: 1px #00ff55 solid;
    border-radius: 1px;
    position: relative;
    left: 17px;
    top: 8px;
    background: rgba(0, 255, 85, 0.10) url('/static/img/control_zoom/unhide_gadgets.png') 50% 50% no-repeat;
}