.panel-info-npc-transaction-info {
    position: relative;
    width: 100%;
    max-height: 200px;
    font: 16px Nouveau_IBM;
    color: #2ffa00;
    box-sizing: border-box;
    overflow: hidden;
}

.npc-transaction-info-text-shadow {
    text-shadow: 0 0 1px #2ffa00, 0 0 10px #2ffa00;
}

.npc-transaction-info-label {
    position: relative;
    float: left;
    text-align: left;
    width: 60%;
    height: 16px;
    padding: 5px 5px;
    box-sizing: border-box;
}
.npc-transaction-info-label.caption { margin-bottom: 5px; }

.npc-transaction-info-value {
    position: relative;
    float: left;
    text-align: right;
    width: 40%;
    height: 16px;
    padding: 5px 5px;
    box-sizing: border-box;
}

.npc-transaction-info-transaction-list {
    position: relative;
    width: 103%;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 5px;
    box-sizing: border-box;
}

.npc-transaction-info-transaction-list-dark {
    position: absolute;
    height: 5px;
    width: 100%;
    z-index: 1;
}
.npc-transaction-info-transaction-list-dark.before {
    top: 32px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0));
}
.npc-transaction-info-transaction-list-dark.after {
    bottom: 5px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0));
}