.panel-info-description {
    position: relative;
    width: 100%;
    max-height: 200px;
    font: 16px Nouveau_IBM;
    color: #2ffa00;
    box-sizing: border-box;
    text-shadow: 0 0 1px #2ffa00, 0 0 10px #2ffa00;
}

.panel-info-description .panel-info-description-label {
    position: relative;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 5px;
    box-sizing: border-box;
}

.panel-info-description .panel-info-content-wrapper {
    position: relative;
    max-height: 170px;
    margin-bottom: 10px;
    overflow: auto;
    padding: 0 5px;
    box-sizing: border-box;
}

.panel-info-description .panel-info-content {
    height: 100%;
}

.panel-info-description ul {margin-top: 2px;}
.panel-info-description li {}

.panel-info-item-title {
    position: relative;
    width: 100%;
    text-align: left;
    text-shadow: 0 0 1px #2ffa00, 0 0 10px #2ffa00;
    padding: 0 5px;
    box-sizing: border-box;
}

/* Для внеэкранок обучения */
/*.panel-info-teaching-left .panel-info-content-wrapper {*/
    /*box-sizing: border-box;*/
    /*margin-bottom: 20px;*/
/*}*/

.panel-info-teaching-left .panel-info-content, .panel-info-teaching-right .panel-info-content {
    text-align: center;
    color: #c0ff00;  /*192, 255, 0*/
}

.description-line {
    position: relative;
    float: left;
}
.description-line.left-align { text-align: left; width: 135px; }
.description-line.right-align { text-align: right; width: calc(100% - 135px); }
.description-line.left-align.small { width: 80px; }
.description-line.right-align.small { width: calc(100% - 80px); }
.description-line.left-align.big { width: 200px; }
.description-line.right-align.big { width: calc(100% - 200px); }

.mechanic-description-line {
    position: relative;
    width: 100%;
}
.mechanic-description-line.left-align { text-align: left; }
.mechanic-description-line.right-align { text-align: right; }