.town-panel {
    position: absolute;
    top: 50px;
    width: 400px;
    height: 300px;
    padding: 8px;
    box-sizing: border-box;
    overflow: hidden;
}
.town-panel.left { left: 100px; }
.town-panel.right { right: 100px; }

.panel-info-item {
    display: none;
    width: 100%;
    pointer-events: auto;
    font: 16px Nouveau_IBM;
    color: #2ffa00;
    box-sizing: border-box;
}

.panel-info-bottom-border {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
    box-sizing: border-box;
}

.panel-info-line {
    position: relative;
    float: left;
    width: 50%;
}
.panel-info-line.label { text-align: left; }
.panel-info-line.value { text-align: right; }

.panel-info-text-shadow { text-shadow: 0 0 1px #2ffa00, 0 0 10px #2ffa00; }