.panel-info-description {
    position: relative;
    width: 100%;
    /*height: 200px;*/
    max-height: 200px;
    font: 16px Nouveau_IBM;
    color: #2ffa00;
    box-sizing: border-box;
}

.panel-info-description .panel-info-description-label {
    position: relative;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
    text-shadow: 0 0 1px #2ffa00, 0 0 10px #2ffa00;
}

.panel-info-description .panel-info-content-wrapper {
    position: relative;
    overflow: hidden;
    max-height: 170px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.panel-info-description .panel-info-content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    text-shadow: 0 0 1px #2ffa00, 0 0 10px #2ffa00;
}

.panel-info-description ul {margin-top: 2px;}
.panel-info-description li {}

.panel-info-item-title {
    position: relative;
    width: 100%;
    text-align: left;
    text-shadow: 0 0 1px #2ffa00, 0 0 10px #2ffa00;
}

/* Для внеэкранок обучения */

/*.panel-info-teaching-left .panel-info-content-wrapper {*/
    /*box-sizing: border-box;*/
    /*margin-bottom: 20px;*/
/*}*/

.panel-info-teaching-left .panel-info-content, .panel-info-teaching-right .panel-info-content {
    text-shadow: 0 0 1px #c0ff00, 0 0 10px #c0ff00;
    text-align: center;
    color: #c0ff00;  /*192, 255, 0*/
}

.description-line {
    position: relative;
    float: left;
}
.description-line.left-align { text-align: left; width: 135px; }
.description-line.right-align { text-align: right; width: calc(100% - 135px); }
.description-line.left-align.small { width: 80px; }
.description-line.right-align.small { width: calc(100% - 80px); }
.description-line.left-align.big { width: 200px; }
.description-line.right-align.big { width: calc(100% - 200px); }

.mechanic-description-line {
    position: relative;
    width: 100%;
}
.mechanic-description-line.left-align { text-align: left; }
.mechanic-description-line.right-align { text-align: right; }