







/* Окна обучения быстрой игры */
.map-teaching-window-main.auto_shooting {height: 342px;}
.map-teaching-text-block.auto_shooting {height: 154px;}
.map-teaching-window-main.final {height: 168px;}