.partyWindow-main {
    position: relative;
    height: 452px;
    width: 734px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #31c811;
    font: 12pt Nouveau_IBM;
}
#townMenuLocation .partyWindow-main {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

#townMenuLocation .windowDragCloseHeader-main { display: none; }

.partyWindow-header {
    position: relative;
    height: 30px;
    width: 100%;
}

.party-window-wrap {
    position: relative;
    margin: 2px auto;
    border: 1px solid #0e4b00;
    box-sizing: border-box;
    width: calc(100% - 4px);
    height: calc(100% - 30px);
}
#townMenuLocation .party-window-wrap {
    height: 100%;
    border: none;
}

.party-window-header-block {
    position: relative;
    border: 1px solid #0e4b00;
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #30fc00, transparent);
    border-image-slice: 1;
}

.party-window-menu-item {
    position: relative;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    float: left;
    margin: 4px 0 0 10px;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
}
.party-window-menu-item.active, .party-window-menu-item:hover { color: #2ffa00; }
.party-window-menu-item.active {
    background-color: #000000;
    background-image: linear-gradient(45deg, #0e4b00 25%, transparent 25%, transparent 74%, #0e4b00 75%, #0e4b00),
                      linear-gradient(45deg, #0e4b00 25%, transparent 25%, transparent 74%, #0e4b00 75%, #0e4b00);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}
.party-window-menu-item.unactive { color: #0e4b00; }
.party-window-menu-item.active:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 2px;
    border-top: 5px solid transparent;
    border-left: 5px solid #2ffa00;
    border-bottom: 5px solid transparent;
}
.party-window-menu-item.active:after {
    content: ' ';
    position: absolute;
    right: 3px;
    top: 2px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 5px solid #2ffa00;
    border-bottom: 5px solid transparent;
}

.party-window-page-block {
    position: relative;
    width: 100%;
    height: calc(100% - 25px);
}

.party-window-page {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: none;
}

.party_page_create {
    padding: 10px 20px;
}

.party-page-create-name-input {
    border: 1px solid #0e4b00;
    background: transparent;
    color: #2ffa00;
    width: 100%;
    height: 28px;
    padding: 5px;
    font: 12pt Nouveau_IBM;
    box-sizing: border-box;
}

.party-page-create-target-label { margin-top: 10px; }

.party-page-create-target-textarea {
    border: 1px solid #0e4b00;
    background: transparent;
    color: #2ffa00;
    width: 100%;
    height: 100px;
    resize: none;
    padding: 5px;
    font: 12pt Nouveau_IBM;
    box-sizing: border-box;
}
.party-page-create-target-textarea:focus { outline: none; }

.party-page-create-btn {
    position: absolute;
    width: 150px;
    height: 30px;
    bottom: 10px;
    left: calc(50% - 75px);
    text-align: center;
    line-height: 30px;
}

.party-page-content-block {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 492px;
    height: calc(100% - 200px);
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
}

.party-page-person-block {
    position: absolute;
    top: 10px;
    right: 10px;
    padding-left: 10px;
    width: calc(100% - 512px);
    height: calc(100% - 10px);
    border-width: 0 0 0 1px;
    border-style: solid;
    border-image: linear-gradient(to top, transparent, #0e4b00, #0e4b00, transparent);
    border-image-slice: 1;
    box-sizing: border-box;
}

.party-page-car-block {
    position: absolute;
    width: 492px;
    height: 170px;
    bottom: 10px;
    left: 10px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #0e4b00, #0e4b00);
    border-image-slice: 1;
}

.party-page-management-invite-input {
    border: 1px solid #0e4b00;
    background: transparent;
    color: #2ffa00;
    width: 100%;
    height: 28px;
    padding: 5px;
    font: 12pt Nouveau_IBM;
    box-sizing: border-box;
}

.party-page-management-invite-btn {
    position: absolute;
    top: 21px;
    right: 10px;
    width: 28px;
    height: 28px;
    font: 24pt Arial;
    line-height: 28px;
    text-align: center;
}

.party-page-management-members-label { margin-top: 10px; }

.party-page-management-members-block {
    position: relative;
    width: 100%;
    height: 113px;
    border: 1px solid #0e4b00;
    padding: 4px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}
#townMenuLocation .party-page-management-members-block { height: 94px; }

.party-page-management-members-kick-btn {
    position: absolute;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    text-align: center;
    font: 21pt Arial;
    line-height: 25px;
}
.party-page-management-members-kick-btn:hover { color: #2ffa00; }

.party-page-management-members-category-btn {
    position: absolute;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    top: 0px;
    right: 25px;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
}
.soldier { background-image: url('/static/img/chat/soldier_noactive.png'); }
.party-page-management-members-line.active .soldier { background-image: url('/static/img/chat/soldier.png'); }
.party-page-management-members-line:hover .soldier { background-image: url('/static/img/chat/soldier.png'); }
.soldier:hover { background-image: url('/static/img/chat/soldier_active.png'); }
.party-page-management-members-line:hover .soldier:hover { background-image: url('/static/img/chat/soldier_active.png'); }

.officer { background-image: url('/static/img/chat/officer_noactive.png'); }
.party-page-management-members-line.active .officer { background-image: url('/static/img/chat/officer.png'); }
.party-page-management-members-line:hover .officer { background-image: url('/static/img/chat/officer.png'); }
.officer:hover { background-image: url('/static/img/chat/officer_active.png'); }
.party-page-management-members-line:hover .officer:hover { background-image: url('/static/img/chat/officer_active.png'); }

.leader { background-image: url('/static/img/chat/leader_noactive.png'); }
.party-page-management-members-line.active .leader { background-image: url('/static/img/chat/leader.png'); }
.party-page-management-members-line:hover .leader { background-image: url('/static/img/chat/leader.png'); }
.leader:hover { background-image: url('/static/img/chat/leader_active.png'); }
.party-page-management-members-line:hover .leader:hover { background-image: url('/static/img/chat/leader_active.png'); }

.party-page-management-members-category-btn:hover { color: #2ffa00; }

.party-window-person-photo-wrap {
    position: relative;
    width: 171px;
    height: 147px;
    margin: 0 auto 15px auto;
    box-sizing: border-box;
}

.party-window-person-photo {
    width: 100%;
    height: 100%;
}

.party-window-pers-info {
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.party-window-pers-info-line {
    position: relative;
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-bottom: 2px;
    padding: 0 5px 0 5px;
    box-sizing: border-box;
}
.party-window-light-back {
    background-color: #000000;
    background-image: linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03),
                      linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}
.party-window-dark-back {
    background-color: #000000;
    background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),
                      linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}

.party-window-pers-info-label {
    position: relative;
    float: left;
}

.party-window-pers-info-value {
    position: absolute;
    right: 5px;
    float: left;
    height: 100%;
    text-align: right;
    overflow: hidden;
}

.party-page-invite-invites-block {
    position: relative;
    width: 100%;
    height: 70px;
    border: 1px solid #0e4b00;
    padding: 4px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}
#townMenuLocation .party-page-invite-invites-block { height: 60px; }

.party-page-invite-invites-accept-btn {
    position: absolute;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    top: 0px;
    right: 25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font: 25pt Arial;
    line-height: 25px;
}
.party-page-invite-invites-accept-btn:hover { color: #2ffa00; }

.party-page-invite-invites-del-btn {
    position: absolute;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    text-align: center;
    font: 19pt Arial;
    font-weight: 900;
    line-height: 19px;
}
.party-page-invite-invites-del-btn:hover { color: #2ffa00; }

.party-page-invite-members-label { margin-top: 10px; }

.party-page-invite-members-block {
    position: relative;
    width: 100%;
    height: 70px;
    border: 1px solid #0e4b00;
    padding: 4px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}
#townMenuLocation .party-page-invite-members-block { height: 60px; }

.party-window-margin-top { margin-top: 5px; }

.party-window-btn {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    border: 1px solid #0e4b00;
    background-color: #082801;
    box-sizing: border-box;
}
.party-window-btn:hover { background-color: #0c4b00; color: #2ffa00; border-color: #31c811; }

.party-page-line {
    position: relative;
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    box-sizing: border-box;
    margin-bottom: 2px;
}
.party-page-line-dark {background-color: #082801}
.party-page-line-light {background-color: #0e4b00}
.party-page-line:hover { background-color: #31c811; color: #000000; }
.party-page-line.active { background-color: #31c811; color: #000000; }

