<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Highstock Example</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--<script src="http://code.highcharts.com/highcharts.js"></script>-->
    <script src="http://code.highcharts.com/stock/highstock.js"></script>


    <style>
        .graph-wrap {position: relative; height: 400px; min-width: 310px;}

        .graph {position: absolute; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden;}

        .graph-wrap.hide {height: 40px; }

        button {height: 20px; z-index: 2;}

        .graph-wrap button {position: absolute;}
    </style>

</head>

<body>
    <div style="text-align: center;">
        ОТ: <input type="date" id="start_date" min="2017-05-12" max="2020-12-31" value="{{ start_date }}">
        ДО: <input type="date" id="end_date" min="2017-05-12" max="2020-12-31" value="{{ end_date }}">
        <button onclick="loadNewDates()">Перейти</button>
    </div>

    {% if not file_list %}
        <h1>Данные отсутствуют.</h1>
    {% else %}
    <div class="graph-wrap">
        <div id="container1" class="graph"></div>
    </div>

    <div class="graph-wrap">
        <button data-container_id="container2" onclick="toogleGraphVisibility(this)">Количество Обсерверов</button>
        <div id="container2" class="graph"></div>
    </div>

    <div class="graph-wrap">
        <button data-container_id="container3" onclick="toogleGraphVisibility(this)">Количество Ивентов</button>
        <div id="container3" class="graph"></div>
    </div>

    <div class="graph-wrap">
        <button data-container_id="container4" onclick="toogleGraphVisibility(this)">Cредний эвент лаг</button>
        <div id="container4" class="graph"></div>
    </div>

    <div class="graph-wrap">
        <button data-container_id="container5" onclick="toogleGraphVisibility(this)">Максимальный эвент лаг</button>
        <div id="container5" class="graph"></div>
    </div>

    <div class="graph-wrap">
        <button data-container_id="container6" onclick="toogleGraphVisibility(this)">Время отправки сообщений</button>
        <div id="container6" class="graph"></div>
    </div>

    <div class="graph-wrap">
        <button data-container_id="container7" onclick="toogleGraphVisibility(this)">Количество Мессаджей</button>
        <div id="container7" class="graph"></div>
    </div>
    {% end %}

    <script>
        var load_count = 5;
        var is_load_count = 0;

        var data_observers = [];
        var data_agents = [];
        var data_events = [];
        var max_ev_lag = [];
        var average_ev_lag = [];
        var mes_count = [];
        var mes_dur = [];

        var all_charts = [];

        function wait() {
            console.log('Ожидание загрузки лог файлов ' + is_load_count + ' из ' + load_count + '.');
            if (is_load_count == load_count) {
                sort_data();
                draw();
            }
            else
                setTimeout(wait, 100);
        }

        function draw() {
            console.log("Вывод графиков (" + data_agents.length + ", " + data_observers.length + ", " + data_events.length + ").");

            // Строим графики
            Highcharts.stockChart('container1', {
                chart: {
                    marginLeft: 93,
                    marginRight: 26,
                    animation: false,
                    zoomType: 'x',
                    events: {
                        redraw: function (event) {
                            // log the min and max of the primary, datetime x-axis
                            //console.log(
                            //        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', event.xAxis[0].min),
                            //        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', event.xAxis[0].max)
                            //);

                            //console.log(g2);
                            var x_min = this.xAxis[0].min;
                            var x_max = this.xAxis[0].max;
                            for (var i = 0; i < all_charts.length; i++) {
                                var c = all_charts[i];
                                c.xAxis[0].update({min: x_min, max: x_max});
                            }
                            }
                    }
                },
                title: { text: 'Количество Агентов' },
                xAxis: {
                    type: 'datetime',
                },
                yAxis: {
                    title: { text: 'шт.' },
                    min: 0,
                    opposite: false,
                },
                legend: { enabled: false },
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                            stops: [ [0, Highcharts.getOptions().colors[0]],
                                     [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                   ]},
                        marker: { radius: 2 },
                        lineWidth: 1,
                        states: { hover: { lineWidth: 1 } },
                        threshold: null
                    }
                },
                series: [{
                    type: 'area',
                    name: 'Count Agents',
                    data: data_agents
                }],
            });

            // Количество Обсерверов
            all_charts.push(Highcharts.chart('container2', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80,},
                title: {text: 'Количество Обсерверов'},
                xAxis: {type: 'datetime'},
                yAxis: {
                    title: {text: 'шт.'},
                    min: 0
                },
                legend: {enabled: false},
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                            stops: [[0, Highcharts.getOptions().colors[0]],
                                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                            ]
                        },
                        marker: {radius: 2},
                        lineWidth: 1,
                        states: {hover: {lineWidth: 1}},
                        threshold: null
                    }
                },
                series: [{
                    type: 'area',
                    name: 'Count Observers',
                    data: data_observers
                }]
            }));

            // Количество Ивентов
            all_charts.push(Highcharts.chart('container3', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80,},
                title: {text: 'Количество Ивентов'},
                xAxis: {type: 'datetime'},
                yAxis: {title: {text: 'шт.'}, min: 0},
                legend: {enabled: false},
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                            stops: [[0, Highcharts.getOptions().colors[0]],
                                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                            ]
                        },
                        marker: {radius: 2},
                        lineWidth: 1,
                        states: {hover: {lineWidth: 1}},
                        threshold: null
                    }
                },
                series: [{
                    type: 'area',
                    name: 'Count Events',
                    data: data_events
                }]
            }));

            // Средний эвент лаг
            all_charts.push(Highcharts.chart('container4', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80,},
                title: {text: 'Средний эвент лаг'},
                xAxis: {type: 'datetime'},
                yAxis: {title: {text: 'сек.'}, min: 0},
                legend: {enabled: false},
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                            stops: [[0, Highcharts.getOptions().colors[0]],
                                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                            ]
                        },
                        marker: {radius: 2},
                        lineWidth: 1,
                        states: {hover: {lineWidth: 1}},
                        threshold: null
                    }
                },
                series: [
                    {
                        type: 'line',
                        name: 'average_ev_lag',
                        data: average_ev_lag
                    }
                ]
            }));

            // Максимальный эвент лаг
            all_charts.push(Highcharts.chart('container5', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80,},
                title: {text: 'Максимальный эвент лаг'},
                xAxis: {type: 'datetime'},
                yAxis: {title: {text: 'сек.'}, min: 0},
                legend: {enabled: false},
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                            stops: [[0, Highcharts.getOptions().colors[0]],
                                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                            ]
                        },
                        marker: {radius: 2},
                        lineWidth: 1,
                        states: {hover: {lineWidth: 1}},
                        threshold: null
                    }
                },
                series: [
                    {
                        type: 'line',
                        name: 'max_ev_lag',
                        data: max_ev_lag
                    }
                ]
            }));

            // Время отправки сообщений
            all_charts.push(Highcharts.chart('container6', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80,},
                title: {text: 'Время отправки сообщений'},
                xAxis: {type: 'datetime'},
                yAxis: {title: {text: 'сек.'}, min: 0},
                legend: {enabled: false},
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                            stops: [[0, Highcharts.getOptions().colors[0]],
                                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                            ]
                        },
                        marker: {radius: 2},
                        lineWidth: 1,
                        states: {hover: {lineWidth: 1}},
                        threshold: null
                    }
                },
                series: [{
                    type: 'area',
                    name: 'Sending Duration',
                    data: mes_dur
                }]
            }));

            // Количество Мессаджей
            all_charts.push(Highcharts.chart('container7', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80,},
                title: {text: 'Количество Мессаджей'},
                xAxis: {type: 'datetime'},
                yAxis: {title: {text: 'шт.'}, min: 0},
                legend: {enabled: false},
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                            stops: [[0, Highcharts.getOptions().colors[0]],
                                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                            ]
                        },
                        marker: {radius: 2},
                        lineWidth: 1,
                        states: {hover: {lineWidth: 1}},
                        threshold: null
                    }
                },
                series: [{
                    type: 'area',
                    name: 'Count Messages',
                    data: mes_count
                }]
            }));
        }

        $(document).ready(function () {
            // Получаем список всех доступных файлов
            var file_list = [];
            {% for file_name in file_list %}
                file_list.push("../static/log/stat/" + "{{ file_name }}");
                console.log("{{ file_name }}");
            {% end %}

            // Скачиваем и подготавливаем все файлы из списка
            load_count = file_list.length;
            for (var i = 0; i < file_list.length; i++)
                $.get(file_list[i], {},
                    function(rec) {
                        is_load_count++;
                        var line_rec = rec.split("\n");
                        for (var j = 0; j < line_rec.length; j++) {
                            var rec = line_rec[j].split(";");
                            var time = parseFloat(rec[0]) * 1000;
                            //time = new Date(time);
                            if (time) {
                                data_observers.push([time, parseInt(rec[1])]);
                                data_agents.push([time, parseInt(rec[2])]);
                                data_events.push([time, parseInt(rec[3])]);
                                max_ev_lag.push([time, parseInt(rec[4])]);
                                average_ev_lag.push([time, parseInt(rec[5])]);
                                mes_count.push([time, parseInt(rec[6])]);
                                mes_dur.push([time, parseInt(rec[7])]);
                            }
                        }
                    });

            // Ждем пока все загрузится и рисуем
            if (load_count) wait();
        });


        function sort_data() {
            function compare(a, b) {
                if (a[0] < b[0])
                    return -1;
                if (a[0] > b[0])
                    return 1;
                return 0;
            }
            data_observers.sort(compare);
            data_agents.sort(compare);
            data_events.sort(compare);
            max_ev_lag.sort(compare);
            average_ev_lag.sort(compare);
            mes_count.sort(compare);
            mes_dur.sort(compare);
        }

        function toogleGraphVisibility(elem) {
            var jq_elem = $(elem);
            //var graph = $("#" + jq_elem.data("container_id"));
            //graph.toggle();
            jq_elem.parent().toggleClass("hide");
        }

        function loadNewDates() {
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();
            window.location = location.origin + location.pathname + "?start=" + start_date + "&end=" + end_date;
        }


    </script>
</body>

</html>