<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Highstock Example</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>

<body>
    <div id="container1" style="height: 400px; min-width: 310px"></div>
    <div id="container2" style="height: 400px; min-width: 310px"></div>
    <div id="container3" style="height: 400px; min-width: 310px"></div>

    <script>
        var load_count = 5;
        var is_load_count = 0;

        var data_observers = [];
        var data_agents = [];
        var data_events = [];

        function wait() {
            console.log('Ожидание загрузки лог файлов ' + is_load_count + ' из ' + load_count + '.');
            if (is_load_count == load_count) {
                sort_data();
                draw();
            }
            else
                setTimeout(wait, 100);
        }

        function draw() {
            console.log("Вывод графиков (" + data_agents.length + ", " + data_observers.length + ", " + data_events.length + ").");

            // Строим графики
            Highcharts.chart('container1', {
                chart: { zoomType: 'x' },
                title: { text: 'Количество Агентов' },
                xAxis: { type: 'datetime' },
                yAxis: {
                    title: { text: 'шт.' },
                    tickInterval: 1
                },
                legend: { enabled: false },
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                            stops: [ [0, Highcharts.getOptions().colors[0]],
                                     [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                   ]},
                        marker: { radius: 2 },
                        lineWidth: 1,
                        states: { hover: { lineWidth: 1 } },
                        threshold: null
                    }
                },
                series: [{
                    type: 'area',
                    name: 'Count Agents',
                    data: data_agents
                }]
            });

            Highcharts.chart('container2', {
                chart: { zoomType: 'x' },
                title: { text: 'Количество Обсерверов' },
                xAxis: { type: 'datetime' },
                yAxis: { title: { text: 'шт.' } },
                legend: { enabled: false },
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                            stops: [ [0, Highcharts.getOptions().colors[0]],
                                     [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                   ]},
                        marker: { radius: 2 },
                        lineWidth: 1,
                        states: { hover: { lineWidth: 1 } },
                        threshold: null
                    }
                },
                series: [{
                    type: 'area',
                    name: 'Count Observers',
                    data: data_observers
                }]
            });

            Highcharts.chart('container3', {
                chart: { zoomType: 'x' },
                title: { text: 'Количество Ивентов' },
                xAxis: { type: 'datetime' },
                yAxis: { title: { text: 'шт.' } },
                legend: { enabled: false },
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                            stops: [ [0, Highcharts.getOptions().colors[0]],
                                     [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                   ]},
                        marker: { radius: 2 },
                        lineWidth: 1,
                        states: { hover: { lineWidth: 1 } },
                        threshold: null
                    }
                },
                series: [{
                    type: 'area',
                    name: 'Count Events',
                    data: data_events
                }]
            });
        }

        $(document).ready(function () {
            // Получаем список всех доступных файлов
            var file_list = [];
            {% for file_name in file_list %}
                file_list.push("../static/log/stat/" + "{{ file_name }}");
            {% end %}
            file_list.push("../static/log/stat/stat.csv");

            // Скачиваем и подготавливаем последние load_count штук
            if (load_count > file_list.length) load_count = file_list.length;
            for (var i = 0; i < load_count; i++)
                $.get(file_list[file_list.length - 1 - i], {},
                    function(rec) {
                        is_load_count++;
                        var line_rec = rec.split("\n");
                        for (var j = 0; j < line_rec.length; j++) {
                            var rec = line_rec[j].split(";");
                            var time = parseFloat(rec[0]) * 1000;
                            //time = new Date(time);
                            if (time) {
                                data_observers.push([time, parseInt(rec[1])]);
                                data_agents.push([time, parseInt(rec[2])]);
                                data_events.push([time, parseInt(rec[3])]);
                            }
                        }
                    });

            // Ждем пока все загрузится и рисуем
            wait();
        });


        function sort_data() {
            function compare(a, b) {
                if (a[0] < b[0])
                    return -1;
                if (a[0] > b[0])
                    return 1;
                return 0;
            }
            data_observers.sort(compare);
            data_agents.sort(compare);
            data_events.sort(compare);

        }

    </script>
</body>

</html>