<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Roaddogs Server Stat</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--<script src="http://code.highcharts.com/highcharts.js"></script>-->
    <script src="http://code.highcharts.com/stock/highstock.js"></script>


    <style>
        .graph-wrap {position: relative; height: 400px; min-width: 310px; border-bottom: 2px solid orange;}

        button {height: 20px; z-index: 2;}

        .graph-wrap button {position: absolute;}

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-header {
            background-color: rgb(222, 135, 31);
            height: 30px;
            line-height: 30px;
            width: 80px;
            text-align: center;
            box-sizing: border-box;
            border-radius: 5px;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 300px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>

</head>

<body>
    <div style="text-align: center;">
        ОТ: <input type="date" id="start_date" min="2017-05-12" max="2020-12-31" value="{{ start_date }}">
        ДО: <input type="date" id="end_date" min="2017-05-12" max="2020-12-31" value="{{ end_date }}">
        <button onclick="loadNewDates()">Перейти</button>
    </div>
    <div class="dropdown">
        <div class="dropdown-header">Graphics</div>
        <div class="dropdown-content">
            <label for="check_cont1">Количество Агентов</label>
            <input class="box" name="check_cont1"  onclick="toggleCheckBoxGraphVisibility(this, 'container1')" type="checkbox" checked>
            <br>
            <label for="check_cont2">Количество Обсерверов</label>
            <input class="box" name="check_cont2"  onclick="toggleCheckBoxGraphVisibility(this, 'container2')" type="checkbox" checked>
            <br>
            <label for="check_cont3">Количество Ивентов</label>
            <input class="box" name="check_cont3"  onclick="toggleCheckBoxGraphVisibility(this, 'container3')" type="checkbox" checked>
            <br>
            <label for="check_cont4">Cредний эвент лаг</label>
            <input class="box" name="check_cont4"  onclick="toggleCheckBoxGraphVisibility(this, 'container4')" type="checkbox" checked>
            <br>
            <label for="check_cont5">Максимальный эвент лаг</label>
            <input class="box" name="check_cont5"  onclick="toggleCheckBoxGraphVisibility(this, 'container5')" type="checkbox" checked>
            <br>
            <label for="check_cont6">Время отправки сообщений</label>
            <input class="box" name="check_cont6"  onclick="toggleCheckBoxGraphVisibility(this, 'container6')" type="checkbox" checked>
            <br>
            <label for="check_cont7">Количество Мессаджей</label>
            <input class="box" name="check_cont7"  onclick="toggleCheckBoxGraphVisibility(this, 'container7')" type="checkbox" checked>
            <br>
            <label for="check_cont8">Количество Ивентов</label>
            <input class="box" name="check_cont8"  onclick="toggleCheckBoxGraphVisibility(this, 'container8')" type="checkbox" checked>
            <br>
            <label for="check_cont9">Время выполнения Ивентов</label>
            <input class="box" name="check_cont9"  onclick="toggleCheckBoxGraphVisibility(this, 'container9')" type="checkbox" checked>
            <br>
            <label for="check_cont10">Максимальный лаг эвентов</label>
            <input class="box" name="check_cont10"  onclick="toggleCheckBoxGraphVisibility(this, 'container10')" type="checkbox" checked>
            <br>
            <label for="check_cont11">Средний лаг эвентов</label>
            <input class="box" name="check_cont11"  onclick="toggleCheckBoxGraphVisibility(this, 'container11')" type="checkbox" checked>
            <br>
        </div>
    </div>

    {% if not file_list %}
        <h1>Данные отсутствуют.</h1>
    {% else %}
    
        <div id="container1" class="graph-wrap"></div>
        <div id="container2" class="graph-wrap"></div>
        <div id="container3" class="graph-wrap"></div>
        <div id="container4" class="graph-wrap"></div>
        <div id="container5" class="graph-wrap"></div>
        <div id="container6" class="graph-wrap"></div>
        <div id="container7" class="graph-wrap"></div>
        <div id="container8" class="graph-wrap"></div>
        <div id="container9" class="graph-wrap"></div>
        <div id="container10" class="graph-wrap"></div>
        <div id="container11" class="graph-wrap"></div>
    
    {% end %}

    <script>
        var need_load_count = 0;
        var curr_loaded = 0;

        var stat_data_observers = [];
        var data_agents = [];
        var stat_data_events = [];
        var max_ev_lag = [];
        var average_ev_lag = [];
        var mes_count = [];
        var mes_dur = [];


        var current_global_x_min = 0;
        var current_global_x_max = 0;

        var data_events = {};

        var all_charts = [];  // container_name: {chart, visib;le}

        function wait() {
            console.log('Ожидание загрузки лог файлов ' + curr_loaded + ' из ' + need_load_count + '.');
            if (curr_loaded == need_load_count) {
                sort_stat_data();
                sort_event_data();
                draw();
            }
            else
                setTimeout(wait, 100);
        }

        function draw() {
            console.log("Вывод графиков (" + data_agents.length + ").");

            Highcharts.setOptions({
                global: {
                    timezoneOffset: -3 * 60
                }
            });

            // Строим графики
            var main_highstock = Highcharts.stockChart('container1', {
                chart: {
                    marginLeft: 93,
                    marginRight: 26,
                    animation: false,
                    zoomType: 'x',
                    events: {
                        redraw: function (event) {
                            current_global_x_min = this.xAxis[0].min;
                            current_global_x_max = this.xAxis[0].max;
                            for (var i = 0; i < all_charts.length; i++) {
                                var c = all_charts[i];
                                if ($(c.container).parent().css("display") == "block")
                                    c.xAxis[0].update({min: current_global_x_min, max: current_global_x_max});
                            }
                        }
                    }
                },
                title: { text: 'Количество Агентов' },
                xAxis: {
                    type: 'datetime',
                },
                yAxis: {
                    title: { text: 'шт.' },
                    min: 0,
                    opposite: false,
                },
                legend: { enabled: false },
                series: [{
                    type: 'area',
                    name: 'Count Agents',
                    data: data_agents
                }],
            });

            current_global_x_min = main_highstock.xAxis[0].min;
            current_global_x_max = main_highstock.xAxis[0].max;

            // Количество Обсерверов
            all_charts.push(Highcharts.chart('container2', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80,},
                title: {text: 'Количество Обсерверов'},
                xAxis: {type: 'datetime'},
                yAxis: {
                    title: {text: 'шт.'},
                    min: 0
                },
                legend: {enabled: false},
                series: [{
                    type: 'area',
                    name: 'Count Observers',
                    data: stat_data_observers
                }]
            }));

            // Количество Ивентов
            all_charts.push(Highcharts.chart('container3', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80,},
                title: {text: 'Количество Ивентов'},
                xAxis: {type: 'datetime'},
                yAxis: {title: {text: 'шт.'}, min: 0},
                legend: {enabled: false},
                series: [{
                    type: 'area',
                    name: 'Count Events',
                    data: stat_data_events
                }]
            }));

            // Средний эвент лаг
            all_charts.push(Highcharts.chart('container4', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80,},
                title: {text: 'Средний эвент лаг'},
                xAxis: {type: 'datetime'},
                yAxis: {title: {text: 'сек.'}, min: 0},
                legend: {enabled: false},
                series: [
                    {
                        type: 'line',
                        name: 'average_ev_lag',
                        data: average_ev_lag
                    }
                ]
            }));

            // Максимальный эвент лаг
            all_charts.push(Highcharts.chart('container5', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80,},
                title: {text: 'Максимальный эвент лаг'},
                xAxis: {type: 'datetime'},
                yAxis: {title: {text: 'сек.'}, min: 0},
                legend: {enabled: false},
                series: [
                    {
                        type: 'line',
                        name: 'max_ev_lag',
                        data: max_ev_lag
                    }
                ]
            }));

            // Время отправки сообщений
            all_charts.push(Highcharts.chart('container6', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80,},
                title: {text: 'Время отправки сообщений'},
                xAxis: {type: 'datetime'},
                yAxis: {title: {text: 'сек.'}, min: 0},
                legend: {enabled: false},
                series: [{
                    type: 'area',
                    name: 'Sending Duration',
                    data: mes_dur
                }]
            }));

            // Количество Мессаджей
            all_charts.push(Highcharts.chart('container7', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80,},
                title: {text: 'Количество Мессаджей'},
                xAxis: {type: 'datetime'},
                yAxis: {title: {text: 'шт.'}, min: 0},
                legend: {enabled: false},
                series: [{
                    type: 'area',
                    name: 'Count Messages',
                    data: mes_count
                }]
            }));


            // Вывод Детальной инфы по эвентам
            function get_series(name) {
                var res = [];
                for (var key in data_events)
                    if (data_events.hasOwnProperty(key)) {
                        res.push({
                            type: 'line',
                            name: key,
                            data: data_events[key][name]
                        });
                    }
                return res;
            }

            var series = [];
            series = get_series("count");
            all_charts.push(Highcharts.chart('container8', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80},
                title: { text: 'Количество Ивентов' },
                xAxis: { type: 'datetime' },
                yAxis: {
                    title: { text: 'шт/сек' },
                    min: 0,
                },
                series: series,
            }));

            // Суммарное время выполнения
            series = get_series("perform");
            all_charts.push(Highcharts.chart('container9', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80},
                title: {text: 'Суммарное время выполнения'},
                xAxis: {type: 'datetime'},
                yAxis: {
                    title: {text: 'сек/сек'},
                    min: 0
                },
                series: series
            }));

            // Максимальный лаг эвентов
            series = get_series("max_lag");
            all_charts.push(Highcharts.chart('container10', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80},
                title: {text: 'Максимальный лаг эвентов'},
                xAxis: {type: 'datetime'},
                yAxis: {
                    title: {text: 'сек/сек'},
                    min: 0
                },
                series: series
            }));

            // Средний лаг эвентов
            series = get_series("average_lag");
            all_charts.push(Highcharts.chart('container11', {
                chart: {zoomType: 'x', animation: false, marginLeft: 80},
                title: {text: 'Средний лаг эвентов'},
                xAxis: {type: 'datetime'},
                yAxis: {
                    title: {text: 'сек/сек'},
                    min: 0
                },
                series: series
            }));



            // отключение тех графиков, которые не активны сейчас
            setTimeout(function() {
                $("input.box").each(function () {
                    toggleCheckBoxGraphVisibility(this, "container" + $(this).attr('name').replace("check_cont", ""));
                });
            }, 100);
        }

        $(document).ready(function () {
            // Получаем список всех доступных файлов
            var file_list = [];
            {% for file_name in file_list %}
                file_list.push("../static/stat/" + "{{ file_name }}" + "?" + (new Date().getTime()));
            {% end %}

            var events_file_list = [];
            {% for file_name in event_file_list %}
                events_file_list.push("../static/stat/" + "{{ file_name }}" + "?" + (new Date().getTime()));
            {% end %}

            // Скачиваем и подготавливаем все файлы из списка
            need_load_count += file_list.length;
            for (var i = 0; i < file_list.length; i++)
                $.get(file_list[i], {},
                    function(rec) {
                        curr_loaded++;
                        var line_rec = rec.split("\n");
                        for (var j = 0; j < line_rec.length; j++) {
                            var rec = line_rec[j].split(";");
                            var time = parseFloat(rec[0]) * 1000;
                            //time = new Date(time);
                            if (time) {
                                stat_data_observers.push([time, parseInt(rec[1])]);
                                data_agents.push([time, parseInt(rec[2])]);
                                stat_data_events.push([time, parseInt(rec[3])]);
                                max_ev_lag.push([time, parseFloat(rec[4])]);
                                average_ev_lag.push([time, parseFloat(rec[5])]);
                                mes_count.push([time, parseInt(rec[6])]);
                                mes_dur.push([time, parseFloat(rec[7])]);
                            }
                        }
                    });


            // Скачиваем и подготавливаем все файлы из списка статистики эвентов
            need_load_count += events_file_list.length;
            for (var i = 0; i < events_file_list.length; i++)
                $.get(events_file_list[i], {},
                    function(rec) {
                        curr_loaded++;
                        var line_rec = rec.split("\n");
                        for (var j = 0; j < line_rec.length; j++) {
                            var rec = line_rec[j].split(";");
                            var time = parseFloat(rec[0]) * 1000;
                            if (time) {
                                var count_block = Math.floor((rec.length - 1) / 7);
                                for (var k = 0; k < count_block; k++) {
                                    var event_name = rec[1 + k * 7];
                                    var event_count = parseFloat(rec[1 + k * 7 + 1]);
                                    var event_perform = parseFloat(rec[1 + k * 7 + 4]);
                                    var max_lag =  parseFloat(rec[1 + k * 7 + 5]);
                                    var average_lag = parseFloat(rec[1 + k * 7 + 6]);
                                    if (!data_events.hasOwnProperty(event_name))
                                        data_events[event_name] = {
                                            count: [],
                                            perform: [],
                                            max_lag: [],
                                            average_lag: [],
                                        };
                                    data_events[event_name].count.push([time, event_count]);
                                    data_events[event_name].perform.push([time, event_perform]);
                                    data_events[event_name].max_lag.push([time, max_lag]);
                                    data_events[event_name].average_lag.push([time, average_lag]);
                                }
                            }
                        }
                    });

            // Ждем пока все загрузится и рисуем
            if (need_load_count) wait();

            // Смотрим на куки и чекбоксы.
            // Установка при загрузке
            $("input.box").each(function () {
                var mycookie = getCookie($(this).attr('name'));
                if (mycookie != undefined && mycookie != null && (mycookie == "true" || mycookie == "false")) {
                    this.checked = mycookie == "true";
                }
            });

            // Эвент на изменение, чтоб в куки писать
            $("input.box").change(function () {
                //console.log(this.checked);
                setCookie($(this).attr("name"), this.checked);
            });
            
        });


        function sort_stat_data() {
            function compare(a, b) {
                if (a[0] < b[0])
                    return -1;
                if (a[0] > b[0])
                    return 1;
                return 0;
            }
            stat_data_observers.sort(compare);
            data_agents.sort(compare);
            stat_data_events.sort(compare);
            max_ev_lag.sort(compare);
            average_ev_lag.sort(compare);
            mes_count.sort(compare);
            mes_dur.sort(compare);
        }

        function sort_event_data() {
            function compare(a, b) {
                if (a[0] < b[0])
                    return -1;
                if (a[0] > b[0])
                    return 1;
                return 0;
            }
            for (var key in data_events)
                if (data_events.hasOwnProperty(key)) {
                    data_events[key].count.sort(compare);
                    data_events[key].perform.sort(compare);
                    data_events[key].max_lag.sort(compare);
                    data_events[key].average_lag.sort(compare);
                }
        }

        function toggleGraphVisibility(elem) {
            var jq_elem = $(elem);
            jq_elem.parent().toggleClass("hide");
        }


        function toggleCheckBoxGraphVisibility(elem, container_name) {
            if (elem.checked)                 
                show_graph(container_name);  // Показать график
            else                 
                hide_graph(container_name);  // Скрыть график
        }


        function show_graph(container_name) {
            $("#" + container_name).css("display", "block");
            for (var i = 0; i < all_charts.length; i++) {
                var c = all_charts[i];
                if ($(c.container).parent().attr("id") == container_name)
                    c.xAxis[0].update({min: current_global_x_min, max: current_global_x_max});
            }
        }
        
        function hide_graph(container_name) {$("#" + container_name).css("display", "none");}

        function loadNewDates() {
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();
            window.location = location.origin + location.pathname + "?start=" + start_date + "&end=" + end_date;
        }


        function getCookie(name) {
            var matches = document.cookie.match(new RegExp(
                    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        function setCookie(name, value, options) {
            options = options || {};
            var expires = options.expires;
            if (typeof expires == "number" && expires) {
                var d = new Date();
                d.setTime(d.getTime() + expires * 1000);
                expires = options.expires = d;
            }
            if (expires && expires.toUTCString) {
                options.expires = expires.toUTCString();
            }

            value = encodeURIComponent(value);
            var updatedCookie = name + "=" + value;
            for (var propName in options) {
                updatedCookie += "; " + propName;
                var propValue = options[propName];
                if (propValue !== true) {
                    updatedCookie += "=" + propValue;
                }
            }
            document.cookie = updatedCookie;
        }


    </script>
</body>

</html>