<div class="car-info-block-picture-main-site">
    {% if car is not None %}
        {% include '../site/car_info_img_ext_site.html' %}
        <div class="car-info-name-block"><span style="padding: 1px 5px; background-color: #030f00;">{{ car.title }}</span></div>
    {% else %}
    <div class="car-info-block-picture-main default-car">
        <div class="car-info-block-picture default-car" style="background: url({{ static_url('content/mobiles/cars/car_default.png') }}) no-repeat center; z-index: 1"></div>
    </div>
    {% end %}
</div>


