{% if with_css is True %}
<style>
    .quick-game-cars-body-page {
        position: relative;
        height: 180px;
        width: 300px;
    }

    .quick-game-cars-body-page .car-info-block-picture-main {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .quick-game-cars-body-page .car-info-block-picture {
        position: relative;
        width: 100%;
        height: 100%;
    }


</style>
{% end %}

<div class="quick-game-cars-body-page">
    {% for car_ex in car_examples %}
        {% set car = car_ex %}
        {% include '../location/car_info_img_ext.html' %}
    {% end %}
</div>


