.editor-clickable {
    cursor: pointer;
}

.editor-unclickable {
    cursor: default;
}

body{
    background-color: black;
    min-width: 1024px;
    min-height: 600px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#map {
    background-color: black;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: default;
    min-width: 1024px;
    min-height: 600px;
}

#statusBar {
    border-color: limegreen;
    border-style: solid;
    border-width: 2px;
    color: limegreen;
    background-color: #000000;
    font: bold 16px sans-serif;
    position: relative;
    bottom: 3px;
    left: 5px;
    right: 5px;
    text-align: center;
}