{% if with_css is True %}
<style>
    .person-info-chat-body-page {
        position: relative;
        height: 146px;
        width: 100%;
    }

    .person-info-chat-person-up {
        position: relative;
        width: 100%;
        height: 146px;
        overflow: hidden;
    }

    .person-info-chat-person-up-left {
        position: relative;
        float: left;
        height: 146px;
        width: 170px;
    }

    .person-info-chat-person-up-left .site-avatar {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .person-info-chat-person-up-right {
        position: relative;
        float: left;
        height: 100%;
        width: calc(100% - 170px);
    }

    .person-info-chat-person-up-right-info {
        position: relative;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .person-info-chat-person-string-item {
        position: relative;
        width: 100%;
        height: 16px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .person-info-chat-person-string-item-part {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .person-info-chat-person-string-item-part.left {
        text-align: left;
        padding: 0 0 0 10px;
    }

    .person-info-chat-person-string-item-part.right {
        text-align: right;
        padding: 0 10px 0 0;
    }

</style>

{% end %}
<div class="person-info-chat-body-page">
    <div class="person-info-chat-person-up">
        <div class="person-info-chat-person-up-left">
            <div class="site-avatar" style="background-image: url('{{ static_url(static_world_link_repr(agent_example.avatar_170_146)) }}');
                    background-size: contain;"></div>
        </div>
        <div class="person-info-chat-person-up-right">
            <div class="person-info-chat-person-up-right-info">
                <div class="person-info-chat-person-string-item">
                    <div class="person-info-chat-person-string-item-part left">Уровень</div>
                    <div class="person-info-chat-person-string-item-part right value-color">[5]</div>
                </div>
                <div class="person-info-chat-person-string-item">
                    <div class="person-info-chat-person-string-item-part left">Класс:</div>
                    <div class="person-info-chat-person-string-item-part right value-color">Избранный</div>
                </div>
                <div class="person-info-chat-person-string-item">
                    <div class="person-info-chat-person-string-item-part left">Карма:</div>
                    <div class="person-info-chat-person-string-item-part right value-color">-100</div>
                </div>
                <div class="person-info-chat-person-string-item">
                    <div class="person-info-chat-person-string-item-part left">Вождение:</div>
                    <div class="person-info-chat-person-string-item-part right value-color">{{ agent_example.driving }}</div>
                </div>
                <div class="person-info-chat-person-string-item">
                    <div class="person-info-chat-person-string-item-part left">Стрельба:</div>
                    <div class="person-info-chat-person-string-item-part right value-color">{{ agent_example.shooting }}</div>
                </div>
                <div class="person-info-chat-person-string-item">
                    <div class="person-info-chat-person-string-item-part left">Скрытность:</div>
                    <div class="person-info-chat-person-string-item-part right value-color">{{ agent_example.masking }}</div>
                </div>
                <div class="person-info-chat-person-string-item">
                    <div class="person-info-chat-person-string-item-part left">Механик:</div>
                    <div class="person-info-chat-person-string-item-part right value-color">{{ agent_example.engineering }}</div>
                </div>
                <div class="person-info-chat-person-string-item">
                    <div class="person-info-chat-person-string-item-part left">Торговля:</div>
                    <div class="person-info-chat-person-string-item-part right value-color">{{ agent_example.trading }}</div>
                </div>
                <div class="person-info-chat-person-string-item">
                    <div class="person-info-chat-person-string-item-part left">Лидерство:</div>
                    <div class="person-info-chat-person-string-item-part right value-color">{{ agent_example.leading }}</div>
                </div>
            </div>
        </div>
    </div>
</div>


