{% if with_css is True %}
<style>
    .person-info-chat-body-page {
        position: relative;
        height: 146px;
        width: 100%;
    }

    .person-info-chat-person-up {
        position: relative;
        width: 100%;
        height: 146px;
        overflow: hidden;
    }

    .person-info-chat-person-up-left {
        position: relative;
        float: left;
        height: 146px;
        width: 170px;
    }

    .person-info-chat-person-up-left .site-avatar {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .person-info-chat-person-up-right {
        position: relative;
        float: left;
        height: 100%;
        width: calc(100% - 170px);
    }

    .person-info-chat-person-up-right-info {
        position: relative;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .person-info-chat-person-string-item {
        position: relative;
        width: 100%;
        height: 16px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .person-info-chat-person-string-item-part {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .person-info-chat-person-string-item-part.left {
        text-align: left;
        padding: 0 0 0 10px;
    }

    .person-info-chat-person-string-item-part.right {
        text-align: right;
        padding: 0 10px 0 0;
    }

</style>

{% end %}
<div class="person-info-chat-body-page">
    <div class="person-info-chat-person-up">
        <div class="person-info-chat-person-up-left">
            <div class="site-avatar" style="background-image: url('{{ static_url(static_world_link_repr(curr_user.avatar_link)) }}');
                    background-size: contain;"></div>
        </div>
        <div class="person-info-chat-person-up-right">
            <div class="person-info-chat-person-up-right-info">
                <div class="person-info-chat-person-string-item odd">
                    <div class="person-info-chat-person-string-item-part left">{{ _('tpsi_lvl') }}</div>
                    <div class="person-info-chat-person-string-item-part right value-color">[{{ agent_example.profile.get_lvl() }}]</div>
                </div>
                <div class="person-info-chat-person-string-item">
                    <div class="person-info-chat-person-string-item-part left">{{ _('tpsi_class') }}</div>
                    <div class="person-info-chat-person-string-item-part right value-color">
                        {{ agent_example.profile.role_class.description[user_lang] }}
                    </div>
                </div>
                <div class="person-info-chat-person-string-item odd">
                    <div class="person-info-chat-person-string-item-part left">{{ _('tpsi_karma') }}</div>
                    <div class="person-info-chat-person-string-item-part right value-color">{{ agent_example.profile.karma_name(lang=user_lang) }}</div>
                </div>
                <div class="person-info-chat-person-string-item">
                    <div class="person-info-chat-person-string-item-part left">{{ _('tpsi_driving') }}</div>
                    <div class="person-info-chat-person-string-item-part right value-color">{{ agent_example.profile.driving.calc_value() }}</div>
                </div>
                <div class="person-info-chat-person-string-item odd">
                    <div class="person-info-chat-person-string-item-part left">{{ _('tpsi_shooting') }}</div>
                    <div class="person-info-chat-person-string-item-part right value-color">{{ agent_example.profile.shooting.calc_value() }}</div>
                </div>
                <div class="person-info-chat-person-string-item">
                    <div class="person-info-chat-person-string-item-part left">{{ _('tpsi_masking') }}</div>
                    <div class="person-info-chat-person-string-item-part right value-color">{{ agent_example.profile.masking.calc_value() }}</div>
                </div>
                <div class="person-info-chat-person-string-item odd">
                    <div class="person-info-chat-person-string-item-part left">{{ _('tpsi_engineering') }}</div>
                    <div class="person-info-chat-person-string-item-part right value-color">{{ agent_example.profile.engineering.calc_value() }}</div>
                </div>
                <div class="person-info-chat-person-string-item">
                    <div class="person-info-chat-person-string-item-part left">{{ _('tpsi_trading') }}</div>
                    <div class="person-info-chat-person-string-item-part right value-color">{{ agent_example.profile.trading.calc_value() }}</div>
                </div>
                <div class="person-info-chat-person-string-item odd">
                    <div class="person-info-chat-person-string-item-part left">{{ _('tpsi_leading') }}</div>
                    <div class="person-info-chat-person-string-item-part right value-color">{{ agent_example.profile.leading.calc_value() }}</div>
                </div>
            </div>
        </div>
    </div>
</div>


