<div id="main">
    <div id="map" class="global-shift global-size"></div>
    <canvas id="canvas" class="global-shift global-size"></canvas>
</div>
<div id="overlay">
    <div id="zoomators">
        <div class="zoomator mobile-btn" data-zoom="-1">minus</div>
        <div class="zoomator mobile-btn" data-zoom="1">plus</div>
        <div class="fire-btn mobile-btn">fire</div>
        <div id="consoleBtn" class="mobile-btn">Debug</div>
        <div id="menuBtn" class="mobile-btn">Menu</div>
        <div id="sendPosition" class="mobile-btn">PosToSrv</div>
    </div>
    <div id="consoleWrap">
        <div id="console">В данном режиме консоль не доступна. Воспользуйтесь браузерной консолью (F12 или Ctrl + C)</div>
        <div id="consoleClose" class="mobile-btn">Close</div>
    </div>
    <div id="menuWrap">
        <div id="menu">
            <div id="KalmanSet" class="menu-btn">Client Kalman</div>
            <div id="CameraPositionAnimation" class="menu-btn active">CameraPositionAnimation</div>
            <div id="CameraRotateAnimation" class="menu-btn active">CameraRotateAnimation</div>
            <div id="BotsPositionAnimation" class="menu-btn active">BotsPositionAnimation</div>
        </div>
        <div id="menuClose" class="mobile-btn">Close</div>
    </div>
</div>
<div style="display: none">
    <span id="settings_host_name">{{ host_name }}</span>
    <span id="settings_ws_port">{{ ws_port }}</span>
    <span id="settings_map_link">{{ map_link }}</span>
</div>