<div id="main">
    <div id="map" class="global-shift global-size"></div>
    <canvas id="canvas" class="global-shift global-size"></canvas>
</div>
<div id="overlay">
    <div id="zoomators">
        <div class="zoomator" data-zoom="15">15</div>
        <div class="zoomator" data-zoom="16">16</div>
        <div class="zoomator" data-zoom="17">17</div>
        <div class="zoomator" data-zoom="18">18</div>
    </div>
</div>
<div style="display: none">
    <span id="settings_host_name">{{ host_name }}</span>
    <span id="settings_ws_port">{{ ws_port }}</span>
    <span id="settings_map_link">{{ map_link }}</span>
</div>