{% set js_list = [
    'js/third_party/leaflet-src.js',
    'js/third_party/jquery.min.js',
    'js/geometric.js',
    'js/generator_ID.js',
    'js/rpc_list.js',
    'js/resource_load_manager.js',
    'js/message_stream.js',
    'js/visual_manager.js',
    'static_mobile/js/time_manager.js',
    'js/modelJS.js',
    'static_mobile/js/connector.js',
    'static_mobile/js/map_manager.js',
    'static_mobile/js/client_manager.js',
    'static_mobile/js/map_canvas_manager.js',
    'static_mobile/js/geo_location_manager.js',
    'static_mobile/js/widgets/visual_object.js',
    'static_mobile/js/widgets/leaflet_icon_manager.js',
    'static_mobile/js/widgets/w_map_position.js',
    'static_mobile/js/widgets/canvas/w_user_car_marker.js',
    'static_mobile/js/widgets/canvas/w_fire_sectors_scaled.js',
    'static_mobile/js/widgets/canvas/w_fire_radial_grid.js',
    'static_mobile/js/widgets/canvas/w_observing_range.js',
    'static_mobile/js/widgets/canvas/w_strategy_mode.js',
    'static_mobile/js/widgets/w_hp_indicator.js',
    'static_mobile/js/fire_manager.js',
    'js/effects/e_points_tracer.js',
    'js/effects/e_fire_effect_png_animation.js',
    'static_mobile/js/view.js'
] %}