.map-teaching-window-main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    color: #31c811;
    font: 11pt Nouveau_IBM;
}
.map-teaching-window-main.cruise_speed { height: 250px; width: 450px; }
.map-teaching-window-main.cruise_zone { height: 250px; width: 450px; }
.map-teaching-window-main.cruise_speed_control { height: 250px; width: 450px; }
.map-teaching-window-main.cruise_speed_btn { height: 250px; width: 450px; }
.map-teaching-window-main.driving_control { height: 250px; width: 450px; }
.map-teaching-window-main.cruise_radial { height: 250px; width: 450px; }
.map-teaching-window-main.zoom_slider { height: 250px; width: 450px; }
.map-teaching-window-main.discharge_shooting { height: 250px; width: 450px; }
.map-teaching-window-main.auto_shooting { height: 250px; width: 450px; }
.map-teaching-window-main.try_kill { height: 250px; width: 450px; }

.map-teaching-content-wrap {
    position: relative;
    margin: 2px auto;
    border: 1px solid #0e4b00;
    box-sizing: border-box;
    width: calc(100% - 4px);
    height: calc(100% - 30px);
}

.map-teaching-text-block {
    position: relative;
    width: 100%;
    height: calc(100% - 40px);
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.map-teaching-btn-block {
    position: relative;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    box-sizing: border-box;
}

.map-teaching-btn {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    text-align: center;
    border: 1px solid #0e4b00;
    background-color: #082801;
    box-sizing: border-box;
}
.map-teaching-btn:hover {
    background-color: #0c4b00;
    color: #2ffa00;
    border-color: #31c811;
}
.map-teaching-btn.btn-next {
    position: relative;
    width: 130px;
    height: 26px;
    line-height: 25px;
    margin: 0 auto;
}