.mapTeachingWindow-main {
    position: relative;
    height: 250px;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #31c811;
    font: 11pt Nouveau_IBM;
}

.mapTeachingContent-wrap {
    position: relative;
    margin: 2px auto;
    border: 1px solid #0e4b00;
    box-sizing: border-box;
    width: calc(100% - 4px);
    height: calc(100% - 30px);
}

.mapTeachingTextBlock {
    position: relative;
    width: 100%;
    height: calc(100% - 40px);
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.mapTeachingBtnBlock {
    position: relative;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    box-sizing: border-box;
}

.mapTeachingBtnOk {
    position: relative;
    width: 130px;
    height: 26px;
    line-height: 25px;
    margin: 0 auto;
}

.mapTeachingBtn {
    cursor: url('/static/img/cursors/hyper.png'), pointer;
    text-align: center;
    border: 1px solid #0e4b00;
    background-color: #082801;
    box-sizing: border-box;
}
.mapTeachingBtn:hover {
    background-color: #0c4b00;
    color: #2ffa00;
    border-color: #31c811;
}


.mainCarInfoWindow-body-trunk-body-left-activate {

    }


    .mainCarInfoWindow-body-trunk-body-left-activate:hover { background-color: #0c4b00; color: #2ffa00; border-color: #31c811; }