{% set window_caption = 'Nuke:\Обучение\Шаг_9_из_10>' %}
<div class="map-teaching-window-main auto_shooting">
    {% include ../drag_close_header.html %}
    <div class="map-teaching-content-wrap">
        <div class="map-teaching-img-block auto_shooting"></div>
        <div class="map-teaching-text-block auto_shooting">Чтобы вести огонь из автоматического оружия следует включить режим
            автоматической стрельбы в центре боевого виджета и поймать цель в автоматический сектор, очерченный
            прерывистой линией. Стрельба будет вестись автоматически, пока цель не покинет сектор.
        </div>
        <div class="map-teaching-btn-block">
            <div class="group-btn-wrap">
                <div class="map-teaching-btn btn-back group-btn">Назад</div>
                <div class="map-teaching-btn btn-next group-btn">Далее</div>
            </div>
        </div>
    </div>
</div>
