{% set window_caption = 'Nuke:\Обучение\Шаг_1_из_10>' %}
<div class="map-teaching-window-main cruise_speed">
    {% include ../drag_close_header.html %}
    <div class="map-teaching-content-wrap">
        <div class="map-teaching-digits-block">
            <div class="map-teaching-digits-block-left">0</div>
            <div class="map-teaching-digits-block-right">.0</div>
        </div>
        <div class="map-teaching-text-block">Это спидометр, показывающий текущую скорость управляемого транспортного
            средства. На скорость влияют различные штрафы и бонусы местности.
        </div>
        <div class="map-teaching-btn-block">
            <div class="map-teaching-btn btn-next">Далее</div>
        </div>
    </div>
</div>
