{% set window_caption = _("mt_header_4") %}
<div class="map-teaching-window-main cruise_speed_btn">
    {% include ../drag_close_header.html %}
    <div class="map-teaching-content-wrap">
        <div class="map-teaching-img-block cruise_speed_btn">
            <div class="map-teaching-img-block-left cruise_speed_btn"></div>
            <div class="map-teaching-img-block-right cruise_speed_btn"></div>
        </div>
        <div class="map-teaching-text-block cruise_speed_btn">{% raw _("mt_text_4") %}</div>
        <div class="map-teaching-btn-block">
            <div class="group-btn-wrap">
                <div class="map-teaching-btn btn-back group-btn">{{ _("mt_btn_back") }}</div>
                <div class="map-teaching-btn btn-next group-btn">{{ _("mt_btn_next") }}</div>
            </div>
        </div>
    </div>
</div>
