{% set window_caption = 'Обучение/Шаг 8 из 10' %}
<div class="map-teaching-window-main discharge_shooting">
    {% include ../drag_close_header.html %}
    <div class="map-teaching-content-wrap">
        <div class="map-teaching-text-block">Чтобы выстрелить в другой транспорт залповым оружием необходимо поймать цель в залповый сектор, очерченный на боевом виджете сплошной линией, и нажать на сектор мышкой, пока цель находится в зоне поражения. Либо использовать клавиши WSAD. (Изображение залпового сектора с точкой)</div>
        <div class="map-teaching-btn-block">
            <div class="group-btn-wrap">
                <div class="map-teaching-btn btn-back group-btn">Назад</div>
                <div class="map-teaching-btn btn-next group-btn">Далее</div>
            </div>
        </div>
    </div>
</div>