{% set window_caption = 'Обучение/Шаг 5 из 10' %}
<div class="map-teaching-window-main driving_control">
    {% include ../drag_close_header.html %}
    <div class="map-teaching-content-wrap">
        <div class="map-teaching-text-block">Прокатитесь куда-нибудь, указав пункт назначения мышью и используя круиз-контроль, либо используйте клавиши управления движением на клавиатуре. (Изображение ползунка скорости, лкм и клавиш стрелок клавиатуры)</div>
        <div class="map-teaching-btn-block">
            <div class="group-btn-wrap">
                <div class="map-teaching-btn btn-back group-btn">Назад</div>
                <div class="map-teaching-btn btn-next group-btn">Далее</div>
            </div>
        </div>
    </div>
</div>