{% set window_caption = 'Nuke:\Обучение\Шаг_10_из_10>' %}
<div class="map-teaching-window-main try_kill">
    {% include ../drag_close_header.html %}
    <div class="map-teaching-content-wrap">
        <div class="map-teaching-img">Декоративная картинка с прицеливанием</div>
        <div class="map-teaching-text-block">Найдите себе жертву и откройте по ней огонь. Для этого используйте боевой
            виджет или кнопки WSAD, где каждая кнопка соответствует одному из 4-х возможных направлений стрельбы. Боевая
            сетка вокруг вашего транспорта дублирует огневые сектора боевого виджета, цели и статус перезарядки.
        </div>
        <div class="map-teaching-btn-block">
            <div class="group-btn-wrap">
                <div class="map-teaching-btn btn-back group-btn">Назад</div>
                <div class="map-teaching-btn btn-next group-btn">Далее</div>
            </div>
        </div>
    </div>
</div>
