{% set window_caption = _("mt_header_final") %}
<div class="map-teaching-window-main final">
    {% include ../drag_close_header.html %}
    <div class="map-teaching-content-wrap">
        <div class="map-teaching-text-block">{% raw _("mt_text_final") %}</div>
        <div class="map-teaching-btn-block">
            <div class="group-btn-wrap">
                <div class="map-teaching-btn btn-back group-btn">{{ _("mt_btn_traning") }}</div>
                <div class="map-teaching-btn btn-next group-btn">{{ _("mt_btn_continue") }}</div>
            </div>
        </div>
    </div>
</div>