{% set window_caption = 'Обучение/Шаг 7 из 10' %}
<div class="map-teaching-window-main zoom_slider">
    {% include ../drag_close_header.html %}
    <div class="map-teaching-content-wrap">
        <div class="map-teaching-text-block">Виджет масштабирования позволяет приближать и отдалять спутниковую картинку. Полезно для глобальной навигации или для ведения боя. Масштаб меняется при перетаскивании ползунка виджета, либо при нажатии на кнопки приближения и отдаления. Приблизьте и отдалите обзор для продолжения. (Изображение кнопок + и -)</div>
        <div class="map-teaching-btn-block">
            <div class="group-btn-wrap">
                <div class="map-teaching-btn btn-back group-btn">Назад</div>
                <div class="map-teaching-btn btn-next group-btn">Далее</div>
            </div>
        </div>
    </div>
</div>