{% set window_caption = 'Nuke:\Обучение\Шаг_7_из_10>' %}
<div class="map-teaching-window-main zoom_slider">
    {% include ../drag_close_header.html %}
    <div class="map-teaching-content-wrap">
        <div class="map-teaching-zoom">
            <div class="map-teaching-zoom-btn plus">+</div>
            <div class="map-teaching-zoom-btn">-</div>
        </div>
        <div class="map-teaching-text-block zoom_slider">Это кнопки виджета масштабирования. Изменяя с помощью них масштаб карты
            удобно осуществлять глобальную навигацию или вести бой. Также масштаб можно изменять перетаскиванием
            ползунка виджета. Измените масштаб карты для продолжения.
        </div>
        <div class="map-teaching-btn-block">
            <div class="group-btn-wrap">
                <div class="map-teaching-btn btn-back group-btn">Назад</div>
                <div class="map-teaching-btn btn-next group-btn">Далее</div>
            </div>
        </div>
    </div>
</div>
