{% set window_caption = _("mt_header_7") %}
<div class="map-teaching-window-main zoom_slider">
    {% include ../drag_close_header.html %}
    <div class="map-teaching-content-wrap">
        <div class="map-teaching-zoom">
            <div class="map-teaching-zoom-btn plus">+</div>
            <div class="map-teaching-zoom-btn">-</div>
        </div>
        <div class="map-teaching-text-block zoom_slider">{% raw _("mt_text_7") %}</div>
        <div class="map-teaching-btn-block">
            <div class="group-btn-wrap">
                <div class="map-teaching-btn btn-back group-btn">{{ _("mt_btn_back") }}</div>
                <div class="map-teaching-btn btn-next group-btn">{{ _("mt_btn_next") }}</div>
            </div>
        </div>
    </div>
</div>
