    .mainCarInfoWindow-main {
        position: relative;
        box-sizing: border-box;
        width: 740px;
        height: 426px;
        background-color: rgba(0, 0, 0, 0.9);
        cursor: url('/static/img/cursors/main.png'), default;
    }

    .mainCarInfoWindow-body {
        position: relative;
        margin: 3px auto 0px auto;
        box-sizing: border-box;
        height: 394px;
        width: 734px;
        border: solid 1px #00f150;
    }