/*Инвентарь*/
    .mainInventoryWindow-main {
        position: relative;
        width: 660px;
        height: 422px;
        background-color: rgba(0, 0, 0, 0.9);
        color: #ffffff;
        font: 12pt FreePixel;
        cursor: default;
    }

    .mainCarInfoWindow-body-trunk {
        position: relative;
        float: left;
        width: 652px;
        height: 390px;
        overflow-y: auto;
        border: solid 1px #00f150;
        margin: 0px 3px 3px 3px;
        overflow: hidden;
    }

    .mainCarInfoWindow-body-trunk-filter {
        width: 100%;
        height: 27px;
        font: 12pt Nouveau_IBM;
    }

    .mainCarInfoWindow-body-trunk-filter-all {
        position: relative;
        float: left;
        margin-top: 5px;
        margin-right: 20px;
        margin-left: 7px;
        text-align: center;
        color: #135806;
        cursor: pointer;
    }

    .mainCarInfoWindow-body-trunk-filter-all.activateFilter {
        color: #30fc00;
    }

    .mainCarInfoWindow-body-trunk-filter-all:hover {
        color: #30fc00;
    }

    .mainCarInfoWindow-body-trunk-body {
        border: solid 1px #00f150;
        margin: 0px 7px 7px 7px;
        height: 355px;
    }

    .mainCarInfoWindow-body-trunk-body-left {
        border-right: solid 1px #00f150;
        width: 156px;
        height: 340px   ;
        margin-top: 5px;
        float: left;
    }

    .mainCarInfoWindow-body-trunk-body-left-picture {
        border: solid 1px #00f150;
        margin: 5px;
        height: 100px;
    }

    .mainCarInfoWindow-body-trunk-body-left-picture-picture {
        margin-top: 15px;
        height: 70px;
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }

    .mainCarInfoWindow-body-trunk-body-left-name {
        color: #30fc00;
        text-align: center;
        margin: 5px;
        font: 12pt Nouveau_IBM;
        height: 16px;
    }

    .mainCarInfoWindow-body-trunk-body-left-description {
        box-sizing: border-box;
        margin: auto;
        width: 150px;
        padding: 10px 3px 0px 3px;
        color: #1e9604;
        text-align: center;
        height: 145px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .mainCarInfoWindow-body-trunk-body-left-activate {
        color: #30fc00;
        text-align: center;
        border: solid 1px #125306;
        background-color: #0d3707;
        margin: 35px auto 5px auto;
        cursor: pointer;
        font: 12pt Nouveau_IBM;
        width: 130px;
        opacity: 0.6;
    }

    .mainCarInfoWindow-body-trunk-body-left-activate:hover {
        opacity: 1;
    }

    .mainCarInfoWindow-body-trunk-body-right {
        position: relative;
        width: 465px;
        height: 340px;
        margin-left: 165px;
        margin-top: 5px;
        overflow-y: scroll;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-wrap {
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid #054E05;
        width: 140px;
        height: 100px;
        float: left;
        margin: 5px 10px 5px 0px;
        opacity: 0.6;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-wrap:hover {
        opacity: 1;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-wrap.active {
        opacity: 1;
    }

    .mainCarInfoWindow-body-trunk-body-right-item {
        position: relative;
        width: 140px;
        height: 100px;
    }

    .mainCarInfoWindow-body-trunk-body-right-line {
        border-top: 2px dotted #0a2e03;
        height: 3px;
        margin-top: 10px;
        float: left;
        width: 450px;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-name-empty {
        position: absolute;
        box-sizing: border-box;
        padding: 5px 0px 0px 5px;
        font: 11pt Nouveau_IBM;
        color: #135806;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-picture-empty {
        position: absolute;
        top: 10px;
        /*background-color: #000000;*/
        /*background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),*/
        /*linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);*/
        /*background-size: 2px 2px;*/
        /*background-position: 0 0, 1px 1px;*/
        height: 78px;
        width: 138px;
        pointer-events: none;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-count-empty {
        position: relative;
        box-sizing: border-box;
        padding: 0px 5px 0px 0px;
        top: 58px;
        text-align: right;
        color: #30fc00;
    }


/*Взаимодействие с контейнерами*/
    .containerInventoryWindow-main {
        position: relative;
        width: 660px;
        height: 448px;
        background-color: rgba(0, 0, 0, 0.9);
        color: #27ED0A;
        font: 12pt FreePixel;
        cursor: default;
    }

    .containerInventoryWindow-window-wrap{
        width: 654px;
        height: 416px;
        border: 1px solid green;
        box-sizing: border-box;
        margin: 3px;
    }

    .containerInventoryWindow-inventory-wrap {
        position: relative;
        float: left;
        box-sizing: border-box;
        width: 320px;
        height: 410px;
        border: 1px solid green;
    }

    .containerInventoryWindow-inventory-wrap-left {
        margin: 2px 0 2px 3px;
    }

    .containerInventoryWindow-inventory-wrap-right {
        margin: 2px 0 2px 6px;
    }

    .containerInventoryWindow-inventory-header {
        position: relative;
        width: 100%;
        height: 30px;
        text-align: center;
        border-bottom: 1px solid green;
        box-sizing: border-box;
        line-height: 1.6;
        font-weight: bold;
        font-size: 13pt;
    }

    .containerInventoryWindow-inventory-body {
        position: relative;
        width: calc(100% - 9px);
        margin: 0 auto 0 auto;
        height: 374px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 2px;
        padding-left: 5px;
    }


/*Бартер*/
    .barterInventoryWindow-main {
        position: relative;
        width: 660px;
        height: 448px;
        background-color: rgba(0, 0, 0, 0.9);
        color: #27ED0A;
        font: 12pt FreePixel;
        cursor: default;
    }

    .barterInventoryWindow-window-wrap {
        width: 654px;
        height: 416px;
        border: 1px solid #054E05;
        box-sizing: border-box;
        margin: 3px;
    }

    .barterInventoryWindow-window-wrap-wrap {
        position: relative;
        width: 50%;
        height: 100%;
        float: left;
    }

    .barterInventoryWindow-inventory-wrap {
        position: relative;
        box-sizing: border-box;
        width: 320px;
        height: 340px;
        border: 1px solid #054E05;
    }

    .barterInventoryWindow-inventory-wrap-left {
        margin: 2px 0 5px 3px;
    }

    .barterInventoryWindow-inventory-wrap-right {
        margin: 2px 0 5px 6px;
    }

    .barterInventoryWindow-inventory-header {
        position: relative;
        width: 100%;
        height: 30px;
        text-align: center;
        border-bottom: 1px solid #054E05;
        box-sizing: border-box;
        line-height: 1.6;
        font-weight: bold;
        font-size: 13pt;
    }

    .barterInventoryWindow-inventory-body {
        position: relative;
        width: calc(100% - 9px);
        margin: 0 auto 0 auto;
        height: 304px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 2px;
        padding-left: 5px;
    }

    .barterInventoryWindow-table-inventory-body {
        position: relative;
        float: left;
        width: 152px;
        height: 304px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 2px;
    }

    .barterInventoryWindow-table-inventory-body-left {
        margin-right: 8px;
        margin-left: 3px;
    }

    .barterInventoryWindow-my-money-wrap {
        width: 100%;
        text-align: center;
    }

    .barterInventoryWindow-button {
        box-sizing: border-box;
        color: #30fc00;
        background-color: #0d3707;
        border: solid 1px #054E05;
        cursor: pointer;
        text-align: center;
        opacity: 0.6;
    }

    .barterInventoryWindow-button:hover {
        opacity: 1;
    }

    .barterInventoryWindow-apply-button {
        position: relative;
        height: 30px;
        width: 190px;
        margin: 8px auto 0px auto;
        line-height: 1.6;
        font-weight: bold;
        font-size: 13pt;
    }

    .barterInventoryWindow-cancel-button {
        display: None;
        position: relative;
        height: 30px;
        width: 135px;
        margin: 8px auto 0px auto;
        line-height: 1.6;
        font-weight: bold;
        font-size: 13pt;
    }

    .barterInventoryWindow-table-money-block {
        position: relative;
        width: 50%;
        float: left;
        height: 65px;
    }

    .barterInventoryWindow-table-money-block-header {
        width: 100%;
        text-align: center;
    }

    .barterInventoryWindow-table-money-config {
        width: 150px;
        margin: 10px auto 0px auto;
    }

    .barterInventoryWindow-table-money-block-change-button {
        position: relative;
        float: left;
        height: 25px;
        width: 25px;
        line-height: 0.85;
        font-size: 20pt;
    }

    .barterInventoryWindow-table-money-block-count-edit {
        position: relative;
        float: left;
        height: 25px;
        border: 1px solid #054E05;
        box-sizing: border-box;
    }

    .barterInventoryWindow-table-money-block-count-edit-my {
        width: 100px;
    }

    .barterInventoryWindow-table-money-block-count-edit-other {
        width: 100%;
    }

    .barterInventoryWindow-table-money-block-count-edit > input {
        text-align: center;
        line-height: 1.4;
        border: 0px solid #000000;
        height: 100%;
        width: 100%;
        background-color: transparent;
        color: #27ED0A;
    }

    .barterInventoryWindow-lock-div {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        background-color: black;
        opacity: 0.5;
    }

