<style>
    .windowDragCloseHeader-main {
        position: relative;
        box-sizing: border-box;
        height: 26px;
        width: 100%;
        border-bottom: solid 2px #2ffa00;
        background-color: #000000;
        background-image: linear-gradient(45deg, #2ffa00 25%, transparent 25%, transparent 74%, #2ffa00 75%, #2ffa00),
                          linear-gradient(45deg, #2ffa00 25%, transparent 25%, transparent 74%, #2ffa00 75%, #2ffa00);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
    }

    .windowDragCloseHeader-close {
        position: absolute;
        right: 6px;
        top: 6px;
        height: 14px;
        width: 14px;
        background: transparent url('/static/img/windows/close_cross/cross.png') 50% 50% no-repeat;
        box-sizing: border-box;
    }

    .windowDragCloseHeader-close:hover {
        background: transparent url('/static/img/windows/close_cross/cross_over.png') 50% 50% no-repeat;
    }

    .windowDragCloseHeader-close:active {
        background: transparent url('/static/img/windows/close_cross/cross_pressed.png') 50% 50% no-repeat;
    }

    .windowDragCloseHeader-caption {
        position: relative;
        top: 4px;
        left: 15px;
        pointer-events: none;
        float: left;
        color: black;
        background-color: transparent;
        box-sizing: border-box;
        font: 12pt Nouveau_IBM;
    }
</style>

<div class="windowDragCloseHeader-main sublayers-clickable">
    <div class="windowDragCloseHeader-caption">{{ window_caption }}</div>
    <div class="windowDragCloseHeader-close"></div>
</div>
