<style>
    .windowDragCloseHeader-main {
        position: relative;
        box-sizing: border-box;
        height: 26px;
        width: 100%;
        border-bottom: solid 1px #00f150;
        background-color: darkgreen;
    }

    .windowDragCloseHeader-close {
        position: absolute;
        right: 2px;
        top: 3px;
        height: 18px;
        width: 23px;
        background: transparent url('/static/img/window_interface/share_elements/close_big.png') 50% 50% no-repeat;
        box-sizing: border-box;
    }

    .windowDragCloseHeader-close:hover {
        background: transparent url('/static/img/window_interface/share_elements/close_big_over.png') 50% 50% no-repeat;
    }

    .windowDragCloseHeader-close:active {
        background: transparent url('/static/img/window_interface/share_elements/close_big_pressed.png') 50% 50% no-repeat;

    }

    .windowDragCloseHeader-caption {
        position: relative;
        top: 4px;
        left: 15px;
        pointer-events: none;
        float: left;
        color: black;
        background-color: transparent;
        box-sizing: border-box;
        font: 12pt fsex300;
    }
</style>

<div class="windowDragCloseHeader-main sublayers-clickable">
    <div class="windowDragCloseHeader-caption">{{ window_caption }}</div>
    <div class="windowDragCloseHeader-close"></div>
</div>
