{% set window_caption = 'NUKE:\Инвентарь>' %}

<style>
    .mainInventoryWindow-main {
        position: relative;
        width: 660px;
        height: 422px;
        background-color: rgba(0, 0, 0, 0.9);
        color: #ffffff;
        font: 12pt FreePixel;
        cursor: default;
    }

    .mainCarInfoWindow-body-trunk {
        position: relative;
        float: left;
        width: 652px;
        height: 361px;
        overflow-y: auto;
        border: solid 1px #00f150;
        margin: 0px 3px 3px 3px;
    }

    .mainCarInfoWindow-body-trunk-filter {
        width: 100%;
        height: 27px;
        font: 12pt Nouveau_IBM;
    }

    .mainCarInfoWindow-body-trunk-filter-all {
        position: relative;
        float: left;
        margin-top: 5px;
        margin-right: 20px;
        margin-left: 7px;
        text-align: center;
        color: #135806;
        cursor: pointer;
    }

    .mainCarInfoWindow-body-trunk-filter-all.activateFilter {
        color: #30fc00;
    }

    .mainCarInfoWindow-body-trunk-filter-all:hover {
        color: #30fc00;
    }

    .mainCarInfoWindow-body-trunk-body {
        border: solid 1px #00f150;
        margin: 0px 7px 7px 7px;
        height: 325px;
    }

    .mainCarInfoWindow-body-trunk-body-left {
        border-right: solid 1px #00f150;
        width: 156px;
        height: 315px;
        margin-top: 5px;
        float: left;
    }

    .mainCarInfoWindow-body-trunk-body-left-picture {
        border: solid 1px #00f150;
        margin: 5px;
        height: 100px;
    }

    .mainCarInfoWindow-body-trunk-body-left-picture-picture {
        margin-top: 15px;
        height: 70px;
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }

    .mainCarInfoWindow-body-trunk-body-left-name {
        color: #30fc00;
        text-align: center;
        margin: 5px;
        font: 12pt Nouveau_IBM;
        height: 16px;
    }

    .mainCarInfoWindow-body-trunk-body-left-description {
        box-sizing: border-box;
        margin: auto;
        width: 150px;
        padding: 10px 3px 0px 3px;
        color: #1e9604;
        text-align: center;
        height: 145px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .mainCarInfoWindow-body-trunk-body-left-activate {
        color: #30fc00;
        text-align: center;
        border: solid 1px #125306;
        background-color: #0d3707;
        margin: 15px auto 5px auto;
        cursor: pointer;
        font: 12pt Nouveau_IBM;
        width: 130px;
        opacity: 0.6;
    }

    .mainCarInfoWindow-body-trunk-body-left-activate:hover {
        opacity: 1;
    }

    .mainCarInfoWindow-body-trunk-body-right {
        position: relative;
        width: 465px;
        height: 315px;
        margin-left: 165px;
        margin-top: 5px;
        overflow-y: scroll;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-wrap {
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid #054E05;
        width: 140px;
        height: 100px;
        float: left;
        margin: 5px 10px 5px 0px;
        opacity: 0.6;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-wrap:hover {
        opacity: 1;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-wrap.active {
        opacity: 1;
    }

    .mainCarInfoWindow-body-trunk-body-right-item {
        position: relative;
        width: 140px;
        height: 100px;
    }

    .mainCarInfoWindow-body-trunk-body-right-line {
        border-top: 2px dotted #0a2e03;
        height: 3px;
        margin-top: 10px;
        float: left;
        width: 450px;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-name-empty {
        box-sizing: border-box;
        padding: 5px 0px 0px 5px;
        font: 11pt Nouveau_IBM;
        color: #135806;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-picture-empty {
        background-color: #000000;
        background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),
        linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        height: 78px;
        width: 138px;
        pointer-events: none;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-count-empty {
        position: relative;
        box-sizing: border-box;
        padding: 0px 5px 0px 0px;
        top: 58px;
        text-align: right;
        color: #30fc00;
    }

</style>

<div class="mainInventoryWindow-main">
    {% include drag_close_header.html %}
    <div id="mainCarInfoWindow-body-trunk_id" class="mainCarInfoWindow-body-trunk mainCarInfoWindow-page-div">
        <div class="mainCarInfoWindow-body-trunk-filter">
            <div class="mainCarInfoWindow-body-trunk-filter-all activateFilter" data-filter="">
                <span class="inventoryFilterChecker">[x]</span> Всё</div>
            <div class="mainCarInfoWindow-body-trunk-filter-all" data-filter="cargo">
                <span class="inventoryFilterChecker">[ ]</span> Груз</div>
            <div class="mainCarInfoWindow-body-trunk-filter-all" data-filter="ammo">
                <span class="inventoryFilterChecker">[ ]</span> Боеприпасы</div>
        </div>
        <div class="mainCarInfoWindow-body-trunk-body">
            <div class="mainCarInfoWindow-body-trunk-body-left">
                <div class="mainCarInfoWindow-body-trunk-body-left-picture">
                    <div class="mainCarInfoWindow-body-trunk-body-left-picture-picture"></div>
                </div>
                <div class="mainCarInfoWindow-body-trunk-body-left-name"></div>
                <div class="mainCarInfoWindow-body-trunk-body-left-description"></div>
                <div class="mainCarInfoWindow-body-trunk-body-left-activate">Активировать!</div>
            </div>
            <div class="mainCarInfoWindow-body-trunk-body-right inventory-{{ car_id }}">
            </div>
        </div>
    </div>
</div>

<script>

    $('#mainCarInfoWindow-body-trunk_id').find('.mainCarInfoWindow-body-trunk-filter-all').click(function(event){
        var inv_id_this_window = $('#mainCarInfoWindow-body-trunk_id');
        // отключить во всех фильтрах "выбранный"
        inv_id_this_window.find('.inventoryFilterChecker').text('[ ]');
        inv_id_this_window.find('.mainCarInfoWindow-body-trunk-filter-all').removeClass('activateFilter');
        // у себя включить, что фильтр выбран
        $(this).find('.inventoryFilterChecker').text('[x]');
        $(this).addClass('activateFilter');
        // вызов фильтрации
        inventoryList.showInvByFilter({{ car_id }}, $('#mainCarInfoWindow-body-trunk_id'), $(this).data('filter'));
    });

    // Обработка нажатия на крестик (закрытие окна)
    $('.mainCarInfoWindow-main').find('.windowDragCloseHeader-close').on('click', function (event) {
        // Тут именно так, потому как мы отписываемся от инвентаря на сервере
        if (user.userCar)
            clientManager.sendHideInventory(user.userCar.ID);
    });

    // Запрашиваем инвентарь
    inventoryList.showInventory({{ car_id }}, $('#mainCarInfoWindow-body-trunk_id').find('.inventory-{{ car_id }}').first())


</script>