{% set window_caption = 'NUKE:\Контейнер>' %}

<style>
    .containerInventoryWindow-main {
        position: relative;
        width: 660px;
        height: 422px;
        background-color: rgba(0, 0, 0, 0.9);
        color: #ffffff;
        font: 12pt FreePixel;
        cursor: default;
    }


</style>

<div class="containerInventoryWindow-main">
    {% include drag_close_header.html %}

</div>

<script>
    // Запрашиваем инвентарь
{#    inventoryList.showInventory({{ car_id }}, $('#mainCarInfoWindow-body-trunk_id').find('.inventory-{{ car_id }}').first())#}
{#    inventoryList.showInventory({{ car_id }}, $('#mainCarInfoWindow-body-trunk_id').find('.inventory-{{ car_id }}').first())#}


</script>