{% set window_caption = 'NUKE:\Бартер>' %}

<div id="barterInventoryWindow-{{ barter.id }}" class="barterInventoryWindow-main">
    {% include drag_close_header.html %}
    <div class="barterInventoryWindow-window-wrap">
        <div class="barterInventoryWindow-window-wrap-wrap">
            <div id="barterInventoryWindow-id-car-{{ barter.id }}" class="barterInventoryWindow-inventory-wrap barterInventoryWindow-inventory-wrap-left">
                <div class="barterInventoryWindow-inventory-header">Ваш инвентарь:</div>
                <div class="barterInventoryWindow-inventory-body inventory-{{ car_id }}"></div>
                <div class="barterInventoryWindow-lock-div"></div>
            </div>
            <div class="barterInventoryWindow-my-money-wrap">Ваш счет: <span class="barterInventoryWindow-my-money">{{ agent.example.balance }}</span>нк.</div>
            <div id="barterInventoryWindow-apply-button-{{ barter.id }}" class="barterInventoryWindow-apply-button barterInventoryWindow-button">Подтвердить сделку</div>
            <div id="barterInventoryWindow-cancel-button-{{ barter.id }}" class="barterInventoryWindow-cancel-button barterInventoryWindow-button">Отмена</div>
        </div>

        <div class="barterInventoryWindow-window-wrap-wrap">
            <div class="barterInventoryWindow-inventory-wrap barterInventoryWindow-inventory-wrap-left">
                <div class="barterInventoryWindow-inventory-header">Столик обмена:</div>
                <div id="barterInventoryWindow-id-my-table-{{ barter.id }}" class="barterInventoryWindow-table-inventory-body barterInventoryWindow-table-inventory-body-left inventory-{{ my_table_id }}"></div>
                <div id="barterInventoryWindow-id-another-table-{{ barter.id }}" class="barterInventoryWindow-table-inventory-body inventory-{{ other_table_id }}"></div>
                <div class="barterInventoryWindow-lock-div"></div>
            </div>
            <div class="barterInventoryWindow-table-money-block">
                <div class="barterInventoryWindow-table-money-block-header">Сумма к переводу:</div>
                <div class="barterInventoryWindow-table-money-config">
                    <div id="barterInventoryWindow-table-my-money-dec-{{ barter.id }}"
                         class="barterInventoryWindow-table-money-block-change-button barterInventoryWindow-button">-</div>
                    <div class="barterInventoryWindow-table-money-block-count-edit barterInventoryWindow-table-money-block-count-edit-my">
                        <input id="barterInventoryWindow-table-my-money-edit-{{ barter.id }}" type="text" value="0">
                    </div>
                    <div id="barterInventoryWindow-table-my-money-inc-{{ barter.id }}"
                         class="barterInventoryWindow-table-money-block-change-button barterInventoryWindow-button">+</div>
                    <div class="barterInventoryWindow-lock-div"></div>
                </div>
            </div>
            <div class="barterInventoryWindow-table-money-block">
                <div class="barterInventoryWindow-table-money-block-header">Сумма партнера:</div>
                <div class="barterInventoryWindow-table-money-config">
                    <div class="barterInventoryWindow-table-money-block-count-edit barterInventoryWindow-table-money-block-count-edit-other">
                        <input id="barterInventoryWindow-table-other-money-edit-{{ barter.id }}" type="text" value="0" disabled="True">
                    </div>
                    <div class="barterInventoryWindow-lock-div"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Запрашиваем инвентарь
    inventoryList.showInventory({{ car_id }}, $('#barterInventoryWindow-id-car-{{ barter.id }}')
            .find('.inventory-{{ car_id }}').first());
    inventoryList.showInventory({{ my_table_id }}, $('#barterInventoryWindow-id-my-table-{{ barter.id }}'));
    inventoryList.showInventory({{ other_table_id }}, $('#barterInventoryWindow-id-another-table-{{ barter.id }}'));

    // "Подтвердить сделку"
    $('#barterInventoryWindow-apply-button-{{ barter.id }}').click(function(event) {
        clientManager.sendLockBarter({{ barter.id }});
    });

    // "Отмена"
    $('#barterInventoryWindow-cancel-button-{{ barter.id }}').click(function(event) {
        clientManager.sendUnlockBarter({{ barter.id }});
    });

    // Закрытие окна
    $('#barterInventoryWindow-{{ barter.id }}').find('.windowDragCloseHeader-close').first().click(function(event) {
        clientManager.sendCancelBarter({{ barter.id }});
    });

    $('#barterInventoryWindow-table-my-money-edit-{{ barter.id }}').change(function(event) {
        var new_value = parseInt($(this).val());
        if (!new_value)
            new_value = 0;
        clientManager.sendTableMoney({{ barter.id }}, new_value);
    })

    // Кнопки "+" и "-"
    $('#barterInventoryWindow-table-my-money-dec-{{ barter.id }}').click(function(event) {
        var new_value = parseInt($('#barterInventoryWindow-table-my-money-edit-{{ barter.id }}').val());
        clientManager.sendTableMoney({{ barter.id }}, new_value - 1);
    });

    $('#barterInventoryWindow-table-my-money-inc-{{ barter.id }}').click(function(event) {
        var new_value = parseInt($('#barterInventoryWindow-table-my-money-edit-{{ barter.id }}').val());
        clientManager.sendTableMoney({{ barter.id }}, new_value + 1);
    });
</script>
