<div id="barterInventoryWindow-inside-{{ barter.id }}" class="barterInventoryWindow-window-wrap">
    {% if not in_location %}
    <div class="barter-window-wrap-left">
        <div class="mainCarInfoWindow-body-trunk-body-left-picture">
            <div class="mainCarInfoWindow-body-trunk-body-left-picture-picture"></div>
        </div>
        <div class="mainCarInfoWindow-body-trunk-body-left-name"></div>
        <div class="mainCarInfoWindow-body-trunk-body-left-description"></div>
    </div>
    {% end %}
    <div class="barter-window-wrap-right" {% if in_location %} style="width: 100%" {% end %}>
        <div class="barter-window-inventory-block my">
            <div id="barterInventoryWindow-id-car-{{ barter.id }}" class="barterInventoryWindow-inventory-wrap">
                <div class="barterInventoryWindow-inventory-header">{{ _("ib_you_inv") }}</div>
                <div class="barterInventoryWindow-inventory-body inventory-{{ inv_id }}"></div>
                <div class="barterInventoryWindow-lock-div"></div>
            </div>
            <div class="barterInventoryWindow-my-money-wrap">{{ _("ib_you_balance") }}: <span class="barterInventoryWindow-my-money self-balance-view">{{ agent.balance }}</span>NC</div>
            <div id="barterInventoryWindow-apply-button-{{ barter.id }}" class="barterInventoryWindow-button apply">{{ _("ib_Ok") }}</div>
            <div id="barterInventoryWindow-cancel-button-{{ barter.id }}" class="barterInventoryWindow-button cancel">{{ _("ib_Cancel") }}</div>
        </div>
        <div class="barter-window-inventory-block table">
            <div class="barterInventoryWindow-inventory-wrap">
                <div class="barterInventoryWindow-inventory-header">{{ _("ib_table") }}:</div>
                <div class="barter-window-table-inventory-wrap border">
                    <div id="barterInventoryWindow-id-my-table-{{ barter.id }}" class="barterInventoryWindow-inventory-body table inventory-{{ my_table_id }}"></div>
                </div>
                <div class="barter-window-table-inventory-wrap">
                    <div id="barterInventoryWindow-id-another-table-{{ barter.id }}" class="barterInventoryWindow-inventory-body table inventory-{{ other_table_id }}"></div>
                </div>
                <div class="barterInventoryWindow-lock-div"></div>
            </div>
            <div class="barterInventoryWindow-table-money-block border">
                <div class="barterInventoryWindow-table-money-block-header left">{{ _("ib_summ") }}</div>
                <div class="barterInventoryWindow-table-money-config">
                    <div id="barterInventoryWindow-table-my-money-dec-{{ barter.id }}"
                         class="barterInventoryWindow-table-money-block-change-button barterInventoryWindow-button">-</div>
                    <div class="barterInventoryWindow-table-money-block-count-edit barterInventoryWindow-table-money-block-count-edit-my">
                        <input id="barterInventoryWindow-table-my-money-edit-{{ barter.id }}" type="text" value="0">
                    </div>
                    <div id="barterInventoryWindow-table-my-money-inc-{{ barter.id }}"
                         class="barterInventoryWindow-table-money-block-change-button barterInventoryWindow-button">+</div>
                    <div class="barterInventoryWindow-lock-div"></div>
                </div>
            </div>
            <div class="barterInventoryWindow-table-money-block">
                <div class="barterInventoryWindow-table-money-block-header right">{{ _("ib_summ_2") }}</div>
                <div class="barterInventoryWindow-table-money-config">
                    <div class="barterInventoryWindow-table-money-block-count-edit barterInventoryWindow-table-money-block-count-edit-other">
                        <input id="barterInventoryWindow-table-other-money-edit-{{ barter.id }}" type="text" value="0" disabled="True">
                    </div>
                    <div class="barterInventoryWindow-lock-div"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // Запрашиваем инвентарь
    inventoryList.showInventory("{{ inv_id }}", $('#barterInventoryWindow-id-car-{{ barter.id }}')
            .find('.inventory-{{ inv_id }}').first());
    inventoryList.showInventory("{{ my_table_id }}", $('#barterInventoryWindow-id-my-table-{{ barter.id }}'));
    inventoryList.showInventory("{{ other_table_id }}", $('#barterInventoryWindow-id-another-table-{{ barter.id }}'));

    // "Подтвердить сделку"
    $('#barterInventoryWindow-apply-button-{{ barter.id }}').click(function(event) {
        clientManager.sendLockBarter({{ barter.id }});
    });

    // "Отмена"
    $('#barterInventoryWindow-cancel-button-{{ barter.id }}').click(function(event) {
        clientManager.sendUnlockBarter({{ barter.id }});
    });

    // Закрытие окна
    $('#barterInventoryWindow-{{ barter.id }}').find('.windowDragCloseHeader-close').first().click(function(event) {
        clientManager.sendCancelBarter({{ barter.id }});
    });

    $('#barterInventoryWindow-table-my-money-edit-{{ barter.id }}').change(function(event) {
        var new_value = parseInt($(this).val());
        if (!new_value)
            new_value = 0;
        clientManager.sendTableMoney({{ barter.id }}, new_value);
    });

    // Кнопки "+" и "-"
    $('#barterInventoryWindow-table-my-money-dec-{{ barter.id }}').click(function(event) {
        var new_value = parseInt($('#barterInventoryWindow-table-my-money-edit-{{ barter.id }}').val());
        clientManager.sendTableMoney({{ barter.id }}, new_value - 1);
    });

    $('#barterInventoryWindow-table-my-money-inc-{{ barter.id }}').click(function(event) {
        var new_value = parseInt($('#barterInventoryWindow-table-my-money-edit-{{ barter.id }}').val());
        clientManager.sendTableMoney({{ barter.id }}, new_value + 1);
    });
</script>
