{% set window_caption = 'NUKE:\Инвентарь>' %}

<div class="mainInventoryWindow-main">
    {% include drag_close_header.html %}
    <div id="mainCarInfoWindow-body-trunk_id" class="mainCarInfoWindow-body-trunk">
        <div class="mainCarInfoWindow-body-trunk-filter">
            <div class="mainCarInfoWindow-body-trunk-filter-all activateFilter" data-filter="">
                <span class="inventoryFilterChecker">[x]</span> Всё</div>
            <div class="mainCarInfoWindow-body-trunk-filter-all" data-filter="cargo">
                <span class="inventoryFilterChecker">[ ]</span> Груз</div>
            <div class="mainCarInfoWindow-body-trunk-filter-all" data-filter="ammo">
                <span class="inventoryFilterChecker">[ ]</span> Боеприпасы</div>
        </div>
        <div class="mainCarInfoWindow-body-trunk-body">
            <div class="mainCarInfoWindow-body-trunk-body-left">
                <div class="mainCarInfoWindow-body-trunk-body-left-picture">
                    <div class="mainCarInfoWindow-body-trunk-body-left-picture-picture"></div>
                </div>
                <div class="mainCarInfoWindow-body-trunk-body-left-name"></div>
                <div class="mainCarInfoWindow-body-trunk-body-left-description"></div>
                <div class="mainCarInfoWindow-body-trunk-body-left-activate">Активировать!</div>
            </div>
            <div class="mainCarInfoWindow-body-trunk-body-right inventory-{{ car_id }}">
            </div>
        </div>
    </div>
</div>

<script>
    $('#mainCarInfoWindow-body-trunk_id').find('.mainCarInfoWindow-body-trunk-filter-all').click(function(event){
        var inv_id_this_window = $('#mainCarInfoWindow-body-trunk_id');
        // отключить во всех фильтрах "выбранный"
        inv_id_this_window.find('.inventoryFilterChecker').text('[ ]');
        inv_id_this_window.find('.mainCarInfoWindow-body-trunk-filter-all').removeClass('activateFilter');
        // у себя включить, что фильтр выбран
        $(this).find('.inventoryFilterChecker').text('[x]');
        $(this).addClass('activateFilter');
        // вызов фильтрации
        inventoryList.showInvByFilter({{ car_id }}, $('#mainCarInfoWindow-body-trunk_id'), $(this).data('filter'));
    });

    // Обработка нажатия на крестик (закрытие окна)
    $('.mainInventoryWindow-main').find('.windowDragCloseHeader-close').on('click', function (event) {
        // Тут именно так, потому как мы отписываемся от инвентаря на сервере
        if (user.userCar)
            clientManager.sendHideInventory(user.userCar.ID);
    });

    // Запрашиваем инвентарь
    inventoryList.showInventory({{ car_id }}, $('#mainCarInfoWindow-body-trunk_id').find('.inventory-{{ car_id }}').first())
</script>