{% set window_caption = 'NUKE:\Транспорт>' %}

<style>
    .mainCarInfoWindow-main {
        position: relative;
        width: 660px;
        height: 424px;
        background-color: rgba(0, 0, 0, 0.75);
        color: #ffffff;
        font: 12pt fsex300;
    }

    .mainCarInfoWindow-menu {
        position: relative;
        width: 100%;
        height: 30px;
    }

    .mainCarInfoWindow-menu-button {
        position: relative;
        float: left;
        margin-top: 7px;
        margin-left: 30px;
        text-align: center;
        color: lime;
        cursor: pointer;
    }

    .mainCarInfoWindow-menu-button:hover {
        background-image: linear-gradient(135deg, black 50%, darkgreen 0%);
        background-size: 2px 2px;
    }

    .mainCarInfoWindow-body {
        position: relative;
        float: left;
        width: 652px;
        height: 362px;
        overflow-y: auto;
        border: solid 1px #00f150;
        margin: 0px 3px 3px 3px;
    }

    .mainCarInfoWindow-body-left {
        position: relative;
        float: left;
        width: 348px;
        height: 100%;
        text-align: center;
        overflow-y: auto;
    }

    .mainCarInfoWindow-body-left-picture {
        height: 250px;
        border: solid 3px #00f150;
        margin: 20px;
        line-height: 250px;
        color: #30fc00;
    }

    .mainCarInfoWindow-body-left-name {
        height: 50px;
        line-height: 50px;
        margin-left: 40px;
        margin-right: 40px;
        border-top: dashed 2px darkgreen;
        color: lime;
    }

    .mainCarInfoWindow-body-right {
        position: relative;
        width: 304px;
        height: 100%;
        overflow-y: auto;
    }

    .mainCarInfoWindow-body-right-menu {
        width: 297px;
        height: 40px;
    }

    .mainCarInfoWindow-body-right-menu-button-model {
        position: relative;
        float: left;
        margin-top: 12px;
        margin-left: 5px;
        text-align: center;
        color: lime;
        cursor: pointer;
    }

    .mainCarInfoWindow-body-right-menu-button-model:hover {
        background-image: linear-gradient(135deg, black 50%, darkgreen 0%);
        background-size: 2px 2px;
    }

    .mainCarInfoWindow-body-right-menu-button-tth {
        position: relative;
        float: left;
        margin-top: 12px;
        margin-left: 5px;
        text-align: center;
        color: lime;
        cursor: pointer;
    }

    .mainCarInfoWindow-body-right-menu-button-tth:hover {
        background-image: linear-gradient(135deg, black 50%, darkgreen 0%);
        background-size: 2px 2px;
    }

    .mainCarInfoWindow-body-right-menu-button-weapons {
        position: relative;
        float: left;
        margin-top: 12px;
        margin-left: 5px;
        text-align: center;
        color: lime;
        cursor: pointer;
    }

    .mainCarInfoWindow-body-right-menu-button-weapons:hover {
        background-image: linear-gradient(135deg, black 50%, darkgreen 0%);
        background-size: 2px 2px;
    }

    .mainCarInfoWindow-body-right-menu-button-history {
        position: relative;
        float: left;
        margin-top: 12px;
        margin-left: 5px;
        text-align: center;
        color: lime;
        cursor: pointer;
    }

    .mainCarInfoWindow-body-right-menu-button-history:hover {
        background-image: linear-gradient(135deg, black 50%, darkgreen 0%);
        background-size: 2px 2px;
    }

    .mainCarInfoWindow-body-right-list-model {
        position: absolute;
        width: 297px;
        height: 314px;
        border: solid 1px #00f150;
        padding-top: 25px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .mainCarInfoWindow-body-right-list-model-model {
        background-image: linear-gradient(135deg, black 50%, darkgreen 0%);
        background-size: 2px 2px;
        color: lime;
        margin-bottom: 2px;
    }

    .mainCarInfoWindow-body-right-list-model-class {
        background-image: linear-gradient(135deg, black 50%, #004000 0%);
        background-size: 2px 2px;
        color: lime;
        margin-bottom: 2px;
    }

    .mainCarInfoWindow-body-right-list-model-bodyvol {
        background-image: linear-gradient(135deg, black 50%, darkgreen 0%);
        background-size: 2px 2px;
        color: lime;
        margin-bottom: 2px;
    }

    .mainCarInfoWindow-body-right-list-model-trunkvol {
        background-image: linear-gradient(135deg, black 50%, #004000 0%);
        background-size: 2px 2px;
        color: lime;
        margin-bottom: 2px;
    }

    .mainCarInfoWindow-body-right-list-model-bonuses {
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: dashed 2px darkgreen;
        color: lime;
    }

    .mainCarInfoWindow-body-right-list-model-road {
        background-image: linear-gradient(135deg, black 50%, darkgreen 0%);
        background-size: 2px 2px;
        color: lime;
        margin-bottom: 2px;
    }

    .mainCarInfoWindow-body-right-list-tth {
        position: absolute;
        width: 297px;
        height: 314px;
        border: solid 1px #00f150;
        padding-top: 10px;
        padding-left: 20px;
        box-sizing: border-box;
        visibility: hidden;
    }

    .mainCarInfoWindow-body-right-list-weapons {
        position: absolute;
        width: 297px;
        height: 314px;
        border: solid 1px #00f150;
        padding-top: 10px;
        padding-left: 20px;
        box-sizing: border-box;
        visibility: hidden;
    }

    .mainCarInfoWindow-body-right-list-history {
        position: absolute;
        width: 297px;
        height: 314px;
        border: solid 1px #00f150;
        padding-top: 10px;
        padding-left: 20px;
        box-sizing: border-box;
        visibility: hidden;
    }
</style>

<div class="mainCarInfoWindow-main">
    {% include drag_close_header.html %}
    <div class="mainCarInfoWindow-menu">
        <div class="mainCarInfoWindow-menu-button">&nbspХарактеристики&nbsp</div>
        <div class="mainCarInfoWindow-menu-button">&nbspБагажник&nbsp</div>
        <div class="mainCarInfoWindow-menu-button">&nbspТюнинг&nbsp</div>
    </div>

    <div class="mainCarInfoWindow-body">
        <div class="mainCarInfoWindow-body-left">
            <div class="mainCarInfoWindow-body-left-picture">Картинка</div>
            <div class="mainCarInfoWindow-body-left-name">Nastoyatel's ride</div>
        </div>
        <div class="mainCarInfoWindow-body-right">
            <div class="mainCarInfoWindow-body-right-menu">
                <div class="mainCarInfoWindow-body-right-menu-button-model">&nbspМодель&nbsp</div>
                <div class="mainCarInfoWindow-body-right-menu-button-tth">&nbspТТХ&nbsp</div>
                <div class="mainCarInfoWindow-body-right-menu-button-weapons">&nbspВооружение&nbsp</div>
                <div class="mainCarInfoWindow-body-right-menu-button-history">&nbspИстория&nbsp</div>
            </div>
            <div class="mainCarInfoWindow-body-right-list-model">
                <div class="mainCarInfoWindow-body-right-list-model-model">&nbspМодель: Газель</div>
                <div class="mainCarInfoWindow-body-right-list-model-class">&nbspКласс: Средний</div>
                <div class="mainCarInfoWindow-body-right-list-model-bodyvol">&nbspСлотов кузова: 4</div>
                <div class="mainCarInfoWindow-body-right-list-model-trunkvol">&nbspСлотов багажника: 8</div>
                <div class="mainCarInfoWindow-body-right-list-model-bonuses">Бонусы местности:</div>
                <div class="mainCarInfoWindow-body-right-list-model-road">&nbspДорога: Максимальная скорость</div>
                <div class="mainCarInfoWindow-body-right-list-model-bonuses">Пенальти местности:</div>
                <div class="mainCarInfoWindow-body-right-list-model-model">&nbspЛес: Максимальная скорость</div>
                <div class="mainCarInfoWindow-body-right-list-model-class">&nbspХолмы: -</div>
                <div class="mainCarInfoWindow-body-right-list-model-bodyvol">&nbspВода: Невозможно</div>
                <div class="mainCarInfoWindow-body-right-list-model-trunkvol">&nbspГоры: Невозможно</div>
            </div>
            <div class="mainCarInfoWindow-body-right-list-tth">
                ТТХ
            </div>
            <div class="mainCarInfoWindow-body-right-list-weapons">
                Вооружение
            </div>
            <div class="mainCarInfoWindow-body-right-list-history">
                История
            </div>
        </div>
    </div>
</div>
