{% set window_caption = 'Car Info' %}

<style>
    .mainCarInfoWindow-main {
        position: relative;
        height: 250px;
        width: 550px;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .mainCarInfoWindow-menu {
        position: relative;
        width: 100%;
    }

    .mainCarInfoWindow-menu-button {
        position: relative;
        float: left;
        margin-left: 3px;
        width: 32%;
        color: #ffffff;
        border: solid 1px #ffffff;
        text-align: center;
    }

    .mainCarInfoWindow-body {
        position: relative;
        float: left;
        width: 100%;
        height: 100%;
        color: #ffffff;
    }

    .mainCarInfoWindow-body-left {
        position: relative;
        float: left;
        width: 49%;
        height: 100%;
        border: solid 1px #ffffff;
        margin: 1px;
        text-align: center;
    }

    .mainCarInfoWindow-body-left-photo {
        height: 80%;
        border: solid 3px #ffffff;
        margin: 7px;
    }

    .mainCarInfoWindow-body-right {
        position: relative;
        float: right;
        width: 49%;
        height: 100%;
        border: solid 1px #ffffff;
        margin: 1px;
        text-align: center;
    }

    .mainCarInfoWindow-footer {
        position: relative;
        float: left;
        width: 100%;
        margin-top: 5px;
        border: solid 1px #ffffff;
    }
</style>

<div class="mainCarInfoWindow-main">
    {% include drag_close_header.html %}
    <div class="mainCarInfoWindow-menu">
        <div class="mainCarInfoWindow-menu-button">Характеристики</div>
        <div class="mainCarInfoWindow-menu-button">Багажник</div>
        <div class="mainCarInfoWindow-menu-button">Тюнинг</div>
    </div>

    <div class="mainCarInfoWindow-body">
        <div class="mainCarInfoWindow-body-left">
            <div class="mainCarInfoWindow-body-left-name">Название машины (вводит игрок)</div>
            <div class="mainCarInfoWindow-body-left-photo">Фото</div>
        </div>
        <div class="mainCarInfoWindow-body-right">
            Модель | ТТХ | Вооружение | История
        </div>
    </div>

    <div class="mainCarInfoWindow-footer" style="color: #ffffff">
        {{ data['login'] }} ====> oiaurhasodf = {{ data['car_id'] }}
    </div>
</div>
