{% set window_caption = 'NUKE:\Нукойл>' %}

<style>
    .mainMenuNucoilWindow-main {
        position: relative;
        width: 660px;
        height: 422px;
        background-color: rgba(0, 0, 0, 0.75);
        color: #ffffff;
        font: 12pt FreePixel;
        cursor: default;
    }

    .mainMenuNucoilWindow-menu {
        position: relative;
        width: 100%;
        height: 30px;
    }

    .mainMenuNucoilWindow-menu-button {
        position: relative;
        float: left;
        margin-top: 7px;
        margin-left: 30px;
        text-align: center;
        color: #135806;
        cursor: pointer;
        font: 12pt Nouveau_IBM;
    }

    .mainMenuNucoilWindow-menu-button:hover {
        background-color: #061108;
        background-image: linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806),
        linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
    }

    .mainMenuNucoilWindow-menu-button.btnpressed {
        background-color: #061108;
        background-image: linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806),
        linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
    }

    /*
        .mainCarInfoWindow-menu-button:hover:before {
            position: absolute;
            margin-left: -7px;
            color: #30fc00;
            content: "►";
        }

        .mainCarInfoWindow-menu-button:hover:after {
            position: absolute;
            color: #30fc00;
            content: "◄";
        }
    */

    .mainMenuNucoilWindow-body-fuel {
        position: relative;
        float: left;
        width: 652px;
        height: 361px;
        overflow-y: hidden;
        border: solid 1px #00f150;
        margin: 0px 3px 3px 3px;
    }

    .mainMenuNucoilWindow-body-fuel-left {
        border-right: solid 1px #00f150;
        width: 166px;
        height: 340px;
        margin-top: 10px;
        float: left;
    }

    .mainMenuNucoilWindow-body-fuel-left-picture {
        border: solid 1px #00f150;
        margin: 10px;
        height: 120px;
        line-height: 120px;
        color: #0f4206;
        text-align: center;
    }

    .mainMenuNucoilWindow-body-fuel-left-name {
        color: #30fc00;
        text-align: center;
        margin: 10px;
        font: 12pt Nouveau_IBM;
    }

    .mainMenuNucoilWindow-body-fuel-left-description {
        color: #1e9604;
        text-align: center;
    }

    .mainMenuNucoilWindow-body-fuel-left-amount {
        color: #1e9604;
        text-align: center;
        margin: 10px;
    }

    .mainMenuNucoilWindow-body-fuel-left-activate {
        color: #30fc00;
        text-align: center;
        border: solid 1px #125306;
        background-color: #0d3707;
        margin: 10px;
        cursor: pointer;
        font: 12pt Nouveau_IBM;
    }

    .mainMenuNucoilWindow-body-fuel-center {
        border-right: solid 1px #00f150;
        width: 283px;
        height: 235px;
        margin-top: 10px;
        float: left;
    }

    .mainMenuNucoilWindow-body-fuel-center-balance {
        border-bottom: solid 1px #00f150;
        margin: 0px 10px 0px 20px;
    }

    .mainMenuNucoilWindow-body-fuel-center-balance-label {
        color: #30fc00;
        margin: 5px;
        font: 12pt Nouveau_IBM;
    }

    .mainMenuNucoilWindow-body-fuel-center-balance-amount {
        color: #30fc00;
        margin: 5px 0px 5px 75px;
        width: 100px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 12pt;
        border: solid 1px #00f150;
    }

    .mainMenuNucoilWindow-body-fuel-center-tank {
        margin: 0px 10px 0px 20px;
    }

    .mainMenuNucoilWindow-body-fuel-center-tank-label {
        color: #1b8704;
        margin: 5px;
        font: 12pt Nouveau_IBM;
    }

    .mainMenuNucoilWindow-body-fuel-center-tank-progressbar-background {
        margin: 5px 241px 5px 5px;
        height: 26px;
        width: 180px; /* тут менять прогресс от 0px(0%) до 240px(100%)... сейчас стоит 180рх(75%)... */
        background-image: url("/static/img/progressbar_division.png");
        background-repeat: repeat-x;
        float: left;
    }

    .mainMenuNucoilWindow-body-fuel-center-tank-progressbar {
        position: absolute;
        color: #30fc00;
        margin: 4px 0px 5px 4px;
        height: 26px;
        width: 241px;
        line-height: 26px;
        text-align: center;
        font-size: 12pt;
        border: solid 1px #00f150;
    }

    .mainMenuNucoilWindow-body-fuel-center-tank-empty {
        color: #30fc00;
        text-align: center;
        float: left;
        margin-left: 1px;
    }

    .mainMenuNucoilWindow-body-fuel-center-tank-half {
        color: #30fc00;
        text-align: center;
        float: left;
        margin-left: 104px;
    }

    .mainMenuNucoilWindow-body-fuel-center-tank-full {
        color: #30fc00;
        text-align: center;
        margin-left: 237px;
    }

    .mainMenuNucoilWindow-body-fuel-center-count {
        margin: 0px 10px 0px 20px;
        height: 54px;
    }

    .mainMenuNucoilWindow-body-fuel-center-count-label {
        color: #1b8704;
        margin: 5px 0px 0px 5px;
        font: 12pt Nouveau_IBM;
    }

    .mainMenuNucoilWindow-body-fuel-center-count-amount {
        color: #30fc00;
        margin: 5px 0px 5px 5px;
        width: 50px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 12pt;
        border: solid 1px #00f150;
        float: left;
        cursor: text;
    }

    .mainMenuNucoilWindow-body-fuel-center-count-amount-change {
        margin: 0px 0px 0px 5px;
        color: #30fc00;
        float: left;
    }

    .mainMenuNucoilWindow-body-fuel-center-count-amount-change-up {
        cursor: pointer;
    }

    .mainMenuNucoilWindow-body-fuel-center-count-amount-change-down {
        cursor: pointer;
    }

    .mainMenuNucoilWindow-body-fuel-center-count-text {
        margin: 10px 0px 0px 15px;
        color: #1e9604;
        float: left;
    }

    .mainMenuNucoilWindow-body-fuel-center-count-button {
        color: #30fc00;
        text-align: center;
        border: solid 1px #125306;
        background-color: #0d3707;
        margin: 10px 0px 0px 20px;
        cursor: pointer;
        font: 12pt Nouveau_IBM;
        float: left;
        width: 120px;
    }

    .mainMenuNucoilWindow-body-fuel-center-down {
        margin: 0px 10px 0px 20px;
    }

    .mainMenuNucoilWindow-body-fuel-center-down-cans-label {
        color: #1b8704;
        margin: 5px 0px 0px 5px;
        font: 12pt Nouveau_IBM;
        float: left;
    }

    .mainMenuNucoilWindow-body-fuel-center-down-cans-amount {
        color: #30fc00;
        margin: 5px 0px 0px 15px;
        font: 12pt Nouveau_IBM;
        float: left;
    }

    .mainMenuNucoilWindow-body-fuel-center-down-all-label {
        color: #1b8704;
        margin: 5px 0px 0px 35px;
        font: 12pt Nouveau_IBM;
        float: left;
    }

    .mainMenuNucoilWindow-body-fuel-center-down-all-check {
        color: #30fc00;
        margin: 5px 0px 0px 15px;
        font: 12pt Nouveau_IBM;
        float: left;
        cursor: pointer;
    }

    .mainMenuNucoilWindow-body-fuel-right {
        width: 180px;
        height: 235px;
        margin-top: 10px;
        float: left;
        overflow-y: scroll;
    }

    .mainMenuNucoilWindow-body-fuel-right-item {
        width: 80px;
        height: 95px;
        float: left;
        margin-left: 5px;
        margin-top: 5px;
        cursor: pointer;
    }

    .mainMenuNucoilWindow-body-fuel-right-item-name-empty {
        font: 12pt Nouveau_IBM;
        color: #30fc00;
    }

    .mainMenuNucoilWindow-body-fuel-right-item-picture-empty {
        border: solid 1px #00f150;
        margin: 3px;
        width: 70px;
        height: 70px;
        line-height: 70px;
        color: #0f4206;
        font-size: 10pt;
        text-align: center;
        float: left;
    }

    .mainMenuNucoilWindow-body-fuel-right-line {
        border-top: 2px dotted #0a2e03;
        height: 3px;
        float: left;
        width: 160px;
        margin-left: 5px;
    }

    .mainMenuNucoilWindow-body-fuel-down {
        border-top: solid 1px #00f150;
        width: 443px;
        height: 37px;
        margin: 10px 20px 0px 20px;
        float: left;
    }

    .mainMenuNucoilWindow-body-fuel-down-label {
        margin: 10px 0px 0px 5px;
        color: #1e9604;
        float: left;
    }

    .mainMenuNucoilWindow-body-fuel-down-amount {
        margin: 10px 0px 0px 150px;
        color: #30fc00;
        float: left;
    }

    .mainMenuNucoilWindow-body-fuel-down-button {
        color: #30fc00;
        text-align: center;
        border: solid 1px #125306;
        background-color: #0d3707;
        margin: 10px 0px 0px 30px;
        cursor: pointer;
        font: 12pt Nouveau_IBM;
        float: left;
        width: 168px;
    }

    .mainMenuNucoilWindow-body-fuel-subscription {
        border: solid 1px #00f150;
        width: 443px;
        height: 57px;
        margin: 0px 20px 0px 20px;
        float: left;
    }

    .mainMenuNucoilWindow-body-fuel-subscription-left-picture {
        border: solid 1px #00f150;
        margin: 3px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: #0f4206;
        font-size: 8pt;
        text-align: center;
        float: left;
    }

    .mainMenuNucoilWindow-body-fuel-subscription-text {
        width: 327px;
        margin-top: 5px;
        font-size: 10pt;
        text-align: center;
        float: left;
        color: #30fc00;
    }

    .mainMenuNucoilWindow-body-fuel-subscription-right-picture {
        border: solid 1px #00f150;
        margin: 3px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: #0f4206;
        font-size: 8pt;
        text-align: center;
        float: left;
    }

    .mainMenuNucoilWindow-body-insurance {
        position: relative;
        float: left;
        width: 652px;
        height: 361px;
        overflow-y: hidden;
        border: solid 1px #00f150;
        margin: 0px 3px 3px 3px;
    }

    .mainMenuNucoilWindow-body-insurance-left {
        border-right: solid 1px #00f150;
        width: 166px;
        height: 340px;
        margin-top: 10px;
        float: left;
    }

    .mainMenuNucoilWindow-body-insurance-left-name {
        color: #30fc00;
        text-align: center;
        margin: 10px;
        font: 12pt Nouveau_IBM;
    }

    .mainMenuNucoilWindow-body-insurance-left-description {
        color: #30fc00;
        font-size: 10pt;
        overflow-y: scroll;
        height: 265px;
        margin: 0px 5px 0px 5px;
    }

    .mainMenuNucoilWindow-body-insurance-left-activate {
        color: #30fc00;
        text-align: center;
        border: solid 1px #125306;
        background-color: #0d3707;
        margin: 10px;
        cursor: pointer;
        font: 12pt Nouveau_IBM;
    }

    .mainMenuNucoilWindow-body-insurance-up {
        width: 463px;
        height: 69px;
        margin: 10px 10px 0px 10px;
        float: left;
        color: #30fc00;
        font-family: Nouveau_IBM;
        border-bottom: solid 1px #00f150;
    }

    .mainMenuNucoilWindow-body-insurance-center {
        width: 443px;
        height: 203px;
        margin: 10px 20px 0px 20px;
        float: left;
    }

    .mainMenuNucoilWindow-body-insurance-center-title {
        width: 443px;
        float: left;
        color: #30fc00;
        font-family: Nouveau_IBM;
    }

    .mainMenuNucoilWindow-body-insurance-center-standard {
        width: 132px;
        height: 157px;
        margin: 10px 0px 0px 1px;
        float: left;
        color: #30fc00;
        font-family: Nouveau_IBM;
        border: 1px solid #1c8804;
        text-align: center;
        font-size: 10pt;
        cursor: pointer;
    }

    .mainMenuNucoilWindow-body-insurance-center-standard:hover {
        border: 1px solid #00f150;
    }

    .mainMenuNucoilWindow-body-insurance-center-standard-title {
        margin-top: 5px;
        color: #1c8804;
    }

    .mainMenuNucoilWindow-body-insurance-center-standard-picture {
        border: 1px solid #00f150;
        width: 75px;
        height: 65px;
        line-height: 65px;
        font-family: FreePixel;
        margin-left: 27px;
        color: #0f4206;
        margin-top: 3px;
    }

    .mainMenuNucoilWindow-body-insurance-center-standard-evacuation {
        color: #1c8804;
        text-align: left;
        margin-left: 7px;
        margin-top: 3px;
    }

    .mainMenuNucoilWindow-body-insurance-center-standard-point {
        color: #1c8804;
        text-align: left;
        margin-left: 7px;
        margin-top: 3px;
    }

    .mainMenuNucoilWindow-body-insurance-center-standard-payment {
        color: #1c8804;
        text-align: left;
        margin-left: 7px;
        margin-top: 3px;
    }

    .mainMenuNucoilWindow-body-insurance-center-standard-cost {
        margin-top: 3px;
    }

    .mainMenuNucoilWindow-body-insurance-center-premium {
        width: 132px;
        height: 157px;
        margin: 10px 0px 0px 20px;
        float: left;
        color: #30fc00;
        font-family: Nouveau_IBM;
        border: 1px solid #00f150;
        text-align: center;
        font-size: 10pt;
        cursor: pointer;
    }

    .mainMenuNucoilWindow-body-insurance-center-premium:hover {
        border: 1px solid #00f150;
    }

    .mainMenuNucoilWindow-body-insurance-center-premium-title {
        margin-top: 5px;
    }

    .mainMenuNucoilWindow-body-insurance-center-vip {
        width: 132px;
        height: 157px;
        margin: 10px 0px 0px 20px;
        float: left;
        color: #30fc00;
        font-family: Nouveau_IBM;
        border: 1px solid #1c8804;
        text-align: center;
        font-size: 10pt;
        cursor: pointer;
    }

    .mainMenuNucoilWindow-body-insurance-center-vip:hover {
        border: 1px solid #00f150;
    }

    .mainMenuNucoilWindow-body-insurance-center-vip-title {
        margin-top: 5px;
        color: #1c8804;
    }

    .mainMenuNucoilWindow-body-insurance-subscription {
        border: solid 1px #00f150;
        width: 443px;
        height: 57px;
        margin: 0px 20px 0px 20px;
        float: left;
    }

    .mainMenuNucoilWindow-body-insurance-subscription-left-picture {
        border: solid 1px #00f150;
        margin: 3px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: #0f4206;
        font-size: 8pt;
        text-align: center;
        float: left;
    }

    .mainMenuNucoilWindow-body-insurance-subscription-text {
        width: 327px;
        margin-top: 5px;
        font-size: 10pt;
        text-align: center;
        float: left;
        color: #30fc00;
    }

    .mainMenuNucoilWindow-body-insurance-subscription-right-picture {
        border: solid 1px #00f150;
        margin: 3px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: #0f4206;
        font-size: 8pt;
        text-align: center;
        float: left;
    }
</style>

<div class="mainMenuNucoilWindow-main">
    {% include drag_close_header.html %}
    <div class="mainMenuNucoilWindow-menu">
        <div class="mainMenuNucoilWindow-menu-button" data-page_id="mainMenuNucoilWindow-body-fuel_id">
            &nbspТопливо&nbsp
        </div>
        <div class="mainMenuNucoilWindow-menu-button" data-page_id="mainMenuNucoilWindow-body-insurance_id">
            &nbspСтраховка&nbsp
        </div>
        <div class="mainMenuNucoilWindow-menu-button" data-page_id="">
            &nbspАпелляции&nbsp
        </div>
    </div>

    <div id="mainMenuNucoilWindow-body-fuel_id" class="mainMenuNucoilWindow-body-fuel mainMenuNucoilWindow-page-div">
        <div class="mainMenuNucoilWindow-body-fuel-left">
            <div class="mainMenuNucoilWindow-body-fuel-left-picture">Картинка</div>
            <div class="mainMenuNucoilWindow-body-fuel-left-name">Канистра</div>
            <div class="mainMenuNucoilWindow-body-fuel-left-description">
                Используется для переноски всяких горючих ништяков до локации поджигаемого. Лучший друг пироманьяка.
            </div>
            <div class="mainMenuNucoilWindow-body-fuel-left-amount">В инвентаре: 2 ед.</div>
            <div class="mainMenuNucoilWindow-body-fuel-left-activate">Активировать!</div>
        </div>
        <div class="mainMenuNucoilWindow-body-fuel-center">
            <div class="mainMenuNucoilWindow-body-fuel-center-balance">
                <div class="mainMenuNucoilWindow-body-fuel-center-balance-label">Топлива на вашем балансе:</div>
                <div class="mainMenuNucoilWindow-body-fuel-center-balance-amount">78 л.</div>
            </div>
            <div class="mainMenuNucoilWindow-body-fuel-center-tank">
                <div class="mainMenuNucoilWindow-body-fuel-center-tank-label">Топливо в баке:</div>
                <div class="mainMenuNucoilWindow-body-fuel-center-tank-progressbar-background"></div>
                <div class="mainMenuNucoilWindow-body-fuel-center-tank-progressbar">75%</div>
                <div class="mainMenuNucoilWindow-body-fuel-center-tank-empty">&#9650;<br/>E</div>
                <div class="mainMenuNucoilWindow-body-fuel-center-tank-half">&#9650;<br/>1/2</div>
                <div class="mainMenuNucoilWindow-body-fuel-center-tank-full">&#9650;<br/>F</div>
            </div>
            <div class="mainMenuNucoilWindow-body-fuel-center-count">
                <div class="mainMenuNucoilWindow-body-fuel-center-count-label">Объем:</div>
                <div class="mainMenuNucoilWindow-body-fuel-center-count-amount">20 л.</div>
                <div class="mainMenuNucoilWindow-body-fuel-center-count-amount-change">
                    <div class="mainMenuNucoilWindow-body-fuel-center-count-amount-change-up">&#9650;</div>
                    <div class="mainMenuNucoilWindow-body-fuel-center-count-amount-change-down">&#9660;</div>
                </div>
                <div class="mainMenuNucoilWindow-body-fuel-center-count-text">Или</div>
                <div class="mainMenuNucoilWindow-body-fuel-center-count-button">Полный бак</div>
            </div>
            <div class="mainMenuNucoilWindow-body-fuel-center-down">
                <div class="mainMenuNucoilWindow-body-fuel-center-down-cans-label">Канистры:</div>
                <div class="mainMenuNucoilWindow-body-fuel-center-down-cans-amount">25 л.</div>
                <div class="mainMenuNucoilWindow-body-fuel-center-down-all-label">Все:</div>
                <div class="mainMenuNucoilWindow-body-fuel-center-down-all-check">[&radic;]</div>
            </div>
        </div>
        <div class="mainMenuNucoilWindow-body-fuel-right">
            <div class="mainMenuNucoilWindow-body-fuel-right-item">
                <div class="mainMenuNucoilWindow-body-fuel-right-item-name-empty">[&radic;] 10 л.</div>
                <div class="mainMenuNucoilWindow-body-fuel-right-item-picture-empty">Картинка</div>
            </div>
            <div class="mainMenuNucoilWindow-body-fuel-right-item">
                <div class="mainMenuNucoilWindow-body-fuel-right-item-name-empty">[ ] 10 л.</div>
                <div class="mainMenuNucoilWindow-body-fuel-right-item-picture-empty">Картинка</div>
            </div>
            <div class="mainMenuNucoilWindow-body-fuel-right-line"></div>
            <div class="mainMenuNucoilWindow-body-fuel-right-item">
                <div class="mainMenuNucoilWindow-body-fuel-right-item-name-empty">[ ] 10 л.</div>
                <div class="mainMenuNucoilWindow-body-fuel-right-item-picture-empty">Картинка</div>
            </div>
            <div class="mainMenuNucoilWindow-body-fuel-right-item">
                <div class="mainMenuNucoilWindow-body-fuel-right-item-name-empty">[&radic;] 10 л.</div>
                <div class="mainMenuNucoilWindow-body-fuel-right-item-picture-empty">Картинка</div>
            </div>
            <div class="mainMenuNucoilWindow-body-fuel-right-line"></div>
            <div class="mainMenuNucoilWindow-body-fuel-right-item">
                <div class="mainMenuNucoilWindow-body-fuel-right-item-name-empty">[ ] 10 л.</div>
                <div class="mainMenuNucoilWindow-body-fuel-right-item-picture-empty">Картинка</div>
            </div>
            <div class="mainMenuNucoilWindow-body-fuel-right-item">
                <div class="mainMenuNucoilWindow-body-fuel-right-item-name-empty">[&radic;] 10 л.</div>
                <div class="mainMenuNucoilWindow-body-fuel-right-item-picture-empty">Картинка</div>
            </div>
        </div>
        <div class="mainMenuNucoilWindow-body-fuel-down">
            <div class="mainMenuNucoilWindow-body-fuel-down-label">Итого:</div>
            <div class="mainMenuNucoilWindow-body-fuel-down-amount">65 л.</div>
            <div class="mainMenuNucoilWindow-body-fuel-down-button">Залить</div>
        </div>
        <div class="mainMenuNucoilWindow-body-fuel-subscription">
            <div class="mainMenuNucoilWindow-body-fuel-subscription-left-picture">Картинка</div>
            <div class="mainMenuNucoilWindow-body-fuel-subscription-text">
                Не прет? Не уехал от боевого мопеда?<br/>
                Попробуй Гептил от Нукойл.<br/>
                <b>"Гептил Нукойл"</b>: Замена поршней в подарок!
            </div>
            <div class="mainMenuNucoilWindow-body-fuel-subscription-right-picture">Картинка</div>
        </div>
    </div>

    <div id="mainMenuNucoilWindow-body-insurance_id"
         class="mainMenuNucoilWindow-body-insurance mainMenuNucoilWindow-page-div">
        <div class="mainMenuNucoilWindow-body-insurance-left">
            <div class="mainMenuNucoilWindow-body-insurance-left-name">Тариф "Стандарт"</div>
            <div class="mainMenuNucoilWindow-body-insurance-left-description">
                Стандартная страховка является обязательной и входит в оборудование Nuke Commander как базовая опция.
                В случае уничтожения транспортного средства и отключения систем жизнеобеспечения водителя наша служба
                спасения бесплатно эвакуирует Вас в ближайший город в течение 15 минут. Так же мы возместим рыночную
                стоимость транспортного средства без учета установленного на нем оборудования.
            </div>
            <div class="mainMenuNucoilWindow-body-insurance-left-activate">Оформить</div>
        </div>
        <div class="mainMenuNucoilWindow-body-insurance-up">
            Уважаемый Vasya78, статус Вашей страховки (т.п. "Премиум") истекает через 26 дней.
            В этой форме Вы можете продлить договор или сменить тарифный план в любое время.
        </div>
        <div class="mainMenuNucoilWindow-body-insurance-center">
            <div class="mainMenuNucoilWindow-body-insurance-center-title">Выберите тариф:</div>
            <div class="mainMenuNucoilWindow-body-insurance-center-standard">
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-title">[ ] Стандарт</div>
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-picture">Картинка</div>
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-evacuation">Эвакуация: 1</div>
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-point">Выбор точки: х</div>
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-payment">Выплата: 1</div>
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-cost">15 000 кр\год</div>
            </div>
            <div class="mainMenuNucoilWindow-body-insurance-center-premium">
                <div class="mainMenuNucoilWindow-body-insurance-center-premium-title">[&radic;] Премиум</div>
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-picture">Картинка</div>
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-evacuation">Эвакуация: 2</div>
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-point">Выбор точки: х</div>
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-payment">Выплата: 2</div>
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-cost">25 000 кр\год</div>
            </div>
            <div class="mainMenuNucoilWindow-body-insurance-center-vip">
                <div class="mainMenuNucoilWindow-body-insurance-center-vip-title">[ ] V.I.P.</div>
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-picture">Картинка</div>
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-evacuation">Эвакуация: 3</div>
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-point">Выбор точки: &radic;</div>
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-payment">Выплата: 3</div>
                <div class="mainMenuNucoilWindow-body-insurance-center-standard-cost">55 000 кр\год</div>
            </div>
        </div>
        <div class="mainMenuNucoilWindow-body-insurance-subscription">
            <div class="mainMenuNucoilWindow-body-insurance-subscription-left-picture">Картинка</div>
            <div class="mainMenuNucoilWindow-body-insurance-subscription-text">
                Не ждите, пока Ваши потери спросят Вас:<br/>
                <strong><em>"Э, слышь! Страховка есть? А если поищу?"</em></strong><br/>
                Полис <strong>"Нукойл VIP"</strong>: Все сгорело? Ну и хрен с ним!
            </div>
            <div class="mainMenuNucoilWindow-body-insurance-subscription-right-picture">Картинка</div>
        </div>
    </div>
</div>

<script>
    $(".mainMenuNucoilWindow-menu-button").click(function (event) {
        // выключить у всех кнопок состояние активности // btnpressed - дурацкое название, но зато точно не занято
        $('.mainMenuNucoilWindow-menu-button').removeClass('btnpressed');
        // включить только заданной кнопке "активна"
        $(this).addClass('btnpressed');
        // выключить отображение всех дивов
        $('.mainMenuNucoilWindow-page-div').css('display', 'none'); // лучше тоже сделать через классы
        // включить отображение только нужного дива (дата-атрибут - html5 атрибут, очень удобный...!)
        // сейчас сделал на айдишниках, но можно сделать и на классах, так как у тебя классы тут разные
        $('#' + $(this).data('page_id')).css('display', 'block');
    });

    // нужно выполнить какую-то функцию клика, например на первую кнопку, чтобы при
    // открывании окна правильно отрабатывала подсветка
    $(".mainMenuNucoilWindow-menu-button").first().click();

    $('.mainMenuNucoilWindow-main').find('.windowDragCloseHeader-close').on('click', function (event) {
        console.log('111');
    });

    inventoryList.showInventory({{ car_id }}, $('#mainMenuNucoilWindow-body-fuel_id').find('.inventory-{{ car_id }}').first())
</script>
