{% set window_caption = 'NUKE:\Транспорт>' %}

<style>
    .mainCarInfoWindow-main {
        position: relative;
        width: 660px;
        height: 422px;
        background-color: rgba(0, 0, 0, 0.9);
        color: #ffffff;
        font: 12pt FreePixel;
        cursor: default;
    }

    .mainCarInfoWindow-menu {
        position: relative;
        width: 100%;
        height: 30px;
    }

    .mainCarInfoWindow-menu-button {
        position: relative;
        float: left;
        margin-top: 7px;
        margin-left: 30px;
        text-align: center;
        color: #135806;
        cursor: pointer;
        font: 12pt Nouveau_IBM;
    }

    .mainCarInfoWindow-menu-button:hover {
        background-color: #061108;
        background-image: linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806),
        linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
    }

    .mainCarInfoWindow-menu-button.btnpressed {
        background-color: #061108;
        background-image: linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806),
        linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
    }

    /*
        .mainCarInfoWindow-menu-button:hover:before {
            position: absolute;
            margin-left: -7px;
            color: #30fc00;
            content: "►";
        }

        .mainCarInfoWindow-menu-button:hover:after {
            position: absolute;
            color: #30fc00;
            content: "◄";
        }
    */

    .mainCarInfoWindow-body {
        position: relative;
        float: left;
        width: 652px;
        height: 361px;
        overflow-y: auto;
        border: solid 1px #00f150;
        margin: 0px 3px 3px 3px;
        display: none;
    }

    .mainCarInfoWindow-body-left {
        position: relative;
        float: left;
        width: 348px;
        height: 100%;
        text-align: center;
        overflow-y: auto;
    }

    .mainCarInfoWindow-body-left-picture {
        height: 250px;
        border: solid 1px #00f150;
        margin: 20px;
        line-height: 250px;
        color: #0f4206;
    }

    .mainCarInfoWindow-body-left-name {
        height: 50px;
        line-height: 50px;
        margin-left: 40px;
        margin-right: 40px;
        border-top: dashed 2px #135806;
        color: #30fc00;
    }

    .mainCarInfoWindow-body-right {
        position: relative;
        width: 304px;
        height: 100%;
        overflow-y: hidden;
    }

    .mainCarInfoWindow-body-right-menu {
        width: 297px;
        height: 40px;
        font: 12pt Nouveau_IBM;
    }

    .mainCarInfoWindow-body-right-menu-button-model {
        position: relative;
        float: left;
        margin-top: 12px;
        margin-left: 14px;
        text-align: center;
        color: #135806;
        cursor: pointer;
    }

    .mainCarInfoWindow-body-right-menu-button-model {
        background-color: #061108;
        background-image: linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806),
        linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
    }

    /*
        .mainCarInfoWindow-body-right-menu-button-model:hover:before {
            position: absolute;
            margin-left: -7px;
            color: #30fc00;
            content: "►";
        }

        .mainCarInfoWindow-body-right-menu-button-model:hover:after {
            position: absolute;
            color: #30fc00;
            content: "◄";
        }
    */

    .mainCarInfoWindow-body-right-menu-button-tth {
        position: relative;
        float: left;
        margin-top: 12px;
        margin-left: 14px;
        text-align: center;
        color: #135806;
        cursor: pointer;
    }

    .mainCarInfoWindow-body-right-menu-button-tth:hover {
        background-color: #061108;
        background-image: linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806),
        linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
    }

    /*
        .mainCarInfoWindow-body-right-menu-button-tth:hover:before {
            position: absolute;
            margin-left: -7px;
            color: #30fc00;
            content: "►";
        }

        .mainCarInfoWindow-body-right-menu-button-tth:hover:after {
            position: absolute;
            color: #30fc00;
            content: "◄";
        }
    */

    .mainCarInfoWindow-body-right-menu-button-weapons {
        position: relative;
        float: left;
        margin-top: 12px;
        margin-left: 14px;
        text-align: center;
        color: #135806;
        cursor: pointer;
    }

    .mainCarInfoWindow-body-right-menu-button-weapons:hover {
        background-color: #061108;
        background-image: linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806),
        linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
    }

    /*
        .mainCarInfoWindow-body-right-menu-button-weapons:hover:before {
            position: absolute;
            margin-left: -7px;
            color: #30fc00;
            content: "►";
        }

        .mainCarInfoWindow-body-right-menu-button-weapons:hover:after {
            position: absolute;
            color: #30fc00;
            content: "◄";
        }
    */

    .mainCarInfoWindow-body-right-menu-button-history {
        position: relative;
        float: left;
        margin-top: 12px;
        margin-left: 14px;
        text-align: center;
        color: #135806;
        cursor: pointer;
    }

    .mainCarInfoWindow-body-right-menu-button-history:hover {
        background-color: #061108;
        background-image: linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806),
        linear-gradient(45deg, #135806 25%, transparent 25%, transparent 74%, #135806 75%, #135806);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
    }

    /*
        .mainCarInfoWindow-body-right-menu-button-history:hover:before {
            position: absolute;
            margin-left: -7px;
            color: #30fc00;
            content: "►";
        }

        .mainCarInfoWindow-body-right-menu-button-history:hover:after {
            position: absolute;
            color: #30fc00;
            content: "◄";
        }
    */

    .mainCarInfoWindow-body-right-list-model {
        position: absolute;
        width: 297px;
        height: 314px;
        border: solid 1px #00f150;
        padding-top: 17px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .mainCarInfoWindow-body-right-list-model-model {
        width: 150px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03),
        linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #1e9604;
        margin-bottom: 2px;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-model-value {
        width: 125px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03),
        linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
        margin-bottom: 2px;
        margin-left: -8px;
        text-align: center;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-class {
        width: 150px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),
        linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #1e9604;
        margin-bottom: 2px;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-class-value {
        width: 125px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),
        linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
        margin-bottom: 2px;
        margin-left: -8px;
        text-align: center;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-bodyvol {
        width: 150px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03),
        linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #1e9604;
        margin-bottom: 2px;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-bodyvol-value {
        width: 125px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03),
        linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
        margin-bottom: 2px;
        margin-left: -8px;
        text-align: center;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-trunkvol {
        width: 150px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),
        linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #1e9604;
        margin-bottom: 2px;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-trunkvol-value {
        width: 125px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),
        linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
        margin-bottom: 2px;
        margin-left: -8px;
        text-align: center;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-bonuses {
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: dashed 2px #135806;
        color: #1e9604;
    }

    .mainCarInfoWindow-body-right-list-model-road {
        width: 75px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03),
        linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #1e9604;
        margin-bottom: 2px;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-road-value {
        width: 201px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03),
        linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
        margin-bottom: 2px;
        margin-left: -9px;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-forest {
        width: 75px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03),
        linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #1e9604;
        margin-bottom: 2px;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-forest-value {
        width: 201px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03),
        linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
        margin-bottom: 2px;
        margin-left: -9px;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-hill {
        width: 75px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),
        linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #1e9604;
        margin-bottom: 2px;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-hill-value {
        width: 201px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),
        linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
        margin-bottom: 2px;
        margin-left: -9px;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-water {
        width: 75px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03),
        linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #1e9604;
        margin-bottom: 2px;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-water-value {
        width: 201px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03),
        linear-gradient(45deg, #0a2e03 25%, transparent 25%, transparent 74%, #0a2e03 75%, #0a2e03);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
        margin-bottom: 2px;
        margin-left: -9px;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-mountain {
        width: 75px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),
        linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #1e9604;
        margin-bottom: 2px;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-model-mountain-value {
        width: 201px;
        background-color: #000000;
        background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),
        linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        color: #30fc00;
        margin-bottom: 2px;
        margin-left: -9px;
        display: inline-block;
    }

    .mainCarInfoWindow-body-right-list-tth {
        position: absolute;
        width: 297px;
        height: 314px;
        border: solid 1px #00f150;
        padding-top: 10px;
        padding-left: 20px;
        box-sizing: border-box;
        visibility: hidden;
    }

    .mainCarInfoWindow-body-right-list-weapons {
        position: absolute;
        width: 297px;
        height: 314px;
        border: solid 1px #00f150;
        padding-top: 10px;
        padding-left: 20px;
        box-sizing: border-box;
        visibility: hidden;
    }

    .mainCarInfoWindow-body-right-list-history {
        position: absolute;
        width: 297px;
        height: 314px;
        border: solid 1px #00f150;
        padding-top: 10px;
        padding-left: 20px;
        box-sizing: border-box;
        visibility: hidden;
    }

    .mainCarInfoWindow-body-trunk {
        position: relative;
        float: left;
        width: 652px;
        height: 361px;
        overflow-y: auto;
        border: solid 1px #00f150;
        margin: 0px 3px 3px 3px;
    }

    .mainCarInfoWindow-body-trunk-filter {
        width: 100%;
        height: 27px;
        font: 12pt Nouveau_IBM;
    }

    .mainCarInfoWindow-body-trunk-filter-all {
        position: relative;
        float: left;
        margin-top: 5px;
        margin-right: 20px;
        margin-left: 7px;
        text-align: center;
        color: #135806;
        cursor: pointer;
    }

    .mainCarInfoWindow-body-trunk-filter-all.activateFilter {
        color: #30fc00;
    }

    .mainCarInfoWindow-body-trunk-filter-all:hover {
        color: #30fc00;
    }

    .mainCarInfoWindow-body-trunk-body {
        border: solid 1px #00f150;
        margin: 0px 7px 7px 7px;
        height: 325px;
    }

    .mainCarInfoWindow-body-trunk-body-left {
        border-right: solid 1px #00f150;
        width: 156px;
        height: 315px;
        margin-top: 5px;
        float: left;
    }

    .mainCarInfoWindow-body-trunk-body-left-picture {
        border: solid 1px #00f150;
        margin: 5px;
        height: 100px;
    }

    .mainCarInfoWindow-body-trunk-body-left-picture-picture {
        margin-top: 15px;
        height: 70px;
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }

    .mainCarInfoWindow-body-trunk-body-left-name {
        color: #30fc00;
        text-align: center;
        margin: 5px;
        font: 12pt Nouveau_IBM;
        height: 16px;
    }

    .mainCarInfoWindow-body-trunk-body-left-description {
        box-sizing: border-box;
        margin: auto;
        width: 150px;
        padding: 10px 3px 0px 3px;
        color: #1e9604;
        text-align: center;
        height: 145px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .mainCarInfoWindow-body-trunk-body-left-activate {
        color: #30fc00;
        text-align: center;
        border: solid 1px #125306;
        background-color: #0d3707;
        margin: 15px auto 5px auto;
        cursor: pointer;
        font: 12pt Nouveau_IBM;
        width: 130px;
        opacity: 0.6;
    }

    .mainCarInfoWindow-body-trunk-body-left-activate:hover {
        opacity: 1;
    }

    .mainCarInfoWindow-body-trunk-body-right {
        position: relative;
        width: 465px;
        height: 315px;
        margin-left: 165px;
        margin-top: 5px;
        overflow-y: scroll;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-wrap {
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid #054E05;
        width: 140px;
        height: 100px;
        float: left;
        margin: 5px 10px 5px 0px;
        opacity: 0.6;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-wrap:hover {
        opacity: 1;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-wrap.active {
        opacity: 1;
    }

    .mainCarInfoWindow-body-trunk-body-right-item {
        position: relative;
        width: 140px;
        height: 100px;
    }

    .mainCarInfoWindow-body-trunk-body-right-line {
        border-top: 2px dotted #0a2e03;
        height: 3px;
        margin-top: 10px;
        float: left;
        width: 450px;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-name-empty {
        box-sizing: border-box;
        padding: 5px 0px 0px 5px;
        font: 11pt Nouveau_IBM;
        color: #135806;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-picture-empty {
        background-color: #000000;
        background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),
        linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        height: 78px;
        width: 138px;
        pointer-events: none;
    }

    .mainCarInfoWindow-body-trunk-body-right-item-count-empty {
        position: relative;
        box-sizing: border-box;
        padding: 0px 5px 0px 0px;
        top: 58px;
        text-align: right;
        color: #30fc00;
    }

</style>

<div class="mainCarInfoWindow-main">
    {% include drag_close_header.html %}
    <div class="mainCarInfoWindow-menu">
        <div class="mainCarInfoWindow-menu-button" data-page_id="mainCarInfoWindow-body_id">&nbspХарактеристики&nbsp
        </div>
{#        <div class="mainCarInfoWindow-menu-button" data-page_id="mainCarInfoWindow-body-trunk_id">&nbspБагажник&nbsp#}
{#        </div>#}
{#        <div class="mainCarInfoWindow-menu-button" data-page_id="">&nbspТюнинг&nbsp</div>#}
    </div>

    <div id="mainCarInfoWindow-body_id" class="mainCarInfoWindow-body mainCarInfoWindow-page-div">
        <div class="mainCarInfoWindow-body-left">
            <div class="mainCarInfoWindow-body-left-picture">Картинка</div>
            <div class="mainCarInfoWindow-body-left-name">Nastoyatel's ride</div>
        </div>
        <div class="mainCarInfoWindow-body-right">
            <div class="mainCarInfoWindow-body-right-menu">
                <div class="mainCarInfoWindow-body-right-menu-button-model">Модель</div>
                <div class="mainCarInfoWindow-body-right-menu-button-tth">ТТХ</div>
                <div class="mainCarInfoWindow-body-right-menu-button-weapons">Вооружение</div>
                <div class="mainCarInfoWindow-body-right-menu-button-history">История</div>
            </div>
            <div class="mainCarInfoWindow-body-right-list-model">
                <div class="mainCarInfoWindow-body-right-list-model-model">&nbspМодель:</div>
                <div class="mainCarInfoWindow-body-right-list-model-model-value">Газель</div>
                <div class="mainCarInfoWindow-body-right-list-model-class">&nbspКласс:</div>
                <div class="mainCarInfoWindow-body-right-list-model-class-value">Средний</div>
                <div class="mainCarInfoWindow-body-right-list-model-bodyvol">&nbspСлотов кузова:</div>
                <div class="mainCarInfoWindow-body-right-list-model-bodyvol-value">4</div>
                <div class="mainCarInfoWindow-body-right-list-model-trunkvol">&nbspСлотов багажника:</div>
                <div class="mainCarInfoWindow-body-right-list-model-trunkvol-value">8</div>
                <div class="mainCarInfoWindow-body-right-list-model-bonuses">Бонусы местности:</div>
                <div class="mainCarInfoWindow-body-right-list-model-road">&nbspДорога:</div>
                <div class="mainCarInfoWindow-body-right-list-model-road-value">Максимальная скорость</div>
                <div class="mainCarInfoWindow-body-right-list-model-bonuses">Пенальти местности:</div>
                <div class="mainCarInfoWindow-body-right-list-model-forest">&nbspЛес:</div>
                <div class="mainCarInfoWindow-body-right-list-model-forest-value">Максимальная скорость</div>
                <div class="mainCarInfoWindow-body-right-list-model-hill">&nbspХолмы:</div>
                <div class="mainCarInfoWindow-body-right-list-model-hill-value">-</div>
                <div class="mainCarInfoWindow-body-right-list-model-water">&nbspВода:</div>
                <div class="mainCarInfoWindow-body-right-list-model-water-value">Невозможно</div>
                <div class="mainCarInfoWindow-body-right-list-model-mountain">&nbspГоры:</div>
                <div class="mainCarInfoWindow-body-right-list-model-mountain-value">Невозможно</div>
            </div>
            <div class="mainCarInfoWindow-body-right-list-tth">
                ТТХ
            </div>
            <div class="mainCarInfoWindow-body-right-list-weapons">
                Вооружение
            </div>
            <div class="mainCarInfoWindow-body-right-list-history">
                История
            </div>
        </div>
    </div>


</div>

<script>
    $(".mainCarInfoWindow-menu-button").click(function (event) {
        // выключить у всех кнопок состояние активности // btnpressed - дурацкое название, но зато точно не занято
        $('.mainCarInfoWindow-menu-button').removeClass('btnpressed');
        // включить только заданной кнопке "активна"
        $(this).addClass('btnpressed');
        // выключить отображение всех дивов
        $('.mainCarInfoWindow-page-div').css('display', 'none'); // лучше тоже сделать через классы
        // включить отображение только нужного дива (дата-атрибут - html5 атрибут, очень удобный...!)
        // сейчас сделал на айдишниках, но можно сделать и на классах, так как у тебя классы тут разные
        $('#' + $(this).data('page_id')).css('display', 'block');
    });

    // нужно выполнить какую-то функцию клика, например на первую кнопку, чтобы при
    // открывании окна правильно отрабатывала подсветка
    $(".mainCarInfoWindow-menu-button").first().click();

    // Обработка нажатия на крестик (закрытие окна)
    $('.mainCarInfoWindow-main').find('.windowDragCloseHeader-close').on('click', function (event) {

    });

</script>
