
<style>



</style>

<div class="person-info-chat-header">
    <div class="person-info-chat-header-page-btn" data-page_id="person-info-chat_person">Персонаж</div>
    <div class="person-info-chat-header-page-btn" data-page_id="person-info-chat_transport">Транспорт</div>
    <div class="person-info-chat-header-close-btn sublayers-clickable">Закрыть</div>
</div>
<div class="person-info-chat-body"></div>

<script>
    $('.person-info-chat-header-close-btn').click(function () {
        $('#VGM-PlayerInfoDivInCity').css('display', 'none');
    })


</script>