<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NUKE Navigator {% if version %}v:{{ version }}{% end %}{% if revision %} rev:{{ revision }}{% end %}</title>

    <style>
        @font-face {
            font-family: MICRADI;
            src: url({{ static_url('fonts/micradi.ttf') }});
        }

        @font-face {
            font-family: Molot;
            src: url({{ static_url('fonts/molot.otf') }});
        }

        @font-face {
            font-family: Gruppo-Regular;
            src: url({{ static_url('fonts/gruppo-regular.ttf') }});
        }

        @font-face {
            font-family: Nouveau_IBM;
            src: url({{ static_url('fonts/Nouveau_IBM.ttf') }});
        }

        @font-face {
            font-family: FreePixel;
            src: url({{ static_url('fonts/FreePixel.ttf') }});
        }

        @font-face {
            font-family: DS-Crystal;
            src: url({{ static_url('fonts/DS-Crystal.ttf') }});
        }

        @font-face {
            font-family: mr_dafoe;
            src: url({{ static_url('fonts/mr_dafoe.ttf') }});
        }

        @font-face {
            font-family: wanted;
            src: url({{ static_url('fonts/wanted.ttf') }});
        }

    </style>

    <link rel="stylesheet" href="{{ static_url('css/interlacing.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/view.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/view_messenger.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/controls/sliders.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/controls/fireControl.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/third_party/leadlet_label.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/controls/radialMenu.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/modal_window.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/window.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/w_radial.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/fire_effects.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/controls/cruise_control.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/controls/zoom_slider.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/view_messenger_glass.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/quest_npc_notes.css') }}"/>

    <link rel="stylesheet" href="{{ static_url('css/templates/locations/panel_info/panel_info_common.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/panel_info/pi_location.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/panel_info/pi_building.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/panel_info/pi_building_quest.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/panel_info/pi_nukeoil.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/panel_info/car_info.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/panel_info/npc_transaction_info.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/panel_info/panel_description.css') }}"/>

    <link rel="stylesheet" href="{{ static_url('css/templates/locations/npc_header.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/npc_inventory.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/building.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/armorer.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/mechanic.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/tuner.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/hangar.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/nucoil.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/trader.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/trainer.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/girl.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/dump.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/npc_gas_station.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/nucoil_building.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/location_menu.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/location_chat.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/locations/chat_interaction.css') }}"/>

    <link rel="stylesheet" href="{{ static_url('css/templates/map-menu/car_info_window.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/map-menu/inventory.css') }}"/>

    <link rel="stylesheet" href="{{ static_url('css/templates/menu/character_window.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/menu/car_window.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/menu/journal/journal_window.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/menu/journal/journal_window_quests.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/menu/journal/journal_window_parking.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/menu/party_window.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/menu/settings_window.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/menu/person_window.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/menu/radio_window.css') }}"/>

    <link rel="stylesheet" href="{{ static_url('css/templates/car_info_block.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/context_panel.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/templates/map_teaching.css') }}"/>

    {% if server_mode == 'quick' %}
        <link rel="stylesheet" href="{{ static_url('css/templates/menu/quick_mode_plug.css') }}"/>
    {% end %}

    <script src="{{ static_url('js/third_party/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/third_party/jquery-ui.min.js') }}"></script>
    <script src="{{ static_url('js/third_party/jquery.jrumble.1.3.js') }}"></script>

    <!-- SVG JS Lib -->
    <script src="{{ static_url('js/third_party/svgjs/svg.js') }}"></script>

    <script src="{{ static_url('js/cookie.js') }}"></script>
    <script src="{{ static_url('js/game_info_metrics.js') }}"></script>

    <script src="{{ static_url('js/slippy_map.js') }}"></script>

    <script src="{{ static_url('js/geometric.js') }}"></script>
    <script src="{{ static_url('js/generator_ID.js') }}"></script>
    <script src="{{ static_url('js/resource_load_manager.js') }}"></script>
    <script src="{{ static_url('js/preloader_image.js') }}"></script>
    <script src="{{ static_url('js/preloader_static_images_list.js') }}"></script>

    <script src="{{ static_url('js/third_party/blur.js') }}"></script>
{#    <script src="{{ static_url('js/canvas_test.js') }}"></script>#}

    <script src="{{ static_url('js/message_stream.js') }}"></script>

    <script src="{{ static_url('locale/locale.js') }}"></script>
    <script src="{{ static_url('js/window.js') }}"></script>
    <script src="{{ static_url('js/modelJS.js') }}"></script>

    <script src="{{ static_url('js/time_manager.js') }}"></script>
    <script src="{{ static_url('js/visual_manager.js') }}"></script>
    <script src="{{ static_url('js/map_manager.js') }}"></script>
    <script src="{{ static_url('js/model_manager.js') }}"></script>
    <script src="{{ static_url('js/fire_manager.js') }}"></script>
    <script src="{{ static_url('js/inventory_manager.js') }}"></script>
    <script src="{{ static_url('js/item_balance_cls_manager.js') }}"></script>
    <script src="{{ static_url('js/control_manager.js') }}"></script>

    <script src="{{ static_url('js/map_canvas_manager.js') }}"></script>
    <script src="{{ static_url('js/location_canvas_manager.js') }}"></script>

    <script src="{{ static_url('js/connector.js') }}"></script>

    <script src="{{ static_url('js/widgets/visual_object.js') }}"></script>
    <script src="{{ static_url('js/widgets/leaflet_icon_manager.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_inventory_item.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_rumble.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_map_position.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_zoom_slider.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_fire_controller.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_dashboard/w_health_radial.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_dashboard/w_fuel_radial.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_dashboard/w_radiation_radial.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_dashboard/w_wind_radial.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_dashboard/w_altmetr_radial.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_dashboard/w_cruise_control.js') }}"></script>

    <script src="{{ static_url('js/widgets/canvas/w_observing_range.js') }}"></script>
    <script src="{{ static_url('js/widgets/canvas/w_fire_sectors_scaled.js') }}"></script>
    <script src="{{ static_url('js/widgets/canvas/w_fire_radial_grid.js') }}"></script>
    <script src="{{ static_url('js/widgets/canvas/w_user_car_marker.js') }}"></script>
    <script src="{{ static_url('js/widgets/canvas/w_target_point.js') }}"></script>
    <script src="{{ static_url('js/widgets/canvas/w_strategy_mode.js') }}"></script>
    <script src="{{ static_url('js/widgets/canvas/w_radiation_visibility.js') }}"></script>
    <script src="{{ static_url('js/widgets/canvas/w_text_arcade.js') }}"></script>
    <script src="{{ static_url('js/widgets/canvas/w_map_noise.js') }}"></script>

    <script src="{{ static_url('js/context_panel.js') }}"></script>

    <script src="{{ static_url('js/effects/car_tail_animation.js') }}"></script>
    <script src="{{ static_url('js/effects/e_points_tracer.js') }}"></script>
    <script src="{{ static_url('js/effects/e_fire_effect_png_animation.js') }}"></script>
    <script src="{{ static_url('js/effects/e_location_teaching_line_blink.js') }}"></script>
    <script src="{{ static_url('js/effects/e_location_line.js') }}"></script>
    <script src="{{ static_url('js/effects/e_location_wave.js') }}"></script>
    <script src="{{ static_url('js/effects/e_location_noise.js') }}"></script>

    <script src="{{ static_url('js/rpc_list.js') }}"></script>

    <script src="{{ static_url('js/audio/audio_object.js') }}"></script>
    <script src="{{ static_url('js/audio/audio_manager.js') }}"></script>
    <script src="{{ static_url('js/audio/site_html_audio_player.js') }}"></script>

    <script src="{{ static_url('js/teaching/teaching.js') }}"></script>

    <script src="{{ static_url('js/view.js') }}"></script>
    <script src="{{ static_url('js/notes/quest_notes.js') }}"></script>
    <script src="{{ static_url('js/notes/delivery_note.js') }}"></script>
    <script src="{{ static_url('js/notes/delivery_car_note.js') }}"></script>
    <script src="{{ static_url('js/notes/killer_note.js') }}"></script>
    <script src="{{ static_url('js/notes/reward_items_note.js') }}"></script>
    <script src="{{ static_url('js/notes/fin_npc_quest_notes.js') }}"></script>
    <script src="{{ static_url('js/notes/map_marker_note.js') }}"></script>

    <script src="{{ static_url('js/notes/class_quest/first_out_note.js') }}"></script>
    <script src="{{ static_url('js/notes/class_quest/npc_type_note.js') }}"></script>
    <script src="{{ static_url('js/notes/class_quest/visit_trainer_note.js') }}"></script>
    <script src="{{ static_url('js/notes/class_quest/select_teacher_note.js') }}"></script>

    <script src="{{ static_url('js/teaching/teaching_note.js') }}"></script>
    <script src="{{ static_url('js/teaching/teaching_hangar_note.js') }}"></script>
    <script src="{{ static_url('js/teaching/teaching_nukoil_note.js') }}"></script>
    <script src="{{ static_url('js/teaching/teaching_armorer_note.js') }}"></script>
    <script src="{{ static_url('js/teaching/teaching_trainer_note.js') }}"></script>
    <script src="{{ static_url('js/teaching/teaching_journal_note.js') }}"></script>
    <script src="{{ static_url('js/teaching/teaching_quest_note.js') }}"></script>
    <script src="{{ static_url('js/teaching/teaching_trader_note.js') }}"></script>

    <script src="{{ static_url('js/teaching/teaching_map_notes.js') }}"></script>

    <script src="{{ static_url('js/view_messenger_glass.js') }}"></script>
    <script src="{{ static_url('js/location/location_manager.js') }}"></script>
    <script src="{{ static_url('js/location/location_place_menu.js') }}"></script>
    <script src="{{ static_url('js/location/location_place_chat.js') }}"></script>
    <script src="{{ static_url('js/location/building_service_manager.js') }}"></script>
    <script src="{{ static_url('js/location/building_nucoil_manager.js') }}"></script>
    <script src="{{ static_url('js/location/armorer_manager.js') }}"></script>
    <script src="{{ static_url('js/location/hangar_manager.js') }}"></script>
    <script src="{{ static_url('js/location/mechanic_manager.js') }}"></script>
    <script src="{{ static_url('js/location/tuner_manager.js') }}"></script>
    <script src="{{ static_url('js/location/trader_manager.js') }}"></script>
    <script src="{{ static_url('js/location/trainer_manager.js') }}"></script>
    <script src="{{ static_url('js/location/girl_manager.js') }}"></script>
    <script src="{{ static_url('js/location/npc_gas_station.js') }}"></script>
    <script src="{{ static_url('js/location/visitor_manager.js') }}"></script>
    <script src="{{ static_url('js/location/interaction_manager.js') }}"></script>
    <script src="{{ static_url('js/location/dump_manager.js') }}"></script>
    <script src="{{ static_url('js/barter_manager.js') }}"></script>
    <script src="{{ static_url('js/menu/character_manager.js') }}"></script>
    <script src="{{ static_url('js/menu/car_manager.js') }}"></script>
    <script src="{{ static_url('js/menu/journal_managers.js') }}"></script>
    <script src="{{ static_url('js/menu/party_manager.js') }}"></script>
    <script src="{{ static_url('js/cache.js') }}"></script>
    <script src="{{ static_url('js/modal_window.js') }}"></script>
    <script src="{{ static_url('js/text_console.js') }}"></script>

    <script src="{{ static_url('js/effects/effect_location_laser_animation.js') }}"></script>

    <svg class="defs-only" style="display: none">
        <filter id="red" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix type="matrix"    values="0.343 0.669 0.119 0 0 0.249 0.626 0.130 0 0 0.172 0.334 0.111 0 0 0 0 0 1 0" />
            <feColorMatrix type="hueRotate" values="300" />
            <fecolormatrix type="saturate"  values="3"  />
        </filter>
        <filter id="orange" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix type="matrix"    values="0.343 0.669 0.119 0 0 0.249 0.626 0.130 0 0 0.172 0.334 0.111 0 0 0 0 0 1 0" />
            <feColorMatrix type="hueRotate" values="340" />
            <fecolormatrix type="saturate"  values="3"  />
        </filter>
        <filter id="yellow" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix type="matrix"    values="0.343 0.669 0.119 0 0 0.249 0.626 0.130 0 0 0.172 0.334 0.111 0 0 0 0 0 1 0" />
            <feColorMatrix type="hueRotate" values="0" />
            <fecolormatrix type="saturate"  values="3"  />
        </filter>
        <filter id="green" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix type="matrix"    values="0.343 0.669 0.119 0 0 0.249 0.626 0.130 0 0 0.172 0.334 0.111 0 0 0 0 0 1 0" />
            <feColorMatrix type="hueRotate" values="50" />
            <fecolormatrix type="saturate"  values="3"  />
        </filter>
        <filter id="cyan" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix type="matrix"    values="0.343 0.669 0.119 0 0 0.249 0.626 0.130 0 0 0.172 0.334 0.111 0 0 0 0 0 1 0" />
            <feColorMatrix type="hueRotate" values="100" />
            <fecolormatrix type="saturate"  values="3"  />
        </filter>
        <filter id="blue" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix type="matrix"    values="0.343 0.669 0.119 0 0 0.249 0.626 0.130 0 0 0.172 0.334 0.111 0 0 0 0 0 1 0" />
            <feColorMatrix type="hueRotate" values="150" />
            <fecolormatrix type="saturate"  values="3"  />
        </filter>
        <filter id="purple" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix type="matrix"    values="0.343 0.669 0.119 0 0 0.249 0.626 0.130 0 0 0.172 0.334 0.111 0 0 0 0 0 1 0" />
            <feColorMatrix type="hueRotate" values="200" />
            <fecolormatrix type="saturate"  values="3"  />
        </filter>
    </svg>
</head>
<body>
<div id="bodydiv" spellcheck="false">
    <div id="map" style="z-index: 0;"></div>

    <div id="map2div" style="position: absolute; width: 100%; height: 100%; z-index: 0; " tabindex="0">
        <canvas id="map2" style="">
            Your browser doesn't support canvas elements.
        </canvas>
    </div>

    <div style="position: absolute; width: 100%; height: 100%; pointer-events: none; ">
        <canvas id="ctest_1" width="1920" height="1080" style="position: absolute; pointer-events: none;"></canvas>
    </div>

    <div style="" class="debug-info-text">
        <span style="{{ "" if server_mode == 'quick' else "display: none" }}">
            Score <span id='QGPointsSpan'>0</span>
            Kills <span id='QGKillsSpan'>0</span>
        </span>
         | Ping <span id="PingSpan">0</span>   FPS <span id="FPSSpan">0</span>
    </div>
    <div id="divMainMenu">
        <div id="divMainMenuBtnCharacter" class="main-menu-btn-up sublayers-clickable">Character</div>
        <div id="divMainMenuBtnCar" class="main-menu-btn-up sublayers-clickable">Vehicle</div>
        <div id="divMainMenuBtnInventory" class="main-menu-btn-up sublayers-clickable">Trunk</div>
        <div id="divMainMenuBtnJournal" class="main-menu-btn-up sublayers-clickable">Journal</div>
        <div id="divMainMenuBtnParty" class="main-menu-btn-up sublayers-clickable">Party</div>
        <div id="divMainMenuBtnMain" class="main-menu-btn-up sublayers-clickable">Website</div>
        <div id="divMainMenuBtnForum" class="main-menu-btn-up sublayers-clickable">Community</div>
        <div id="divMainMenuBtnRadio" class="main-menu-btn-up sublayers-clickable">Radio</div>
        <!--<div id="divMainMenuBtnNucoil" class="main-menu-btn-up sublayers-clickable">Nucoil</div>-->
        <div id="divMainMenuBtnOptions" class="main-menu-btn-up sublayers-clickable">Options</div>
        <!--<div id="divMainMenuBtnForum" class="main-menu-btn-up sublayers-clickable">Forum</div>-->
    </div>
    <div id="mapTeachingCanvasBackDiv"></div>
    <div id="divButtons">
        <div id="buttonOptions" class="sublayers-clickable"></div>
    </div>
    <div id="cruiseControlMainDiv" class="cruise-control-main">
        <div id="cruiseControlGlassDiv" class="cruise-control-glass">
            <div id="divForRadAndWindRadials"></div>
            <div id="divForHpAndFuelRadials"></div>
            <div id="divForAltmetrRadial"></div>
            <div id="divForCruiseNotClick1" class="anti-click-class"></div>
            <div id="divForCruiseNotClick2" class="anti-click-class"></div>
            <div id="divForCruiseNotClick3" class="anti-click-class"></div>
        </div>
        <div id="cruiseControlHardwareDiv" class="cruise-control-hardware">
            <div id='cruiseControlVisibleButtonDiv' class='hideBtnDownRight sublayers-clickable'></div>
        </div>
    </div>
    <div id="zoomSetDivForZoomSlider"></div>
    <div id="contextPanelDiv">
        <div id="cpEnterToContainer" class="cp_button_icon"></div>
        <div id="cpBarterInfoInvite" class="cp_button_icon"></div>
        <div id="cpBarterSendInvite" class="cp_button_icon"></div>
        <div id="cpEnterToLocationIcon" class="cp_button_icon"></div>
        <div id="cpGetLootIcon" class="cp_button_icon"></div>
    </div>
    <div id="chatAreaGlass"></div>
    <div id="fireControlArea" class="fire-control-parent"></div>
    <div id="modalDiv">
        <div id="modalBack"></div>
        <div id="modalWelcome"></div>
        <div id="modalDeath"></div>
        <div id="modalRestart"></div>
        <div id="modalInfoPage"></div>
        <div id="modalAnswerPage" tabindex="0"></div>
        <div id="modalItemDivisionPage"></div>
        <div id="modalItemActivationPage" tabindex="0"></div>
        <div id="modalQuickGamePointsPage"></div>
        <div id="modalQuickGameMapTeachingPage"></div>
        <div id="modalClassQuestFirstOutPage"></div>
    </div>

    <canvas id="mapTeachingCanvas"></canvas>
    <div id="activeTownDivBack">
        <div id="activeTownDiv"></div>
        <canvas id="townTeachingCanvas" width="1920" height="1080"></canvas>
    </div>
    <div style="display: none">
        <span id="settings_host_name">{{ host_name }}</span>
        <span id="settings_ws_port">{{ ws_port }}</span>
        <span id="settings_server_mode_link_path">{{ '/quick' if server_mode == 'quick' else '' }}</span>
        <span id="settings_server_mode">{{ server_mode }}</span>
        <span id="settings_map_link">{{ map_link }}</span>
        <span id="settings_app_version">{{ version }}</span>
        <span id="settings_user_name">{{ user_name }}</span>
        <span id="settings_first_enter">{{ first_enter }}</span>
        <span id="settings_start_coord">{{ '{}_{}'.format(start_coord.x, start_coord.y) if start_coord else '' }}</span>
        <span id="settings_user_insurance_name">{{ insurance_name }}</span>
        <span id="settings_user_balance">{{ user_balance }}</span>
        <span id="settings_user_position">{{ '{}: {}'.format(start_coord.x, start_coord.y) if start_coord else 'Нет доступа' }}</span>
        <span id="settings_connection_delay">{{ connection_delay }}</span>
    </div>
    <div id="textConsoleDivWrap" tabindex="0">
        <div id="textConsoleDiv" tabindex="0">
            <span class="console-old-text"></span><span class="console-new-text"></span>
        </div>
    </div>
</div>

<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-81052008-1', 'auto');
      ga('send', 'pageview');
      // Чтобы не считались отказы для одностраничного сайта
      setTimeout("ga('send','event','Engaged users','More than 10 seconds')", 10000);
</script>

</body>
</html>
