<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NUKE Navigator {% if revision %}v.{{ revision }}{% end %}</title>

    <style>
        @font-face {
            font-family: MICRADI;
            src: url({{ static_url('fonts/micradi.ttf') }});
        }

        @font-face {
            font-family: Gruppo-Regular;
            src: url({{ static_url('fonts/gruppo-regular.ttf') }});
        }

        @font-face {
            font-family: Nouveau_IBM;
            src: url({{ static_url('fonts/Nouveau_IBM.ttf') }});
        }

        @font-face {
            font-family: FreePixel;
            src: url({{ static_url('fonts/FreePixel.ttf') }});
        }
    </style>

    <!-- <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/> -->
    <!-- <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css"/> -->
    <!-- <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script> -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script> -->
    <!-- <script src="//raw.githubusercontent.com/DmitryBaranovskiy/raphael/master/raphael.js"></script> -->

    <link rel="stylesheet" href="{{ static_url('css/view.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/third_party/leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/third_party/jquery-ui.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/view_messenger.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/controls/sliders.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/controls/fireControl.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/third_party/leadlet_label.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/controls/radialMenu.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/modal_window.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/window.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/w_radial.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/fire_effects.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/controls/cruise_control.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/controls/zoom_slider.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/view_messenger_glass.css') }}"/>


    <script src="{{ static_url('js/third_party/leaflet-src.js') }}"></script>
    <script src="{{ static_url('js/third_party/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/third_party/jquery-ui.min.js') }}"></script>
    <script src="{{ static_url('js/third_party/jquery.jrumble.1.3.js') }}"></script>

    <!-- SVG JS Lib -->
    <script src="{{ static_url('js/third_party/svgjs/svg.js') }}"></script>

    <script src="{{ static_url('js/geometric.js') }}"></script>
    <script src="{{ static_url('js/generator_ID.js') }}"></script>

    <script src="{{ static_url('js/message_stream.js') }}"></script>

    <script src="{{ static_url('js/window.js') }}"></script>
    <script src="{{ static_url('js/modelJS.js') }}"></script>

    <script src="{{ static_url('js/time_manager.js') }}"></script>
    <script src="{{ static_url('js/visual_manager.js') }}"></script>
    <script src="{{ static_url('js/map_manager.js') }}"></script>
    <script src="{{ static_url('js/model_manager.js') }}"></script>
    <script src="{{ static_url('js/fire_manager.js') }}"></script>
    <script src="{{ static_url('js/inventory_manager.js') }}"></script>
    <script src="{{ static_url('js/item_balance_cls_manager.js') }}"></script>
    <script src="{{ static_url('js/window_template_manager.js') }}"></script>

    <script src="{{ static_url('js/connector.js') }}"></script>

    <script src="{{ static_url('js/widgets/visual_object.js') }}"></script>
    <script src="{{ static_url('js/widgets/leaflet_icon_manager.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_car_marker.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_inventory_item.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_rumble.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_map_position.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_zoom_slider.js') }}"></script>
    <script src="{{ static_url('js/widgets/central/w_fire_sectors.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_view_radius.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_target_point_marker.js') }}"></script>
    <script src="{{ static_url('js/widgets/central/w_fire_radial_grid.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_fire_controller.js') }}"></script>
    <script src="{{ static_url('js/widgets/central/w_radial_grid_scaled.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_dashboard/w_health_radial.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_dashboard/w_fuel_radial.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_dashboard/w_radiation_radial.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_dashboard/w_wind_radial.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_dashboard/w_altmetr_radial.js') }}"></script>
    <script src="{{ static_url('js/widgets/w_dashboard/w_cruise_control.js') }}"></script>
    <script src="{{ static_url('js/widgets/central/w_fire_sectors_scaled.js') }}"></script>

    <script src="{{ static_url('js/effects/rocket_bang.js') }}"></script>
    <script src="{{ static_url('js/effects/e_fire_discharge.js') }}"></script>
    <script src="{{ static_url('js/effects/e_flashlight.js') }}"></script>
    <script src="{{ static_url('js/effects/e_points_tracer.js') }}"></script>
    <script src="{{ static_url('js/effects/e_autofire_on_shooter.js') }}"></script>
    <script src="{{ static_url('js/effects/e_fire_discharge_png_animation.js') }}"></script>

    <script src="{{ static_url('js/rpc_list.js') }}"></script>
    <script src="{{ static_url('js/leaflet_addon.js') }}"></script>

    <script src="{{ static_url('js/view.js') }}"></script>
    <script src="{{ static_url('js/view_messenger_glass.js') }}"></script>
    <script src="{{ static_url('js/location_managers.js') }}"></script>
    <script src="{{ static_url('js/cache.js') }}"></script>
    <script src="{{ static_url('js/third_party/leaflet_label.js') }}"></script>
    <script src="{{ static_url('js/cookie.js') }}"></script>
    <script src="{{ static_url('js/modal_window.js') }}"></script>
</head>
<body>
<div id="bodydiv">
    <div id="map"></div>
    <div id="title" class="sublayers-unclickable">NUKE Navigator v5.51</div>
    <div id="divMainMenu">
        <div id="divMainMenuBtnCharacter" class="main-menu-btn-up sublayers-clickable">Character</div>
        <div id="divMainMenuBtnCar" class="main-menu-btn-up sublayers-clickable">Car</div>
        <div id="divMainMenuBtnLog" class="main-menu-btn-up sublayers-clickable">Log</div>
        <div id="divMainMenuBtnNucoil" class="main-menu-btn-up sublayers-clickable">Nucoil</div>
        <div id="divMainMenuBtnOptions" class="main-menu-btn-up sublayers-clickable">Options</div>
        <div id="divMainMenuBtnMain" class="main-menu-btn-up sublayers-clickable">Main</div>
        <div id="divMainMenuBtnForum" class="main-menu-btn-up sublayers-clickable">Forum</div>
    </div>

    <div id="divButtons">
        <div id="buttonOptions" class="sublayers-clickable"></div>
    </div>
    <div id="cruiseControlMainDiv" class="cruise-control-main">
        <div id="cruiseControlGlassDiv" class="cruise-control-glass">
            <div id="divForRadAndWindRadials"></div>
            <div id="divForHpAndFuelRadials"></div>
            <div id="divForAltmetrRadial"></div>
        </div>
        <div id="cruiseControlHardwareDiv" class="cruise-control-hardware">
            <div id='cruiseControlVisibleButtonDiv' class='hideBtnDownRight sublayers-clickable'></div>
        </div>
    </div>
    <div id="zoomSetDivForZoomSlider"></div>
    <div id="chatAreaGlass"></div>
    <div id="fireControlArea"></div>
    <div id="modalDiv">
        <div id="modalBack"></div>
        <div id="modalWelcome"></div>
        <div id="modalOptions"></div>
        <div id="modalDeath"></div>
        <div id="modalWin"></div>
        <div id="modalLose"></div>
        <div id="modalRestart"></div>
    </div>

    <div id="activeTownDiv"></div>

    <div style="display: none">
        <span id="settings_ws_port">{{ ws_port }}</span>
        <span id="settings_map_link">{{ map_link }}</span>
    </div>
</div>
</body>
</html>
