<div>
    {% raw open(svg_link).read() %}
    <div id="townChatPageWrap" class="townPageWrap" style="display: none">
        <div id="chatTownWrap"></div>
        <div id="visitorListWrap">
            <div id="visitorList">
            </div>
        </div>
    </div>
    <div id="townNucoilPageWrap" class="townPageWrap" style="display: none">
        {% include nucoil_window.html %}
    </div>
    {% if town.npc.get('armorer') is not None %}
    <div id="townArmorerPageWrap" class="townPageWrap" style="display: none">
        {% include armorer_window.html %}
    </div>
    {% end %}

</div>
<script>
    // Открытие зданий
    function openNucoil() {
         $('.townPageWrap').css('display', 'none');
         $('#townNucoilPageWrap').css('display', 'block');
    }

    function openArmorer() {
         $('.townPageWrap').css('display', 'none');
         $('#townArmorerPageWrap').css('display', 'block');
    }

    // Обработчики кнопок-зданий
    {% for i in xrange(10) %}
    $("#img_house{{i}}_off").mouseenter(function() {
        $("#img_house{{i}}_on").css("display", "block");
        $("#img_house{{i}}_off").css("display", "none");
        $("#path_h{{i}}").css("opacity", "0.8");
        $("#path_text_h{{i}}").css("opacity", "0.8");
    });
    $("#img_house{{i}}_on").mouseleave(function() {
        $("#img_house{{i}}_off").css("display", "block");
        $("#img_house{{i}}_on").css("display", "none");
        $("#path_h{{i}}").css("opacity", "0.2");
        $("#path_text_h{{i}}").css("opacity", "0.2");
    });
    $("#path_h{{i}}").mouseenter(function(){
        $("#img_house{{i}}_on").css("display", "block");
        $("#img_house{{i}}_off").css("display", "none");
        $("#path_h{{i}}").css("opacity", "0.8");
        $("#path_text_h{{i}}").css("opacity", "0.8");
    });
    $("#path_h{{i}}").mouseleave(function(){
        $("#img_house{{i}}_off").css("display", "block");
        $("#img_house{{i}}_on").css("display", "none");
        $("#path_h{{i}}").css("opacity", "0.2");
        $("#path_text_h{{i}}").css("opacity", "0.2");
    });

    $("#img_house{{i}}_on").click(function(event) {
        switch (event.target.id) {
            case "img_house5_on":
                openNucoil();
                break;
            case "img_house2_on":
                openArmorer();
                break;
            default:
                console.log(event.target.id);
        }
    });
    $("#path_h{{i}}").click(function(event) {
        switch (event.target.id) {
            case "path_h5":
                openNucoil();
                break;
            case "path_h2":
                openArmorer();
                break;
            default:
                console.log(event.target.id);
        }
    });
    {% end %}

    // Кнопки меню
    {% for i in xrange(8) %}
    $("#btn_{{i}}").mouseenter(function() {
        $("#btn_{{i}}_over").css("display", "block");
        $("#btn_{{i}}").css("display", "none");
    });
    $("#btn_{{i}}_over").mouseleave(function() {
        $("#btn_{{i}}_over").css("display", "none");
        $("#btn_{{i}}").css("display", "block");
    });

     $("#btn_{{i}}_select").mouseleave(function() {
        $("#btn_{{i}}_over").css("display", "none");
        $("#btn_{{i}}_select").css("display", "none");
        $("#btn_{{i}}").css("display", "block");
    });

    $("#btn_{{i}}_over").mousedown(function() {
        $("#btn_{{i}}_select").css("display", "block");
        $("#btn_{{i}}_over").css("display", "none");
        $("#btn_{{i}}").css("display", "block");
    });
    $("#btn_{{i}}_select").mouseup(function(event) {
        console.log(event.target.id);
        $("#btn_{{i}}_select").css("display", "none");
        $("#btn_{{i}}_over").css("display", "block");
        $("#btn_{{i}}").css("display", "none");
    });
    {% end %}

    $("#btn_4_select").mouseup(function(event) {
        clientManager.sendExitFromLocation({{ town.uid }})
    });

    $("#btn_3_select").mouseup(function(event) {
        $('.townPageWrap').css('display', 'none');
        $('#townChatPageWrap').css('display', 'block');
    });

    $("#btn_2_select").mouseup(function(event) {
        $('.townPageWrap').css('display', 'none');
        $('#layer1').css('display', 'block');
        $('#layer2').css('display', 'block');
    });
</script>