<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="static/js/third_party/jquery.min.js"></script>
    <script src="static/js/third_party/jquery-ui.min.js"></script>
    <title></title>
</head>
<body>
    <div>
        {% include ../static/img/towns/town_2/town.svg %}
    </div>
    <script>
        {% for i in xrange(10) %}
        $("#img_house{{i}}_off").mouseenter(function(){
            $("#img_house{{i}}_on").css("display", "block");
            $("#img_house{{i}}_off").css("display", "none");
        });
        $("#img_house{{i}}_on").mouseleave(function(){
            $("#img_house{{i}}_off").css("display", "block");
            $("#img_house{{i}}_on").css("display", "none");
        });
        $("#img_house{{i}}_on").click(function(event){
            console.log(event.target.id);
        });
        {% end %}

        // Кнопки меню
        {% for i in xrange(8) %}
        $("#btn_{{i}}").mouseenter(function(){
            $("#btn_{{i}}_over").css("display", "block");
            $("#btn_{{i}}").css("display", "none");
        });
        $("#btn_{{i}}_over").mouseleave(function(){
            $("#btn_{{i}}_over").css("display", "none");
            $("#btn_{{i}}").css("display", "block");
        });

         $("#btn_{{i}}_select").mouseleave(function(){
            $("#btn_{{i}}_over").css("display", "none");
            $("#btn_{{i}}_select").css("display", "none");
            $("#btn_{{i}}").css("display", "block");
        });

        $("#btn_{{i}}_over").mousedown(function(){
            $("#btn_{{i}}_select").css("display", "block");
            $("#btn_{{i}}_over").css("display", "none");
            $("#btn_{{i}}").css("display", "block");
        });
        $("#btn_{{i}}_select").mouseup(function(event){
            console.log(event.target.id);
            $("#btn_{{i}}_select").css("display", "none");
            $("#btn_{{i}}_over").css("display", "block");
            $("#btn_{{i}}").css("display", "none");
        });
        {% end %}


        /*
        $("#img_house1_off").mouseenter(function(){
            $("#img_house1_on").css("display", "block");
            $("#img_house1_off").css("display", "none");
            $("#path_h1").css("opacity", "0.4");
        });
        $("#img_house1_on").mouseleave(function(){
            $("#img_house1_off").css("display", "block");
            $("#img_house1_on").css("display", "none");
            $("#path_h1").css("opacity", "0.2");
        });
        $("#path_h1").mouseenter(function(){
            $("#img_house1_on").css("display", "block");
            $("#img_house1_off").css("display", "none");
            $("#path_h1").css("opacity", "0.4");
        });
        $("#path_h1").mouseleave(function(){
            $("#img_house1_off").css("display", "block");
            $("#img_house1_on").css("display", "none");
            $("#path_h1").css("opacity", "0.2");
        });
        */
    </script>
</body>
</html>