<style xmlns="http://www.w3.org/1999/html">
    #townTraderPageWrap {
        position: absolute;
        top: 155px;
        left: 625px;
    }

    .mainTraderWindow {
        position: relative;
        width: 650px;
        height: 637px;
        color: #ffffff;
        font: 11pt FreePixel;
        cursor: default;
    }

    .mainTraderWindow-up {
        height: 220px;
        width: 650px;
        float: left;
        color: #30fc00;
        font-family: Nouveau_IBM;
        font-size: 11pt;
    }

    .mainTraderWindow-up-name {
        height: 23px;
        width: 650px;
        line-height: 23px;
        text-align: center;
        float: left;
    }

    .mainTraderWindow-up-picture {
        height: 166px;
        width: 121px;
        background: transparent url('/static/img/trader/pers_buchman.png') 50% 50% no-repeat;
        float: left;
        line-height: 348px;
        text-align: center;
        margin-left: 50px;
    }

    .mainTraderWindow-up-text {
        height: 162px;
        width: 395px;
        margin: 6px 0px 0px 23px;
        overflow-y: scroll;
        float: left;
        border-top: solid 1px #135806;
        padding-top: 9px;
    }

    .mainTraderWindow-down-player-title {
        height: 19px;
        width: 158px;
        border: solid 1px #135806;
        float: left;
        text-align: center;
        line-height: 19px;
        color: #30fc00;
        font-family: Nouveau_IBM;
        font-size: 11pt;
    }

    .mainTraderWindow-down-exchange-title {
        height: 19px;
        width: 316px;
        border: solid 1px #135806;
        float: left;
        margin-left: 6px;
        text-align: center;
        line-height: 19px;
        color: #30fc00;
        font-family: Nouveau_IBM;
        font-size: 11pt;
    }

    .mainTraderWindow-down-trader-title {
        height: 19px;
        width: 158px;
        border: solid 1px #135806;
        float: left;
        margin-left: 6px;
        text-align: center;
        line-height: 19px;
        color: #30fc00;
        font-family: Nouveau_IBM;
        font-size: 11pt;
    }

    .mainTraderWindow-down-player-body {
        height: 317px;
        width: 158px;
        border: solid 1px #135806;
        float: left;
        overflow-y: scroll;
    }

    .mainTraderWindow-down-player-body-item-name-empty {
        font: 11pt Nouveau_IBM;
        color: #135806;
        margin-top: 5px;
        margin-left: 5px;
    }

    .mainTraderWindow-down-player-body-item-picture-empty {
        background-color: #000000;
        background-image: linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07),
        linear-gradient(45deg, #081b07 25%, transparent 25%, transparent 74%, #081b07 75%, #081b07);
        background-size: 2px 2px;
        background-position: 0 0, 1px 1px;
        text-align: center;
        color: #0f4206;
        height: 74px;
        width: 141px;
        margin-top: 3px;
        margin-left: 3px;
    }

    .mainTraderWindow-down-player-body-line {
        border-top: 2px dotted #0a2e03;
        height: 4px;
        margin-top: 6px;
        margin-left: 10px;
        float: left;
        width: 130px;
    }

    .mainTraderWindow-down-exchange-leftbody {
        height: 317px;
        width: 157px;
        border: solid 1px #135806;
        float: left;
        margin-left: 6px;
        overflow-y: scroll;
    }

    .mainTraderWindow-down-exchange-rightbody {
        height: 317px;
        width: 157px;
        border: solid 1px #135806;
        float: left;
        overflow-y: scroll;
    }

    .mainTraderWindow-down-trader-body {
        height: 317px;
        width: 158px;
        border: solid 1px #135806;
        float: left;
        margin-left: 6px;
        overflow-y: scroll;
    }

    .mainTraderWindow-down-player-score {
        height: 35px;
        width: 158px;
        float: left;
        margin-top: 5px;
        text-align: center;
        line-height: 20px;
        color: #30fc00;
        font-family: Nouveau_IBM;
        font-size: 11pt;
    }

    .mainTraderWindow-down-exchange-lefttotal {
        height: 35px;
        width: 158px;
        float: left;
        margin-top: 5px;
        margin-left: 6px;
        text-align: center;
        line-height: 20px;
        color: #30fc00;
        font-family: Nouveau_IBM;
        font-size: 11pt;
    }

    .mainTraderWindow-down-exchange-righttotal {
        height: 35px;
        width: 158px;
        float: left;
        margin-top: 5px;
        text-align: center;
        line-height: 20px;
        color: #30fc00;
        font-family: Nouveau_IBM;
        font-size: 11pt;
    }

    .mainTraderWindow-down-trader-score {
        height: 35px;
        width: 158px;
        float: left;
        margin-top: 5px;
        margin-left: 6px;
        text-align: center;
        line-height: 20px;
        color: #30fc00;
        font-family: Nouveau_IBM;
        font-size: 11pt;
    }
</style>

<div class="mainTraderWindow">
    <div class="mainTraderWindow-up">
        <div class="mainTraderWindow-up-name">Бухман:</div>
        <div class="mainTraderWindow-up-picture">Йаков Бухман</div>
        <div class="mainTraderWindow-up-text">
            Таки ты сподобился задвинуть мне предложение века! Мы ведь серьезная корпорация и херни потерпеть не можем.
            Давай, гой, завязывай уже с обменом канистр на канистры. Ибо социальное пространство ядерного Щита в Нижнем
            Гульденберговске ограничено границами клуба "Людвиг-Рак" и ее обитателями (слюдой в породе, урюками и
            прочими не систематическими элементами, подлежащими утилизации через Священный Огонь печей Пе...
        </div>
    </div>
    <div class="mainTraderWindow-down">
        <div class="mainTraderWindow-down-header">
            <div class="mainTraderWindow-down-player-title">Ваш инвентарь:</div>
            <div class="mainTraderWindow-down-exchange-title">Столик обмена:</div>
            <div class="mainTraderWindow-down-trader-title">Инвентарь Бухмана:</div>
        </div>
        <div class="mainTraderWindow-down-player-body">
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
            <div class="mainTraderWindow-down-player-body-line"></div>
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
            <div class="mainTraderWindow-down-player-body-line"></div>
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
            <div class="mainTraderWindow-down-player-body-line"></div>
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
        </div>
        <div class="mainTraderWindow-down-exchange-leftbody">
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
            <div class="mainTraderWindow-down-player-body-line"></div>
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
            <div class="mainTraderWindow-down-player-body-line"></div>
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
            <div class="mainTraderWindow-down-player-body-line"></div>
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
        </div>
        <div class="mainTraderWindow-down-exchange-rightbody">
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
            <div class="mainTraderWindow-down-player-body-line"></div>
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
            <div class="mainTraderWindow-down-player-body-line"></div>
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
            <div class="mainTraderWindow-down-player-body-line"></div>
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
        </div>
        <div class="mainTraderWindow-down-trader-body">
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
            <div class="mainTraderWindow-down-player-body-line"></div>
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
            <div class="mainTraderWindow-down-player-body-line"></div>
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
            <div class="mainTraderWindow-down-player-body-line"></div>
            <div class="mainTraderWindow-down-player-body-item">
                <div class="mainTraderWindow-down-player-body-item-name-empty">
                    Пусто
                </div>
                <div class="mainTraderWindow-down-player-body-item-picture-empty"></div>
            </div>
        </div>
        <div class="mainTraderWindow-down-footer">
            <div class="mainTraderWindow-down-player-score">Ваш счет:<br/>234 140 нк.</div>
            <div class="mainTraderWindow-down-exchange-lefttotal">Сумма:<br/>2 340 нк.</div>
            <div class="mainTraderWindow-down-exchange-righttotal">Сумма:<br/>700 нк.</div>
            <div class="mainTraderWindow-down-trader-score">Счет Бухмана:<br/>232 340 нк.</div>
        </div>
    </div>
</div>
