<div class="panel-info-item panel-info-bottom-border panel-info-npc-transaction-info">
    <div class="npc-transaction-info-label npc-transaction-info-text-shadow">{{ _("pnti_balance") }}</div>
    <div class="npc-transaction-info-value self-balance-view npc-transaction-info-money npc-transaction-info-text-shadow"></div>
    <div class="npc-transaction-info-label caption npc-transaction-info-text-shadow">{{ _("pnti_transaction") }}</div>
    <div class="npc-transaction-info-transaction-list"></div>
</div>