<div class="panel-info-item pi-building panel-info-bottom-border">
    <div class="panel-info-line label panel-info-text-shadow">ЛОКАЦИЯ:</div>
    <div class="panel-info-line value panel-info-text-shadow location">0</div>
    <div class="panel-info-line label panel-info-text-shadow">ВЛАДЕЛЕЦ:</div>
    <div class="panel-info-line value panel-info-text-shadow head">0</div>
    <div class="panel-info-line label panel-info-text-shadow">КАРМА:</div>
    <div class="panel-info-line value panel-info-text-shadow karma">0</div>
    <div class="panel-info-line label panel-info-text-shadow">НАВЫК ТОРГОВЛИ:</div>
    <div class="panel-info-line value panel-info-text-shadow skill">0</div>
</div>