<div class="panel-info-item pi-building-quest">
    <div class="pi-building-quest-lines panel-info-bottom-border">
        <div class="panel-info-line label panel-info-text-shadow">{{ _("pbq_active_quest") }}</div>
        <div class="panel-info-line value panel-info-text-shadow active_quest"></div>
        <div class="panel-info-line label panel-info-text-shadow">{{ _("pbq_available_quest") }}</div>
        <div class="panel-info-line value panel-info-text-shadow available_quest"></div>
    </div>
    <div class="pi-building-quest-diagram-block">
        <div class="pi-building-quest-diagram-caption panel-info-text-shadow">{{ _("pbq_relation") }}</div>
        <div class="pi-building-quest-diagram">
            <div class="pi-building-quest-diagram-hover respect"></div>
        </div>
        <div class="pi-building-quest-scale">
            <div class="pi-building-quest-scale-carriage"></div>
            <div class="pi-building-quest-scale-label value panel-info-text-shadow"></div>
        </div>
    </div>
</div>