<div class="panel-info-item pi-location">
    <div class="pi-location-lines panel-info-bottom-border">
        <div class="panel-info-line label panel-info-text-shadow">{{ _("pb_location") }}</div>
        <div class="panel-info-line value panel-info-text-shadow location"></div>
        <div class="panel-info-line label panel-info-text-shadow">{{ _("pb_owner") }}</div>
        <div class="panel-info-line value panel-info-text-shadow head">Нет</div>
        <div class="panel-info-line label panel-info-text-shadow">{{ _("pl_population") }}</div>
        <div class="panel-info-line value panel-info-text-shadow">143 чел</div>
        <div class="panel-info-line label panel-info-text-shadow">{{ _("pl_hp") }}</div>
        <div class="panel-info-line value panel-info-text-shadow">75%</div>
        <div class="panel-info-line label panel-info-text-shadow">{{ _("pb_karma") }}</div>
        <div class="panel-info-line value panel-info-text-shadow">0</div>
    </div>
    <div class="pi-location-image"></div>
</div>