<div class="panel-info-item pi-npc-building panel-info-bottom-border">
    <div class="panel-info-line label panel-info-text-shadow">ЛОКАЦИЯ:</div>
    <div class="panel-info-line value panel-info-text-shadow location">0</div>
    <div class="panel-info-line label panel-info-text-shadow">ИМЯ:</div>
    <div class="panel-info-line value panel-info-text-shadow name">0</div>
    <div class="panel-info-line label panel-info-text-shadow">КАРМА:</div>
    <div class="panel-info-line value panel-info-text-shadow karma">0</div>
    <div class="panel-info-line label panel-info-text-shadow">НАВЫК:</div>
    <div class="panel-info-line value panel-info-text-shadow skill">0</div>
</div>