<div class="panel-info-item pi-nukeoil">
    <div class="pi-nukeoil-lines panel-info-bottom-border">
        <div class="panel-info-line-block">
            <span class="panel-info-line label panel-info-text-shadow">АКТИВНЫЕ АКЦИИ:</span>
            <span class="panel-info-line value panel-info-text-shadow">Нет</span>
        </div>
        <div class="panel-info-line-block">
            <span class="panel-info-line label panel-info-text-shadow">СТРАХОВКА:</span>
            <span class="panel-info-line value panel-info-text-shadow insurance-name">Стандарт</span>
        </div>
        <div class="panel-info-line-block">
            <span class="panel-info-line label panel-info-text-shadow insurance-deadline">ДЕЙСТВИТЕЛЬНА:</span>
            <span class="panel-info-line value panel-info-text-shadow insurance-deadline time">Стандарт</span>
        </div>
    </div>
    <div class="pi-nukeoil-insurance-block"></div>
</div>