<div class="panel-info-item pi-nukeoil">
    <div class="pi-nukeoil-lines panel-info-bottom-border">
        <div class="panel-info-line-block">
            <span class="panel-info-line label panel-info-text-shadow">{{ _("pn_event") }}</span>
            <span class="panel-info-line value panel-info-text-shadow">0</span>
        </div>
        <div class="panel-info-line-block">
            <span class="panel-info-line label panel-info-text-shadow">{{ _("pn_insurance") }}</span>
            <span class="panel-info-line value panel-info-text-shadow insurance-name"></span>
        </div>
        <div class="panel-info-line-block">
            <span class="panel-info-line label panel-info-text-shadow insurance-deadline">{{ _("pn_date") }}</span>
            <span class="panel-info-line value panel-info-text-shadow insurance-deadline time"></span>
        </div>
    </div>
    <div class="pi-nukeoil-insurance-block"></div>
</div>